[2017-01-23 13:36] mehak6669 commented on #439
No. The shift we are talking about is from 11 PM to 1 AM. In 24hr format,
it will be from 23:00 to 13:00.

*Regards*

*Mehak Goyal*
*Undergraduate Student, Class of 2018*
*Department of Computer Science and Engineering*
*Indian Institute of Technology (BHU), Varanasi*
*Varanasi - 221005*
+918127032541 <https://in.linkedin.com/pub/mehak-goyal/ab/327/437>

On Mon, Jan 23, 2017 at 7:03 PM, Shamil K M

[2017-01-23 13:38] necessary129 commented on #439
Oh! My fault then! 😅

[2017-01-23 19:32] smarshy commented on #439
@mish24 @mehak6669 No, the shift cannot run in that time. Shift timings from 11PM to 1AM (which would be 23:00 to 01:00) are not possible as the date changes in that case. Same logic goes for 11PM to 12AM - the date would change as soon as it strikes 12.
The shift runs only for one day; the create/edit shift form will allow you to add details for a shift on a specific date. (This is decided as the

[2017-01-24 05:55] mish24 commented on #439
@smarshy Oh alright! It wasn't mentioned anywhere so I had no idea. Thanks for clarifying!

[2017-01-24 08:30] anweshknayak commented on #399
anyone doing this ? @smarshy ?

[2017-01-24 08:33] anweshknayak commented on #394
You need to write unit tests for registration view. (http://toastdriven.com/blog/2011/apr/10/guide-to-testing-in-django/)  See (https://github.com/systers/vms/tree/develop/vms/registration/tests) for more.

[2017-01-26 06:26] Himanshi-Khandelwal commented on #283
@softcoder32  are you talking about this error message in red?

![screenshot from 2017-01-26 11 55 32](https://cloud.githubusercontent.com/assets/17119462/22321915/6a14b258-e3be-11e6-901d-11e73f348a16.png)

[2017-01-26 09:04] bob-the-buildr opened #441 "basePage imported incorrectly"
In all the pages in pom/pages/ the line
`from basePage import *`
is throwing an error during tests. It should be
`from pom.pages.basePage import *`

[2017-01-26 09:53] #392 closed

[2017-01-26 10:54] #273 closed

[2017-01-26 11:34] #329 closed

[2017-01-26 14:03] smarshy commented on #379
While resolving this, please add commits for an entire app, or say all views/models/form/tests/urls; do not add a commit for every file you change.

[2017-01-29 05:30] Himanshi-Khandelwal commented on #441
@bob-the-buildr in my case it is giving error when from pom.pages.basePage import *
(.venv)himanshi@himanshi-HP-Notebook:~/vms/vms/pom/pages$ python administratorReportPage.py
Traceback (most recent call last):
  File "administratorReportPage.py", line 2, in <module>
    from pom.pages.basePage import *
ImportError: No module named pom.pages.basePage

[2017-01-29 08:27] bob-the-buildr commented on #441
Is it not giving errors when you don't change it to pom.pages.basePage? I gave me errors for other pages such as eventsPage, homePage etc.

I couldn't test it after making the changes since I got problems due to proxy in my hostel. I'll check this once again once I fix those problems.

[2017-01-29 10:49] payal97 opened #443 "Dates hardcoded in tests"

[2017-01-29 13:43] anweshknayak commented on #394
@mehak6669 you working on this ? @smarshy I can do this

[2017-01-29 14:16] anweshknayak commented on #161
@tapasweni-pathak I would like to work on this. As nobody has picked this up

[2017-01-31 18:45] mish24 commented on #443
@payal97 Can I work on this?

[2017-01-31 20:29] mish24 opened #444 "Logged hours not shown properly in the Report View"
![screenshot from 2017-02-01 13-55-29](https://cloud.githubusercontent.com/assets/24610197/22483089/c0ceac22-e821-11e6-8d26-655c2e0bb735.png)

There is an error in the logged hours and total hours generation in the report view. I've made the sufficient changes. Can I send a PR for the same?

[2017-02-01 17:31] bob-the-buildr commented on #443
@mish24  I've already done half the work. I'll submit a pull request soon. :)

[2017-02-01 17:39] payal97 commented on #443
@mish24 I've already done half the work. I'll submit a pull request soon. :)

[2017-02-02 15:40] smarshy commented on #441
@bob-the-buildr Closing the issue for now. Please reopen if you are still facing problems

[2017-02-02 15:40] #441 closed

[2017-02-02 18:38] mish24 commented on #439
@smarshy Yeah after your clarification I guess it is. Maybe we can display a better error message I suppose?

[2017-02-02 18:40] mish24 commented on #444
@smarshy This is an error, right? I've resolved this anyway, shall I submit a pull request?

[2017-02-02 18:47] mish24 commented on #439
#440 Just a small edit to display the correct message

[2017-02-03 16:40] smarshy commented on #444
@mish24 I cannot understand the error from the snapshot. The duration is properly summed up to give the total hours.
please define and elaborate the steps to recreate this error

[2017-02-03 19:26] mish24 commented on #444
@smarshy Actually I think it's a mistake on my part. I forked the repo and cloned it. But I think it wasn't updated with the development branch and the issue was already resolved there. Can you please guide me on how to actually update the forked repository?
Also, apart from this, I don't think there's any problem. Sorry! You can close this issue.

[2017-02-03 21:02] anweshknayak commented on #394
@smarshy as you see tests for cities_lights(https://github.com/yourlabs/django-cities-light/tree/master/cities_light/tests)  and phone-numbers (https://github.com/daviddrysdale/python-phonenumbers/tree/dev/python/tests) are  there already any need of testing required in this too ? If Yes upto which part I need to put checks as in to test. Certainly the library has been tested so how exactly to pro

[2017-02-03 21:56] anweshknayak opened #445 "Texts are Overflowing in shift/volunteer_search view"
![error4](https://cloud.githubusercontent.com/assets/8139783/22610063/a61de48c-ea89-11e6-8add-3d547d39b93f.png)

Related to #161
This view has been tested in Tablet view. The same error can be reproduced for tablet screen size.

[2017-02-04 13:01] smarshy commented on #444
@mish24 You can refer to [this]( https://help.github.com/articles/syncing-a-fork/) for updating your fork.
I think the bug you are referring to had been fixed by #404  around 2 weeks back.
If it is not the same thing, feel free to open an issue. Please include steps to replicate the bug in it.

[2017-02-04 13:01] #444 closed

[2017-02-04 13:13] smarshy commented on #394
@anweshknayak Well, you don't have to test the library but write a unit test for the validate_phone(my_country, my_phone) function.
First, try to understand what the function does - what its inputs and expected outputs are. _You don't have to test this for every country in the database._ Think of the possible edge cases and possible argument value types here (I can think of 4 but maybe you will fi

[2017-02-11 15:34] Himanshi-Khandelwal opened #448 "Installation problem"
import error coming when performing python manage.py migrate
ImportError: No module named cities_light

this was coming even after installing requirements.txt

[2017-02-12 21:05] anweshknayak opened #450 "Date format selected in wrong format."
![screenshot from 2017-02-13 02 31 25](https://cloud.githubusercontent.com/assets/8139783/22866009/d5c94318-f194-11e6-9480-a62b6955effc.png)

![screenshot from 2017-02-13 02 32 44](https://cloud.githubusercontent.com/assets/8139783/22866019/e5daf8fa-f194-11e6-80da-1be0571a1ed5.png)

Steps to reproduce error:
1. Choose date from the date picker and generate report.

[2017-02-16 10:27] tapasweni-pathak commented on #80
@mehak6669 Please go ahead.

[2017-02-16 10:28] tapasweni-pathak commented on #134
@mehak6669 That would be great!

[2017-02-16 10:32] tapasweni-pathak commented on #379
@josejibin Please, go ahead with the changes. In the description of the pull request explain with few lines why your change is better than what VMS has right now.

[2017-02-16 10:35] tapasweni-pathak commented on #443
@payal97 Thanks for the issue Payal. You contributed to VMS by creating the issue.

Once you open a issue anyone can pick and work on it.

@mish24 @payal97 Both of you can work on this. One who submits a pull request first will get the review first. Anyone is free to pick issues opened on VMS project.

[2017-02-22 18:46] anweshknayak opened #451 "Alphabetical Imports ( PEP8 style guide)"
https://docs.djangoproject.com/en/dev/internals/contributing/writing-code/coding-style/

All the imports needs to be alphabetically sorted as mentioned in PEP8 style guide.

[2017-02-28 06:20] bob-the-buildr commented on #443
@tapasweni-pathak @payal97  If no one else is working on it, can I submit a PR?

[2017-03-02 18:58] mish24 commented on #436
Django cities_lights isn't created. It's a third party app to get a database of countries. I suggest you to manually install cities_lights. @Raxerz

[2017-03-15 20:33] namanrjpt opened #454 "Countries should appear as dropdowns in volunteer search and sign up forms"
Right now the users have to manually type the country in the fields. It'd be great if users can select country through a drop down list. In that case, even validation won't be required. Also, this is implemented already in systers/portal which vms is going to be a part of (correct me if i'm wrong :smile:)

more of an enhancement, IMO.

[2017-04-21 17:17] muskanbararia commented on #330
Can I work on it?

[2017-04-24 09:18] tapasweni-pathak commented on #330
Sure.

[2017-05-01 15:29] tonythomas01 commented on #454
Should work by changing the https://github.com/systers/vms/blob/develop/vms/volunteer/forms.py#L42 to a ChoiceField (https://docs.djangoproject.com/en/1.11/ref/forms/fields/#choicefield).

Feel free to submit a PR.

[2017-05-01 15:30] tonythomas01 commented on #451
Feel free to submit a PR by following https://github.com/systers/vms/blob/develop/docs/Contribution%20Guide.md

[2017-05-01 21:27] tonythomas01 commented on #448
-1. Should not happen. Can you paste the output of:

`pip install -r requirements.txt` from the right location,

and then the output of

`pip freeze | grep "django-cities-light"`

[2017-05-02 00:10] #450 closed

[2017-05-02 00:18] tapaswenipathak opened #457 "Migrate to Python 3.6 and Django 2.0"
with all other depdencies to latest compatible version.

[2017-05-02 00:22] #439 closed

[2017-05-02 00:23] tapasweni-pathak commented on #448
@Himanshi-Khandelwal Is this issue resolved for you?

[2017-05-02 00:23] tapasweni-pathak commented on #445
@anweshknayak Thanks for this issue!

[2017-05-02 08:22] tonythomas01 commented on #457
Yes. I see the need for it here. Probably even to django-rest (in case there are some APIs exposed) - but before that I would say - there should be a pep8 cleanup run for the entire project folder. Things are quite messy in there when you open it up in - say pycharm.

[2017-09-23 07:33] #397 closed

[2017-09-23 07:51] #409 closed

[2017-09-23 07:52] tapasweni-pathak opened #458 "Keep the event to last changed value"
1. Go to /job/create/.
2. Select an event other than first.
3. Add a job with erroneous condition.

Event is reset to first event from the list.

[2017-09-23 10:00] #448 closed

[2017-09-25 13:20] namratab94 commented on #458
@tapasweni-pathak Can I work on this?

[2017-09-25 14:44] tapasweni-pathak commented on #458
Sure, please go ahead.

[2017-09-27 22:26] bhavya-reddy opened #459 "Installing vms with python 3.6 gives htmlparser error"
`AttributeError: module 'html.parser' has no attribute 'HTMLParseError'`

When we try to install vms on python 3.6 , we are facing errors with above message, this requires us to upgrade our project to a newer version of Django.

https://stackoverflow.com/questions/34827566/attributeerror-module-html-parser-has-no-attribute-htmlparseerror

[2017-09-28 08:23] tonythomas01 commented on #459
For a quick fix, setup a virutalenv on python 2.7 -- try https://stackoverflow.com/questions/1534210/use-different-python-version-with-virtualenv -- and work on it.

But you are right, we should ugprade at some point.

[2017-09-28 14:20] joanasouza commented on #457
Hey @tapasweni-pathak @tonythomas01 I would like to work on this issue :)

[2017-09-29 05:59] arpitn30 commented on #457
I think this should be divided into sub-issues since porting the entire project to Python 3 is a huge task.

[2017-09-30 10:24] tapasweni-pathak commented on #459
Closing as related to #457. Currently VMS runs on Python 2.7 and Django 1.7.4.

[2017-09-30 10:24] #459 closed

[2017-09-30 10:32] #419 closed

[2017-09-30 10:35] #124 closed

[2017-09-30 12:54] tapasweni-pathak opened #460 "Hide secret_key in settings.py"
- [ ] Update [.travis.yml](https://github.com/systers/vms/blob/develop/.travis.yml); i.e., add secret_key in before script
- [ ] Update [settings.py](https://github.com/systers/vms/blob/develop/vms/vms/settings.py#L14)
- [ ] Update Installation instruction
- [ ] Update Docker instruction in README
- [ ] Test

secret key should be foobarbaz.

[2017-09-30 13:24] RiaPant commented on #454
@tapasweni-pathak Can I work on this?

[2017-09-30 13:31] #398 closed

[2017-09-30 13:32] #395 closed

[2017-09-30 13:33] #393 closed

[2017-09-30 13:33] tapasweni-pathak commented on #393
#457.

[2017-09-30 13:35] #377 closed

[2017-09-30 13:35] tapasweni-pathak commented on #377
Closes as we have [this](https://github.com/systers/ossprojects/wiki/Volunteer-Management-System).

[2017-09-30 13:36] #324 closed

[2017-09-30 13:41] #298 closed

[2017-10-01 04:59] tapasweni-pathak opened #461 "Add Sphinx documentation to vms/docs"
- [ ] Add [Sphinx](http://www.sphinx-doc.org/en/stable/) documentation to vms/docs
- [ ] Add instructions to allow the developer to build it in local and view, in README.md

For more information on semantics and builds, please refer to the Sphinx [official documentation](http://www.sphinx-doc.org/en/stable/contents.html).

[2017-10-01 06:49] tallpants commented on #451
Hye, I'd like to take this issue if that's okay!

[2017-10-01 09:10] codejockie commented on #460
Stumbled upon this on Twitter; as a first timer I would like to take work on this.

[2017-10-01 17:02] swekshajha12 commented on #445
Hey  Swechha here! Can I take up this issue?

[2017-10-02 02:50] RiaPant commented on #451
Hey! Can I work on this issue?

[2017-10-02 08:19] swekshajha12 commented on #445
I went through the codebase and the corresponding css files for the volunteer_search.html file seems missing. I need to create a css file and link it to this html for this issue . Kindly tell me if I am wrong or if you have anytthing else on your mind ?
Thanks !

[2017-10-02 09:08] anweshknayak commented on #445
Use Inspect element. Find the corresponding css element. Make changes accordingly.

[2017-10-02 09:55] swekshajha12 commented on #445
I did , but the no css elements are shown.
![volunteer_search](https://user-images.githubusercontent.com/22135941/31072510-d4c9a79e-a785-11e7-806d-762eb655fe48.png).

[2017-10-02 12:20] swekshajha12 commented on #322
Can you please elaborate a little?

[2017-10-02 12:42] anweshknayak commented on #445
No.  Not on the html page. You see the screenshot I have posted above. Go to that section. Do inspect element on that. Not on the html page. Hope you get it

[2017-10-02 12:45] swekshajha12 commented on #445
Sorry! You mean in the development environment right?

[2017-10-02 12:49] anweshknayak commented on #445
Yup.

[2017-10-02 12:50] swekshajha12 commented on #445
Thanks !

[2017-10-03 17:45] Dhara159 commented on #161
Hey, I'm Dhara Vihol. I want to participate in the outreachy and I've selected this project to contribute. Can I take this issue and start my contribution?

[2017-10-05 16:02] swekshajha12 opened #463 "Password Authentication failed for user vmsadmin"
Unable to login to the postgres client with the vmsadmin user
On using the following command :
psql -U vmsadmin -d postgres -h localhost -W
I get the following error:
![sys](https://user-images.githubusercontent.com/22135941/31237370-69356fae-aa14-11e7-92cc-439b9f483956.jpg)

[2017-10-05 16:21] swekshajha12 commented on #463
This can be resolved by
(i) Find all the  pg_hba.conf files using  sudo find / -type f -iname pg_hba.conf
(ii) Make the following changes in only the files which are being used by VMS
Change the line local all postgres peer to local all postgres md5
change the line local all all peer to local all all md5
(iii) Restart the postgresql client and then login to the postgres client with the vmsadmin us

[2017-10-06 12:53] swekshajha12 opened #464 "Unable to create database vms"
While trying to create the database vms with user as vmsadmin by executing the following command
createdb -U vmsadmin vms;
The following error comes:
createdb: couldn't connect to database template1: FATAL: peer authentication failed for user "vmsaddmin"
![sys2](https://user-images.githubusercontent.com/22135941/31278653-6f5f03a4-aac3-11e7-8169-061b245c6a17.png)

[2017-10-06 13:33] #463 closed

[2017-10-06 16:05] tapasweni-pathak commented on #463
@swekshajha12 Please add your system/environment details.

[2017-10-07 09:36] Godsownchild commented on #464
You need to change the pg_hba.conf  file to indicate that users will authenticate by md5 as opposed to peer authentication. To do this, first open the pg_hba.conf  file by running the command:
 sudo nano /etc/postgresql/9.6/main/pg_hba.conf
depending on the version of postgresql mine is 9.6

or

 You may need to open pg_hba.conf with your text editor  because I had the same issues and this worked

[2017-10-07 09:45] Godsownchild commented on #464
You can use gedit

sudo -H gedit /etc/postgresql/9.6/main/pg_hba.conf
It is a configuration file you can't open it directly. Or read this to https://askubuntu.com/questions/438524/how-can-i-edit-the-lightdm-conf-file-and-save-it understand better.I hope this works for you

[2017-10-07 11:32] swekshajha12 commented on #464
Hey! Thanks but I have already done that , since they are the initial steps. This isssue persists.

[2017-10-07 12:42] tapasweni-pathak opened #465 "Create custom 404, 403, 500 error pages"
[Django documentation](https://docs.djangoproject.com/en/1.11/topics/http/views/#customizing-error-views)

[2017-10-07 13:44] swekshajha12 commented on #465
Hey! Till I configure the development environment properly on my computer , can I please work on it?

[2017-10-07 14:51] Himanshi-Khandelwal commented on #458
@tapasweni-pathak anyone working on it?

[2017-10-07 14:54] namratab94 commented on #458
Yes, I am.

[2017-10-07 15:06] Himanshi-Khandelwal commented on #443
is anyone working on it?

[2017-10-07 15:11] Himanshi-Khandelwal commented on #454
is anyone working on this one?

[2017-10-07 17:06] tapasweni-pathak commented on #458
@Himanshi-Khandelwal @namratab94 Thanks for showing interest to work on this issue both of you.

Feel free to submit a pull request. Issue is not assigned to anyone. Pull requests are reviewed/merged in order they come.

[2017-10-07 17:08] tapasweni-pathak commented on #465
Thanks for showing interest to work on this issue. Feel free to submit a pull request. Issues are not assigned to anyone. Pull request are reviewed/merge in order they come.

[2017-10-07 17:10] tapasweni-pathak commented on #443
Thanks for showing interest to work on the issue. Issues are not assigned. Feel free to submit a pull request. Pull requests will be reviewed/merge in order they are submitted.

[2017-10-08 11:50] tapasweni-pathak commented on #322
Lots of places to go wrong then.

[2017-10-08 13:14] #451 closed

[2017-10-08 15:13] ihsavru opened #470 "Typo in Installation Guide"
In the [Installation Guide](https://github.com/systers/vms/blob/develop/docs/Installation%20Guide.md),
wrong port number(8001) is mentioned instead of 8000 for running the development server.

[2017-10-09 14:27] ihsavru commented on #403
Hi! Can I work on this?

[2017-10-10 07:25] Chauhan99 opened #473 "ImportError: No module named cities_light while generating database tables"
I am trying to setup the vms from Installation guide and already reached **Generate Database Tables Corresponding to Django Models**.

I am encountering the following error message when i ran the command:  `python manage.py sqlall vms`

`Traceback (most recent call last):
  File "manage.py", line 10, in <module>
    execute_from_command_line(sys.argv)
  File "/usr/lib/python2.7/dist-packages/djang

[2017-10-10 12:06] Chauhan99 commented on #473
I was able to resolve this issue by myself. It can be resolved by updating the django version to 1.7.1 and then installing cities_light module. Hence I am closing the issue now.

[2017-10-10 12:06] #473 closed

[2017-10-11 12:06] #464 closed

[2017-10-11 19:06] Namrata96 commented on #454
I would like to work on this issue if no one else is. Please let me know.

[2017-10-12 08:14] tapasweni-pathak commented on #403
Please feel free to work on any open issue. Issues are not assigned, pull request will be reviewed in the order they were created.

[2017-10-12 11:50] swekshajha12 opened #474 "Unable to update the profile field with links having numbers"
Current Behaviour : In the profile section in vms , link containing numbers aren't valid
Improvement: In profiles , numbers aren't allowed but what if someone's linkedin url or any other url has them? We can add a real time verification system for data entered by user and allow numbers too in profile links.
What do you suggest?

[2017-10-12 11:50] swekshajha12 commented on #474
![vms](https://user-images.githubusercontent.com/22135941/31494605-b06a43ba-af71-11e7-93fc-b741c1e56eac.png)

[2017-10-12 11:58] tapasweni-pathak commented on #454
You can work on any open issue. Issues are not assigned. Pull request will be reviewed in the order they were created.

[2017-10-12 12:08] #470 closed

[2017-10-12 12:10] tapasweni-pathak commented on #464
@swekshajha12 Please update this issue with how did you fix the errors. Thanks!

[2017-10-12 16:47] kamsuri commented on #294
Hi !
On running "python manage.py sqlall app_name_here", i am encountering the same error.
`Traceback (most recent call last):
  File "manage.py", line 10, in <module>
    execute_from_command_line(sys.argv)
  File "/usr/lib/python2.7/dist-packages/django/core/management/__init__.py", line 399, in execute_from_command_line
    utility.execute()
  File "/usr/lib/python2.7/dist-packages/django/core/

[2017-10-13 16:19] kamsuri commented on #294
Hi @tapasweni-pathak!
I am an outreachy aspirant and want to contribute to this project, can you help me to resolve this error so that i can move ahead?

[2017-10-14 05:14] #318 closed

[2017-10-14 05:43] tapasweni-pathak commented on #294
Which Django version have you setup for VMS in your local?

[2017-10-14 06:53] kamsuri commented on #294
I have tried it with django version 1.7.1 and 1.7.4, but  none worked.

[2017-10-14 07:27] tapasweni-pathak commented on #294
[Have a read](https://stackoverflow.com/questions/25762587/how-to-syncdb-in-django-1-7). You need do makemigrations and migrate instead of syncdb with these versions.

[2017-10-14 19:36] kamsuri commented on #294
Thanks @tapasweni-pathak, it's resolved.
Problem was due to variation in version and commands.

[2017-10-15 04:31] swekshajha12 opened #477 "OS error while updating resume"
Current Behaviour: When I try to update resume in vms , I get this OS error .
Improvement : We can make it such that , one can update their resume after some threshold number of days ( say 3 days) and eliminate the OS error.
What do you suggest?
![oserror](https://user-images.githubusercontent.com/22135941/31581741-abad7502-b18f-11e7-99ca-82ed98f717e5.png)

[2017-10-15 05:51] tapasweni-pathak commented on #477
Can you please also share the traceback? you would have got it on your console while triggering the request.

[2017-10-15 06:04] tapaswenipathak opened #478 "Integrate flake8 on travis"
## Description
As a developer,
I need to ensure that the project has some code checker enabled,
so that it can follow standard code style guidelines

## Mocks
N/A

## Acceptance Criteria
### Update [Required]
- [x] Modify setup.cfg for flake8 settings
- [x] Add command in .travis.yml to run flake8 on repo
- [ ] Make necessary changes
- [ ] Document the flake8 run in docs.

## Definition of Done
-

[2017-10-15 12:18] Prakharsvnit commented on #478
I am working on this issue.I am not sure about travis implementation,but i would like to give it a try.

[2017-10-15 14:19] swekshajha12 commented on #464
There were some discrepancies with my pg_hba.conf file and thus did the whole process again and edited the pg_hba.conf file . This solved the error.

[2017-10-16 15:42] swekshajha12 opened #482 "Import error : No module named phonenumbers"
While running the development server , I get this error! While trying to install it , I get
![installing](https://user-images.githubusercontent.com/22135941/31621116-94b44e2a-b2b6-11e7-9432-bb17eb1d8493.png)
(System: Ubuntu 16.04 Environment: Ubuntu 14.04 in virtualenv ,Vagrant 1.8.6 )

[2017-10-17 05:56] swekshajha12 commented on #477
Referencing issue #305

[2017-10-17 05:57] #477 closed

[2017-10-17 08:19] swekshajha12 commented on #477
Environment:

Request Method: POST
Request URL: http://52.8.110.63/volunteer/edit/4

Django Version: 1.6.1
Python Version: 2.7.6
Installed Applications:
('django.contrib.admin',
 'django.contrib.auth',
 'django.contrib.contenttypes',
 'django.contrib.sessions',
 'django.contrib.messages',
 'django.contrib.staticfiles',
 'administrator',
 'authentication',
 'event',
 'home',
 'job',
 'organization'

[2017-10-17 13:22] kamsuri opened #484 "Add captcha on registration page to ensure security from bots"
Adding captcha will help to achieve following:-
1) Prevent spambots/adbots from signing up
2) Protecting downloads from automated access by bots (which is not a security risk in itself, but a bandwidth drain)
3) Secure information of volunteers
We can use Google's invisible captcha to give users a hassle free experience and simultaneously ensure security from bots.
Suggestions are welcomed.

[2017-10-17 15:43] swekshajha12 commented on #484
https://developers.google.com/recaptcha/docs/invisible
Are you talking about this? This will need an https connection . Correct me if I am wrong .

[2017-10-17 21:15] kamsuri commented on #484
@swekshajha12 Yes, i am talking about this only.
As mentioned in the docs(https://developers.google.com/recaptcha/docs/invisible) it needs to be loaded using HTTPS protocol. We can use No Captcha but Invisible one is more secure and uses Artificial Intelligence which is a more advanced technique. Moreover, it provides a hassle free experience to users and a tough time for bots.
@tapasweni-pathak y

[2017-10-18 06:30] swekshajha12 commented on #482
I was able to resolve it by following
1)Download source from https://github.com/daviddrysdale/python-phonenumbers
2)install phonenumbers using python setup.py install
Remove the broken packages by using sudo rm <broken packages>

[2017-10-18 06:30] #482 closed

[2017-10-18 12:53] tapasweni-pathak commented on #482
This should have been installed when you ran requirements.txt, it didn't?

[2017-10-18 14:07] swekshajha12 commented on #482
No , it didn't!

[2017-10-19 03:04] swekshajha12 commented on #319
Hey! What email id are we planning to use as host email?

[2017-10-20 06:44] swekshajha12 opened #488 "links mentioned in vms/docs/ProjectSettings.md seems broken."

[2017-10-20 11:26] tapasweni-pathak commented on #488
Please mention the links which are broken.

[2017-10-20 11:33] tapasweni-pathak commented on #482
😕

[2017-10-20 13:59] swekshajha12 commented on #488
The following are the links:
https://docs.djangoproject.com/en/1.6/topics/settings/
https://docs.djangoproject.com/en/1.6/ref/settings/
https://docs.djangoproject.com/en/1.6/ref/settings/#databases
https://docs.djangoproject.com/en/1.6/topics/i18n/
 https://docs.djangoproject.com/en/1.6/howto/static-files/

I'm getting the following error
![link](https://user-images.githubusercontent.com/22135941/

[2017-10-20 17:16] tapasweni-pathak commented on #488
Thanks! The task to fix this issue is to [remove the settings.py code](https://github.com/systers/vms/blob/develop/docs/Project%20Settings.md#source-code-for-settingspy) completely from this file.

[2017-10-20 17:59] swekshajha12 commented on #488
The name of the file has space in it and generates problem when trying to use in command line. Can I change the names with space replaced by underlines?

[2017-10-21 01:51] #488 closed

[2017-10-21 01:53] tapasweni-pathak commented on #488
Can you please share few examples?

[2017-10-21 03:51] Himanshi-Khandelwal opened #490 "Installation of django-cities-light"
For downloading and importing data for django-cities-light one needs to run the command "python vms/manage.py cities_light" hence , I find the need to add this to README.md file.

[2017-10-21 04:02] swekshajha12 commented on #488
For e.g while trying to git add you need to use backslash like Project\ Settings.md , this can be bad for someone who is completely new to command line in ubuntu etc. We can use underscores instead of space.And there are many files with space in their names. What do you suggest?

[2017-10-21 06:06] tapasweni-pathak commented on #488
Please go ahead.

[2017-10-21 07:46] #490 closed

[2017-10-21 14:40] swekshajha12 opened #494 "Anyone can signup as an admin"
Anyone can signup as an admin in the current scenario , we can add a validation system where when a person tries to sign up as an admin , an email is sent to an already admin to confirm that person's signup. Is my understanding correct?

[2017-10-21 20:27] tapasweni-pathak commented on #494
Can you please detail this a bit more?

[2017-10-22 03:57] swekshajha12 opened #496 "Create better looking buttons for Login , signup on home page."
Current scenario: There is a lot of space on the home page and the buttons are aligned horizontally.
Suggested : We can instead create longer buttons and align them vertically , this way even the space can be used effectively. Something like these with a non white background?
![buttons](https://user-images.githubusercontent.com/22135941/31858027-1d64fc1c-b70b-11e7-86c5-c87ad71fb922.png)

[2017-10-22 04:18] swekshajha12 commented on #494
Currently anyone who wishes to use vms is free to signup as an admin or a volunteer regardless of the fact that he/she is  a volunteer or admin actually. This can become baffling on later stages . What we can do is create an authentication system where only an actual admin of an organization can signup as an admin . What do you suggest?

[2017-10-22 06:43] deepikasunhare commented on #465
if @swekshajha12 is no longer working in this issue, can I work in this??

[2017-10-22 06:50] swekshajha12 commented on #465
Hey! I have already submitted a pr for this! If you want to , you can work!

[2017-10-22 08:10] #283 closed

[2017-10-22 08:41] tapasweni-pathak commented on #496
Are you referring to the buttons on this page? [![Screenshot from Gyazo](https://gyazo.com/b6bb33c71b7ee4b350494420edcd6d6f/raw)](https://gyazo.com/b6bb33c71b7ee4b350494420edcd6d6f) The newer design on how Portal has it?

[2017-10-22 08:45] swekshajha12 commented on #496
Yes , and aligned one below the other. What do you suggest?

[2017-10-22 08:46] tapasweni-pathak commented on #494
Currently how it works is anyone would be able signup as admin, so ideally who wish to use VMS and have a person authorized to be a admin will signup as admin. Then they can use the features provided only for admin. How do you plan to change this and verify, can you please write it in steps?

[2017-10-22 08:49] tapasweni-pathak commented on #496
This should remain as is. Also we won't enable login with social accounts for admins or volunteers as we need a lot of information other than there email id, first name, last name, you can see that in signup form for VMS. For portal we don't need all such information.

Thanks for the suggestion, at least we thought about why we can't change it. Let me know if you have any questions. Closing this o

[2017-10-22 08:49] #496 closed

[2017-10-22 09:34] swekshajha12 commented on #494
Can two person of the same org , sign up as an admin?

[2017-10-22 10:22] #465 closed

[2017-10-22 13:12] vemurisowjanya opened #500 "Error in running VMS administrator tests"
$`python manage.py test administrator.tests`
![admin_error](https://user-images.githubusercontent.com/16240863/31860907-f7fc5f12-b73f-11e7-9089-2b529c1b38ff.png)

Encountered socket error (Errno 32) Broken pipe Django from second test method.

[2017-10-22 13:14] vemurisowjanya opened #501 "Error in running event, shift tests in VMS"
$`python manage.py test event.tests`
![event_error](https://user-images.githubusercontent.com/16240863/31861986-16b74732-b754-11e7-9d03-f022799aa806.png)

$`python manage.py test shift.tests`
![shift_error](https://user-images.githubusercontent.com/16240863/31861992-1d778b54-b754-11e7-9b95-0c38067403fe.png)

Encountered NoSuchElementException for firefox driver in shift, event tests in VMS

[2017-10-22 18:53] kamsuri opened #502 "Shift hours can be logged before shift"
Volunteer can log shift hours before the date and time of shift. Once shift hours are logged that shift is marked as completed shift. There should be a check whether the shift date and shift hours have been passed or not before hour logging is permitted.
![screenshot from 2017-10-23 00-20-36](https://user-images.githubusercontent.com/14004808/31865197-51c9dd2e-b788-11e7-8879-7902b2d63d98.png)

[2017-10-22 18:57] kamsuri opened #503 "Multiple jobs with same name for one event shouldn't be permitted"
Current sytstem permits same job names for a particular event, but it shouldn't be allowed because there can be multiple shifts for one job rather than multiple jobs.
![screenshot from 2017-10-23 00-25-33](https://user-images.githubusercontent.com/14004808/31865228-f798ffc8-b788-11e7-9419-9a433156c80d.png)

[2017-10-22 19:02] kamsuri commented on #494
Yes @swekshajha12, an organization can have multiple admin as organization to administrator is a one to many relation.

[2017-10-22 19:11] swekshajha12 commented on #494
So , what we can do is add a validation system where when someone else of the same organization sign's up as an admin , we can notify the previous admin via email and if required can ask for his confirmation of that person being authorized to be an admin. What do you suggest?

[2017-10-23 13:51] tapasweni-pathak commented on #503
Can you please check there is already an issue raised for this?

[2017-10-23 13:53] tapasweni-pathak commented on #494
Thanks for thinking about this, but it works with the correct approach correctly, so closing this one. We take all the information for volunteer and admin to let them signup.

[2017-10-23 13:53] #494 closed

[2017-10-23 15:16] swekshajha12 opened #504 "Search jobs based on region/city/country"
This would make it very feasible for users to search for jobs since many a times , people want it to be nearer.
Approach
1)Current scenario : Users can search jobs/events on the basis of dates only
2)We can add a location field , where the user can select the location and the result thus would be the list of events in that location on the selected dates.

[2017-10-23 15:29] swekshajha12 opened #505 "Add validation to resume field (below the upload resume field)."
![resume](https://user-images.githubusercontent.com/22135941/31897731-e1edda34-b834-11e7-9903-b5824fd449f8.png)

We can either add a proper regex here or use link validators like URLValidatior provided by Django.
What do you suggest?

[2017-10-24 11:21] kamsuri opened #507 "Job should be defined with unique id"
Referencing #383
Each job should be defined by using a unique id or using combination of event and job name because different events can have a job of same name, which leads to problem. As below function will not display those jobs as different jobs, it will consider them as same.
`def get_signed_up_jobs_for_volunteer(volunteer_id):
    """ Gets sorted list of signed up jobs for a volunteer """

[2017-10-28 11:23] tonythomas01 commented on #507
The basic problem here is that we are listing all events on first, and all jobs for all events on the second dropdown. Essentially - there is no filtering happening :/ Someone should introduce some filtering at the frontend, and this should be okey.

[2017-10-28 11:36] tonythomas01 commented on #457
This is a shame we are on django 1.7.4. I will keep on putting up issues, that would eventually lead to:
[code]
I can tag them with `python-3.x` so that bugs related to that are separate

[2017-10-28 11:42] tonythomas01 opened #509 "Fix relative imports on files"
Ugly imports are not allowed in Python 3.x. Like

[code]
should become
[code]

We need a `__init__.py` in vms/ to start with. Also, unimported service functions like `calculate_total_report_hours()` are not allowed. These things should be properly imported like:

[code]

[2017-10-28 11:43] tonythomas01 commented on #509
I can fix the imports for `administrators/` and someone else can complete the same.

[2017-10-28 12:42] tonythomas01 commented on #507
Well, I found a cleaner solution in https://github.com/systers/vms/pull/506. Just use the id for option on the HTML - and show the dropdown like it was before (and we have all the repeated jobs in the list).

[2017-10-28 16:18] tonythomas01 commented on #509
#510 fixes this partially. Well - to get it merged, we have to change it for every module inside.

[2017-10-28 16:21] tonythomas01 opened #512 "Webdriver tests fail for no reason [build-fail]"
Look at these output:

[code]

all over in https://travis-ci.org/systers/vms/builds/294128344?utm_source=github_status&utm_medium=notification

[2017-10-28 18:32] kamsuri commented on #503
Yes @tapasweni-pathak, It is duplicate of #330. Sorry for opening this.
Closing this one.

[2017-10-28 18:32] #503 closed

[2017-10-29 05:08] kamsuri commented on #507
#511  This seems good but we need to do real time filtering when adding a dropdown for jobs.

[2017-10-29 11:13] tonythomas01 commented on #507
Well - to do - that I will have to fix the context passing to the templates first. This is fully messed up currently (like the context gets passed only after an initial click on generate_report - a POST). I can give it a try though.

[2017-10-29 11:17] tulikavijay commented on #460
I want to work on this...can you please let me know how to go about this. Do i need to encrypt the key in .travis.yml file? And how should i hide it in settings.py . Any feedback is appreciated!

[2017-10-29 17:00] tonythomas01 commented on #507
Check https://github.com/systers/vms/pull/511#issuecomment-340272936 -- implemented actually.

[2017-10-31 15:18] tapasweni-pathak commented on #509
Thanks for the issue!

Sure! please go ahead. :star:

 #379 talks about it, so closing this one.

[2017-10-31 15:18] #509 closed

[2017-10-31 15:36] #474 closed

[2017-11-01 08:19] tonythomas01 commented on #379
Also, the imports needs to be improved more. Check https://github.com/systers/vms/issues/509#issue-269311137

`from pom.xx.yyy` should become
`from vms.pom.xx.yyy`

[2017-11-03 07:14] tulikavijay commented on #461
I want to do this. Can you please guide me , how do I add the existing docs  to sphinx ?

[2017-11-08 04:26] #460 closed

[2017-11-11 08:12] pradeepgangwar opened #516 "Upgrade Psycopg2 to version 2.7"
During installation i faced a error as `Error: could not determine PostgreSQL version from 10.0`. On searching over the internet i found that it is a known issue and has been resolved in version 2.7 of Psycopg2. Upon changing psycopg2 to version 2.7. Installation completed successfully.

See this - https://github.com/psycopg/psycopg2/issues/594

Since we need **version >= 9.3.4** for **postgres**.

[2017-11-11 17:16] tapasweni-pathak commented on #516
covering this in #457, so closing this one.

[2017-11-11 17:16] #516 closed

[2017-12-07 18:43] anjali-dhanuka commented on #322
If noone is working on this issue, I would like to work on it.

[2017-12-07 19:26] anjali-dhanuka commented on #454
What I think is first we should ask the user to fill up his country. Then accordingly valid states will appear in the drop down list. After that he will select his city following the similar procedure. If noone is working on the issue, I would like to take it up.

[2017-12-08 04:07] tapasweni-pathak commented on #454
@anjali-dhanuka Sounds good! But all should be in dropdown, no manually typing it.

[2017-12-08 09:58] anjali-dhanuka commented on #454
Yeah sure!!

[2017-12-08 11:07] anjali-dhanuka commented on #454
I was looking for some django packages for its implementation. I read about django-cities, django-cities-light and many others but they are not compatible with django-1.6.5(vms uses 1.6.5). So I was thinking to do it manually i.e import required database and using jquery for respective choices. Shall I go this way?

[2017-12-08 12:41] anjali-dhanuka commented on #320
I would like to work on this issue if noone is working on it

[2017-12-08 12:59] anjali-dhanuka opened #518 "Log out feature not working"

[2017-12-08 15:10] #518 closed

[2017-12-09 11:15] swekshajha12 commented on #484
I'll take up this issue ! Shall we use Google's no captcha recaptcha? What do you suggest @tapasweni-pathak :)

[2017-12-09 14:51] tapasweni-pathak commented on #454
Yeah, possible for you to work on migrating VMS to latest packages? Let me know if you need any help.

[2017-12-09 18:18] anjali-dhanuka commented on #454
Do you mean to say that I start porting vms to some latest django version?

On Sat, Dec 9, 2017 at 8:21 PM, Tapasweni Pathak <notifications@github.com>
wrote:

[2017-12-09 22:46] anjali-dhanuka commented on #403
Do we need to remove the about page link?

[2017-12-11 10:09] anjali-dhanuka commented on #320
Mam I have implemented the feature. Just wanted to ask you the host for sending emails in vms.

[2017-12-11 14:05] pradeepgangwar opened #520 "Allow admin to select from dropdown for volunteer search and reports"
## Description
- For now in admin account if you go for volunteer/search we see that we need to manually enter organization name which are limited and entering manually increases chances of mistake.
- In administrator/report dropdown for job name and organization name is not displaying available job names and organization names.

[2017-12-11 14:05] pradeepgangwar commented on #520
I am working on this

[2017-12-12 12:31] anjali-dhanuka opened #522 "Implement Change Password functionality"
## Description
As a volunteer, I must have the option of changing my password.

## Mocks
![image](https://user-images.githubusercontent.com/22369767/36635414-5b0bd5d6-19da-11e8-9dc5-ad79c4d9b815.png)

## Acceptance Criteria
- [ ] create urls for inbuilt views of django.contrib.auth
- [ ] Template create for each step

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Appro

[2017-12-12 17:46] arunikayadav42 commented on #382
I want to get started with this issue.Can somebody please help me out?

[2017-12-12 17:47] arunikayadav42 commented on #383
I want to get started with this issue.Can somebody please help me out?

[2017-12-13 01:31] anjali-dhanuka commented on #319
I would like to take up the issue if noone is working on it.

[2017-12-15 05:16] arunikayadav42 commented on #522
Is anybody working on this issue?Or can I please get started working on the same?

[2017-12-15 06:57] anjali-dhanuka commented on #522
@arunikayadav42 I am working on the issue

[2017-12-15 10:49] anjali-dhanuka commented on #457
I am taking up the issue if none is working on it.

[2017-12-15 13:31] tapasweni-pathak commented on #382
Sure,@arunikayadav42. Did you open the page volunteer/report/, how do you see the event field?

[2017-12-15 13:31] tapasweni-pathak commented on #383
ref https://github.com/systers/vms/issues/382#issuecomment-352006318, @arunikayadav42.

[2017-12-15 14:30] #382 closed

[2017-12-15 15:28] tapasweni-pathak commented on #520
👋 thanks for the issue, please update the description of this issue w/ what was not working properly before?

[2017-12-15 16:45] tapasweni-pathak commented on #403
Yes, removing the about would be 👍

[2017-12-22 04:54] anjali-dhanuka commented on #457
@tapasweni-pathak
Python packages stated in the requirements file are not compatible with django 2.0.

[2017-12-22 04:59] #520 closed

[2017-12-22 05:01] tapasweni-pathak commented on #457
Python packages stated in the requirements file are not compatible with django 2.0.

Can you please list them down w/ a new issue and we can look into it together?

[2017-12-22 05:23] anjali-dhanuka opened #532 "Python packages in requirements.txt not compatible with django 2.0"
## Description
For porting the project to django 2.0, latest python packages are required those compatible with 2.0. But all the packages are not available.

## Acceptance Criteria
### Update [Required]
These are the list of changes that are found in latest packages:
- [ ] In Django 2.0  'on_delete' is a necessary argument while defining fields of a model.
- [ ] The old django.conf.urls.include()

[2017-12-22 08:09] pradeepgangwar commented on #321
@Chauhan99 are you still working on this? I would like to fix it if you are not working.

[2017-12-23 11:42] tonythomas01 commented on #532
See - of course, this change would be breaking. I think you have to forget supporting both, and create a new branch which just supports 2.0 - and ignore all these breaking things ?

[2017-12-23 11:52] anjali-dhanuka commented on #532
I meant to say that I have checked the latest versions of  python packages used in the project, but they too are not compatible with django 2.0
So just changing the version of the package would not work.

[2017-12-23 16:49] tonythomas01 commented on #532
oh I see. then things are pretty hard at this point then :-( So its just django-cities-light and django-braces that breaks ? Can you raise a ticket in each of their repos ?

[2017-12-23 18:02] anjali-dhanuka commented on #532
There may be more. Till now I have encountered these only. Yeah I was thinking to raise tickets on these repositories.

[2017-12-24 04:24] tapasweni-pathak commented on #403
closed w/ 305af22622ad3b07e92ed3cebd30e18e67fa06b0.

[2017-12-24 04:24] #403 closed

[2017-12-26 03:44] manmeet0307 opened #536 "Installation of environment issue."
I want to contribute to vms but facing problem in setting up environment. Please guide me which package of python I should install?
I am working on windows 10
Done with installation of virtualbox and vagrant.
[
![img_20171225_132634](https://user-images.githubusercontent.com/32425680/34346365-dc6ea6d2-ea1c-11e7-875c-8b149d224b99.jpg)
](url)

[2017-12-26 10:26] anjali-dhanuka commented on #532
It seems someone has already raised ticket for support of django 2.0
Please have a look at https://github.com/yourlabs/django-cities-light/issues/166 and https://github.com/brack3t/django-braces/pull/235

[2017-12-26 10:33] tonythomas01 commented on #532
I see that. If you think you are blocked, I think even making the code work with `1.11` the last LTS, and the one just before 2.0 makes sense as well.

[2017-12-26 10:37] anjali-dhanuka commented on #536
@manmeet0307 I think that you have not followed the installation guidelines correctly. I would suggest you that rather than opening an issue you should ask your doubts on slack #vms channel.

[2017-12-26 13:48] anjali-dhanuka commented on #532
@tonythomas01 I have already ported vms to django 2.0. You can review it  https://github.com/systers/vms/pull/535. Can't we do anything else other than shifting to 1.11?

[2017-12-26 13:52] tonythomas01 commented on #532
Oh oh. Sorry I missed this. In that case, ignore my previous comment. Since they say there are branches which support django-2.0, for the testing phase - you can pip install those by something like:

[code]

I hope by the time this PR is ready for merge, they would release.

[2017-12-26 15:09] tonythomas01 opened #537 "Setup, run and execute automatic python code formatting on the codebase"
## Description
Look at the output of https://dpaste.de/KP3L/raw  - the entire thing is not following PEP8 or any codestyle failing the pipelines on each run.

## How to fix this
https://github.com/google/yapf tool by Google can autoformat the entire codebase

## Acceptance Criteria
### Update [Required]
- [ ] Install pep8 to requirements.txt
- [ ] Commit changes on running `yapf` on codebase
- [ ]

[2017-12-26 16:18] krysopath commented on #537
If that code would be more clean, one might even think about contributing.

[2017-12-26 16:19] tonythomas01 commented on #537
this would be pretty trivial actually - feel free to create a PR - or I can do that later.

[2017-12-31 14:54] arunikayadav42 opened #539 "The login system has no forgot password/forgot username feature"
## Description
As a [USER],
I need [TO DO THIS],
so that I can [ACCOMPLISH THAT].

## Mocks
[INSERT RELEVANT PNG FILE]

## Acceptance Criteria
### Update [Required]
- [ ] [LIST ITEMS]
### Enhancement to Update [Optional]
- [ ] [LIST ITEMS]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 week
![screenshot from 2017-12-31 13-02-25](h

[2017-12-31 14:56] arunikayadav42 commented on #539
Can I start working on this issue?

[2018-01-01 05:56] tapasweni-pathak commented on #536
👋 @manmeet0307 this may be because of some `PATH` issues in your setup, did you find something useful when you searched it on web?

[2018-01-01 06:07] tapasweni-pathak commented on #539
Yes, this sounds good. 👍 I would suggest completing the open pull request first than moving ahead w/ new ones.

[2018-01-01 08:34] arunikayadav42 commented on #539
I am sorry but can you please tell me what did you mean by saying " I would suggest completing the open pull request first than moving ahead w/ new ones."--like should I work on this issue or not?Please be more precise.

[2018-01-01 08:38] tapasweni-pathak commented on #539
You have open pull request where few corrections are needed. Completing them and than moving ahead on new issues is what I suggest. Hope this clarifies, let me know if it doesn't.

[2018-01-01 09:33] arunikayadav42 commented on #539
Alright so you mean is to first complete the details of the issue prior to start working on the same,right?

[2018-01-01 09:36] arunikayadav42 commented on #539
Actually I know the issue to work on but have no idea how to get started on the issue.

[2018-01-01 10:32] anjali-dhanuka commented on #539
@tapasweni-pathak I have already opened a pull request for forgot password
 https://github.com/systers/vms/pull/528. We were discussing on it too. I wanted to know if there are any other changes you wanted me to make.

[2018-01-01 10:45] arunikayadav42 commented on #539
@anjali-dhanuka your pull request only covers the forgotten password feature while mine covers the forgotten username too ,so do i reframe my issue statement?

[2018-01-01 11:04] arunikayadav42 opened #542 "Adding the "ABOUT" page to the VMS Site"
## Description
I need add the about page as of now the home page and the about page are both same,I wish to make them separate identities.

## Mocks
[INSERT RELEVANT PNG FILE]

## Acceptance Criteria
### Update [Required]
- [ ] [LIST ITEMS]
### Enhancement to Update [Optional]
- [ ] [LIST ITEMS]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## E

[2018-01-01 11:07] arunikayadav42 opened #543 "Highlighting the active page of the site in the breadcrumb"
## Description
I want to work on highlighting the name of the active page in the navigation bar which does not exist as of now.

## Mocks
[INSERT RELEVANT PNG FILE]

## Acceptance Criteria
### Update [Required]
- [ ] [LIST ITEMS]
### Enhancement to Update [Optional]
- [ ] [LIST ITEMS]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1

[2018-01-01 17:41] arunikayadav42 commented on #542
@tapasweni-pathak  can I start working on this issue?

[2018-01-01 17:41] arunikayadav42 commented on #543
@tapasweni-pathak can I start working on this project please?

[2018-01-06 16:43] tapasweni-pathak commented on #542
closed with 305af22622ad3b07e92ed3cebd30e18e67fa06b0, ideally you should not see the about page, can you see it with fresh fetch of develop?

[2018-01-07 21:03] anjali-dhanuka opened #544 "Error in running django admin panel"
## Description
Programming Error in running django admin panel

## Mocks
![screenshot from 2018-01-03 06-08-41](https://user-images.githubusercontent.com/22369767/34653871-f6a967b6-f418-11e7-82ad-fd271223dadb.png)

## Acceptance Criteria
### To be done:
- [x] manually add a field `name` to `django_content_type`

Steps to resolve:
->\c database
->ALTER TABLE django_content_type ADD COLUMN name VARC

[2018-01-10 12:30] kriti21 commented on #504
I have made changes that add these features. Please consider my PR https://github.com/systers/vms/pull/546

[2018-01-10 12:47] kriti21 commented on #505
Resume is uploaded in file format which can be doc. or pdf or anything else. What kind of verification can be done to such file uploads?
Another option is to use URL to link to resume uploaded on the internet like google drive link or something. That way user does not even need to upload a new resume every time a change is made. What are your thoughts about this @swekshajha12

[2018-01-10 20:14] kriti21 opened #547 "Implement change password option in edit profile form."
## Description
The user might sometime need to change the password even if it is not forgotten. In the edit profile page, there should be a relevant option to allow change of account password by the user.

## Mocks
![passwordchange](https://user-images.githubusercontent.com/19872082/34793244-b196c056-f670-11e7-9acb-636a0c2e8c51.png)
]

## Definition of Done
- [ ] All of the required items are comp

[2018-01-10 20:23] #547 closed

[2018-01-10 20:47] kriti21 commented on #536
@manmeet0307 you can also try to not use vagrant and instead setup the development environment locally. That might provide ease to installing dependencies individually and according to your system requirements. Instructions for doing so are also given in the installation guidelines.

[2018-01-12 15:47] kriti21 commented on #478
flake8 is already added in requirements.txt
Only command for running it needs to be included in .travis.yml
Please correct me if I am wrong. @tapasweni-pathak

[2018-01-12 20:12] anjali-dhanuka commented on #137
@tapasweni-pathak @MeepyMay I think this has been done. I can see i18n in the templates.

[2018-01-13 15:55] #137 closed

[2018-01-14 10:29] #458 closed

[2018-01-16 19:52] anjali-dhanuka opened #550 "Error in sign up form and accessing volunteer field of admin view"
## Description
Programming Error at sign up view

## Mocks
![screenshot from 2018-01-16 22-50-43](https://user-images.githubusercontent.com/22369767/35008991-55b143de-fb24-11e7-837f-cfe953b3ec8a.png)

## Acceptance Criteria
To be done
- [x] Manually add city, state and country fields to volunteer_volunteer table

Steps:
Steps to resolve:
->\c database
->ALTER TABLE volunteer_volunteer ADD COLUMN c

[2018-01-17 06:06] kriti21 commented on #322
I have added the feature for setting timezones. Please consider my PR [#551](https://github.com/systers/vms/pull/551)

[2018-01-17 14:04] kriti21 commented on #542
@tapasweni-pathak @arunikayadav42 the development version of vms does not have the ABOUT page. This issue can be closed in that case.

[2018-01-17 14:08] anjali-dhanuka commented on #542
Yes @arunikayadav42 tepasweni pathak mentioned that integration of vms will be done with portal so there is no need of about page. I would also suggest closing the issue.

[2018-01-17 14:37] kriti21 opened #552 "List Sign Up view does not display all the events created by the admin"
## Description
I have created an admin account in the develop version of vms and some new events. When I sign in with user account, the list sign up view shows only some of the events created. It should display all the events created by any admin.

## Mocks
![vms_issue11](https://user-images.githubusercontent.com/19872082/35048053-ec7fc0ae-fbc1-11e7-85f9-2da97f2010f4.png)
![vms_issue12](https://us

[2018-01-18 14:24] kriti21 opened #554 "Add edit/view profile option for the admin"
There is option for the volunteer to view its profile as well as edit it. For the admin, no such option is available.

## Mocks
![vms_issue4](https://user-images.githubusercontent.com/19872082/35102517-2916fb82-fc89-11e7-997c-ac75c7cebdb5.png)
![vms_issue42](https://user-images.githubusercontent.com/19872082/35102541-36ffbc48-fc89-11e7-8341-08bf85bf9717.png)

## Acceptance Criteria
Admin user shou

[2018-01-18 14:31] kriti21 opened #555 "Upload updated resume field in edit profile form returns error."
## Mocks
![vms_issue3](https://user-images.githubusercontent.com/19872082/35102902-4afa55fe-fc8a-11e7-98ee-df7038760f81.png)

[2018-01-21 11:47] #542 closed

[2018-01-21 21:22] Astrophilic commented on #555
Hello @kriti21  !!! I would like to work on this issue ! if you could please assign me!!!
I have built the project on my local machine !!! and i tried generating the same output as above!!
but it appears different!!!
![chk](https://user-images.githubusercontent.com/25284819/35199103-0bc8a222-ff1f-11e7-854f-9ef743eb224a.png)

Please help me generate the real error so that i could work it out!!
Rega

[2018-01-22 04:04] anjali-dhanuka commented on #555
@Astrophilic  Login as an administrator
![screenshot from 2018-01-22 09-30-03](https://user-images.githubusercontent.com/22369767/35204842-d6a464ae-ff56-11e7-96f6-3093ef11ecdd.png)
Select any volunteer's profile
![screenshot from 2018-01-22 09-30-49](https://user-images.githubusercontent.com/22369767/35204856-035e6e4a-ff57-11e7-8331-7e3176bf484a.png)
Click on Edit profile option
![screenshot from

[2018-01-22 04:51] kriti21 commented on #555
@Astrophilic I hope you have generated the error using above process. There is no need for you to get assigned. Just go ahead with the work and submit pull request. :)

[2018-01-22 06:10] Astrophilic commented on #555
@anjali-dhanuka  my admin page doesn't show the option to edit volunteers' profile!
![edit](https://user-images.githubusercontent.com/25284819/35207385-ab5ad2b2-ff68-11e7-84a8-f5a07496fcfc.png)
I also verified that i had clonned the 'develop' branch.
![ed](https://user-images.githubusercontent.com/25284819/35207431-ffe00668-ff68-11e7-8c7a-705f10d97962.png)

[2018-01-22 06:15] anjali-dhanuka commented on #555
@astrophilic you need to create a volunteer account first then it will show u the volunteer in ur nav bar.

[2018-01-22 06:16] anjali-dhanuka commented on #555
https://user-images.githubusercontent.com/22369767/35204856-035e6e4a-ff57-11e7-8331-7e3176bf484a.png
You can then edit his profile

[2018-01-22 06:24] Astrophilic commented on #555
@anjali-dhanuka  I have created 2 volunteers and 1 admin , and when i search them using "volunteer search",
They appear!!!
here is the the snap
![anjj](https://user-images.githubusercontent.com/25284819/35207773-e11a9066-ff6a-11e7-8c23-c3b304a44b57.png)

[2018-01-22 06:30] Astrophilic commented on #555
@anjali-dhanuka  And when i switch to **Manage Volunteer Shifts** tab.
This list appears!
![f1](https://user-images.githubusercontent.com/25284819/35207956-b1c77558-ff6b-11e7-8aa7-46dcc85e7fd1.png)

[2018-01-22 07:18] Astrophilic commented on #555
@anjali-dhanuka  , it doesn't show !! i tiried syncing db! but it says there are no migrations to apply!!
What could possibly be the reason for this to happen??
Why is the tab not visible in my case!
I tried running this command
_python manage.py sqlall app_name_here_
with vms etc, is the usage of **sqlall app specific**?? Please do clarify!
and then syncing the db
Incongnito as well!
But the tab

[2018-01-22 07:21] anjali-dhanuka commented on #555
@astrophilic you can check in the admin panel if the objects are really created or not.

[2018-01-22 09:33] kriti21 commented on #555
@Astrophilic Please show the screenshot of window which appears when you are signed in as a volunteer along with the options that appear when you click on your name in the top right corner. All you need to do is create a volunteer account and try editing your profile. When you upload a file in the resume field, it shows this error.

[2018-01-22 09:54] anjali-dhanuka commented on #555
@Astrophilic may be your administrator does not have permissions to access the volunteers profile. You should check the permissions in your django admin panel.

[2018-01-22 10:01] kriti21 commented on #555
@Astrophilic @anjali-dhanuka I think you have misunderstood this a little. This thing does not require admin at all.

[2018-01-22 13:04] Astrophilic commented on #555
@kriti21  I did the steps you mentioned at the very beginning and it was a different error which was encountered ***"NameError "***
Here are the snaps!
snap 1 : here i edit after logging in as a volunteer.
![c1](https://user-images.githubusercontent.com/25284819/35222006-59a488d4-ffa2-11e7-8601-84c22a9dc2cf.png)
snap 2 : Here i upload a resume with extension .od
![c2](https://user-images.githubuse

[2018-01-22 13:22] kriti21 commented on #555
@Astrophilic I would suggest you to do some Google search for this error. Please try some solutions available on stackoverflow.com regarding this error. If nothing helps, you can always get back to us. ;)

[2018-01-22 13:36] anjali-dhanuka commented on #555
@Astrophilic u didn't get what I told you. I asked you to check in django admin panel
![screenshot from 2018-01-22 19-03-30](https://user-images.githubusercontent.com/22369767/35223356-15d1dcd8-ffa7-11e7-873b-c725ad5b6e49.png)
Then check if volunteers are shown here
![screenshot from 2018-01-22 19-04-17](https://user-images.githubusercontent.com/22369767/35223364-22b5db0c-ffa7-11e7-9c96-46d469635c

[2018-01-22 14:32] Astrophilic commented on #555
@anjali-dhanuka  Here is what i see !
![hre](https://user-images.githubusercontent.com/25284819/35224961-ef733ab8-ffac-11e7-87d6-1671d83fc284.png)
How can use create an admin??
first way : using the signup page
second way : using python manage.py createsuperuser
Do correct me wherever i go wrong because I 'm learning as i am doing!!
that's an obvious reason why i'm having so many issues :sweat_smi

[2018-01-22 14:55] anjali-dhanuka opened #557 "Migrate to python 3.6 and django 1.11"
## Description
As a user, I need to migrate the project to python 3.6 and django 1.11 from django 1.7.4 and python 2.7.12 so that I can make the code future proof.

## Acceptance Criteria
### Update [Required]
- [ ] Updation of code

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
4 hours

[2018-01-22 21:37] anjali-dhanuka commented on #555
@Astrophilic to learn you can refer https://docs.djangoproject.com/en/2.0/intro/tutorial01/  or
https://tutorial.djangogirls.org/en/  These will help you to get an idea of django.

[2018-01-23 07:06] Astrophilic commented on #555
@anjali-dhanuka what about the issue i mentioned above , regarding the weird behaviour of the admins.
and thanks for mentioning the links!

[2018-01-23 19:08] anjali-dhanuka commented on #555
@Astrophilic I also get the same error sometimes. I too don't know the reason. You can refer the mentor @tapasweni-pathak for this.

[2018-01-24 17:08] kriti21 commented on #557
This issue is already opened https://github.com/systers/vms/issues/457 @anjali-dhanuka and in fact you have made a PR too ;)

[2018-01-25 10:18] anjali-dhanuka commented on #557
@kriti21 that's django 2.0 this one is django 1.11

[2018-01-25 12:25] kriti21 commented on #557
Why django 1.11 ? Why not to django 2.0 directly? @anjali-dhanuka

[2018-01-25 13:33] anjali-dhanuka commented on #557
Django 2.0 compatible versions of python packages have not been relaxing
yet.

On Jan 25, 2018 5:55 PM, "Kriti Rohilla" <notifications@github.com> wrote:

[2018-01-26 08:25] anjali-dhanuka opened #561 "Error in editing profile of a volunteer"
## Description
get_volunteer_by_id needs to be imported from services file.

## Mocks
![screenshot from 2018-01-26 13-52-03](https://user-images.githubusercontent.com/22369767/35430935-7b2218a4-02a0-11e8-8e38-366d1fae4a7c.png)
![image](https://user-images.githubusercontent.com/22369767/35431457-91a8d958-02a2-11e8-99a6-c91d663ccf87.png)

## Definition of Done
- [ ] All of the required items are com

[2018-01-26 08:36] anjali-dhanuka opened #563 "Error in editing profile of a volunteer"
## Description
has_resume_file needs to be imported from services file.

## Mocks
![image](https://user-images.githubusercontent.com/22369767/35431326-fdb5fece-02a1-11e8-9839-738c351a7a79.png)

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

[2018-01-26 08:38] #563 closed

[2018-01-26 12:58] anjali-dhanuka commented on #305
@tapasweni-pathak You just need to create the directory srv/vms/resume in vms and change its permission by running sudo chmod -777 srv/ . It works perfectly fine then.
![screenshot from 2018-01-26 18-23-50](https://user-images.githubusercontent.com/22369767/35440700-8c84f924-02c6-11e8-801e-08ec70e15dd0.png)

[2018-01-26 18:57] kriti21 opened #565 "Restrict file type in Upload resume field in volunteer's profile form."
## Description
The upload_resume field in profile form accepts any kind of file. Restrict file uploads to those having extensions like .pdf, .doc, and .docx

[2018-01-26 19:12] anjali-dhanuka commented on #565
@kriti21  What file did you upload?

[2018-01-26 19:26] #565 closed

[2018-01-26 19:39] sammy1997 commented on #554
@kriti21 @tapasweni-pathak I am on this

[2018-01-26 19:42] kriti21 commented on #554
Sure. Go ahead @sammy1997  :+1:

[2018-01-26 20:20] sammy1997 commented on #554
![admin_profile_edit](https://user-images.githubusercontent.com/24635701/35458961-6703304c-0304-11e8-9406-15411212df34.png)

[2018-01-27 07:40] kriti21 commented on #554
Yes for now just the options filled by admin while signing in are sufficient for its profile. Any suggestions @tapasweni-pathak

[2018-01-27 17:38] anjali-dhanuka commented on #326
@tapasweni-pathak This one is done! It can be closed.

[2018-01-27 20:26] anjali-dhanuka commented on #299
@tapasweni-pathak This one has been implemented. We can close the issue.

[2018-01-27 21:57] anjali-dhanuka commented on #507
@tapasweni-pathak @tonythomas01 job id has been added in models. can we close this issue or is there anything more to work upon?

[2018-01-27 22:01] anjali-dhanuka commented on #350
@rituranjna @smarshy @tapasweni-pathak @tonythomas01 I have found that when we edit one of the start date or end date the other automatically gets removed. I have gone through the code and I have found that Datetimepicker jquery is used in both forms but I am unable to guess why is it working fine in create form. Can you guide me how to proceed?

[2018-01-27 22:05] anjali-dhanuka opened #567 "Non uniform behaviour after logging in"
## Description
As a user, I must find nav bar every time after log in so that I can use the app.

## Mocks
![jsxns](https://user-images.githubusercontent.com/22369767/35476798-3c6f52d8-03dc-11e8-88d9-7549eb479250.png)

## Acceptance Criteria
### Update [Required]
- [ ] Separate view for superuser

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

##

[2018-01-28 14:18] rohan033 commented on #567
This also occured to me. I think this happens when some one logs in as **django-admin** and not as volunteer or the VMS admin.

[2018-01-29 11:47] anjali-dhanuka commented on #567
No @rohan this occurs to both

[2018-01-29 14:02] rohan033 commented on #567
[https://github.com/systers/vms/blob/develop/vms/vms/templates/vms/base.html](url)
User authentication begins.
[code]
Checking if user is a **VMS admin**
[code]
Checking if user is a **VMS volunteer**
[code]
  **Nothing specified for users who are neither vms volunteer nor admin but authenticated.
    For Eg: Django Admin [ controlling the admin panel] created by the createsuperuser command
    an

[2018-01-30 10:50] anjali-dhanuka commented on #567
@rohan033 The django admin is not allowed to log in the vms. And this non-uniformity appers for both volunters and vms administrators.

[2018-01-31 03:57] sammy1997 opened #568 "TypeError in viewing Completed shifts for a new Volunteer"
Sing Up as a Volunteer
Try to view Completed Shifts.
Produces a TypeError. A NoneType object is being returned, and that exception hasn't been handled.

![shifts_error](https://user-images.githubusercontent.com/24635701/35604363-f55bb164-0667-11e8-9a66-7c4390f020d4.png)

## Acceptance Criteria
It should show a page similar to Upcoming Shifts, showing you
dont have any completed shift, instead of a

[2018-01-31 04:03] sammy1997 commented on #568
I tried to print the volunteer objects. And it wasn't None. I think the context is is returning null in shift/views.py in line 607. I am not sure though.

[2018-01-31 17:53] sammy1997 commented on #567
@anjali-dhanuka If we don't allow django-admin as a user for VMS, so to remove this non Uniformity, do you want to show an error page or message saying that you can't use VMS, and keep a logout button?

[2018-01-31 17:57] sammy1997 commented on #561
@anjali-dhanuka I am not able to reproduce this error. Can you tell me how you got this error?

[2018-01-31 20:37] rohan033 commented on #567
@sammy1997 I have kept a simple log out button with a proper message for my local development.

[2018-01-31 20:40] sammy1997 commented on #567
@rohan033 I think we should take advice from the mentors as to what they want first.

[2018-01-31 20:48] rohan033 commented on #567
@sammy1997 Yes, waiting for the mentors' review on it.

[2018-02-01 05:26] anjali-dhanuka commented on #567
@sammy@rohan the Django admin is not allowed to log in neither as a user nor as vms administrator. The Vms user i.e volunteer can't  log in as administrator and the Vms administrator can't log in as vms volunteer.

[2018-02-01 05:29] anjali-dhanuka commented on #567
@sammy@rohan the Django admin is not allowed to log in neither as a user nor as vms administrator. The Vms user i.e volunteer can't  log in as administrator and the Vms administrator can't log in as vms volunteer and log out button is already there so u don't need to add it.

[2018-02-01 05:30] anjali-dhanuka commented on #561
@sammy just select a volunteer and try editing his profile. You will get the errorm

[2018-02-01 06:35] sammy1997 commented on #561
@anjali-dhanuka I am not getting any such error. My edit is working fine.

[2018-02-01 06:38] sammy1997 commented on #567
@anjali-dhanuka what we want to say is lets say we login as a django-admin, we have to show something right? So what do we show? An error page? Or just a logout button for django-admin? Currently It shows nothing other than the Systers description. @anjali-dhanuka @tonythomas01 Please comment on what we shoud do?

[2018-02-01 07:53] kriti21 opened #569 "Remove extra white space from right hand side of the report template"
## Description
The template for creating report has extra white space on the right side due to which, on scrolling the form shifts towards the left and looks odd.

## Mocks
![vmsissue5](https://user-images.githubusercontent.com/19872082/35667232-e0ab8be0-0752-11e8-85a2-2b7edb94968d.png)

![vmsissue55](https://user-images.githubusercontent.com/19872082/35667239-ea591ce8-0752-11e8-8c3e-11931bdb425e.

[2018-02-01 08:06] anjali-dhanuka commented on #567
@sammy1997 I guess we should give the permissions of a vms administrator to django admin.

[2018-02-01 08:08] anjali-dhanuka commented on #561
@sammy1997 Have u pulled all the stuff? May be this error is arising due to some latest commits in the project.

[2018-02-01 10:20] sammy1997 commented on #569
@kriti21 I think we will just need to add overflow-x: hidden; to the body. @tapasweni-pathak @tonythomas01. Please review this.

[2018-02-01 10:20] sammy1997 commented on #568
@tonythomas01 Please review this

[2018-02-01 10:23] sammy1997 commented on #561
@anjali-dhanuka No. I didn't pull the code. I think its due to some recent merge. @tonythomas01 @tapasweni-pathak what should we do? I have completed the issue #554 . Pulling the code will introduce this error.

[2018-02-01 10:38] sammy1997 commented on #554
![screenshot from 2018-02-01 16-04-45](https://user-images.githubusercontent.com/24635701/35674194-d973819a-0769-11e8-91ed-e07ba598bbc1.png)
![screenshot from 2018-02-01 16-04-59](https://user-images.githubusercontent.com/24635701/35674195-d9c765f8-0769-11e8-881e-9dfa33650b5e.png)
![screenshot from 2018-02-01 16-05-05](https://user-images.githubusercontent.com/24635701/35674196-da797586-0769-11e8-

[2018-02-01 13:52] sammy1997 commented on #567
Ok. I am on this. @anjali-dhanuka @tapasweni-pathak @tonythomas01

[2018-02-01 13:56] sammy1997 commented on #561
I am on this @anjali-dhanuka @tonythomas01 @tapasweni-pathak

[2018-02-01 14:34] sammy1997 opened #572 "Jobs not shown while generating report as volunteer"
## Description
Login as a volunteer. Go to report. See the job list. It shows empty, even if job objects exist.

## Mocks

![jobs](https://user-images.githubusercontent.com/24635701/35683725-e38cb676-078a-11e8-8ee9-956d82143d62.png)
![no_jobs_shown](https://user-images.githubusercontent.com/24635701/35683727-e3e63c50-078a-11e8-98bc-f847479fa8b8.png)

## Acceptance Criteria
- [ ] If the above featu

[2018-02-01 14:35] sammy1997 commented on #572
@anjali-dhanuka Have a look too. While rendering the template a job_list is not being passed.

[2018-02-01 15:42] kriti21 commented on #502
@tapasweni-pathak @kamsuri Please review my PR above. Thanks :)

[2018-02-01 17:37] rohan033 commented on #568
![image](https://user-images.githubusercontent.com/17281037/35693446-4374c48e-07a4-11e8-8df8-134300fcdf2c.png)
Working fine. Please correct me @sammy1997 if I  am wrong.

[2018-02-01 19:22] rohan033 commented on #567
@anjali-dhanuka I have given the permissions of a vms admin to the django-admin [let's call it superuser].So should this super user needs to have other attributes of a vms admin like : email,address,country etc. i.e should it behave like an actual vms admin or just has permissions.

[2018-02-01 19:34] rohan033 commented on #552
@kriti21 The events which have no jobs/shifts are not shown to the volunteers by default. @tapasweni-pathak @tonythomas01 Please review this , if there is a need to show other events too.

[2018-02-02 06:50] tonythomas01 commented on #569
+1 LGTM

[2018-02-02 09:06] anjali-dhanuka opened #576 "Volunteer Sign up form does not count organisation provided by volunteer(not selected from list)"
## Description
As a user, I need the system to update its organization list by my unlisted organization so that the organization list can get updated.

## Mocks
![screenshot from 2018-02-02 14-31-42](https://user-images.githubusercontent.com/22369767/35725176-6e895400-0826-11e8-8a85-6047d4f66f48.png)
![screenshot from 2018-02-02 14-31-52](https://user-images.githubusercontent.com/22369767/35725189

[2018-02-02 09:13] anjali-dhanuka opened #577 "List of Organizations not showing in sign up form"
## Description
As a user, I need to see the list of organisations while sign up so that I can select one of them.

## Mocks
![screenshot from 2018-02-02 14-41-34](https://user-images.githubusercontent.com/22369767/35725419-5e160f68-0827-11e8-8c02-5a390ac2131a.png)

## Acceptance Criteria
### Update [Required]
- [ ] Restart the server

## Definition of Done
- [ ] All of the required items are compl

[2018-02-02 09:19] anjali-dhanuka opened #578 "No check on length of password in sign-up form"
## Description
As a user I must keep my password in some text limit so that the security can be improved.

## Mocks
![Uploading Screenshot from 2018-02-02 14-48-55.png…]()
![screenshot from 2018-02-02 14-47-55](https://user-images.githubusercontent.com/22369767/35725676-3897b128-0828-11e8-95d0-0e2bc6eb4234.png)

## Acceptance Criteria
### Update [Required]
- [ ] Implement min_length and max_length

[2018-02-02 09:23] anjali-dhanuka opened #579 "Add log out option for django admin"
## Description
Currently there is no way to log out once a django admin has logged in.

## Mocks
![image](https://user-images.githubusercontent.com/22369767/35725839-c6095eda-0828-11e8-93c1-7c574300dbb5.png)

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

[2018-02-02 10:22] kriti21 commented on #552
IMO all **upcoming** events should be displayed on the main page. This would help the volunteers to keep regular checks on the shifts/jobs for the events in which they might be interested. The system could display a proper message like - "Shifts/jobs for this event will soon be available" in the meantime. What do you suggest @tonythomas01 @tapasweni-pathak

[2018-02-02 15:15] rohan033 commented on #579
@anjali-dhanuka Just adding a logout button will do the job.No need of giving Django admin the privileges of VMS admin.? Referring issue #567.

[2018-02-02 16:42] kriti21 commented on #577
@anjali-dhanuka  Organizations can be added by admin only and once added they are shown in the list as well. Please sign in with admin account and create some organizations. They will appear when signing up after that.

[2018-02-02 17:31] anjali-dhanuka commented on #577
@kriti21 I added the organizations from Django admin but still they didn't appear

[2018-02-02 17:33] anjali-dhanuka commented on #579
@rohan033 I guess the permissions need to be decided by the mentors but at least adding a log out option is mandatory.

[2018-02-02 17:36] kriti21 opened #580 "List of organizations not displayed in volunteer profile edit form"
## Description
The list of available organizations should be displayed in the profile edit form for volunteers.

## Mocks
![issue8](https://user-images.githubusercontent.com/19872082/35746600-53823428-086d-11e8-8258-cb30ed4fb2e4.png)

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

[2018-02-02 18:10] kriti21 commented on #577
Not django admin.I meant the vms administrator @anjali-dhanuka

[2018-02-02 20:27] sammy1997 commented on #568
I am still getting the error. Even after pulling. Can you show the code for shift/views and volunteer/utils files. I think there is an error somewhere in these files.

[2018-02-02 20:32] sammy1997 commented on #577
@kriti21 I think @anjali-dhanuka means that if the Org model object exists( be it from django admin or from vms admin) it should show the orgs in the list right?

[2018-02-02 20:42] sammy1997 commented on #577
@anjali-dhanuka I see the org in the list. Here are the ss.
![orgs](https://user-images.githubusercontent.com/24635701/35753931-95603844-0887-11e8-8138-7ce9f1e8123b.png)
![sign_up](https://user-images.githubusercontent.com/24635701/35753933-95f429f0-0887-11e8-814d-a79c7719d827.png)

[2018-02-02 20:46] sammy1997 commented on #579
@rohan033 Please mention on the issues you are working on, that you are on it. Just drop a comment.

[2018-02-02 20:54] rohan033 commented on #577
Is this organization created by the VMS admin or Django admin? Because those created by Django admin are not being shown

[2018-02-02 20:59] rohan033 commented on #568
https://github.com/systers/vms/blob/develop/vms/shift/views.py
[code]

[2018-02-02 21:04] sammy1997 commented on #577
Yes. Its not showing for those added by django admin

[2018-02-02 21:04] sammy1997 commented on #577
Should we add that feature? In that case I am on it

[2018-02-02 21:18] rohan033 commented on #579
Sure. @sammy1997

[2018-02-02 21:20] rohan033 commented on #577
But these organisations added by the Django admin can be seen in the Organisations  http://127.0.0.1:8000/organization/list/ for the VMS admin.

[2018-02-02 21:23] rohan033 commented on #580
@kriti21 I also encountered the same problem.Would like to fix it.

[2018-02-02 22:37] anjali-dhanuka opened #581 "Volunteer's organization automatically set to None on editing profile"
## Description
As the volunteer clicks on edit profile, his organization is changed to None.

## Mocks
![screenshot from 2018-02-03 04-05-07](https://user-images.githubusercontent.com/22369767/35758035-e0e19442-0897-11e8-9aa3-b01ce96d1945.png)

![screenshot from 2018-02-03 04-04-53](https://user-images.githubusercontent.com/22369767/35757978-992f63ae-0897-11e8-8807-4c5e26ab8ff1.png)

## Definition

[2018-02-02 22:54] rohan033 commented on #580
@kriti21 Please review the PR.

[2018-02-02 22:58] rohan033 commented on #581
@anjali-dhanuka Please review the PR.Correct me if I am wrong.

[2018-02-02 23:13] rohan033 opened #583 "Non-listed Organisation not displayed properly."
## Description
Add a non-listed organisation in volunteer edit form keeping select organisation: None
After saving view the Organisation.
Type:UI Fix
Difficulty: Easy

## Mocks
Add/Update the organisation name in the non-listed organisation input box.

![image](https://user-images.githubusercontent.com/17281037/35758852-054cb0c4-089c-11e8-84a9-155198323ed4.png)

View **organisation** in profile.

[2018-02-03 03:52] kriti21 commented on #577
@anjali-dhanuka @sammy1997 @rohan033 Well in my case organizations do show up in volunteer as well as vms_admin sign up form. I added two organizations as django admin and two as vms admin. All four show up in the sign up form.

[2018-02-03 09:09] anjali-dhanuka commented on #581
@rohan033 I was just working on the issue #583 and eventually this one also got fixed.

[2018-02-03 09:11] anjali-dhanuka commented on #577
@kriti21 @tapasweni-pathak @tonythomas01  They are showing up properly now. Don't know what happened.
See
![screenshot from 2018-02-03 14-41-18](https://user-images.githubusercontent.com/22369767/35765741-4eb18ccc-08f0-11e8-85f8-ca1a1c1b0cbe.png)

[2018-02-03 09:22] rohan033 commented on #581
@anjali-dhanuka PR #584 and #582 seem similar.Can there be a problem while merging.?

[2018-02-03 09:24] sammy1997 commented on #577
@anjali-dhanuka @kriti21 In my case changing a single line of code did the job. But before that, it wasn't showing.

[2018-02-03 09:30] anjali-dhanuka opened #588 "Spelling errors in commented code"
## Description
There are spelling errors in commented code.

## Mocks
![screenshot from 2018-02-03 14-57-12](https://user-images.githubusercontent.com/22369767/35765848-bea725d0-08f2-11e8-9155-dc944304321c.png)

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

[2018-02-03 09:31] sammy1997 commented on #577
Ok...It's showing now. Even after i reverted the previous change. I think I have understood what happened. We are being able to see the list after starting the development server again. This is because we are using self object to reference the organisation objects. The lifetime of a self instance is as long as the server runs . Here is a link https://stackoverflow.com/questions/41234181/lifetime-a

[2018-02-03 09:55] anjali-dhanuka commented on #577
Yes I too think so @sammy1997

[2018-02-03 12:48] sammy1997 commented on #577
Yes. So we should close this one.

[2018-02-03 13:00] sammy1997 commented on #578
@anjali-dhanuka are you asking for a minimum length check?

[2018-02-03 13:19] anjali-dhanuka commented on #578
Yes @sammy and I am currently working on it too.

[2018-02-03 13:54] sammy1997 commented on #578
I have already implemented this feature @anjali-dhanuka . I am sending a PR.

[2018-02-03 13:57] anjali-dhanuka commented on #581
Yes you are right I need to change that. Thanks for notifying me. They are unncessary actually. But I don't think that there will be any issue in merging.

[2018-02-03 15:28] kriti21 commented on #577
I think this issue can be closed now @anjali-dhanuka

[2018-02-03 15:41] anjali-dhanuka commented on #577
I guess this should be kept here. If anyone else faces the same issue, he/she might get help from it.

[2018-02-03 17:24] kriti21 opened #591 "Remove all the files having spaces in the filename inside doc folder"
## Description
All the doc files have been renamed to include underscore instead of space in the filename. There are two copies of each such file now. The old ones should be deleted.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

[2018-02-04 04:38] sbansal3096 commented on #583
I would like to work on this issue.

[2018-02-04 05:03] anjali-dhanuka commented on #583
As you can see @sbansal3096 I have already submitted pull request for the issue.

[2018-02-04 05:20] sbansal3096 commented on #583
@anjali-dhanuka okay, thank you.

[2018-02-04 13:14] sbansal3096 commented on #576
Also the organizations provided by the volunteers and not in the list, are not added in the organization list that the admin can view and edit. These two issues seem to be related.

[2018-02-04 14:04] #569 closed

[2018-02-04 14:19] tapaswenipathak opened #593 "Add guidelines for volunteer reviewers"
Anyone on GitHub can review code. Super grateful and happy to have reviews for VMS. Currently VMS does not have rules/guidelines and other info if someone want to volunteer. It would be useful to add good to know points needed before approving a pull request, to make sure contributors don't get confused after receiving a approval that their change is not required/planned.

cc @systers/systers-vms

[2018-02-04 14:24] tapasweni-pathak commented on #555
Thanks for discussing the issue you'all! @Astrophilic please feel free to create a new issue for your finding.

@kriti21 do you still see this?

[2018-02-04 14:24] sbansal3096 opened #594 "List of Organization not displayed in Volunteer search form after pressing search button once"
## Description
In the volunteer search form of an admin account, list of organizations appear to be empty after pressing search button once.
## Mocks
Before pressing search button:
![screenshot from 2018-02-04 19-44-08](https://user-images.githubusercontent.com/25177636/35778475-acd055aa-09e4-11e8-8b5d-37f5134cc457.png)
After pressing search button:
![screenshot from 2018-02-04 19-44-35](https://u

[2018-02-04 14:39] kriti21 commented on #555
@tapasweni-pathak Yes I do see the OS error still. This error is related to permission/access. If I start my development server by `python manage.py runserver` this error occurs on uploading new resume but if do `sudo python manage.py runserver` then it does not show this error. This needs to corrected
And a separate issue for Name error has been already been opened.

[2018-02-04 15:14] anjali-dhanuka commented on #555
@kriti21 no, it has been resolved. You need to create a folder named srv and change its permissions. This is not an error. Resume files are kept in a folder and only sudo has access to it that you need to provide manually in your pc. Hope this helps.

[2018-02-04 17:05] sammy1997 commented on #594
I am on this

[2018-02-04 17:06] sbansal3096 commented on #594
@sammy1997  Sorry, but I actually solved it and was just going to make a pull request.

[2018-02-04 22:31] willingc commented on #593
Excellent idea. Thanks @tapasweni-pathak.

[2018-02-05 06:24] kriti21 commented on #555
@anjali-dhanuka that is fine at developer's end but not very ideal for any user of the website IMO. The process should be more automated and easier. What do you think ? This occurs even in the currently live version of vms.

[2018-02-05 06:56] kriti21 opened #598 "Add commit guidelines to Contribution_Guide"
## Description
The contribution guide contains information on making pull requests. However, a good pull request should also contain good commits that have a relevant shortlog, description(if needed) and issue reference. Also it should contain information about git branching and changing commit message using `amend`. This would be very helpful for newcomers in open source community.

## Definition

[2018-02-05 06:56] kriti21 commented on #598
I am working on this.

[2018-02-05 07:21] sammy1997 commented on #557
@anjali-dhanuka @tapasweni-pathak @tonythomas01 I think the previous PR to this issue failed CI and Codacy checks. I would like to work on this and send a new PR.

[2018-02-05 15:52] sammy1997 opened #599 "Add __str__ functions for all models to improve django-admin interface"
## Description
None of the models have __str__ functions written. This makes viewing the objects on django-admin, and also debugging more difficult.

## Mocks
![admin1](https://user-images.githubusercontent.com/24635701/35813745-621a0336-0aba-11e8-803a-3351182af254.png)
![admin2](https://user-images.githubusercontent.com/24635701/35813747-62b250c8-0aba-11e8-98d0-bc64c49e49e2.png)
![admin3](https:/

[2018-02-05 15:52] sammy1997 commented on #599
I would like to work on this.

[2018-02-05 16:01] sammy1997 commented on #599
@tonythomas01 Please review this.

[2018-02-06 09:27] sbansal3096 commented on #576
Is someone on this issue? I wanted to work on it.

[2018-02-06 10:11] rashmitpankhania commented on #599
Hello sir can i work on this issue?

[2018-02-06 10:14] rashmitpankhania commented on #599
we just want to show name with it right?

[2018-02-06 11:09] sammy1997 commented on #599
Yes @rashmitpankhania I want to show the names or relevant fields for model objects . But as you see I have already claimed this task. I will send a PR as soon as @tonythomas01 or @tapasweni-pathak  reviews this.

[2018-02-06 12:05] tonythomas01 commented on #599
I think this is a valid improvement, yes

[2018-02-06 12:11] sammy1997 commented on #599
Ok. I will send a PR then.

[2018-02-07 12:09] anjali-dhanuka opened #602 "Replace 'None' by placeholder in in resume upload field of volunteer sign up form"
## Description
Resume upload field in sign up form should have a placeholder

## Mocks
![image](https://user-images.githubusercontent.com/22369767/35915668-bf7d97bc-0c2d-11e8-8005-01f75491d3ac.png)
![image](https://user-images.githubusercontent.com/22369767/35915672-c56913b8-0c2d-11e8-97b0-85ef39319a7b.png)

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 m

[2018-02-08 16:12] kriti21 opened #605 "Improve the URLs for vms apps"
## Description
The URLs that appear for the apps in vms are very exposed. Information such as ids of volunteers, shifts etc are all visible making them very vulnerable for unauthorized changes. Some relevant text instead of ids would be better.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

[2018-02-08 16:13] kriti21 commented on #605
I am working on this.

[2018-02-10 08:09] kriti21 opened #607 "Allow event names to be repeated in the create event form"
## Description
The problem I see with unique names for events is that it is possible for a two or more organizations to organize same event viz Introduction to Python in more than one places/cities. In that case the dates may differ but jobs might be similar. As a solution we can add organization name in the create event form and allow events with same names differentiated by their unique id.

##

[2018-02-10 08:12] kriti21 opened #608 "Add option for entering organization name in the create event form"
## Description
Refer https://github.com/systers/vms/issues/607

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

[2018-02-10 08:14] kriti21 opened #609 "Report form should have option to enter organization name"
## Description
Refer https://github.com/systers/vms/issues/607 and https://github.com/systers/vms/issues/608

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

[2018-02-10 08:18] kriti21 opened #610 "Display name of corresponding organization for each event in the shift sign up form"
## Description
Refer https://github.com/systers/vms/issues/607 and https://github.com/systers/vms/issues/608

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

[2018-02-10 08:18] kriti21 commented on #607
I am working on this.

[2018-02-10 08:19] kriti21 commented on #610
I am working on this.

[2018-02-10 08:19] kriti21 commented on #609
I am working on this.

[2018-02-10 08:19] kriti21 commented on #608
I am working on this.

[2018-02-11 09:55] PrajwalM2212 opened #611 "Spelling error in README.md"
## Description

In README **speak peek** can be changed to **sneak peek**.

## Mocks
<img width="905" alt="screen shot 2018-02-11 at 3 14 52 pm" src="https://user-images.githubusercontent.com/30733262/36072083-45db088a-0f3f-11e8-9512-3022c188eb79.png">

## Acceptance Criteria
### Update [Required]
- [ ] README.md

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval

[2018-02-11 09:55] PrajwalM2212 commented on #611
I would like to work on this.

[2018-02-12 15:01] kriti21 commented on #608
@tapasweni-pathak @tonythomas01 I am facing some problem in updating database according to the changed models for issues i am working on. I have tried `python manage.py syncdb` and `python manage.py makemigrations` as well. The sql table using `python manage.py sqlall appname` displays the right changes but internally the added fields are no accessible like in templates or views. Please help with

[2018-02-12 15:06] tonythomas01 commented on #608
Can you paste some exact error messages shown ?

[2018-02-12 15:17] kriti21 commented on #608
This is what i get on adding an additional field organization name (foreign key) to the event model.
![error_db](https://user-images.githubusercontent.com/19872082/36103513-8360105a-1035-11e8-8358-5b3234331467.png)

![error_db2](https://user-images.githubusercontent.com/19872082/36103613-dd3ead98-1035-11e8-92a3-31306347f37e.png)

[2018-02-12 18:17] anjali-dhanuka commented on #608
@kriti21 You can try to manually add the column in the database table itself.
All you need to do is:
open the psql
1. \c vms
2. ALTER TABLE "Table name" ADD COLUMN "column name" VARCHAR DEFAULT 0;

[2018-02-12 23:06] rashmitpankhania opened #615 "vagrant is not working properly"
it gives below error when trying to 'vagrant up'

The box failed to unpackage properly. Please verify that the box
file you're trying to add is not corrupted and try again. The
output from attempting to unpackage (if any):

bsdtar: Error opening archive: Unrecognized archive format

and after trying to add manually it says no box installed with given url..

[2018-02-13 02:09] shreyateeza commented on #602
@anjali-dhanuka I want to work on this issue. Please assign it to me.

[2018-02-13 02:20] shreyateeza commented on #461
@tapasweni-pathak I want to work on this. Please assign this issue to me.

[2018-02-13 02:55] anjali-dhanuka commented on #602
As you can see I have already sent a pr for this so this one is done.

[2018-02-13 12:25] HargovindArora commented on #599
Hey @sammy1997 are you working on this? If no, can I proceed :-) ?

[2018-02-13 12:28] sammy1997 commented on #599
I have already sent out a PR for this issue. @HargovindArora

[2018-02-13 15:37] anjali-dhanuka opened #616 "Password should be asked to confirm in sign up form for volunteer and administrator"
## Description
As a User, I need to confirm my password, so I don't make a mistake

## Mocks
![screenshot from 2018-02-13 20-03-43](https://user-images.githubusercontent.com/22369767/36158240-dc2a0318-1101-11e8-8547-8412f254dcbf.png)

## Acceptance Criteria
### Update [Required]
- [x] adding a new field in form
- [x] Error handling in template

## Definition of Done
- [x] All of the required items

[2018-02-13 17:27] anjali-dhanuka opened #618 "Fix indentation and implement table cell padding in volunteer's profile view"
## Description
The elements of the profile view of the volunteer are not properly aligned, they need to be left aligned to the left of the table row.

## Mocks
![image](https://user-images.githubusercontent.com/22369767/36164082-4a44b4a6-1111-11e8-8990-6eb71f335463.png)

## Definition of Done
- [x] All of the required items are completed.
- [ ] Approval by 1 mentor.

[2018-02-13 18:13] Ayukha commented on #618
@anjali-dhanuka  Can i try?

[2018-02-13 18:45] anjali-dhanuka commented on #618
@Ayukha I am working on it.

[2018-02-13 18:56] Ayukha commented on #618
Cool !🤘 I'll look some other issue to work upon.

[2018-02-13 20:32] anjali-dhanuka commented on #161
@tapasweni-pathak It is not responsive in vertical direction. I would like to take up the issue.

[2018-02-14 07:00] HargovindArora commented on #615
@rashmitpankhania Please copy and google the exact error! And let us know if it helped! :)

[2018-02-14 07:13] rashmitpankhania commented on #615
Ok I will work on it.

On Feb 14, 2018 12:30 PM, "Hargovind Singh Arora" <notifications@github.com>
wrote:

@rashmitpankhania <https://github.com/rashmitpankhania> Please copy and
google the exact error! And let us know if it helped! :)

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/systers/vms/issues/615#issuecomment-36551

[2018-02-14 07:43] sbansal3096 opened #620 "Unlisted organizations added by volunteers to go into a suggestion list to admin"
## Description
In referene to issue #576
Unlisted organizations added by volunteers can be added in a suggestion list which can be reviewed by admin. He can then either approve or reject them, and on approving they should be added to main list of organizations.
This way we can avoid adding of different versions of same organizations, i.e. Microsoft, Microsoft India, Microsoft Spain(or multiple dep

[2018-02-14 07:45] anjali-dhanuka commented on #620
@sbansal3096 Which suggestion list are you talking about ?

[2018-02-14 07:45] sbansal3096 commented on #620
@MeepyMay Please review this.

[2018-02-14 07:47] sbansal3096 commented on #620
@anjali-dhanuka A new list can be shown to admin which contains all those unlisted organizations that are added by the volunteers. This new list is the one which I am referring to as suggestion list. This list can be shown in the "Organizations" page that appears in admin account.

[2018-02-14 08:47] sammy1997 commented on #578
@MeepyMay  @tonythomas01 @tapasweni-pathak Please review the PR for this issue

[2018-02-15 05:48] pranita-s commented on #461
@tapasweni-pathak I read about Sphinx, I understood its a document generator with varied themes available. vms/docs has many .md documents. Does this issue mean, all those documents need to be converted into Sphinx documentation with a certain theme ? Please help !

[2018-02-15 06:39] kriti21 commented on #608
But sql table has already been updated. Only the template rendering part in causing problem. @anjali-dhanuka

[2018-02-15 06:46] anjali-dhanuka commented on #608
No @kriti21 it is showing that the table columns do not exist which means that the DB has not been updated. Did u try this?

[2018-02-15 12:52] pranita-s commented on #454
Can the solution be based on HTML and Javascript ? (not using utilities such as django-cities)

[2018-02-15 14:32] anjali-dhanuka commented on #454
@pranita-s we will need to populate our db by cities, countries and states which will require python libraries so it can't just be done by mere HTML and javascript. Well, I have implemented this. You can see https://github.com/systers/vms/pull/545

[2018-02-15 16:02] pranita-s commented on #454
@anjali-dhanuka Thank you for the guidance. I will study details of #545 and work accordingly

[2018-02-15 17:13] anjali-dhanuka commented on #454
@pranita-s I wanted to tell you that I have already resolved the issue and created a pr for that too.

[2018-02-15 17:18] pranita-s commented on #454
Okay! Thanks for informing, I will work on another issue

[2018-02-15 19:16] Ayukha commented on #478
@tapasweni-pathak  Can i work on it ?

[2018-02-15 19:59] anjali-dhanuka opened #622 "Textbox for Unlisted organisation doesn't hide in edit profile form if an organisation is selected from given list"
## Description
As a [USER],
I need to hide the textbox for entering unlisted organisation if an organisation is selected from the given list,.

## Mocks
![Uploading Screenshot from 2018-02-14 10-50-25.png…]()

## Acceptance Criteria
### Update [Required]
- [ ] [Hide unlisted organisation textbox ]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

[2018-02-15 23:34] anjali-dhanuka opened #624 "Hide textbox for resume link if resume file is uploaded in sign up form"
## Description
As a user I need to hide resume textbox if resume file is uploaded in sign_up form so that resume can't be uploaded 2 times.

## Mocks
![image](https://user-images.githubusercontent.com/22369767/36635634-b4be614e-19de-11e8-90e1-3d4cba344563.png)

## Acceptance Criteria
### Update [Required]
- [x] [Hide textbox by javascript function]

## Definition of Done
- [ ] All of the required

[2018-02-15 23:34] anjali-dhanuka commented on #624
@tonythomas01 @tapasweni-pathak should we do this?

[2018-02-16 04:37] anjali-dhanuka commented on #478
@Ayukha as u can see @kriti21 has already made a pr. You should refer some other issue.

[2018-02-16 04:39] anjali-dhanuka commented on #620
@sbansal3096 You can discuss this on #vms channel . This can be included in ideas list for vms.

[2018-02-16 13:38] CodTan opened #626 "Small error in README.md"
## Description
The Administrative functionalities listed for points A. and B. have the same description. The description for B. should be "Administrator should be able to **view** volunteer contact information" instead of "Administrator should be able to **enter** volunteer contact information".

## Mocks
![systers issue](https://user-images.githubusercontent.com/22654939/36309863-33bf500a-134c-11

[2018-02-16 13:42] CodTan commented on #626
I can work on this issue.

[2018-02-17 06:19] pranita-s commented on #624
Can I work on this ?

[2018-02-17 06:48] sammy1997 commented on #622
I would like to work on this. @anjali-dhanuka @tonythomas01 @tapasweni-pathak

[2018-02-17 06:53] anjali-dhanuka commented on #624
@pranita-s I have already submitted a pr for this one.

[2018-02-17 06:53] anjali-dhanuka commented on #622
@sammy1997 I have already submitted a pr for this.

[2018-02-17 08:32] sammy1997 commented on #622
@anjali-dhanuka Ok :+1: . But as it was discussed in the open session @geekanamika had asked May about reporting issues, and we are supposed to wait for a mentor to review the Issue and then assign it according to Ccontribution guidelines . Right @MeepyMay @tonythomas01 ? :)

[2018-02-17 08:54] sammy1997 opened #627 "Unreachable statements in vms/utils.py"
## Description
The code vms/utils.py is scattered with unreachable return statements( statements that won't be executed in any case). The code could be cleaned up.
## Mocks
![screenshot from 2018-02-17 14-14-00](https://user-images.githubusercontent.com/24635701/36339510-b6c0d374-13ed-11e8-879e-6275a8de01a1.png)
![screenshot from 2018-02-17 14-14-05](https://user-images.githubusercontent.com/24635

[2018-02-17 08:59] sammy1997 commented on #627
I would like to work on this after reviewed by one mentor. @MeepyMay @tonythomas01 @tapasweni-pathak

[2018-02-17 12:13] #572 closed

[2018-02-17 12:14] #579 closed

[2018-02-17 12:16] #583 closed

[2018-02-17 12:28] tapasweni-pathak commented on #627
Sure, please go ahead, if you are able to find unreachable code.

[2018-02-17 12:45] tapasweni-pathak commented on #461
@prachi1210 yes, we would want to have a Sphinx documentation for all.

[2018-02-17 13:00] #507 closed

[2018-02-17 16:23] #588 closed

[2018-02-17 16:24] #591 closed

[2018-02-17 16:28] #594 closed

[2018-02-17 16:30] #580 closed

[2018-02-18 13:57] sammy1997 opened #629 "Check volunteer_id entered as a part of event/list_sign_up url"
## Description
As a user, login as admin, enter url as http://127.0.0.1:8000/event/list_sign_up/<any number>

## Mocks
![vms_issue](https://user-images.githubusercontent.com/24635701/36352591-38a5888c-14e1-11e8-98e1-645abaca4f74.png)
![vms_issue_2](https://user-images.githubusercontent.com/24635701/36352592-39733a48-14e1-11e8-8a06-963ec4ad2fd9.png)
![err2](https://user-images.githubusercontent.com

[2018-02-18 13:58] sammy1997 commented on #629
@tonythomas01 @tapasweni-pathak Please review this. I would like to work on this.

[2018-02-18 14:07] sammy1997 opened #630 "After one volunteer search, organisation list disappears"
## Description
As a user,
I need login as admin,
and search for a volunteer. Use the search feature. When we try to search again after that, the organisation list is no more shown.

## Mocks

![err_org](https://user-images.githubusercontent.com/24635701/36352696-d85d43d2-14e2-11e8-8439-57766f9837ba.png)
![err_org_2](https://user-images.githubusercontent.com/24635701/36352697-d8aa18e2-14e2-11e8-9e6

[2018-02-18 14:08] sammy1997 commented on #630
@tapasweni-pathak @tonythomas01 Please review this issue. I would like to work on this.

[2018-02-18 16:19] sammy1997 opened #631 "Error in editing organisation as administrator"
## Description
As a user,
I need login as admin, and go to edit organisation page and try to edit.

## Mocks
![err_org_edit](https://user-images.githubusercontent.com/24635701/36354114-5f28872a-14f5-11e8-97cd-481181b8d45f.png)
![error_org_2](https://user-images.githubusercontent.com/24635701/36354115-5f75bfa4-14f5-11e8-84a9-8434e9409842.png)

## Acceptance Criteria
### Update [Required]
- [ ] Erro

[2018-02-18 16:19] sammy1997 commented on #631
@tonythomas01 @tapasweni-pathak Please review this issue.

[2018-02-18 16:22] sammy1997 commented on #631
Here is the solution https://stackoverflow.com/questions/46701426/using-modelformmixin-without-the-fields-attribute-is-prohibited

The issue is here in the OrganizationUpdateView. using form_class = OrganizationForm solves the issue
![screenshot from 2018-02-18 21-50-43](https://user-images.githubusercontent.com/24635701/36354151-df505874-14f5-11e8-9e66-1dbaa099a79e.png)

[2018-02-18 19:15] Yagya-Chaudhary commented on #611
Can you guide me what has to be done?

[2018-02-18 19:17] PrajwalM2212 commented on #611
@Yagya-Chaudhary  I have already sent the pull request. . So nothing to be done here.

[2018-02-19 10:54] mohitkyadav opened #632 "Link not working in installation instructions."
## Description
As a contributor,
I need to install and run vms.

The link to [Install python-psycopg2 module](https://github.com/Nerdylicious/vms/wiki#install-python-psycopg2-module) is not working in https://github.com/systers/vms/blob/master/docs/Installation%20Guide.md#using-vagrant.

[2018-02-19 11:23] mohitkyadav commented on #631
@sammy1997 It's working for me.
![screenshot 96](https://user-images.githubusercontent.com/25580776/36375487-70c15ade-1595-11e8-83e2-aeda532cf43c.png)

[2018-02-19 11:45] mohitkyadav opened #633 "organizations_list variable scope issue"
## Description
As a user,
I want to search volunteers.
Initially the `organizations_list` variable is used in [line-233](https://github.com/systers/vms/blob/develop/vms/volunteer/views.py#L233), this leads to a [UnboundLocalError](https://docs.python.org/2/library/exceptions.html?highlight=unboundlocal#exceptions.UnboundLocalError) at l[ine-250](https://github.com/systers/vms/blob/develop/vms/volu

[2018-02-19 11:53] valerycodes commented on #632
To install the python-psycopg2 module, you just need to run ths command `sudo apt-get install python-psycopg2` in  terminal. you can also find it here https://github.com/systers/vms/blob/master/docs/Installation%20Guide.md#install-python-psycopg2-module
I don't think this should be opened as an issue

[2018-02-19 12:03] mohitkyadav commented on #632
@valerycodes I have no problem installing the python-psycopg2, the link given in the doc is not working. Don't you think that's an issue?

[2018-02-19 12:09] #632 closed

[2018-02-19 12:44] Ayukha opened #634 "About Link not Working."
Hyperlink to About Page is empty. @tapasweni-pathak

[2018-02-19 13:12] pranita-s commented on #631
@sammy1997 Its working for me too

[2018-02-19 14:26] valerycodes opened #635 "Internationalization and localization"
## Description
From first glance I noticed that the application renders content only in English. The goal of internationalization and localization is to allow a single Web application to offer its content in two or more languages and formats tailored to the audience.

[2018-02-19 16:05] anjali-dhanuka commented on #634
@Ayukha where did u find the hyperlink?

[2018-02-19 16:07] anjali-dhanuka commented on #635
@valeriecodes that has been implemented already. i18n has been used for the purpose.

[2018-02-19 16:13] anjali-dhanuka commented on #633
@mohitkyadav Can u please share some mock-ups of the error.

[2018-02-19 16:16] anjali-dhanuka commented on #631
@sammy1997 working for me too. I guess it's your local error, I would suggest you to close the issue.

[2018-02-19 16:35] anjali-dhanuka commented on #615
@rashmitpankhania I would suggest u to ask the problems you are facing during set up on slack rather than opening an issue.

[2018-02-19 17:22] valerycodes commented on #635
@anjali-dhanuka I can see that but how then do I render content in French rather than English?
FWIW I have tried localhost:8000/fr/ with no luck

[2018-02-19 18:01] sammy1997 commented on #631
@anjali-dhanuka @pranita-s @mohitkyadav Have you guys pulled the recent code ? Because technically I didn't touch the file, and I am using the local dev environment as per requirements.txt, so how is this possible? Can you guys pull the code and try one? Else can you post the organization/views.py code snapshot for UpdateVIew class like I have posted ?

[2018-02-19 18:02] sammy1997 commented on #633
@mohitkyadav Please share a SS of the error

[2018-02-19 23:54] mohitkyadav commented on #633
Unfortunately I couldn't take the screenshot, I remember the traceback
[code]
 the error appeared only first time, and I fixed that for local testing and when I removed my fix, and the `organizations_list` was initialized in memory so now it's not showing the error.
I don't think you need a screenshot for confirmation, you can tell by looking at the code.

[2018-02-20 08:16] sammy1997 commented on #635
@valerycodes Have a look at this. I guess thiss will help you understand i18n more.

http://www.marinamele.com/taskbuster-django-tutorial/internationalization-localization-languages-time-zones

[2018-02-20 08:37] valerycodes commented on #635
@sammy1997 i am not looking for tutorials how to, the question if Internationaliztion have been correctly implemented on the app, how then do I get the website to render content in ffrench bcuz I tried localhost:8000/fr/ and it didn't work

[2018-02-20 08:48] sammy1997 commented on #635
@anjali-dhanuka I think the project isn't correctly configured to use translation using i18n . Also @valerycodes as the language has been set to fr-fr, the url should have that and not fr . But even for that to work the urls should have been used with i18n_patterns.

[2018-02-20 08:49] sammy1997 commented on #635
Here is the result
![internationalization](https://user-images.githubusercontent.com/24635701/36414639-fc1974c8-1648-11e8-9c23-97be03be4983.png)

[2018-02-20 08:51] sammy1997 commented on #635
@tapasweni-pathak @tonythomas01 Can you please review this ? I think this is a valid problem.

If yes, @tapasweni-pathak @tonythomas01 @valeriecodes @anjali-dhanuka Can I work on this ?

[2018-02-20 08:54] sammy1997 commented on #633
Ok @mohitkyadav . But please wait for the issues to be verified by a mentor before sending PRs, as this was mentioned by @MeepyMay in one of the sessions, that it's against contribution guidelines. :) You can work on your fork and then send a PR later when the issue is verified. Right @MeepyMay ?

[2018-02-20 11:06] Ayukha commented on #634
I found it on the hosted site. When i tried to click on the About link. @anjali-dhanuka

[2018-02-20 13:39] anjali-dhanuka commented on #634
@ayukha can you share mockups. I can't find it.

[2018-02-21 12:14] Ayukha commented on #634
Sure. @anjali-dhanuka
![screenshot](https://user-images.githubusercontent.com/19167324/36479385-8a929b18-172e-11e8-9b38-2801ee0a7cb4.png)

On clicking the About link , it does'nt  redirects to anyother page.

[2018-02-21 21:36] Monal5031 commented on #633
@sammy1997 I think this is a valid issue, though it occurs only during the first setup but still it is considered a good practice to declare variables before initialize them.
Your views @MeepyMay ?

[2018-02-22 10:06] anjali-dhanuka commented on #635
@sammy1997 @tapasweni-pathak @tonythomas01 @valeriecodes The url patterns need to be mentioned like given here
https://djangobook.com/internationalization-url-patterns/

[2018-02-22 10:07] anjali-dhanuka commented on #634
@Ayukha Have u pulled all the code? Previously there was an about like but it was removed in https://github.com/systers/vms/pull/531

[2018-02-22 10:11] anjali-dhanuka commented on #633
@Monal5031 I'll suggest you to at least insert screenshots of the error while opening an issue in addition to detailed step by step explanation how to produce the error so that others can verify.

[2018-02-22 10:15] anjali-dhanuka commented on #631
@sammy1997 I have pulled all the recent code and it's working completely fine for me now too.

[2018-02-22 10:22] sammy1997 commented on #635
@anjali-dhanuka I have already worked out the solution, the ss above is from a working web app on my local host. :)

[2018-02-22 12:37] prachi1210 commented on #635
@sammy1997 can you raise a PR for the same? I cannot assign the issue to you without giving you collaborator access

[2018-02-22 16:29] Monal5031 commented on #633
@anjali-dhanuka I didn't open this issue, but I'm just supporting the validity of this issue.

[2018-02-23 13:54] pranita-s opened #637 "Attribute error : 'module' object has no attribute 'getmro'"
## Description
While running the command "python manage.py runserver" I encountered the error "Attribute error:module object has no attribute getmro". Please refer following screenshot:

![error_getmro](https://user-images.githubusercontent.com/14193989/36597401-069f4f34-18cf-11e8-9ffb-a00a215305f2.png)

Previously the command was running absolutely fine. I encountered this error suddenly. After s

[2018-02-23 15:03] anjali-dhanuka commented on #637
@pranita-s This error occurs due to version problems. Try recloning the project and reinstall python too. django-inspect might not help as it just provides inspection convenience. For more information refer https://stackoverflow.com/questions/38022587/attributeerror-module-object-has-no-attribute-getmro

[2018-02-23 15:05] pranita-s commented on #637
@anjali-dhanuka I was able to solve it by installing django-inspect.

[2018-02-23 15:11] anjali-dhanuka commented on #637
@pranita-s Did u try recloning and reinstalling and checking versions?

[2018-02-23 16:33] pranita-s commented on #637
@anjali-dhanuka I followed the same link when I encountered it. I recloned the project and tried again. Error persisted. Before reinstalling python, I gave django-inspect installation a try. It worked, the error was gone and project was running as before. I felt that instead of recloning the project and reinstalling python, django-inspect was a convenient solution.

[2018-02-24 14:57] #554 closed

[2018-02-24 15:07] #622 closed

[2018-02-24 15:27] #561 closed

[2018-02-24 20:21] MeepyMay commented on #635
I'm closing this issue. Please update with the issue template. Thanks!

[2018-02-24 20:21] #635 closed

[2018-02-24 20:21] MeepyMay commented on #634
I'm closing this issue. Please update with the issue template. Thanks!

[2018-02-24 20:21] #634 closed

[2018-02-24 20:22] MeepyMay commented on #633
I'm closing this issue. Please update with the issue template. Thanks!

[2018-02-24 20:22] #633 closed

[2018-02-24 20:22] MeepyMay commented on #620
I'm closing this issue. Please update with the issue template. Thanks!

[2018-02-24 20:24] MeepyMay commented on #618
I'm closing this issue. Please update with the issue template. It's missing a "Acceptance Criteria" field and needs the description in an Agile User Story format. Thanks!

[2018-02-24 20:24] #618 closed

[2018-02-24 20:24] MeepyMay commented on #615
I'm closing this issue. Please update with the issue template. Thanks!

[2018-02-24 20:24] #615 closed

[2018-02-24 20:25] MeepyMay commented on #610
I'm closing this issue. Please update with the issue template. It's missing a "Acceptance Criteria" field and needs the description in an Agile User Story format. Thanks!

[2018-02-24 20:25] #610 closed

[2018-02-24 20:26] MeepyMay commented on #609
I'm closing this issue. Please update with the issue template. It's missing a "Acceptance Criteria" field & "Estimation" and needs the description in an Agile User Story format. Thanks!

[2018-02-24 20:26] #609 closed

[2018-02-24 20:28] MeepyMay commented on #616
I'm closing this issue. Please update with the issue template. It's missing a "Acceptance Criteria" field, Estimation section, and needs the description in an Agile User Story format. Thanks!

i.e. As a User, I need to confirm my password, so I don't make a mistake.

[2018-02-24 20:29] MeepyMay commented on #624
Please include mocks, time estimation, and update description in an Agile User Story format. Thanks!

[2018-02-24 20:30] MeepyMay commented on #581
Please use the issue template.

[2018-02-24 20:30] #581 closed

[2018-02-24 20:31] MeepyMay commented on #578
Please use the issue template. We're missing Acceptance Criteria and Time Estimation.

[2018-02-24 20:31] MeepyMay commented on #577
Please use the issue template. We're missing Acceptance Criteria and Time Estimation.

[2018-02-24 20:31] MeepyMay commented on #576
Please use the issue template. We're missing Acceptance Criteria and Time Estimation.

[2018-02-24 20:31] MeepyMay commented on #567
Please use the issue template. We're missing Acceptance Criteria and Time Estimation.

[2018-02-24 20:32] MeepyMay commented on #557
Please use the issue template.

[2018-02-24 20:32] MeepyMay commented on #555
Please use the issue template.

[2018-02-24 20:32] #555 closed

[2018-02-24 20:32] MeepyMay commented on #552
Please use the issue template. We're missing Acceptance Criteria and Time Estimation.

[2018-02-24 20:32] #552 closed

[2018-02-24 20:33] MeepyMay commented on #568
This is almost a complete issue. Please add the headers. @sammy1997

[2018-02-24 20:34] MeepyMay commented on #512
Please use the issue template.

[2018-02-24 20:34] #512 closed

[2018-02-24 20:34] MeepyMay commented on #504
Please use the issue template.

[2018-02-24 20:34] #504 closed

[2018-02-24 20:34] MeepyMay commented on #505
Please use the issue template.

[2018-02-24 20:34] #505 closed

[2018-02-24 20:34] MeepyMay commented on #522
Please use the issue template.

[2018-02-24 20:35] MeepyMay commented on #532
Please use the issue template.

[2018-02-24 20:35] MeepyMay commented on #536
Please use the issue template.

[2018-02-24 20:35] #536 closed

[2018-02-24 20:35] MeepyMay commented on #500
Please use the issue template.

[2018-02-24 20:35] #500 closed

[2018-02-24 20:35] MeepyMay commented on #501
Please use the issue template.

[2018-02-24 20:35] #501 closed

[2018-02-24 20:35] MeepyMay commented on #502
Please use the issue template.

[2018-02-24 20:35] #502 closed

[2018-02-24 20:36] MeepyMay commented on #539
Please fill out the information in the template. Thanks!

[2018-02-24 20:36] #539 closed

[2018-02-24 20:36] MeepyMay commented on #543
Please fill out the information in the template. Thanks!

[2018-02-24 20:36] #543 closed

[2018-02-24 20:37] MeepyMay commented on #544
Missing time estimation. Please update this @anjali-dhanuka

[2018-02-24 20:37] MeepyMay commented on #550
Missing time estimation. Please update this @anjali-dhanuka

[2018-02-24 21:26] anjali-dhanuka commented on #550
Done @MeepyMay

[2018-02-24 21:27] anjali-dhanuka commented on #544
Done @MeepyMay

[2018-02-24 21:39] anjali-dhanuka commented on #532
Done @MeepyMay

[2018-02-24 21:48] anjali-dhanuka commented on #522
Done @MeepyMay

[2018-02-24 22:14] anjali-dhanuka commented on #616
@MeepyMay Its done.

[2018-02-24 22:18] anjali-dhanuka commented on #624
@MeepyMay Its done.

[2018-02-24 22:27] anjali-dhanuka commented on #618
@MeepyMay Done.

[2018-02-24 22:42] anjali-dhanuka commented on #581
@MeepyMay Done.

[2018-02-24 22:45] anjali-dhanuka commented on #578
Done @MeepyMay

[2018-02-24 22:47] anjali-dhanuka commented on #577
Done @MeepyMay

[2018-02-24 22:54] anjali-dhanuka commented on #576
@MeepyMay Done.

[2018-02-24 22:59] anjali-dhanuka commented on #567
@MeepyMay Done.

[2018-02-24 23:32] anjali-dhanuka commented on #557
@MeepyMay Done.

[2018-02-25 02:56] mohitkyadav commented on #633
@MeepyMay, updated with the issue template, take a look.

[2018-02-25 12:39] sammy1997 commented on #568
@MeepyMay Can you please explain what headers to add ? Thanks. :)

[2018-02-25 12:41] sammy1997 commented on #631
Ok. I am closing this issue @anjali-dhanuka @pranita-s @mohitkyadav @tapasweni-pathak . But I am still getting this error. Even after stashing and pulling all the code.

[2018-02-25 12:41] #631 closed

[2018-02-25 13:07] sammy1997 commented on #635
@valerycodes Can you please update this issue with the template ? Or can I  start this issue with the proper template ? @prachi1210 @MeepyMay @tapasweni-pathak

[2018-02-25 14:16] mohitkyadav commented on #330
@tapasweni-pathak I've a patch for this issue, should I proceed with a pull request?

[2018-02-26 08:26] sbansal3096 commented on #620
@MeepyMay  done, please reopen it.

[2018-03-01 16:58] abhishekarya286 opened #641 "Instalation Guide not opening from link in Readme.md"
## Description
As a new contributor, I need to build VMS on my machine.
In the installation section of the project's readme file, when I try to open the link for installation guide, I get the following error.

## Mocks
![image](https://user-images.githubusercontent.com/24565261/36852631-35d6cec2-1d92-11e8-9ce9-e320c3e309cb.png).

Error occurs in this part of README.md
[code]
## Acceptance Criteria

[2018-03-01 19:38] ramitsawhney27 commented on #641
I believe in the meantime, you can access the Installation Guide from vms/docs/Installation_Guide.md, it'll be helpful till the link is fixed.

[2018-03-02 10:12] abhishekarya286 commented on #641
@ramitsawhney27, that can be done.

[2018-03-02 23:30] sammy1997 opened #642 "Internationalization and localization"
## Description
As a user, we can try to use the two available languages English and French by doing localhost/fr-fr or /en-us. Both gives errors.
( I am reopening a closed issue with the correct template)
## Mocks
![translation](https://user-images.githubusercontent.com/24635701/36926791-8818ef7c-1e9f-11e8-87ad-9c69d865233f.png)

## Acceptance Criteria
- [ ] The internationalization and translatio

[2018-03-02 23:32] sammy1997 commented on #642
I have worked on this issue before (this was #635 ) . But it was closed due to wrong issue template. I am referencing the PR to this one. @Buddhiprabha @prachi1210 @tapasweni-pathak Please review this.

[2018-03-03 09:14] kamsuri opened #643 "Installation Guide link broken in Readme.md"
## Description
As a user, I am unable to access installation guide link in Readme.md. On clicking the existing link, It gives 404 error.

## Mocks
![image](https://user-images.githubusercontent.com/14004808/36932630-94e59064-1ef1-11e8-9cfd-c04dbce22058.png)

## Acceptance Criteria
### Correct the URL in Readme.md for Installation guide [Required]
- [ ] Update the existing URL with the vaild one.

[2018-03-03 09:16] #643 closed

[2018-03-03 09:17] kamsuri commented on #643
Sorry, it was opened earlier.
#641

[2018-03-03 10:30] ramitsawhney27 opened #644 "Standard regex based password checks"
## Description
As a user, we can add certain constraints on the passwords (Combination of numbers/alphabets, not all numbers etc). I don’t think it’s needed presently, but it would be needed as the system scales and it is a feature worth adding, simply implementable by regular expressions. The criteria is taken from Microsoft technet for setting strong passwords.

## Acceptance Criteria
### Update

[2018-03-03 10:37] abhishekarya286 opened #645 "Error in the address field in Volunteer Sign Up page"
## Description
As a user,
I need to sign-up as a volunteer and when I enter my house address in the address field, I get the error.

## Mocks
The following image shows the error

![image](https://user-images.githubusercontent.com/24565261/36933271-0e11261a-1efc-11e8-96ce-13359863b141.png)
FYI, this is my official house address. It is `House No. 1319, Sector-55`

The problem is with the use of peri

[2018-03-03 12:36] sammy1997 commented on #645
I would like to work on this.

[2018-03-03 12:38] abhi20161997 commented on #644
@ramitsawhney27  I would like to work on this issue.

[2018-03-03 15:45] abhishekarya286 commented on #645
Sure @sammy1997.

[2018-03-03 17:10] sammy1997 commented on #645
@abhishekarya286 Please review the PR.

[2018-03-03 22:23] sammy1997 opened #648 "Address is not visible in profile of administrator/volunteer"
## Description
As a user,
I need sign in as an admin/user,
and then view the profile. Address is not shown.

## Mocks
![ksdj](https://user-images.githubusercontent.com/24635701/36939903-efe7fb92-1f5e-11e8-833d-20abb325d692.png)

## Acceptance Criteria
- [ ] The address is being saved. It should be shown on the profile as well.

## Definition of Done
- [ ] All of the required items are completed.
-

[2018-03-03 22:26] sammy1997 commented on #648
@tapasweni-pathak @prachi1210 @kamsuri Please review this issue. I would like to work on this.

[2018-03-03 22:28] sammy1997 commented on #642
@kamsuri Please review this.

[2018-03-03 22:44] sammy1997 commented on #630
@kamsuri Please review this issue. I would like to work on this.

[2018-03-04 06:52] abhishekarya286 commented on #605
Hi @kriti21. Are you still working on this?

[2018-03-04 09:01] ramitsawhney27 commented on #630
Please go ahead and resolve this.

[2018-03-04 10:55] sammy1997 commented on #648
@ramitsawhney27 Based on our slack discussions, I am closing this issue. Thanks

[2018-03-04 10:55] #648 closed

[2018-03-04 10:59] sammy1997 commented on #461
@tapasweni-pathak @kamsuri Is this issue still open ? And are the Outreachy tagged issues now available or GSoC or open contributions ?

[2018-03-04 11:11] sammy1997 commented on #630
@ramitsawhney27 I am closing this issue wrt #594 . Thanks.

[2018-03-04 11:11] #630 closed

[2018-03-05 14:40] m-murad opened #651 "Previous dates available as Start and End dates of an event."
## Description
As an admin,
When I create an event I'm able to select previous dates as the Start and End date of the event. Even though the user is not able to finally create the event because an error message is shown. But I should not be able to select previous dates for the event.

## Mocks
![screen shot 2018-03-05 at 8 06 15 pm](https://user-images.githubusercontent.com/17262180/36980648-efa6

[2018-03-05 15:02] m-murad opened #652 "Organisation name not updated in signup form."
## Description
As an admin,
If I edit the Organisation name the name is not updated in the SignUp form for new volunteers.

## Mocks
![screen shot 2018-03-05 at 8 28 47 pm](https://user-images.githubusercontent.com/17262180/36981821-26b959bc-20b4-11e8-9c75-7f679dc37e8d.png)

![screen shot 2018-03-05 at 8 29 25 pm](https://user-images.githubusercontent.com/17262180/36981827-2aa37936-20b4-11e8-8a59-

[2018-03-05 20:47] anjali-dhanuka commented on #652
@m-murad It gets updated. You need to restart the server for that.

[2018-03-05 21:10] DipanshKhandelwal opened #653 "Wrong link in README"
## Description
As a user,
I need remove the wrong link to installation guide.

## Mocks
![aaaaaa](https://user-images.githubusercontent.com/24923974/36999784-39d8926e-20e7-11e8-8c75-440f6aaa6cf0.png)

## Acceptance Criteria
### Update [Required]
- [x] Change link from https://github.com/systers/vms/blob/develop/docs/Installation%20Guide.md to https://github.com/systers/vms/blob/develop/docs/Instal

[2018-03-05 21:26] DipanshKhandelwal commented on #653
Sorry !! Somebody else has already figured that out. #641

[2018-03-05 21:26] #653 closed

[2018-03-06 05:44] anjali-dhanuka commented on #651
@tapasweni-pathak @tonythomas01 @prachi1210 Please review pr #654

[2018-03-06 05:50] m-murad commented on #652
Don't you think restarting the servers to reflect small change doesn't make sense?
The changes should be shown instantaneous.
What do you think?

[2018-03-06 06:06] anjali-dhanuka opened #655 "The user must only be able to select dates that fall during the Event while creation of jobs"
## Description
As a user I must be able to select only those dates for a job that fall during the corrresponding event so that the user doesn't encounter the error at last.

## Mocks
![screenshot from 2018-03-06 11-35-01](https://user-images.githubusercontent.com/22369767/37016498-80c77fbe-2132-11e8-98af-22cb520477e0.png)

## Acceptance Criteria
### Update [Required]
- [ ] Set minimum date and max

[2018-03-06 06:07] anjali-dhanuka commented on #655
I want to work on the issue @abhishekarya286 @ramitsahwney @prachi1210 @tapasweni-pathak @tonythomas01.

[2018-03-06 12:26] abhishekarya286 commented on #655
Hi Anjali,
Please go ahead.

[2018-03-06 18:39] ikbalsingh commented on #637
@pranita-s  [This should help](https://stackoverflow.com/questions/33751859/django-wont-start-with-a-wierd-error-attributeerror-module-object-has-no-at#answer-38553511)

[2018-03-06 18:57] ikbalsingh commented on #607
@kriti21 Are you still working on this?

[2018-03-06 19:49] ikbalsingh commented on #484
Is this still open?
@swekshajha12  are you still working on this?

[2018-03-07 08:00] anjali-dhanuka commented on #608
@kriti21 areu still working on this?

[2018-03-07 17:49] sammy1997 commented on #652
I agree @m-murad . We had a big discussion on this here #577 . Do you think this will be a valid issue ? Then I can work on this issue. It's already open. @kamsuri @prachi1210 Views ?

[2018-03-07 17:55] m-murad commented on #652
I think this should be fixed. Let's see what others think.

[2018-03-07 18:17] sammy1997 opened #656 "Once signup successfully, the user should automatically be logged in."
## Description
As a user, I need to signup. After a successful sign up I am redirected to main page. I should rather be logged in, like in most of the sites( as we don't have verification of mail as a step).
.

## Mocks
![x](https://user-images.githubusercontent.com/24635701/37109891-62c06a8c-2261-11e8-98e0-17d9ef223d6d.png)
![sign_up](https://user-images.githubusercontent.com/24635701/37110007-b7

[2018-03-07 18:18] sammy1997 commented on #656
@prachi1210 @kamsuri @MeepyMay @tapasweni-pathak Please review this issue. I would like to work on this .

[2018-03-07 19:12] abhishekarya286 commented on #656
Hi @sammy1997, even I was thinking about this functionality a day ago. Go ahead with this. Any comments on this, @prachi1210?

[2018-03-07 19:13] abhishekarya286 commented on #656
Also, please remove the "tag" part from the issue template. Otherwise, this issue won't be valid. Try to follow the guidelines. The concerned person will add the required labels.

[2018-03-08 10:01] anjali-dhanuka commented on #608
@abhishekarya286 @ramitsahwney @tapasweni-pathak @kriti21 @tonythomas01 @murad @prachi1210 I don't think that the organisation name has to be entered while creation of an event. While creation of the event, no volunteer is assigned that so which organisation will the administrator enter. Ater all, the events are of systers.

[2018-03-08 16:14] sammy1997 commented on #656
Done @abhishekarya286 .

[2018-03-08 16:15] sammy1997 commented on #656
@prachi1210 @kamsuri @tapasweni-pathak Please review this . I may start working on this then.

[2018-03-08 18:58] ramitsawhney27 commented on #656
I don’t see much of a point in this, as we would incorporate the functionality of email verification at some point(needed as we scale). In that case this addition is only a one time operation per user, and is obsolete if we include the verification feature.

[2018-03-08 19:09] ramitsawhney27 commented on #608
@anjali-dhanuka, yes, you’re right. The problem would still persist if we used the organisation name, however the issue is valid and can be better solved by adding an attribute such as organisation branch which can separate an event with the same name by the same organisation in 2 different cities/locations as they would be organised by different branches. An even better solution would be to simpl

[2018-03-08 19:26] abhishekarya286 commented on #608
Agree with Ramit.

[2018-03-09 11:57] abhishekarya286 commented on #656
@sammy1997, I think Ramit is right in this regard. We don't need this functionality because as soon as #534 is merged, this will become obsolete as @ramitsawhney27 pointed out.

[2018-03-09 14:14] sammy1997 commented on #656
Ok I am closing this issue in that case

[2018-03-09 14:14] #656 closed

[2018-03-09 14:16] sammy1997 commented on #652
Is this valid @prachi1210 @kamsuri ? I would like to work on this if so.

[2018-03-09 15:06] ramitsawhney27 opened #657 "Primary key for Events"
## Description
As a user
I need to include the internal incorporation of a field to the event form that can act as a primary key, say an event id,
so that I  can separate an event with the same name by the same organisation in 2 different cities/locations as they would be organised by different branches. An even better solution would be to simply include an event id and add that to the key for the

[2018-03-09 15:06] anjali-dhanuka commented on #657
@ramitsawhney27 I would like to work upon this.

[2018-03-09 15:07] ramitsawhney27 commented on #657
Sure, please go ahead.

[2018-03-09 18:30] abhishekarya286 commented on #652
Seems to me an issue. It should automatically update organizations without running the server again.

[2018-03-10 09:04] anjali-dhanuka commented on #652
@abhishekarya286 I too think so.

[2018-03-10 15:44] #641 closed

[2018-03-10 15:47] #645 closed

[2018-03-10 15:49] #651 closed

[2018-03-10 16:00] #330 closed

[2018-03-11 12:01] abhishekarya286 commented on #642
@sammy1997, please correct the typo from "to user" to "to use" in the issue template.

[2018-03-11 12:14] sammy1997 commented on #642
@Buddhiprabha @prachi1210 @tapasweni-pathak Please review this

[2018-03-11 12:14] sammy1997 commented on #642
Done @abhishekarya286

[2018-03-11 14:05] sammy1997 commented on #652
Can I work on this ? @m-murad @abhishekarya286 @anjali-dhanuka . I was interested in doing this before in #577 but then a discussion followed after which we thought to just keep the issue open.

[2018-03-11 14:23] abhishekarya286 commented on #652
Cool, you may work on this.

[2018-03-12 07:32] #627 closed

[2018-03-12 07:36] #642 closed

[2018-03-12 11:19] sammy1997 commented on #652
Ok. On it @abhishekarya286 . Thanks.

[2018-03-12 14:44] #599 closed

[2018-03-13 05:24] Pranavya commented on #461
Is this issue need to be completed yet? @tapasweni-pathak

[2018-03-13 09:39] abhishekarya286 opened #658 "Confirmation of reports generated by volunteers"
## Description
As a volunteer, I need to log my shift hours and create a report that needs to be confirmed by the admins. For now, we don't confirm the submitted reports.
So, basically, there is a need to create a **confirm report** functionality for the admins. This report should then be visible to all the admins as an unconfirmed report. Now, as soon as this report is confirmed by at least one o

[2018-03-13 09:39] abhishekarya286 commented on #658
@prachi1210 @may. Please review.

[2018-03-13 14:55] rohan033 opened #659 "Error in showing upcoming shifts/events."
## Description
Only the upcoming shifts [shift's date-time >= current date-time] should be shown. Currently, older(expired) shifts are also being shown.Similarly, in shift sign up page expired events can be removed from the display list.
## Mocks
**before**. The first shift in the upcoming shifts is invalid as it has been expired [check the date-time].
![before](https://user-images.githubuserconte

[2018-03-13 14:58] rohan033 commented on #659
I would like to work on this issue.  @abhishekarya286 @tonythomas01 @tapasweni-pathak Please review this.

[2018-03-13 18:05] abhishekarya286 commented on #659
Cool. Go ahead.

[2018-03-14 15:01] rohan033 commented on #659
@abhishekarya286 Should we also keep "previous events/shifts" table under the current shift table so that volunteers can see which events have happened earlier?

[2018-03-14 17:46] abhishekarya286 commented on #659
I think it will be better but first discuss it on slack before coding.

[2018-03-15 10:40] ayushgarg1804 commented on #611
This typo has been fixed 2 months back in commit https://github.com/systers/vms/commit/7755e64e244e9f6e4a5c87d74269b011df8baa06

[2018-03-15 14:41] ayushgarg1804 opened #660 "Check for existing phone numbers and emails"
## Description
While making an account, the server should check for existing phone numbers and emails to avoid multiple profiles for the same user.

## Acceptance Criteria
### Update [Required]
- [ ] [Check for existing phone numbers]
- [ ] [Check for existing email id]
### Enhancement to Update [Optional]
- [ ] [LIST ITEMS]

## Definition of Done
- [ ] All of the required items are completed.
- [

[2018-03-16 04:24] Monal5031 opened #661 "Pin python version to 2.7 in guides"
## Description
Currently the requirements file pins the django version to 1.7.4 but according to https://docs.djangoproject.com/en/dev/releases/1.7/ , django1.7 doesn't support python version < 2.7, thus the installation guides needs to be updated specifying the use of python2.7 and not 2.5 or 2.6

## Mocks
![screenshot from 2018-03-16 09-46-34](https://user-images.githubusercontent.com/21009189/3

[2018-03-16 04:39] Monal5031 commented on #478
@tapasweni-pathak Can I please work on this issue, the latest commit or comment on the PR made by @kriti21 was of Jan 15.

[2018-03-16 05:15] Monal5031 commented on #661
@MeepyMay @prachi1210 Please review this issue.

[2018-03-16 05:19] Monal5031 opened #662 "Missing favicon"
## Description
The development as well as the live version of the vms website doesn't have a favicon.

## Mocks
![fav](https://user-images.githubusercontent.com/21009189/37538918-27bd4982-2978-11e8-9b0d-4dee01d06057.png)
![favicon_added](https://user-images.githubusercontent.com/21009189/37538922-2aafabda-2978-11e8-8818-83d29b90d637.png)

## Acceptance Criteria
### Update
- [ ] Add favicon to vms

[2018-03-16 05:30] sammy1997 commented on #662
If verified, can I work on this?

[2018-03-16 05:32] Monal5031 commented on #662
@sammy1997 I'm waiting for @MeepyMay @prachi1210 to verify this issue otherwise I'd sent the PR already.

[2018-03-16 18:47] ramitsawhney27 commented on #662
Looks like a valid enhancement, please go ahead.

[2018-03-19 02:03] tapasweni-pathak commented on #550
If you port cities_light this would work. Let us know if it doesn't work.

[2018-03-19 02:03] #550 closed

[2018-03-19 02:36] #607 closed

[2018-03-19 02:37] #637 closed

[2018-03-19 16:08] #611 closed

[2018-03-28 14:02] #568 closed

[2018-03-28 14:04] sammy1997 commented on #652
@m-murad @abhishekarya286 I was unable to work on this as I was working on my proposal. I will pick up on this and send a PR in a day or 2. Thanks.

[2018-04-01 06:00] ShubhamBansal1997 commented on #660
@ayushgarg1804 I want to work on this issue.

[2018-04-03 20:48] anjali-dhanuka commented on #660
@ayushgarg1804 The check on email is already present.

[2018-04-04 03:26] ayushgarg1804 commented on #660
@anjali-dhanuka , Okay let me be more clear. Suppose email id is like abc@g.com and I use the same as abc+1@g.com , the system will accept this. However both of these redirect to the same email id.

@ShubhamBansal1997 sure go ahead.

[2018-04-04 11:41] anjali-dhanuka commented on #605
@abhishekarya286 I wanted to work on this issue.

[2018-04-04 14:32] tonythomas01 commented on #605
Which URLs are we talking about ? General requests with id is not a problem - as the access to information for this id is restricted.

POST should deal with formdata, API payloads etc which do not make sense to be sent as query params.

[2018-04-04 14:46] anjali-dhanuka commented on #605
Yeah @tonythomas01 I was talking about the same.

[2018-04-05 13:45] sammy1997 commented on #661
@Monal5031 I think we should aim at going higher with the versions. So we might pin Python to 2.7, but going down with the Django version is certainly not wanted. @m-murad @tapasweni-pathak @prachi1210 Views on this?

[2018-04-05 13:48] sammy1997 commented on #660
@ShubhamBansal1997 Are you still working on this? @ayushgarg1804 Is anyone working on this currently? If not I would like to work on this.

[2018-04-05 15:55] Monal5031 commented on #661
@sammy1997 Yes I think the same; we shouldn't use lower versions. I researched the code a little and found that our travis builds run on python2.7 thus this issue should be changed to `Update installation guide to specify to use python version 2.7`
@m-murad @tapasweni-pathak @prachi1210 Please check if its valid issue; if thats the case I'd like to send a PR 😄

[2018-04-05 16:28] ayushgarg1804 commented on #660
@sammy1997 lets wait for @ShubhamBansal1997 's reply for 2 more days. If he doesn't reply or is not working, you go ahead :)

[2018-04-07 08:26] manmeet0307 opened #667 "Update Docker Setup Wiki"
## Description
As a contributor,
I need to set up my environment for the project using docker,
so that I can contribute to project.
I faced issue :Unable to find image 'vms:latest' locally

## Mocks
![image](https://user-images.githubusercontent.com/32425680/38452882-7b83fe00-3a6a-11e8-86ca-ecfd27219142.png)

## Acceptance Criteria
### Update [Required]
To Change docs for vms 6th step
from Run doc

[2018-04-07 09:00] m-murad commented on #667
@manmeet0307 Do you want to fix this?

[2018-04-07 15:58] ShubhamBansal1997 commented on #660
@sammy1997 @ayushgarg1804 I little confused about the Description of the issue, make it little more clear.

[2018-04-09 05:55] sammy1997 commented on #660
@ShubhamBansal1997 I think you need to check for email ids which are lexically different but will direct to the same mail. For example, som.buddha@gmail.com and sombuddha@gmail.com are the same email accounts, but if we do a  string1.equals(string2) check it will return false. Right @ayushgarg1804?

[2018-04-09 09:08] sammy1997 commented on #457
This issue conflicts with #557 . @tapasweni-pathak @tonythomas01 @prachi1210 @m-murad

[2018-04-09 10:04] anjali-dhanuka commented on #457
@sammy1997 The issue corresponds to Django 1.11 and the other one 2.0. So how do u feel that they are causing conflicts?

[2018-04-09 10:08] sammy1997 commented on #457
@anjali-dhanuka What I mean is, we shouldn't have 2 issues aiming at 2 django versions. What we can do is, close this and open it later. Maybe the mentors can add an open later tag as well.

[2018-04-09 10:14] anjali-dhanuka commented on #457
Yeah we can do that. It may be opened after django 2.0 version gets released. But u can't say that they are conflicting issues. We can always port to Django 2.0 even after we port to Django 1.11.

[2018-04-09 12:50] ayushgarg1804 commented on #660
I'll continue with @sammy1997's explanation, also emails can be manipulated with + too like in the example I gave before. Also there needs to be a check if phone number already exists or not.

[2018-04-12 17:26] #577 closed

[2018-04-16 14:07] sammy1997 commented on #660
@ShubhamBansal1997  Has there been any progress on this? Are you working on it still? @ayushgarg1804 Is this issue open?

[2018-04-16 14:51] ShubhamBansal1997 commented on #660
@sammy1997 Django doesn't allow duplicate emails in the user tables, so why do we need this feature, if its already present in the framework.

[2018-04-16 17:04] ayushgarg1804 commented on #660
As I and @sammy1997 said

Django doesn't check for these cases. Also phone numbers is another task

[2018-04-16 18:48] ShubhamBansal1997 commented on #660
@ayushgarg1804 @sammy1997
https://github.com/systers/vms/blob/10af630cad1299c76d00882f850b517f495217fa/vms/registration/views.py#L135

from volunteer.models import Volunteer
if(Volunteer.objects.filter(email=request.POST.get('vol-email')).count()>0){
   raise ValidationError(u'%s already registered' % request.POST.get('vol-email'))
}
Does this solve the issue?,
 ##donot consider indentation and im

[2018-04-16 23:18] Fenn-CS commented on #660
@ShubhamBansal1997  @sammy1997  I am not sure Django does a non-lexical comparison! An example like the one Sammy gave would not be caught by Django... If its not allowed for someone to own two accounts under any circumstance (two+ emails) then I think the issue is still valid.

[2018-04-18 04:06] anjali-dhanuka opened #669 "Client side validation for forms"
## Description
As a user, I need client side validation along with server side validation for forms so that I can give a more instant response to the user and make the process more user-friendly.

## Mocks
![image](https://user-images.githubusercontent.com/22369767/38911292-c18ac4cc-42eb-11e8-9bcf-d0b1e68aa818.png)

## Acceptance Criteria
- [ ] Built in form validation
- [ ] Additional validations

[2018-04-18 04:07] anjali-dhanuka commented on #669
@tapasweni-pathak @m-murad @abhishekarya286 @ramitsahwney27 @prachi1210 @kamsuri @sammy1997  Please review the issue.

[2018-04-18 04:23] anjali-dhanuka opened #670 "Tests for administrator profile view"
## Description
As a User, I need to add tests for administrator profile view, so that I can increase the code coverage.

## Mocks
![image](https://user-images.githubusercontent.com/22369767/38911635-4c85685a-42ee-11e8-955c-a8338433c8f0.png)

## Acceptance Criteria
- [ ] Tests for administrator profile view

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 me

[2018-04-18 04:25] anjali-dhanuka commented on #670
@tapasweni-pathak @m-murad @abhishekarya286 @ramitsahwney27 @prachi1210 @kamsuri @sammy1997 @tonythomas01 Please review the issue.

[2018-04-18 04:32] anjali-dhanuka opened #671 "Tests for link navigation"
## Description
As a User, I need to add tests for link navigation, so that I can increase the code coverage.

## Acceptance Criteria
- [ ] Tests for link navigation

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
4 hours

[2018-04-18 04:33] anjali-dhanuka commented on #671
@tapasweni-pathak @m-murad @abhishekarya286 @ramitsahwney27 @prachi1210 @kamsuri @sammy1997 @tonythomas01 Please review the issue.

[2018-04-18 06:49] ayushgarg1804 commented on #660
As @sammy1997 @Fenn-CS said, Django doesn't do a non-lexical comparison. Please go through previous comments for further details.

[2018-04-18 11:24] anjali-dhanuka commented on #671
@ayushgarg

[2018-04-18 11:25] anjali-dhanuka commented on #670
@ayushgarg You too please review the issue.

[2018-04-19 03:11] #667 closed

[2018-04-19 18:40] #602 closed

[2018-04-19 18:45] MeepyMay commented on #598
Not a valid issue. Closing.

@kriti21 We created Systers Open Source standard contributing guidelines. We've had meetings/discussions about how to add Project Specific/Repo Specific guidelines, but we haven't completed the Project Specific template yet.

[2018-04-19 18:45] #598 closed

[2018-04-19 18:47] MeepyMay commented on #379
PR Merged. Closing Issues.

[2018-04-19 18:47] #379 closed

[2018-04-19 18:47] MeepyMay commented on #326
PR Merged. Closing Issue.

[2018-04-19 18:47] #326 closed

[2018-04-20 00:09] ExactlyMay opened #672 "Wiki Sidebar Update"
## Description
As a newcomer,
I need to navigate the repo successfully,
so that I can understand where the project is in its development.

## Mocks
![screen shot 2018-04-19 at 3 47 20 pm](https://user-images.githubusercontent.com/2440938/39014663-06dcb230-43e9-11e8-997c-96a89b7c55e8.png)

## Acceptance Criteria
### Update [Required]
- [ ] Update to [the template](https://docs.google.com/document/d

[2018-04-20 04:35] Monal5031 commented on #661
ping @MeepyMay @prachi1210 @m-murad @tapasweni-pathak  please review this issue.

[2018-04-20 04:49] #662 closed

[2018-04-20 09:51] kamsuri commented on #671
@anjali-dhanuka It would be better if you explain it in a bit detailed manner or you can put 2 screenshots showing the link and the target page, just for an example of link navigation. Also, do mention the present code coverage and in you PR, mention the updated one. Update the issue and you can start working on this afterwards.

[2018-04-20 09:56] kamsuri commented on #671
Also, in acceptance criteria add a point that code coverage gets increased which is main motive of the issue. And update the other one to passing/correct(or find some other appropriate word :P) tests.

[2018-04-20 10:04] kamsuri commented on #670
I'm not really sure if this is required. @ayushgarg & @abhishekarya286 can you provide your suggestions.

[2018-04-20 11:03] anjali-dhanuka commented on #670
@kamsuri The administrator profile feature was added recently, thus there are no tests written for the same.

[2018-04-20 16:12] sammy1997 commented on #670
@anjali-dhanuka I don't think we need test as profile view will just render the data to html, and that woudn't hamper the coverage. I think test for editing can be added though. Views @kamsuri @ayushgarg @abhishekarya286 @m-murad ?

[2018-04-20 16:12] sammy1997 commented on #670
@anjali-dhanuka I don't think we need test as profile view will just render the data to html, and that woudn't hamper the coverage. I think test for editing can be added though. Views @kamsuri @ayushgarg @abhishekarya286 @m-murad ?

[2018-04-20 16:29] m-murad commented on #669
We should have client-side validation in addition to backend validation.
Backend validation will be later used by Android or iOS clients.

[2018-04-21 08:49] kamsuri commented on #669
It will be a good enhancement. Go ahead and submit a PR for the same.

[2018-04-22 04:35] adi44 commented on #672
I would like to work on this issue

[2018-04-22 04:35] adi44 commented on #672
can I be assigned this issue

[2018-05-03 19:01] naman1901 commented on #671
Has this been assigned to anyone? If not, @monal5031 can look into it as he's going to be writing tests for GSoC.

[2018-05-03 19:16] Monal5031 commented on #671
Yes, this can be added in my project goals.

[2018-05-03 19:27] Monal5031 commented on #457
@ayushgarg1804 We didn't discuss much, I asked @naman1901 if this could be a part of my GSoC project (Infra and automation) as an stretch goal. But he suggested that I should discuss it with admins first about this.
But as you pointed out as this is a part of @anjali-dhanuka 's proposal so I guess this can't be added in my goals, but I'm really willing to help in this if you want my help :smile:

[2018-05-09 03:03] anjali-dhanuka commented on #457
@ayushgarg1804 It is a part of my stretch goals in the proposal and we discussed that if the django-braces too gets released till the end of gsoc period, we can work on it as cities-light has already been relaesed.

[2018-05-09 03:07] anjali-dhanuka commented on #670
@Monal5031 @naman1901 I was suggesting writing a test_administratorProfile.py and writing it on the same lines as the https://github.com/systers/vms/blob/develop/vms/volunteer/tests/test_volunteerProfile.py

[2018-05-09 03:11] anjali-dhanuka commented on #671
Yes @Monal5031 @naman1901 I found this issue in documentation of a previous GSoC student. Thus I opened it. I can't share the screenshots as the tests are not in action for VMS.

[2018-05-09 03:37] anjali-dhanuka commented on #669
Yeah @kamsuri I'll submit the PR as soon as possible.

[2018-05-09 03:40] anjali-dhanuka commented on #624
@abhishekarya286 @ayushgarg1804 @kamsuri @MeepyMay  Please review the PR.

[2018-05-09 03:40] anjali-dhanuka commented on #616
@MeepyMay @ayushgarg1804 @kamsuri @abhishekarya286 Please review the PR.

[2018-05-09 03:42] anjali-dhanuka commented on #608
@abhishekarya286 @ayushgarg1804 @ramitsawhney27 @MeepyMay @kamsuri  I guess this issue can be closed, as I have alreaady implemented the solution using the event id.

[2018-05-09 12:55] Fenn-CS commented on #457
Has anyone tried to run the upgrades in an isolated environment? This can be done then we update the requirements docs files then run all tests just to have  an idea of how complex the work is.

[2018-05-09 13:12] Monal5031 commented on #457
Yes @Fenn-CS I have done that in virtualenv and it is doable I guess in maybe 1-2 weeks.

[2018-05-09 13:27] ayushgarg1804 commented on #457
@Monal5031 How will you tackle django-braces incompatibility?

[2018-05-09 13:33] Monal5031 commented on #457
I found a similar issue in issues of django-braces https://github.com/brack3t/django-braces/issues/233 also a related PR to it, I was thinking to give it a try not sure if it'll work though.

[2018-05-09 17:55] MeepyMay opened #673 "Django Port"
## Description
As a [USER],
I need [TO DO THIS],
so that I can [ACCOMPLISH THAT].

## Mocks
[INSERT RELEVANT PNG FILE]

## Acceptance Criteria
### Update [Required]
- [ ] [LIST ITEMS]
### Enhancement to Update [Optional]
- [ ] [LIST ITEMS]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
[INSERT NUMBER HERE] hours

[2018-05-09 18:02] #673 closed

[2018-05-10 18:28] Monal5031 commented on #537
@naman1901 @pavankm @ayushgarg1804 Issue is related to pep8 standardization.

[2018-05-11 15:38] anjali-dhanuka commented on #672
@adi44 You can work on the issue

[2018-05-11 15:49] anjali-dhanuka commented on #576
@sbansal3096 You can work on the issue. Go ahead.

[2018-05-11 15:53] anjali-dhanuka commented on #522
@abhishekarya286 @ayushgarg1804 @kamsuri Please review the PR.

[2018-05-12 05:11] #299 closed

[2018-05-12 05:12] #305 closed

[2018-05-12 05:15] anjali-dhanuka commented on #403
closes #241

[2018-05-12 05:16] #241 closed

[2018-05-12 05:28] anjali-dhanuka commented on #660
@sammy1997 @ShubhamBansal1997 Are u still working on the issue?

[2018-05-12 05:30] sammy1997 commented on #660
@anjali-dhanuka I wasn't working on this. @ShubhamBansal1997 was.

[2018-05-12 05:38] anjali-dhanuka commented on #660
@ShubhamBansal1997 Are u still on this?

[2018-05-12 06:12] anjali-dhanuka commented on #593
@tapasweni-pathak Are u still on this?

[2018-05-12 06:25] #544 closed

[2018-05-12 06:42] anjali-dhanuka commented on #567
Same as #579

[2018-05-12 06:42] #567 closed

[2018-05-12 12:38] ShubhamBansal1997 commented on #660
@anjali-dhanuka I am working on this but just stopped in middle due to my exams, will continue after 19th May

[2018-05-12 17:14] kamsuri commented on #624
Are you talking about the choose file button?
Please provide a mock-up of the after screen, i'm not able to get this. Or elaborate it a little.

[2018-05-12 17:47] anjali-dhanuka commented on #624
The textbox for resume link hides if we have chosen a file in choose file I
have pasted a screenshot too in the PR template.

‌

On Sat, May 12, 2018 at 10:44 PM, Kamakshi Suri <notifications@github.com>
wrote:

[2018-05-12 18:00] kamsuri commented on #624
Oh, i got your point. Can you tell me the significance of that textbox even on the first screen?

[2018-05-12 21:39] Monal5031 commented on #537
@anjali-dhanuka this will be in discussion in the next combined meeting of infra, vms and portal. So maybe add a label `status: blocked` or `needs discussion`for now?

[2018-05-12 21:45] ayushgarg1804 commented on #522
@anjali-dhanuka Please follow PR format first.

[2018-05-12 21:47] ayushgarg1804 commented on #299
@anjali-dhanuka can you please comment the commit # where this was implemented.

[2018-05-12 22:14] anjali-dhanuka commented on #299
Here it is
https://github.com/systers/vms/commit/179b8ebc896862a378c641346c5996abd7751fe1

[2018-05-13 05:15] kamsuri commented on #578
We can update this issue to validate passwords for a particular format(some regex) instead of just length. What do you think @sammy1997 @anjali-dhanuka ?

[2018-05-13 09:27] abhishekarya286 commented on #660
Good @ShubhamBansal1997. Keep it up.

[2018-05-13 11:40] anjali-dhanuka commented on #578
This issue already exists https://github.com/systers/vms/issues/644

[2018-05-13 12:54] anjali-dhanuka commented on #672
@adi44 Are u on the issue?

[2018-05-13 13:29] adi44 commented on #672
I am not

[2018-05-13 15:11] anjali-dhanuka commented on #608
Fixed by https://github.com/systers/vms/pull/665

[2018-05-13 15:11] #608 closed

[2018-05-13 15:13] anjali-dhanuka commented on #522
@ayushgarg1804 done with the PR Format. Please review

[2018-05-13 16:37] anjali-dhanuka commented on #624
@kamsuri We can fill the link of the resume in the textbox.

[2018-05-13 18:01] naman1901 commented on #537
Are we doing flake8 or coala for this? The requirements mention flake8.

[2018-05-13 18:16] m-murad commented on #537
@Monal5031 @naman1901
this will create extra commits in the repo. I don't think this is a good idea. Codacy is already telling us what issues are there in a PR, the user can always improve the PR.
Adding a commit every time there is a formatting issue in the PR doesn't make sense. Instead, before merging a PR the mentors/maintainers should make sure that the PR is following the community code styl

[2018-05-13 18:34] Monal5031 commented on #537
@m-murad codacy can get messy sometimes and make the PR look too much messy too with its messages,
this new enhancement issue aims to integrate flake8 or coala on travis itself. So if there were any syntactic issues the travis will fail.
Though I'm confused over what you are trying to say by `Adding a commit every time there is a formatting issue`.

[2018-05-13 18:41] naman1901 opened #674 "Relocate tests to base Tests directory"
## Description
As a contributor,
I need to have all tests together in their own directory in the project root,
so that I can easily look up other tests for reference and write and add tests myself.

## Mocks
<None>

## Acceptance Criteria
### Update [Required]
- [ ] Create Tests directory
- [ ] Move existing tests to said directory

## Definition of Done
- [ ] All of the required items are complet

[2018-05-13 19:07] m-murad commented on #537
Failing Travis if the PR has style issues is fine.

According to the PR title "run and execute automatic python code formatting on the codebase"
it looks like the author was suggesting automatically formatting the code every time there is a faulty PR. This would create a commit. My concern was regarding that.

[2018-05-13 19:17] Monal5031 commented on #674
@naman1901 Along with this I'll be integrating selenium too on travis and also mention about it in installation docs so another issue for it or will it go in this one itself?

[2018-05-13 20:15] Monal5031 commented on #537
Oh I get it. Yes that is not feasible and neither good.
But I'd have to create a commit to fix existing issues that might get raised by coala or pep8 if i integrate them.

[2018-05-13 20:16] m-murad commented on #537
One time commit is fine.

[2018-05-14 15:46] naman1901 commented on #674
That should be another issue, I think. We'll be able to track things better that way. Let me create another issue for you there.

[2018-05-14 15:51] naman1901 opened #676 "Fix Selenium to work with newer versions of Firefox"
## Description
Selenium doesn't work with Firefox versions 47+.

## Acceptance Criteria
### Update [Required]
- [ ] Debug Selenium to work with newer Firefox versions
- [ ] Integrate Selenium with the Travis tests
- [ ] Update Installation Docs

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentor.

[2018-05-14 15:51] naman1901 commented on #674
In my opinion, each issue must deal with just one task.

[2018-05-14 15:54] Monal5031 commented on #674
If its to be a separate issue, then I guess #675 is complete.

[2018-05-14 16:09] naman1901 commented on #674
I've requested a few couple of changes. I'll approve my review after you do them.

[2018-05-15 08:02] ayushgarg1804 opened #677 "Update JavaScript according to standards"
## Description
The [Js standards](https://standardjs.com/rules.html) should be followed.

## Acceptance Criteria
### Update [Required]
- [x] [Update old Js files and corresponding code according to standards]

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 2 mentors.

## Estimation
0.5 hours

[2018-05-15 12:13] Monal5031 commented on #661
Since we are porting to py3.6 this is no longer valid.

[2018-05-15 12:13] #661 closed

[2018-05-16 07:05] anjali-dhanuka commented on #484
@ikbalsingh Do u want to work on it?  If yes, go ahead.

[2018-05-17 06:57] ayushgarg1804 commented on #484
@ikbalsingh Yes, please go ahead. Just comment here if you start working on this

[2018-05-17 13:07] ikbalsingh commented on #484
@anjali-dhanuka Kind of busy on something else. You can go ahead and assign it to someone else.

[2018-05-19 11:44] sammy1997 commented on #578
Please reassign this issue @anjali-dhanuka @ayushgarg1804. I am not getting time for making the changes.

[2018-05-20 05:39] kamsuri commented on #578
I'll submit a PR for the same.

[2018-05-20 05:44] kamsuri commented on #484
As this issue doesn't follow the standards, i'm closing it as of now. I'll reopen it if someone wishes to work on this or if i'll get time to fix this.

[2018-05-20 05:44] #484 closed

[2018-05-21 03:30] tapasweni-pathak commented on #593
@anjali-dhanuka sure, I'll PR. :)

[2018-05-21 03:50] tapasweni-pathak commented on #672
:wave: @adi44, you would need to create a `_Sidebar` to have a side bar in the Wiki. This has some [more](https://help.github.com/articles/creating-a-sidebar/) information, let me know if you don't have the permission I'll set up the base and then you can update with more information.

[2018-05-21 04:14] adi44 commented on #672
Hi @tapasweni-pathak I dont have the rights

[2018-05-21 14:13] Monal5031 commented on #676
Done in #682

[2018-05-21 14:13] #676 closed

[2018-05-21 14:31] anjali-dhanuka commented on #672
@ExactlyMay Can u please help?

[2018-05-22 06:26] kamsuri opened #683 "Implement forgot password functionality"
## Description
As a user,
I must have an option to retrieve my password if forgotten,
so that I can access my account.

## Acceptance Criteria
### Update [Required]
- [ ] [Add a feature to update/retrieve password in case forgotten]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentosr.

## Estimation
1.5 hours

[2018-05-22 06:27] kamsuri commented on #320
I'm closing this issue as it doesn't follow the standards.  I've opened a new one #683 for the same.

[2018-05-22 06:27] #320 closed

[2018-05-22 18:55] abhishekarya286 opened #684 "Change Travis.yml after porting to django 2.0"
## Description
In travis.yml makemigrations is run for individual apps initially for porting to django 2.0. After porting is done, this needs to be changed.

## Mocks

## Acceptance Criteria
### Update [Required]
- [ ] Update Travis.yml

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentors.

## Estimation
10 minutes.

[2018-05-23 09:36] naman1901 opened #685 "Write tests for Administrator app"
## Description
Increase test coverage for administrator app.

## Acceptance Criteria
### Update [Required]
- [ ] Move corresponding tests from the automated testing repo
- [ ] Make commented code pass on Travis
- [ ] Identify code that hasn't been covered by tests
- [ ] Write more tests for identified code to increase coverage

## Definition of Done
- [ ] All of the required items are completed.
-

[2018-05-23 09:39] naman1901 opened #686 "Write tests for Job app"
## Description
Increase test coverage for Job app.

## Acceptance Criteria
### Update [Required]
- [ ] Move corresponding tests from the automated testing repo
- [ ] Make commented code pass on Travis
- [ ] Identify code that hasn't been covered by tests
- [ ] Write more tests for identified code to increase coverage

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Appro

[2018-05-23 09:39] naman1901 opened #687 "Write tests for Job app"
## Description
Increase test coverage for Job app.

## Acceptance Criteria
### Update [Required]
- [ ] Move corresponding tests from the automated testing repo
- [ ] Make commented code pass on Travis
- [ ] Identify code that hasn't been covered by tests
- [ ] Write more tests for identified code to increase coverage

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Appro

[2018-05-23 17:04] kamsuri opened #688 "Add feature to search a volunteer based on city & job"
## Description
As a user, I need a search feature for volunteers, so that I can search any volunteer based on city and job.

## Acceptance Criteria
### Update [Required]
- [ ] [ Search feature should filter volunteers list based on entered city or job.]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentors.

## Estimation
2 hours

[2018-05-23 17:06] kamsuri opened #689 "Add feature to search jobs based on city"
## Description
As a user, I need a search feature, so that I can search jobs based on city.

## Acceptance Criteria
### Update [Required]
- [ ] [ Search feature should filter jobs list based on entered city.]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentors.

## Estimation
2 hours

[2018-05-23 17:52] Monal5031 commented on #687
Copy of #686

[2018-05-23 17:52] #687 closed

[2018-05-23 17:53] Monal5031 commented on #670
Will be done under #685 I guess. If not I'll reopen.

[2018-05-23 17:53] #670 closed

[2018-05-26 05:17] #689 closed

[2018-05-26 05:17] #688 closed

[2018-05-27 10:41] somyaup commented on #644
@ramitsawhney27  I am working on this issue.

[2018-05-27 18:16] ramitsawhney27 commented on #644
@somyaup sure go ahead.

[2018-05-29 05:29] Monal5031 opened #697 "Use dicts (instead of lists) to represent model instances in tests"
## Description
As a developer,
I need reference structured data in dict and not list,
the population of data, creation of instances, form filling (in selenium tests) from variables(references) is a use case of dict thus we need to change all instances where we populate data/create instances/fill forms(selenium) from lists

## Mocks
N/A

## Acceptance Criteria
- [ ] Update all instances of populati

[2018-05-29 07:08] tonythomas01 commented on #697
Please change title to: "Use dicts (instead of lists) to represent model instances in tests" . Thanks.

[2018-05-30 07:52] Monal5031 opened #701 "Write tests for Event app"
## Description
Increase test coverage for administrator app.

## Acceptance Criteria
### Update [Required]
- [ ] Move corresponding tests from the automated testing repo
- [ ] Make commented code pass on Travis
- [ ] Identify code that hasn't been covered by tests
- [ ] Write more tests for identified code to increase coverage

## Definition of Done
- [ ] All of the required items are completed.
-

[2018-05-30 19:44] naman1901 opened #702 "Write tests for Event app"
## Description
Increase test coverage for Event app.

## Acceptance Criteria
### Update [Required]
- [ ] Move corresponding tests from the automated testing repo
- [ ] Make commented code pass on Travis
- [ ] Identify code that hasn't been covered by tests
- [ ] Write more tests for identified code to increase coverage

## Definition of Done
- [ ] All of the required items are completed.
- [ ] App

[2018-05-30 19:54] #701 closed

[2018-06-01 23:29] anjali-dhanuka commented on #576
@abhishekarya286 @ayushgarg1804 @kamsuri First we need to solve this issue, then only we can add validations on organisation.

[2018-06-02 19:48] #677 closed

[2018-06-04 06:23] anjali-dhanuka opened #708 "Implement class based views for Login and Logout"
## Description
As a USER,
I need class based views,
so that I can make django 1.11 work better.

## Acceptance Criteria
### Update [Required]
- [x] [Replace login and logout function based view by class based view]

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
0.5 hours

[2018-06-04 14:02] kamsuri commented on #708
@anjali-dhanuka this will be a good enhancement, go ahead with this.

[2018-06-05 08:01] ayushgarg1804 commented on #708
Go ahead @anjali-dhanuka

[2018-06-05 09:19] utkarsh2102 commented on #478
Hi @anjali-dhanuka, @tapasweni-pathak,
I'm willing to take up the task as I'm a new comer here.
It'd be great to solve this issue and get going.
Could you please assign the same to me?

[2018-06-06 18:35] kamsuri opened #714 "Email notification to volunteers"
## Description
As a USER,
I need to receive email notifications for shift assignment and it's cancellation,
so that I can update my scheduler with the same.

## Acceptance Criteria
### Update [Required]
- [x] [Email notification for shift assignement]
- [x] [Email notification for shift cancellation]

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 2 mentors.

[2018-06-07 08:52] naman1901 opened #717 "Write tests for Auth app"
## Description
Increase test coverage for Auth app.

## Acceptance Criteria
### Update [Required]
- [ ] Move corresponding tests from the automated testing repo
- [ ] Make commented code pass on Travis
- [ ] Identify code that hasn't been covered by tests
- [ ] Write more tests for identified code to increase coverage

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Appr

[2018-06-07 08:52] naman1901 opened #718 "Write tests for Organization app"
## Description
Increase test coverage for Organization app.

## Acceptance Criteria
### Update [Required]
- [ ] Move corresponding tests from the automated testing repo
- [ ] Make commented code pass on Travis
- [ ] Identify code that hasn't been covered by tests
- [ ] Write more tests for identified code to increase coverage

## Definition of Done
- [ ] All of the required items are completed.
-

[2018-06-07 10:42] #685 closed

[2018-06-11 05:51] naman1901 opened #720 "Write tests for Shift app"
## Description
Increase test coverage for Shift app.

## Acceptance Criteria
### Update [Required]
- [ ] Move corresponding tests from the automated testing repo
- [ ] Make commented code pass on Travis
- [ ] Identify code that hasn't been covered by tests
- [ ] Write more tests for identified code to increase coverage

## Definition of Done
- [ ] All of the required items are completed.
- [ ] App

[2018-06-11 05:52] naman1901 opened #721 "Write tests for Registration app"
## Description
Increase test coverage for Registration app.

## Acceptance Criteria
### Update [Required]
- [ ] Move corresponding tests from the automated testing repo
- [ ] Make commented code pass on Travis
- [ ] Identify code that hasn't been covered by tests
- [ ] Write more tests for identified code to increase coverage

## Definition of Done
- [ ] All of the required items are completed.
-

[2018-06-12 13:45] kamsuri opened #722 "Add description field for events"
## Description
As a user,
I need to have a description field for events,
so that I can have better understanding of an event.

## Acceptance Criteria
### Update [Required]
- [ ] [Addition of description field for every event]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentors.

## Estimation
0.5 hours

[2018-06-14 06:42] Monal5031 opened #725 "TypeError at /en-us/shift/add_hours/volunteer_id/shift_id"
## Description
As a volunteer,
I need to log my hours in the system.

## Mocks
![error](https://user-images.githubusercontent.com/21009189/41497957-8b4be028-717e-11e8-994f-805e5bad43ee.png)

## Acceptance Criteria
- [] Modify `wrapped_view` in `check_correct_volunteer` to use kwargs as views with multiple kwargs also access this function.

## Definition of Done
- [ ] All of the required items are

[2018-06-16 10:37] Monal5031 opened #727 "TypeError at /en-us/shift/view_hours/<volunteer_id>"
## Description
As a volunteer,
I need to view my hours in the system.

## Mocks

![error](https://user-images.githubusercontent.com/21009189/41497989-514e61ba-717f-11e8-85d9-61a038b12641.png)

## Acceptance Criteria
- [] Modify `wrapped_view` in `check_correct_volunteer` to use kwargs as views with multiple kwargs also access this function.

## Definition of Done
- [ ] All of the required items ar

[2018-06-16 11:37] Monal5031 opened #728 "Error in test_shiftSignUp of Event app"
## Description
As a developer,
I need to make sure all tests are stable,
so that I can ensure the proper working of project.

## Mocks
![screenshot-2018-6-16 build 827 - systers vms - travis ci](https://user-images.githubusercontent.com/21009189/41498166-f74e9ad6-7183-11e8-8fb9-1fe0ccbb1a28.png)

## Acceptance Criteria
 - [ ] Use excute_script() function instead of get_page()
 - [ ] Make sure othe

[2018-06-16 11:57] Monal5031 opened #730 "Error in test_formFields of Administrator app"
## Description
As a developer,
I need to make sure all tests are stable,
so that I can ensure the proper working of project.

## Mocks
![screenshot-2018-6-16 build 828 - systers vms - travis ci](https://user-images.githubusercontent.com/21009189/41498403-69492ea2-718a-11e8-9251-f3bf14338f75.png)

## Acceptance Criteria
 - [ ] Add an explicit wait for DOM to render correctly.
 - [ ] Make sure other

[2018-06-16 12:42] #718 closed

[2018-06-16 12:42] #686 closed

[2018-06-17 23:50] anjali-dhanuka commented on #725
Hi @abhishekarya286 @ayushgarg1804 @kamsuri Can you please approve this issue so that I can send a PR for the same.

[2018-06-17 23:51] anjali-dhanuka commented on #727
Hi @abhishekarya286 @ayushgarg1804 @kamsuri Can you please approve this issue so that I can send a PR for the same.

[2018-06-17 23:55] anjali-dhanuka commented on #708
Closing, implemented in #711

[2018-06-17 23:55] #708 closed

[2018-06-20 07:41] #730 closed

[2018-06-20 13:32] naman1901 opened #734 "Write tests for Home app"
## Description
Increase test coverage for Home app.

## Acceptance Criteria
### Update [Required]
- [ ] Move corresponding tests from the automated testing repo
- [ ] Make commented code pass on Travis
- [ ] Identify code that hasn't been covered by tests
- [ ] Write more tests for identified code to increase coverage

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Appr

[2018-06-20 13:33] naman1901 opened #735 "Write tests for Volunteer app"
## Description
Increase test coverage for Volunteer app.

## Acceptance Criteria
### Update [Required]
- [ ] Move corresponding tests from the automated testing repo
- [ ] Make commented code pass on Travis
- [ ] Identify code that hasn't been covered by tests
- [ ] Write more tests for identified code to increase coverage

## Definition of Done
- [ ] All of the required items are completed.
- [ ]

[2018-06-21 15:02] ayushgarg1804 commented on #727
@Monal5031 please close if commit 8c724ea is all thats required :)

[2018-06-21 15:07] #727 closed

[2018-06-21 16:35] Monal5031 opened #737 "NameError, FileNameError and UnicodeDecodeError at en-us/volunteer/download_resume/<volunteer_id>/"
## Description
As a user,
I need to download my pdf,
so that I can confirm as an extra check that I have uploaded correct one.

## Mocks
After our port to `python3` which doesn't support use of `file` instead we have to use `open`.
![error](https://user-images.githubusercontent.com/21009189/41731485-296518d0-759c-11e8-9dd9-21ed898bf0ba.png)

We are using `filename` as concatenation of settings.MED

[2018-06-24 01:49] anjali-dhanuka opened #740 "Log Hours constraint"
## Description
As a Volunteer, I must only be able to log my hours for a shift only after the start time for the shift.

## Mocks
![image](https://user-images.githubusercontent.com/22369767/41815123-9bee2c0a-777e-11e8-9ffa-c42893921d34.png)

## Acceptance Criteria
### Update [Required]
- [ ]  Set constraint on log hours view

## Definition of Done
- [ ] All of the required items are completed.
- [

[2018-06-24 05:24] Monal5031 opened #741 "Checks need to be added in shift forms."
## Description
As a user,
I need to be notified if I fill invalid values in forms,
so that I can ensure correct assignment of shift.

## Mocks
we write some logic to check this https://github.com/systers/vms/blob/develop/vms/shift/forms.py#L24 and also that shift date lies in between of the start and end date of job.

## Acceptance Criteria
### Update [Required]
 - [ ] Logic for checking start and

[2018-06-24 05:28] Monal5031 opened #742 "Values are not retained in forms (event, job and shift)"
## Description
As a user,
I need the correct values in form to be retained if I fill wrong values,
so that I dont need to fill the correct ones again.

## Mocks
Before submit
![error1](https://user-images.githubusercontent.com/21009189/41816236-55d6acbe-779d-11e8-8eaa-897449a1dfc5.png)

After submit
![error2](https://user-images.githubusercontent.com/21009189/41816237-56139c50-779d-11e8-869c-1379e

[2018-06-24 06:05] Monal5031 opened #743 "Clean methods are missing in models"
## Description
As a developer,
I need a clean method in models which perform custom checks on model validity,
so that invalid model instance creation can be blocked.

## Mocks
N/A

## Acceptance Criteria
### Update [Required]
 - [ ] Add custom checks in clean methods of each model

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentor.

## Estimation
[INSE

[2018-06-24 06:27] Monal5031 commented on #740
Yup this is a valid issue :+1: but some things I had in mind here worth discussing I guess,
Do we allow edit of logged hours?
Should the button of log hours be disabled if volunteer has logged once?

[2018-06-24 08:20] Monal5031 opened #744 "PermissionError: [Errno 13] Permission denied: '/.../vms/vms/srv/MyResume.pdf'"
## Description
As a developer,
I need to delete the temporary dummy resume which are downloaded during tests and uploaded to `srv/` dir

## Log
Refer this [https://travis-ci.org/systers/vms/builds/396031860#L926](build)
[code]

## Acceptance Criteria
### Update [Required]
- [ ] Update permissions for srv dir

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2

[2018-06-24 08:35] Monal5031 opened #745 "Additional checks should be included in volunteer/validation.py"
## Description
As a developer/tested,
I need to be 101% sure that validations are checking all the cases,
so that users don't face issues at later stage while using the project.
Additional checks for resume PDF files can be added using `PyPDF2.PdfFileReader`
## Mocks
N/A

## Acceptance Criteria
### Update [Required]
- [ ] Add extra checks pdf files
- [ ] Update tests accordingly.

## Definition of

[2018-06-24 13:30] anjali-dhanuka commented on #744
@Monal5031 The link you mentioned is giving 404

[2018-06-24 13:32] anjali-dhanuka commented on #557
Closing https://github.com/systers/vms/pull/694

[2018-06-24 13:32] #557 closed

[2018-06-24 13:36] anjali-dhanuka commented on #745
@Monal5031 Can you please clarify a bit more about other validation checks

[2018-06-24 13:37] Monal5031 commented on #744
Oh sorry my bad updated it now. I had restarted the build to the previous link got deleted.

[2018-06-24 13:38] Monal5031 commented on #745
@anjali-dhanuka https://stackoverflow.com/a/32654661/7120232 I'm thinking of this check in particular.

[2018-06-24 18:06] kamsuri commented on #740
@anjali-dhanuka this issue is fine, go ahead with this. And yes as monal asked, does the button get disabled?

[2018-06-24 18:44] ayushgarg1804 commented on #740
I think it might be better if we enable logging hours after shift has started not ended as partial logging might be helpful to volunteer

[2018-06-24 19:15] ayushgarg1804 commented on #658
👍

[2018-06-24 23:34] anjali-dhanuka opened #746 "Remove nbsp from vms code"
## Description
As a Developer,
I need to remove &nbsp from the code,
so that I can use padding and spaces which is a good practice to use.

## Mocks
![image](https://user-images.githubusercontent.com/22369767/41824866-346accd4-7835-11e8-9f22-7390187178f3.png)

## Acceptance Criteria
### Update [Required]
-Replace &nbsp with padding

## Definition of Done
- [x] All of the required items are complet

[2018-06-24 23:35] anjali-dhanuka commented on #746
@ayushgarg1804 @abhishekarya286 @Monal5031 @kamsuri please review.

[2018-06-25 09:14] ayushgarg1804 commented on #744
Still giving 404

[2018-06-25 09:19] ayushgarg1804 commented on #742
I agree, it enhances user experience.

[2018-06-25 11:28] Monal5031 commented on #744
@ayushgarg1804 @anjali-dhanuka wierd, can you please check the travis log of volunteer app PR?
https://travis-ci.org/systers/vms/builds/396031860?utm_source=github_status&utm_medium=notification
You can also check it locally, by uploading a resume and try to access it via code or terminal.

[2018-06-25 15:09] ayushgarg1804 commented on #744
So yeah, according to logs permissions need to be modified. Also do you think it will be beneficial moving to django collectstatic for managing files?

[2018-06-26 06:17] Monal5031 opened #747 "Error in test_shiftSignUp of Event app"
## Description
As a developer/tester,
I need to make sure all tests are stable,
so that I can ensure the proper working of project.

Unfortunately [this](https://github.com/systers/vms/issues/728) issue didn't successfully fix the issue, so a new alternative as discussed in [slack ](https://systers-opensource.slack.com/archives/C0QJXC8SK/p1529824141000074) was to break the test in 3 different test

[2018-06-26 06:17] Monal5031 commented on #747
ping @prachi1210 @abhishekarya286 @naman1901 @pavankm @anjali-dhanuka @ayushgarg1804 Please review.

[2018-06-26 07:11] Monal5031 commented on #744
I haven't used collecstatic before so not sure, but resume is a user-uploaded file and saved in media root and it won't be collected by the collectstatic command? Is there any workaround you have in mind or am I getting this wrong?

[2018-06-26 15:16] ayushgarg1804 commented on #744
Yeah, it won't be collected by collectstatic

[2018-06-26 19:06] abhishekarya286 commented on #747
Yes, go ahead

[2018-06-26 19:06] abhishekarya286 commented on #747
Have you sent a PR?

[2018-06-26 19:09] abhishekarya286 commented on #742
Agree with this.

[2018-06-26 19:16] abhishekarya286 commented on #743
This seems to me a valid requirement as of now.

[2018-06-26 19:28] abhishekarya286 commented on #741
For this, a check is already there

[2018-06-26 19:30] abhishekarya286 commented on #741
Go ahead with this.

[2018-06-27 05:43] Monal5031 opened #750 "methods should follow checks for password"
## Description
As a developer,
I need to make sure that my checks are being followed correctly,
so that I can find any inconsistencies in the code where the checks are not being executed.
Currently `create_admin()` and `create_volunteer()` create an admin and volunteer with password on which checks are not being executed this will be resolved until clean methods are defined in the models but then

[2018-06-27 15:57] anjali-dhanuka opened #751 "No view for getting detailed information of an event"
## Description
As a User,
I need a view,
so that I can get information about location, description etc of an event.

## Mocks
![image](https://user-images.githubusercontent.com/22369767/41986541-1590086c-7a54-11e8-8cda-e783c5df30ff.png)

## Acceptance Criteria
### Update [Required]
- [ ] [Add a detail view for event]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Appro

[2018-06-27 15:58] anjali-dhanuka commented on #751
@abhishekarya286 @ayushgarg1804 @kamsuri Please review the issue.

[2018-06-27 16:01] anjali-dhanuka commented on #578
@kamsuri Are you working on it or shall I label this issue for first-timers?

[2018-06-27 16:08] ayushgarg1804 commented on #751
I'll suggest if we push this feature along with add description PR #723. Since there is a major requirement of this feature after adding description in event info.

[2018-06-27 16:15] kamsuri commented on #578
Please mark it for first-timers.

[2018-06-28 08:12] Monal5031 opened #752 "Add checks for other field in all apps"
## Description
Currently only the necessary fields in all apps are being checked there should be a check for other fields too viz. address, etc we are currently ignoring city, state and country as those will be checked separately in @anjali-dhanuka 's PR

## Mocks
N/A

## Acceptance Criteria
### Update [Required]
- [ ] Modify create functions to accept more than the required args
- [ ] Modify exis

[2018-06-28 14:15] Monal5031 commented on #537
#478 will do this.

[2018-06-28 14:15] #537 closed

[2018-06-28 15:48] anjali-dhanuka commented on #751
@ayushgarg1804 @kamsuri What do you suggest?

[2018-06-28 18:04] Monal5031 commented on #671
Half are merged and half are in review.

[2018-06-28 18:04] #671 closed

[2018-06-28 18:38] #747 closed

[2018-06-28 18:47] Monal5031 opened #755 "Document POM app tests and integrate the lines missed in existing tests"
## Description
Since the tests in POM app have already been tested, we should create a document describing which tests were needed in POM app.

## Mocks
N/A

## Acceptance Criteria
### Update [Required]
- [ ] Document tests
- [x] Integrate missed lines in existing tests

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentor.

## Estimation
2 hour

[2018-07-01 00:28] anjali-dhanuka opened #759 "Upcoming shifts also shows past shifts"
## Description
As a Volunteer,
I need to see only my future shifts(the shifts whose start time> current time) in Upcoming shifts,
so that I can get the proper list of upcoming shifts.

## Mocks
![image](https://user-images.githubusercontent.com/22369767/42130019-c22f4712-7cf3-11e8-99d4-ee55c19b2542.png)

## Acceptance Criteria
### Update [Required]
- [ ] Add time constraint on upcoming shifts

##

[2018-07-01 00:29] anjali-dhanuka commented on #759
@abhishekarya286 @ayushgarg1804 @kamsuri Please review the issue.

[2018-07-01 12:28] Monal5031 opened #762 "Modify admin and volunteer creation for first name and last name"
## Description
`create_admin` and `create_volunteer` methods just create an admin and volunteer with username and password but we need other fields too (like first_name and last name, other fields too if possible). Thus we need to modify these methods to accommodate this change and also modify tests too.

## Mocks
N/A

## Acceptance Criteria
### Update [Required]
- [ ] Modify `create_admin` and `c

[2018-07-01 12:28] Monal5031 commented on #762
@naman1901 @abhishekarya286 @pavankm @anjali-dhanuka Please review.

[2018-07-01 17:15] abhishekarya286 commented on #759
A valid issue

[2018-07-01 17:38] kamsuri commented on #759
Hey @anjali-dhanuka, what do you mean by future unlogged shifts? All the future shifts will be the unlogged ones only, right?

[2018-07-01 18:30] Monal5031 opened #763 "Fix retention tests in registration.tests.test_functional_admin.SignUpAdmin"
## Description
As a dev/tester,
I need to make sure that tests are stable in headless mode on travis,
so that I can we con confirm proper functioning of project.

## Logs from travis.
[code]
AND
[code]

## Acceptance Criteria
### Update [Required]
- [ ] Enhance/Modify tests to make them stable

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentor.

## Est

[2018-07-01 18:51] ayushgarg1804 commented on #759
Valid issue, just as @kamsuri said all the future shifts implies unlogged shifts for future.

[2018-07-01 18:55] Monal5031 opened #764 "Create a bash script for configuring geckodriver"
## Description
Setting up a repo should be as easy as possible for contributors, thus for that instead of mentioning commands explicitly we can create a bash script to complete this task of setting up geckodriver.
This can be considered a first step towards automating repo setup.

## Mocks
N/A

## Acceptance Criteria
### Update [Required]
- [ ] Create a bash script to configure/setup geckodriver

[2018-07-01 20:38] kamsuri opened #768 "Add event search feature on administrator's end"
## Description
As an administrator,
I need the functionality to search events,
so that i can filter them according to my requirements.

## Acceptance Criteria
- [ ]  Events can be searched using name, start date, end date, state, country, city or job name.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentors.

## Estimation
1.5 hours

[2018-07-01 20:38] kamsuri opened #769 "Add job search feature on administrator's end"
## Description
As an administrator,
I need the functionality to search jobs,
so that i can filter them according to my requirements.

## Acceptance Criteria
- [ ]  Jobs can be searched using name, event, start date, end date, state, city or country.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentors.

## Estimation
1.5 hours

[2018-07-01 20:38] kamsuri opened #770 "Add shift search feature on administrator's end"
## Description
As an administrator,
I need the functionality to search shifts,
so that i can filter them according to my requirements.

## Acceptance Criteria
- [ ]  Shifts can be searched using event, job, date.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentors.

## Estimation
1.5 hours

[2018-07-01 20:43] kamsuri opened #771 "Add job search feature on volunteer's end"
## Description
As a volunteer,
I need the functionality to search jobs,
so that i can filter them according to my requirements.

## Acceptance Criteria
- [ ]  Jobs can be searched using job name, start date or end date.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentors.

## Estimation
1.5 hours

[2018-07-01 20:43] kamsuri opened #772 "Add event search feature on volunteer's end"
## Description
As a volunteer,
I need the functionality to search events,
so that i can filter them according to my requirements.

## Acceptance Criteria
- [ ]  Events can be searched using name, start date, end date, country, state or city.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentors.

## Estimation
1.5 hours

[2018-07-01 20:46] kamsuri opened #773 "Add event and job field in Volunteer Search"
## Description
As an administrator,
I need the functionality to search volunteers from event and job names as well.

## Acceptance Criteria
- [ ]  Volunteers can be searched using event or job name.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentors.

## Estimation
1.5 hours

[2018-07-02 17:02] Monal5031 opened #776 "Resume upload is not working on travis"
## Description
Resume upload method used in `test_volunteerProfile` is taking too long on travis, this issue needs more digging in the bug.

## Mocks
N/A, This can be checked in the logs of volunteer tests, the next statement is failing with `StaleElementException` which is explicit WebDriverWait for profile implying the profile is not being refreshed after upload.

## Acceptance Criteria
### Upda

[2018-07-02 17:52] ayushgarg1804 commented on #752
Why is it just for event app? Are you updating other PRs for other tests?

[2018-07-02 17:54] Monal5031 commented on #752
Oh my bad. In the meeting we only talked about event app so I thought it needed to be done for event only. I'll update it for other apps too.

[2018-07-02 17:55] ayushgarg1804 commented on #752
I just took event as an example 😅.

[2018-07-02 17:57] Monal5031 commented on #752
Lol yeah i get it now, will update it soon. I have to start with documentation first its important atm.

[2018-07-03 06:24] Monal5031 opened #779 "Document Automated Testing in VMS"
## Description
As a developer, I should document all the work I have done so that it can be used by future developers as reference and making it easy to contribute to the project.

## Mocks
N/A

## Acceptance Criteria
### Update [Required]
- [x] Document failing test with failure reason and corresponding issue
- [x] Document Installation setup
- [x] Document Design Document
- [x] Document existing

[2018-07-03 09:47] Monal5031 commented on #779
@ayushgarg1804 I was thinking to create a separate doc to explain test cases 1-2 line each wouldnt docstrings repeat the same thing then?
Since tests dont have return vals and params so docstrings will only have test case description only.

[2018-07-03 09:49] Monal5031 commented on #779
Or shall I only document them in docstrings only and not a separate document?

[2018-07-03 17:11] Monal5031 opened #780 "Add model tests for administrator app"
## Description
As a developer, I need to make sure that everything in the project is tested so as to maintain quality of the project.

## Mocks
N/A

## Acceptance Criteria
### Update [Required]
- [ ] Model tests for administrator app

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 2 mentor.

## Estimation
0.5 hours

[2018-07-03 17:36] ayushgarg1804 commented on #779
Its up to you actually. If you document them in docstrings you can automatically create a documentation from it and if you create a separate document then it will me more personalized and specific.

[2018-07-03 17:39] Monal5031 opened #781 "Use assertRaisesRegexp instead of assertRaises"
## Description
`assertRaises` is always lazy and should be avoided, instead we should use `assertRaisesRegexp` which provides an extra field for regex match with exception message.
There are a total of 49 uses of assertRaises in 10 files as per and can be checked using `git grep`

## Mocks
![ss](https://user-images.githubusercontent.com/21009189/42235645-0b4bdbda-7f16-11e8-8abc-d0ce3193c8b3.png)

[2018-07-03 17:45] Monal5031 commented on #781
ping @naman1901 @pavankm @abhishekarya286 @ayushgarg1804 @kamsuri @anjali-dhanuka please review.

[2018-07-03 18:29] abhishekarya286 commented on #781
Go ahead.

[2018-07-03 18:38] abhishekarya286 commented on #780
What exactly will you be doing here?

[2018-07-03 18:40] Monal5031 commented on #780
This part was left in administrator tests, you can see in event app that there is `test_model` test which is missing here. I'm finding missing things while I'm going through the project for documentation.

[2018-07-04 17:34] Monal5031 opened #783 "Configure codacy"
## Description
Since we have discussed and agreed to follow good practice of capturing return values even if it is not being used, codacy has pointed out a lot of comments on PRs. Thus we need to configure codacy to ignore this check and stop commenting.
OR
we can configure codacy to have regex check to ignore variables named as `unused_<name>`.

In Either case we have to configure codacy, you can

[2018-07-04 18:49] anjali-dhanuka opened #784 "Past Events or Ongoing Events Not to be editable"
## Description
As a User,
I need to not allow the administrators to edit the ongoing or past events,
so that I can avoid unnecessary changes.

## Acceptance Criteria
### Update [Required]
- [x] Put a check on event date
- [x] Restrain from editing the event

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
2 hours

[2018-07-04 18:53] anjali-dhanuka commented on #784
@abhishekarya286 @ayushgarg1804 @kamsuri Please review

[2018-07-08 18:39] ayushgarg1804 commented on #784
Go ahead 👍

[2018-07-08 18:44] ayushgarg1804 commented on #781
Go ahead 👍

[2018-07-09 09:10] #721 closed

[2018-07-09 10:51] Monal5031 opened #787 "Retention tests in registration app are failing"
## Description
Like retention tests in administrator app, retention tests in registration app are also failing. We need to comment them out for now and document them until a permanent solution is found

## Mocks
Look here https://travis-ci.org/systers/vms/builds/401678011#L962

## Acceptance Criteria
### Update [Required]
- [ ] Comment retention tests in registration app
- [ ] Document retention t

[2018-07-11 11:28] Monal5031 opened #793 "Error debug print statements need to be removed."
## Description
There are two print statements in registration app's views file which are causing the print of errors and DOM's in terminal and on travis logs while test execution.

## Mocks
see log: https://travis-ci.org/systers/vms/builds/401579513#L764

## Acceptance Criteria
### Update [Required]
- [ ] Remove debug print statements.

## Definition of Done
- [ ] All of the required items are com

[2018-07-11 18:45] #787 closed

[2018-07-12 04:38] anjali-dhanuka opened #796 "Communication with Portal Api"
## Description
As a User, I want to create the events from the API in VMS.

## Acceptance Criteria
### Update [Required]
- [ ] Fetch meet-ups from Portal
- [ ]  Send them to createview

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
2 hours

[2018-07-12 08:55] Monal5031 opened #797 "Implement full clean for all fields in unit tests"
## Description
All fields should be checked in unit tests via full clean method to know if they actually raise errors.

## Mocks
N/A

## Acceptance Criteria
### Update [Required]
- [ ] implement full clean check for all fields in unit tests

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
6-7 hours

[2018-07-12 16:01] Monal5031 opened #798 "Complete test_invalid_model_create in unit test of shift app"
## Description
`test_invalid_model_create` can't be completed atm because there is no clean method either in form or model thus no error is being raised by full_clean, this issue can be completed only after clean method is defined in either shift form or model.

## Mocks
N/A

## Acceptance Criteria
### Update [Required]
- [ ] Complete the above test with checks.

## Definition of Done
- [ ] All of

[2018-07-12 23:51] abhishekarya286 commented on #796
valid issue

[2018-07-15 11:20] #762 closed

[2018-07-15 11:21] #764 closed

[2018-07-15 11:22] #735 closed

[2018-07-15 11:22] #717 closed

[2018-07-16 17:02] #793 closed

[2018-07-16 18:06] Monal5031 opened #803 "Automated tests should run in headless mode by default"
## Description
As decided in the meeting, by default the automated tests should run in headless mode.

## Mocks
N/A

## Acceptance Criteria
### Update [Required]
- [ ] Modify tests to run in headless mode.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
30 mins.

[2018-07-16 18:44] #737 closed

[2018-07-16 23:45] anjali-dhanuka opened #804 "Enable request option for editing the log hours"
## Description
As a Volunteer,
I need to not have access to edit hours once they are logged, however I can request edit from admins within a week so that I can edit the hous.

## Acceptance Criteria
### Update [Required]
- [x] Disable edit option for volunteer
- [x] Add request edit option
- [x] Disable the request edit option after a week
- [x] Send email notification to the administrator for edi

[2018-07-16 23:46] anjali-dhanuka commented on #804
Hi @abhishekarya286 @ayushgarg1804 @nida @kamsuri Please review the issue.