[2018-07-16 23:50] anjali-dhanuka opened #805 "Send Report as PDF in email to the volunteers after confirmation"
## Description
As a User,
the volunteer must get an email notifying him confirmation of his report along with the PDF of the report.

## Acceptance Criteria
### Update [Required]
- [ ] Enable email notification for confirmation of report
- [ ] Generate PDF of report

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
4 hours

[2018-07-16 23:51] anjali-dhanuka commented on #805
Hi @ayushgarg1804 @kamsuri @abhishekarya286 @nida PLease review the issue.

[2018-07-18 17:32] Monal5031 opened #809 "Increase the value of invalid ID's used in tests"
## Description
Tests have grown in numbers and the id reusing issue has not been completed yet until that issue is fixed we need to increase the number to a high value like 1k or 2k used otherwise the test will keep failing randomly.

## Mocks
N/A

## Acceptance Criteria
### Update [Required]
- [ ] Investigate and increase value of invalid id used in tests.

## Definition of Done
- [ ] All of the

[2018-07-21 03:59] #720 closed

[2018-07-21 03:59] #725 closed

[2018-07-21 05:52] Monal5031 commented on #746
@anjali-dhanuka wasn't this done in #760 ?

[2018-07-21 05:52] anjali-dhanuka commented on #746
That PR was reverted @Monal5031

[2018-07-21 06:01] #809 closed

[2018-07-21 06:44] Monal5031 commented on #746
@anjali-dhanuka btw some test will fail if you remove these blank lines, you'll need to update that too.
I remember that some test used split of spaces.

[2018-07-21 15:32] #734 closed

[2018-07-22 17:58] anjali-dhanuka opened #819 "Upgrade the current UI to the Branding Guidelines"
## Description
As a Developer,
I need to upgrade the UI/UX of VMS,
so that I can satisfy the branding guidelines.

## Acceptance Criteria
### Update [Required]
- [ ] Navbar updates similar to [AnitaB.org](https://anitab.org/), hover on blue and white with underlines.
- [ ] Headers change to Aubergine (#8D2165).
- [ ] All links are the Caribbean Blue (#54BCEB) and on hover Navy (#005C88).
- [ ] Any

[2018-07-22 17:58] anjali-dhanuka commented on #819
Hi @abhishekarya286 @kamsuri @nida PLease review the issue.

[2018-07-23 15:51] ExactlyMay commented on #819
@anjali-dhanuka I'm going to edit this issue to include a little more than the navbar.

[2018-07-23 16:00] anjali-dhanuka opened #820 "API to communicate with Vola"
## Description
As a User,
I need to send data of events like event name, start date, end date, venue,
so that I can use them in Vola.

## Mocks
https://docs.google.com/document/d/1iDmIbJavH5N1kAcHS3N9AcAp6mEkb1hgEY2kTTVF81E/edit?usp=sharing

## Acceptance Criteria
### Update [Required]
- [ ] send date

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

[2018-07-23 16:00] anjali-dhanuka commented on #820
Hi @abhishekarya286 @nida @kamsuri Please review the issue.

[2018-07-23 16:18] anjali-dhanuka commented on #819
@ExactlyMay I was planning to create separate issues for each page.

[2018-07-23 16:19] anjali-dhanuka commented on #819
and since nav bar is the same for all the pages, I created this one first.

[2018-07-23 16:50] ExactlyMay commented on #819
@anjali-dhanuka Separate issues may be busy. This one hits all the buttons, links, headers, and navbar needs.

I thought CSS changes were all in a central place? That's why I merged it into one issue.

[2018-07-24 09:30] #804 closed

[2018-07-24 17:44] #755 closed

[2018-07-24 17:49] Monal5031 opened #822 "Convert line endings in VMS to LF"
## Description
Any project should follow a common line endings as defined in its `setup.cfg`, for VMS line endings in setup is LF but the project has been developed from start in CRLF and partly in LF. So this issue aims to convert all line endings to LF.

## Mocks
N/A

## Acceptance Criteria
- [ ] Convert line endings for whole project.

## Definition of Done
- [ ] All of the required items are c

[2018-07-24 21:13] Monal5031 opened #823 "Move get_results_list to BasePage from POM pages"
## Description
`get_results_list` in POM pages doesn't depend on anything in its pages and is yet defined in each POM page. Thus to reduce code duplication it should be moved to BasePage of POM and made static.

## Mocks
N/A

## Acceptance Criteria
### Update [Required]
- [ ] Move `get_results_list` from pom pages to basepage

## Definition of Done
- [ ] All of the required items are completed.
-

[2018-07-24 22:54] #751 closed

[2018-07-24 22:56] #683 closed

[2018-07-28 15:36] anjali-dhanuka commented on #773
Done #774

[2018-07-28 15:36] #773 closed

[2018-07-28 15:39] #770 closed

[2018-07-28 15:39] anjali-dhanuka commented on #768
Done #777

[2018-07-28 15:39] anjali-dhanuka commented on #772
Done #777

[2018-07-28 15:39] #772 closed

[2018-07-28 15:40] #768 closed

[2018-07-28 15:40] anjali-dhanuka commented on #759
Done #789

[2018-07-28 15:41] #759 closed

[2018-07-29 15:26] anjali-dhanuka opened #827 "Vola API Documentation"
## Description
As a User,
I need to document the Vola API
so that I can help others to use it.

## Mocks
[INSERT RELEVANT PNG FILE]

## Acceptance Criteria
### Update [Required]
- [ ] Documentation

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
2 hours

[2018-07-30 20:34] anjali-dhanuka opened #829 "Rearange Completed Shifts Page"
## Description
As a USER,
I need TO keep ongoing and past shifts in completed shifts page,
so that I can log or edit the hours.

## Acceptance Criteria
### Update [Required]
- [ ] Remove clear hours option
- [ ] Show Log Hours option

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
6 hours

[2018-08-01 19:15] anjali-dhanuka commented on #805
Closed #825

[2018-08-01 19:15] #805 closed

[2018-08-01 19:15] anjali-dhanuka commented on #740
Closed #792

[2018-08-01 19:15] #740 closed

[2018-08-01 19:16] anjali-dhanuka commented on #616
Closed #802

[2018-08-01 19:16] #616 closed

[2018-08-02 08:14] anjali-dhanuka opened #837 "Failing test_volunteer_cannot_access_admin_urls fix"
## Description
As a [USER],
I need [TO DO THIS],
so that I can [ACCOMPLISH THAT].

## Mocks
[INSERT RELEVANT PNG FILE]

## Acceptance Criteria
### Update [Required]
- [ ] [LIST ITEMS]
### Enhancement to Update [Optional]
- [ ] [LIST ITEMS]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
[INSERT NUMBER HERE] hours

[2018-08-03 12:33] anjali-dhanuka commented on #827
closes #831

[2018-08-03 12:33] #827 closed

[2018-08-03 12:34] anjali-dhanuka commented on #796
closes #799

[2018-08-03 12:34] #796 closed

[2018-08-03 12:34] anjali-dhanuka commented on #771
Closes #778

[2018-08-03 12:34] #771 closed

[2018-08-04 07:20] anjali-dhanuka opened #843 "Email Confirmation for administrator"
## Description
As a [USER],
I need [TO DO THIS],
so that I can [ACCOMPLISH THAT].

## Mocks
[INSERT RELEVANT PNG FILE]

## Acceptance Criteria
### Update [Required]
- [ ] [LIST ITEMS]
### Enhancement to Update [Optional]
- [ ] [LIST ITEMS]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
[INSERT NUMBER HERE] hours

[2018-08-04 07:54] #837 closed

[2018-08-04 08:27] #797 closed

[2018-08-04 08:27] #803 closed

[2018-08-04 08:28] #741 closed

[2018-08-04 08:29] #752 closed

[2018-08-04 08:30] #779 closed

[2018-08-04 08:31] #780 closed

[2018-08-04 11:50] Monal5031 commented on #75
@anjali-dhanuka is this done in citiies light PR?

[2018-08-04 11:57] Monal5031 commented on #659
ping @anjali-dhanuka this was also done?

[2018-08-04 11:58] #722 closed

[2018-08-05 07:20] anjali-dhanuka opened #849 "add template for edit request email"
## Description
As a [USER],
I need [TO send an email],
so that I can notify the volunteer about edits.

## Mocks
[INSERT RELEVANT PNG FILE]

## Acceptance Criteria
### Update [Required]
- [ ] [LIST ITEMS]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hour

[2018-08-06 04:15] anjali-dhanuka commented on #829
closed #832

[2018-08-06 04:15] #829 closed

[2018-08-06 07:28] anjali-dhanuka commented on #843
closed #844

[2018-08-06 07:28] #843 closed

[2018-08-06 07:31] anjali-dhanuka commented on #658
closes #738

[2018-08-06 07:31] #658 closed

[2018-08-06 07:32] anjali-dhanuka commented on #819
closes #839 #847 #841

[2018-08-06 07:32] #819 closed

[2018-08-06 07:32] anjali-dhanuka commented on #849
closes #848

[2018-08-06 07:32] #849 closed

[2018-08-06 07:38] anjali-dhanuka commented on #769
closes #778

[2018-08-06 07:38] #769 closed

[2018-08-06 07:39] anjali-dhanuka commented on #714
closes #716

[2018-08-06 07:39] #714 closed

[2018-08-06 07:41] anjali-dhanuka commented on #659
Yes @Monal5031 closed #790

[2018-08-06 07:41] #659 closed

[2018-08-06 07:42] anjali-dhanuka commented on #620
closed #706

[2018-08-06 07:42] #620 closed

[2018-08-06 09:19] anjali-dhanuka commented on #746
closed #842

[2018-08-06 09:19] #746 closed

[2018-08-06 10:00] anjali-dhanuka commented on #652
@sammy1997 I am reassigning this issue. As it seems you are unavailable to work on it,

[2018-08-06 11:02] anjali-dhanuka commented on #672
@ExactlyMay
![image](https://user-images.githubusercontent.com/22369767/43713176-46382542-9996-11e8-8867-049599d36217.png)
Done so closing this.

[2018-08-06 11:02] #672 closed

[2018-08-06 11:04] anjali-dhanuka opened #853 "Remove broken or 404 links from Home Page wiki"
## Description
As a [USER],
I need to remove broken links,

## Mocks
![image](https://user-images.githubusercontent.com/22369767/43713242-81e8c0ce-9996-11e8-9094-9b6c8db6bdfe.png)

## Acceptance Criteria
### Update [Required]
- [ ][link update]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
10 or 20 minutes

[2018-08-07 17:30] anjali-dhanuka commented on #853
done
![image](https://user-images.githubusercontent.com/22369767/43792190-9ae61266-9a95-11e8-8266-48025b22a190.png)

[2018-08-07 17:30] #853 closed

[2018-08-07 17:30] anjali-dhanuka commented on #784
closes #856

[2018-08-07 17:30] #784 closed

[2018-08-07 17:31] anjali-dhanuka commented on #652
closed #851

[2018-08-07 17:31] #652 closed

[2018-08-07 17:33] anjali-dhanuka commented on #624
closed #855

[2018-08-07 17:33] #624 closed

[2018-08-07 17:36] anjali-dhanuka commented on #522
closed #801

[2018-08-07 17:36] #522 closed

[2018-08-07 17:39] anjali-dhanuka commented on #454
closed #826

[2018-08-07 17:39] #454 closed

[2018-08-07 17:40] anjali-dhanuka commented on #340
closed #856

[2018-08-07 17:40] #340 closed

[2018-08-07 17:42] anjali-dhanuka commented on #75
Yes @Monal5031

[2018-08-07 17:42] #75 closed

[2018-08-07 17:45] anjali-dhanuka commented on #394
closed #826

[2018-08-07 17:45] #394 closed

[2018-08-08 19:01] Monal5031 commented on #781
ping @anjali-dhanuka you can work on this if you want.

[2018-08-08 19:03] Monal5031 commented on #387
already done. in #779

[2018-08-08 19:03] #387 closed

[2018-08-08 20:58] anjali-dhanuka commented on #399
closed #714

[2018-08-08 20:58] #399 closed

[2018-08-08 22:18] anjali-dhanuka commented on #396
Please use the issue template.

[2018-08-08 22:18] #396 closed

[2018-08-08 22:37] anjali-dhanuka commented on #605
Please use the issue template

[2018-08-08 22:37] #605 closed

[2018-08-08 22:49] anjali-dhanuka commented on #461
PLease use the issue template

[2018-08-08 22:49] #461 closed

[2018-08-08 23:27] anjali-dhanuka commented on #629
Done #777

[2018-08-09 05:25] anjali-dhanuka commented on #354
Please use the issue template.

[2018-08-09 05:25] #354 closed

[2018-08-09 05:26] anjali-dhanuka commented on #383
Please use the issue template.

[2018-08-09 05:26] #383 closed

[2018-08-09 05:32] anjali-dhanuka commented on #445
Please use the issue template.

[2018-08-09 05:32] #445 closed

[2018-08-09 06:05] anjali-dhanuka commented on #443
Please use the issue template

[2018-08-09 06:05] #443 closed

[2018-08-09 06:29] anjali-dhanuka commented on #386
Please  use the issue template

[2018-08-09 06:29] #386 closed

[2018-08-09 06:49] anjali-dhanuka commented on #350
please use the issue template.

[2018-08-09 06:49] #350 closed

[2018-08-09 07:13] anjali-dhanuka commented on #323
Please use the issue template

[2018-08-09 07:13] #323 closed

[2018-08-09 07:26] tonythomas01 commented on #629
if a non-existent id throws a 404, things are good enough.

[2018-08-09 07:47] anjali-dhanuka commented on #321
Please use the issue template

[2018-08-09 07:47] #321 closed

[2018-08-10 00:25] anjali-dhanuka opened #862 "Update models in Database Schema"
## Description
As a [USER],
I need [TO DO update models added in gsoc18-code,
so that I can help the newcomers.

## Acceptance Criteria
### Update [Required]
- [ ] [LIST ITEMS]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1.5 hours

[2018-08-10 00:32] anjali-dhanuka commented on #135
Please use the issue template.

[2018-08-10 00:32] #135 closed

[2018-08-10 06:47] anjali-dhanuka commented on #313
Please use the issue template

[2018-08-10 06:47] #313 closed

[2018-08-10 06:53] anjali-dhanuka commented on #629
@tonythomas01 It asks for the volunteer to login first, so in that case I don't think 404 is not required. Right?
![image](https://user-images.githubusercontent.com/22369767/43943183-3c5792ba-9c98-11e8-804d-7f07e96ef7f1.png)

[2018-08-10 06:59] anjali-dhanuka commented on #350
have a look at this @tonythomas01
https://github.com/systers/vms/blob/gsoc18-code/vms/job/templates/job/edit.html

[2018-08-10 07:38] anjali-dhanuka opened #865 "No exception page for no connection in Portal API"
## Description
As a [USER],
I need to get an error page
so that I can know that there is some connection error.

## Mocks
![image](https://user-images.githubusercontent.com/22369767/43944961-60bc86c8-9c9e-11e8-8690-99752a3f2006.png)

## Acceptance Criteria
### Update [Required]
- [ ] [LIST ITEMS]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

##

[2018-08-10 07:42] tonythomas01 commented on #350
[code]
multiple name field, making it ugly. Well, it again depends on what is happening on the JS side.

[2018-08-10 07:45] anjali-dhanuka commented on #119
Please use the issue template

[2018-08-10 07:45] #119 closed

[2018-08-10 08:13] ShubhamBansal1997 commented on #660
@anjali-dhanuka Sorry, busy with some work, if you want to assign anyone else, you can gohead, issues.

[2018-08-10 15:25] #822 closed

[2018-08-15 18:55] Vishnupriya1507 opened #869 "[Outreachy] Intrested in contributing"
I'm Vishnupriya Srivastava, from India.I am completing my graduation from Bits Pilani,India.I am a backend developer.I've done projects for my college using django framework,recently i worked with django channels creating a multichat gaming website.
I would like to contribute to your project either by participating in outreachy or gsoc.
I read about this projects from last year's .

Please guide t

[2018-08-16 15:44] Monal5031 commented on #869
@Vishnupriya1507 It'd be great if you could introduce yourself in the slack's intro channel. We'd better gudie you there.

[2018-08-16 15:45] Monal5031 commented on #869
@Vishnupriya1507 It'd be great if you could introduce yourself in the slack's intro channel. We'd able to better guide you there.

[2018-08-17 07:54] anjali-dhanuka commented on #869
@Vishnupriya1507 Please join the AMA sessions, I can guide you in stuff

[2018-08-17 07:54] anjali-dhanuka commented on #865
closes #864

[2018-08-17 07:54] #865 closed

[2018-08-17 07:55] anjali-dhanuka commented on #862
closes #863

[2018-08-17 07:55] #862 closed

[2018-08-17 07:57] anjali-dhanuka commented on #644
closes #861

[2018-08-17 07:57] #644 closed

[2018-08-17 08:00] anjali-dhanuka commented on #578
closes #861

[2018-08-17 08:00] #578 closed

[2018-08-17 08:01] anjali-dhanuka commented on #576
closes #859

[2018-08-17 08:01] #576 closed

[2018-08-17 08:05] anjali-dhanuka commented on #869
closing this @Vishnupriya1507

[2018-08-17 08:05] #869 closed

[2018-09-12 11:59] SukhnandanMalhotra commented on #823
Hey, can I work on this issue?

[2018-09-12 12:01] Monal5031 commented on #823
Sure @SukhnandanMalhotra go ahead :+1: Make sure you know what exactly needs to be done and introduce yourself on slack and ask questions on slack if needed. :)

[2018-09-13 16:14] SukhnandanMalhotra commented on #823
Please share the invite link for slack. The one mentioned is giving a 404 page.

[2018-09-16 18:34] anshulahuja98 commented on #669
Can someone brief me about which all forms need this kind of frontend validation, so that i can start working on it...?

[2018-09-16 18:42] anshulahuja98 opened #873 "Configure django-decouple instead of environment variables"
## Description
As a Member,
I need  to configure django-decouple
so that I can eliminate the hassle of environment variables.

## Mocks
Generally django uses environment variables to set various secrets in settings.py of the project like Database creds, Secret Keys, Emailing ID details, allowed hosts, debug status.
Using environment variables is usually a hassle and is prone to error.
Django decou

[2018-09-16 20:40] Monal5031 commented on #669
Ping @anjali-dhanuka

[2018-09-16 20:43] Monal5031 commented on #873
Mention all the environment vars you needed to configure and also a short summary of what decouple will do, will make it easier for maintainers to approve issue.

[2018-09-17 14:54] anshulahuja98 commented on #873
Generally django uses environment variables to set various secrets in settings.py of the project like Database creds, Secret Keys, Emailing ID details, allowed hosts, debug status.
Using environment variables is usually a hassle and is prone to error.
Django decouple takes the settings parameters from a .env file, hence even developers don't need to export environment variables to work and can sim

[2018-09-17 15:00] Monal5031 commented on #873
Great! Sounds like a good move but we'll have to wait for admins or maintainers to approve it since it will be dealing on production level too.

[2018-09-21 19:08] anjali-dhanuka commented on #669
@anshulahuja98 All the forms out there be it sign up, create form, edit form noone has frontend validation, so it needs to be applied to all of them.

[2018-09-21 19:36] anshulahuja98 commented on #669
So should I work on a PR by PR basis for each form..

[2018-09-22 05:09] anshulahuja98 opened #874 "Update admin page title and header"
## Description
As a contributer,
I need update the title and header on admin page
so that I can make the title and header more relevant

## Mocks
# Current
![image](https://user-images.githubusercontent.com/36476228/45913586-df6f2900-be52-11e8-8982-c018e6b70dd2.png)
![image](https://user-images.githubusercontent.com/36476228/45913591-04fc3280-be53-11e8-8b0f-c02483e6b1ae.png)
# Expected
![vms_2](ht

[2018-09-22 06:32] anjali-dhanuka commented on #669
@anshulahuja98 It will be better if you use some bootstrap form validations. Besides making these required fields, we need some other validations as well. So I think it will be better.

[2018-09-22 06:36] anshulahuja98 commented on #669
I have added some regex validation in email and phone number too, and for password fields, i don't  think that we can validate that at frontend because it is handled by django validators.
Can you mention an example of field where I should use bootstrap validation?

[2018-09-24 20:08] Monal5031 commented on #874
Read the issue description first 😛 It needs a approval of any maintainer first.

[2018-09-26 08:41] sourabh1031 commented on #134
@tapasweni-pathak i would like to work on this issue. i think this can be easy to hack because i am newcomer to this project

[2018-09-27 11:38] letmerecall commented on #873
Hi, Can I work on this issue?

[2018-10-13 16:08] tonythomas01 commented on #874
-1 Django administration panel is strictly for administrative purposes (from an operations PoV).

Hacking around will cost us something later.

[2018-10-13 16:15] anshulahuja98 commented on #874
@tonythomas01 it's just the page title and headers, i don't think that this could harm in any way!
I personally use this in my django projects.

[2018-11-09 18:53] CleverFool77 commented on #750
I would like to work this issue 🙂

[2018-11-10 13:42] Tlazypanda opened #877 "Changing documentation to run the project"
## Description
The following command throws an error because it is missing initialization of an extra field in the model which cant be set as null.
`insert into organization_organization values (1, 'Google');`

## Mocks
![screenshot from 2018-11-10 02-54-24](https://user-images.githubusercontent.com/33183263/48301639-f824c280-e516-11e8-9c12-22a06bb47555.png)

### Update [Required]
- [ ] Update doc

[2018-11-10 13:57] Tlazypanda opened #879 "Define home url only once in urls.py"
## Description
The following command throws a warning because the url home is defined twice in the urls.py file in the main directory.

## Mocks
![image](https://user-images.githubusercontent.com/33183263/48302123-599c5f80-e51e-11e8-8ec4-6344bc198b25.png)
![image](https://user-images.githubusercontent.com/33183263/48302151-a08a5500-e51e-11e8-8174-cbe90935c448.png)

### Update [Required]
- [ ] Code

[2018-11-11 02:07] Tlazypanda opened #881 "Change documentation to support current version of Django"
## Description
For the current version of Django . the following commands are outdated and are now replaced by a single command of migrate.They need to be removed from the documentation to allow users to install the app with ease.
`python manage.py sqlall app_name_here`
`python manage.py syncdb`

## Mocks
![screenshot from 2018-11-11 07-15-20](https://user-images.githubusercontent.com/33183263/483

[2018-11-11 12:47] Monal5031 commented on #877
GFI @Tlazypanda also mention the field you are adding in your commit message. And update docs accordingly with the fields
PS: these kind of issues should not take more than 10  mins :stuck_out_tongue:

[2018-11-11 12:50] Monal5031 commented on #879
GFI @Tlazypanda
IMO the appropriate solution here would be to use URL redirect, please look into that and update the issue accordingly.

[2018-11-11 12:59] Monal5031 commented on #881
GFI @Tlazypanda :+1: I think this got missed out somewhere during the change, anyways nice catch :tada:

[2018-11-14 14:17] #877 closed

[2018-11-18 12:30] rashmitpankhania commented on #615
Hey,

I just signed the petition "Human Resource Department of India: Remove 75%
Attendance Bar in Graduate Colleges" and wanted to see if you could help by
adding your name.

Our goal is to reach 70,728 signatures and we need more support. You can
read more and sign the petition here:

https://chn.ge/2S2JH52

Thanks!
Rashmit

[2018-11-24 17:40] abhishekspeer commented on #873
Hi there, can I start working on this issue if it is still available? @Monal5031

[2018-12-06 09:21] muskan6769 commented on #879
@Monal Can I work on this issue?

[2018-12-06 09:54] Monal5031 commented on #879
@muskan6769 sorry but there is already an open and active PR for this issue, please look into some other issue and ping me there :)

[2018-12-07 09:37] muskan6769 commented on #660
@anjali-dhanuka Is someone working on this issue?Or I can take up this issue.?

[2018-12-07 09:39] muskan6769 commented on #776
@Monal5031 Can I take up this issue?

[2018-12-07 09:53] Monal5031 commented on #776
Sure GFI :+1: @muskan6769

[2018-12-07 10:00] Monal5031 commented on #776
Last I dug up on this issue, I found that the file was being downloaded but it had problems being uploaded in the headless mode of FF.

[2018-12-07 11:24] muskan6769 opened #882 "Updating Readme with the Installation steps through virtual environment."
## Description
As a developer,
I need to add Installation steps through virtual environment as the installation steps through docker as mentioned in the README are using python 2.7 instead of python 3.6,

## Acceptance Criteria
### Update [Required]
- [ ] Installation steps through virtual environment should be added in README.

## Definition of Done
- [ ] All of the required items are completed.

[2018-12-07 11:31] sammy1997 commented on #660
@muskan6769 go ahead. Doesn't look like someone is working on this. Mention here that you are on it.

[2018-12-07 15:30] Monal5031 commented on #882
You are going to change the link in readme to installation setup present in aut_docs or write a new one? @muskan6769

[2018-12-07 15:31] Monal5031 commented on #881
Ping @Tlazypanda still on it?

[2018-12-07 15:33] Monal5031 commented on #697
Completed in #866

[2018-12-07 15:33] #697 closed

[2018-12-07 15:36] Monal5031 commented on #478
Completed in #754

[2018-12-07 15:36] #478 closed

[2018-12-07 16:11] muskan6769 commented on #882
@Monal5031 There is already a link to installation guide that is through the virtual box and vargant. So I just want to add another link for easy installation using the virtual environment for the linux users.

[2018-12-07 16:13] Monal5031 commented on #882
Dont add but Replace the existing link, since vagrant and virtual box one needs to be updated.
GFI :+1: send a PR

[2018-12-07 18:19] Tlazypanda commented on #881
Yup

[2018-12-08 20:12] muskan6769 commented on #776
@Monal5031 actually the problem was that the resume was not being uploaded because we were not able to make directories in media root as **permission denied error ** was being shown and therefore when the tests were running it was not finding an element with **collapseResumeFile** and hence the test was failing.

So if I just upload the resume directly to media directory then the test works perfec

[2018-12-08 23:01] Monal5031 commented on #776
Nice digging @muskan6769 :tada:
We can't directly add the resume to media directory and complete the test that would be something like asserting true with true :p, the test needs to check if there is no manipulation in between.
As per your comment, the directory is not being created due to permission errors <-- thus this is what we need to tackle in the patch.

[2018-12-09 10:53] khatryshikha commented on #750
This issue seems to be interesting, may I take this issue?

[2018-12-09 10:55] Monal5031 commented on #750
Yeah sure go ahead :+1: make sure to setup the project successfully first

[2018-12-09 10:56] khatryshikha commented on #750
This seems to be interesting, may I take up this issue?

[2018-12-09 10:56] khatryshikha commented on #750
Yes, sure!

[2018-12-09 17:46] muskan6769 commented on #776
@Monal5031 I had to use the following command to remove the permission errors
```sudo chmod -R 770 /home/muskan/Desktop/vms/vms/srv/``` to give permission to grp users to access media folders.
and now the test is successful.
![s3](https://user-images.githubusercontent.com/34505804/49700701-5ae9a680-fc08-11e8-8db4-2f62fad870ca.png)

[2018-12-09 18:35] Monal5031 commented on #776
770 is not too good to be given, 740 should be okay I guess. Go ahead and send a PR to uncomment the tests failing due to resume upload and change the permission to 740.

[2018-12-10 07:53] muskan6769 commented on #776
@Monal5031 if I change the file upload permissions and file upload directory permissions in settings.py then the error will be remove for the new users as when they first time upload the media files the srv folder will be created with correct permissions but for those whose media folder has already been created ,they need to run the command to change the permissions for the media folder.

[2018-12-10 07:56] muskan6769 commented on #744
@Monal5031 @ayushgarg1804 I think this issue is also solved along with issue #776 because that was also because of the same problem.

[2018-12-10 08:58] Monal5031 commented on #744
True @muskan6769 this will be solved by changing the permissions

[2018-12-10 13:27] Tlazypanda opened #886 "Texts overflowing to the left in profile.html"
## Description
In profile.html , the name is not completely visible since a part of it is overflowing to the left.

## Mocks
![screenshot from 2018-12-10 18-55-21](https://user-images.githubusercontent.com/33183263/49735433-34ca1200-fcad-11e8-8fcb-f2373860b8ab.png)

### Update [Required]
- [X] Identify css element causing the problem and removing the error.

## Definition of Done
- [ ] All of the

[2018-12-10 18:45] muskan6769 commented on #660
If there is a email id 'myname+123@gmail.com' and it is saved in the data base as 'myname@gmail.com'
So will be there be any problem?

[2018-12-10 18:59] muskan6769 commented on #629
@anjali-dhanuka can I work on this?

[2018-12-10 19:02] muskan6769 commented on #743
@Monal5031 Can I work on this ,I think only some clean methods are not added?

[2018-12-10 21:11] imashwani commented on #886
i have soled the issue should i make a pull request?
After results: The user name doesnot overflows anymore
![screenshot_2018-12-11 volunteer management system 1](https://user-images.githubusercontent.com/20511163/49761877-39fb8100-fcee-11e8-94e7-53eb53481335.png)

[2018-12-10 21:48] imashwani commented on #742
this seems interesting, my i take up this task @Monal5031 ?

[2018-12-11 11:00] Tlazypanda commented on #886
Actually you have to first wait for the issue to get approved and you can make a pr only if you are assigned the issue 😅

[2018-12-11 11:28] muskan6769 opened #888 "Updating the installation guide with ``` python manage.py cities_light``` command."
## Description
I need to add ``` python manage.py cities_light``` command to the installation guide for installation of django cities_light so that we can get a list of countries,state and cities while signing up

## Acceptance Criteria
### Update [Required]
- [ ] Updating in command in installation guide.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 me

[2018-12-11 13:50] khatryshikha opened #889 "Error in datatype for the "City" field in "sign-up as admin"."
## Description
While signing up as an admin then City i.e is "string" is typecasted as int somewhere in the code.

## Mocks
![screenshot from 2018-12-09 23-58-44](https://user-images.githubusercontent.com/30694592/49804642-1c272e00-fd79-11e8-95a9-8a0957947030.png)

## Acceptance Criteria
### Update [Required]
- [ ] Datatype correction in code

## Definition of Done
- [ ] All of the required items

[2018-12-11 14:38] Monal5031 commented on #888
Valid issue, GFI if you want 👍

[2018-12-11 14:39] Monal5031 commented on #889
It's a valid issue 👍
@khatryshikha Have you found out the exact line of error?

[2018-12-11 14:52] khatryshikha commented on #889
@Monal5031, yes I am working on it. Will make the PR by tonight.

[2018-12-11 14:58] Monal5031 commented on #886
Valid issue :+1: Comment down if you want to work on it.

[2018-12-11 15:09] Tlazypanda commented on #886
I would like to work on this 😅

[2018-12-11 15:11] Monal5031 commented on #886
GFI

[2018-12-11 15:14] Monal5031 commented on #742
GFI :+1: @imashwani

[2018-12-11 15:16] Monal5031 commented on #743
Please complete previous issues first @muskan6769 before taking up new ones

[2018-12-11 15:37] Monal5031 commented on #660
django email field will save email `myname+123@gmail.com` as it only, see here:
![img](https://user-images.githubusercontent.com/21009189/49811168-ab880d80-fd88-11e8-8d1e-658978fb4fa4.png)

[2018-12-11 15:39] Monal5031 commented on #660
@muskan6769 go through the above comments, things will get clear what exactly needs to be done.

[2018-12-11 19:42] muskan6769 commented on #660
Actually I have removed the bug , if a email 'name+123@gmail.com' is given then after cleaning it returns name@gmail.com and it is checked by the validator that it should be unique.
That is fine and now only unique emails will be used.But my question was that now the email stored in the database would be name@gmail.com instead of name+123@gmail.com,so is that fine?

[2018-12-19 08:10] muskan6769 commented on #629
@sammy1997 @Monal5031  Can I go ahead with this issue?

[2018-12-22 21:56] #882 closed

[2018-12-29 11:21] LordGameleo commented on #655
Is this issue still open? I would like to work on it. @abhishekarya286  @prachi1210  @tonythomas01

[2018-12-29 11:59] abhishekspeer opened #895 "Change psycopg2 to version 2.7.4"
## Description
As a developer,
I need to upgrade `psycopg2` from its current version `2.7.3` to `2.7.4`,
so that I can accomplish a hassle free procedure while setting up the project locally.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [x] Change psycopg2 from its current version 2.7.3 to 2.7.4 in requirements.txt.

## Definition of Done
- [ ] All of the required items are complet

[2019-01-01 13:54] muskan6769 commented on #743
@Monal503 Now can I take up this?

[2019-01-04 16:40] #895 closed

[2019-01-04 16:41] Monal5031 commented on #895
In future, we might move to psycopg2-binary not beneficial for now

[2019-01-04 16:56] Monal5031 commented on #655
GFI @LordGameleo :+1:

[2019-01-04 17:00] Monal5031 commented on #823
@SukhnandanMalhotra Did you join the slack or still need the link?

[2019-01-06 07:41] 01shobitha opened #897 "Error while including comma in address field while creating new event."
## Description
There is an error while including comma in the address field while creating an event. I need to modify the RegexValidator to rectify the error.

## Mocks
![screenshot](https://user-images.githubusercontent.com/32234630/50733307-4241c180-11b1-11e9-8959-7456412d89f6.png)

## Acceptance Criteria
### Update [Required]
- [ ] Update the RegexValidator in address field in the model- Event.

[2019-01-06 08:00] Monal5031 commented on #897
@01shobitha Yeah I guess it is a valid issue, as someone may have additional details in their address like `flat number, block number...`
Please check if this error is in other apps too which have the address field in their models.

[2019-01-06 08:04] 01shobitha commented on #897
@Monal5031 Sure, I will check the other apps too for this bug. Thank you :)

[2019-01-06 08:08] Monal5031 commented on #873
Yeah this will be a good move but we'd need to document an example config too.
@abhishekarya286 @letmerecall Since @anshulahuja98 First asked to work on this issue I guess its fair to allow him to complete this issue.

[2019-01-06 09:01] anshulahuja98 commented on #873
Hey, has this issue been approved now?

[2019-01-06 09:02] Monal5031 commented on #873
Yeah I just approved it in above comment @anshulahuja98 GFI :+1:

[2019-01-06 09:39] anshulahuja98 commented on #873
https://github.com/systers/vms/blob/7ca01e87bbc35708af6bc6d2bfe62b2ee70bcec1/vms/vms/settings.py#L124

I can only see the debug settings for email credentials, and that too has been repeated twice in line 124 and 138

Can anyone explain this?

[2019-01-06 09:47] anshulahuja98 commented on #873
Also how can I update the requirements in the docker image of vms?

[2019-01-08 13:16] 01shobitha commented on #886
Shall I work on this issue :smile:  ?

[2019-01-11 14:37] LordGameleo commented on #897
Is this issue open??

[2019-01-11 15:04] 01shobitha commented on #80
Hello @tapaswenipathak I am interested to work on it, so may I take it up? :smile:

[2019-01-11 15:10] tapaswenipathak commented on #80
Hi @01shobitha, I'm not maintaining VMS from quiet some time, so better make sure if this exist.

[2019-01-11 15:22] LordGameleo commented on #742
Is this issue open?

[2019-01-11 15:48] 01shobitha commented on #80
@tapaswenipathak Okay :smile: Wanted to make sure if what I had in mind is right. Currently volunteer does not have an option to change the time format according to their wish. So there should be a choice for him/her to select the time format so that wherever time is displayed, it will be in that selected format. Correct me if my interpretation is wrong.
If I am right, then I don't think this is i

[2019-01-13 10:11] Monal5031 commented on #80
Sure go ahead @01shobitha

[2019-01-19 16:00] LordGameleo opened #900 "Overlapping Menu and Systers Logo when resizing the browser"
## Description

When running locally, if we resize the browser then Horizontal Menu overlaps on Systers Logo.

## Mocks

![1](https://user-images.githubusercontent.com/40512667/51429007-27029780-1c30-11e9-924b-01b4767d4786.png)

## Acceptance Criteria
### Update [Required]
- [ ] Adaptive menu which changes when the browser size is less than a specific value
- [ ] Make it consistent for all the pag

[2019-01-23 16:43] sanjana11147 commented on #781
Hii @Monal5031, is this issue still open?
I want to work on it.

[2019-01-24 20:21] agarwalrounak commented on #888
@Monal5031 I will work on it.

[2019-01-27 14:40] Monal5031 commented on #781
Sure go ahead @sanjana11147

[2019-01-27 14:41] Monal5031 commented on #900
Go ahead :+1: @LordGameleo Make sure you include the final screenshots in PR

[2019-01-27 14:42] Monal5031 commented on #888
go ahead @agarwalrounak

[2019-02-14 07:00] sanjana11147 commented on #750
Hii @khatryshikha are you working on this issue?
I would like to take it up.

[2019-02-23 12:55] sanjana11147 commented on #750
I don't think @khatryshikha is working on this issue. Can you assign it to me? @Monal5031

[2019-02-24 10:54] sanjana11147 commented on #783
Hii @Monal5031 I think I have found the solution to this. I'll try to fix it.

[2019-02-24 12:13] sanjana11147 commented on #783
I have configured codacy to ignore unused variable checks in my forked project. However, I am not sure how to make a pull request regarding the same as there is no change in the code. @Monal5031

[2019-09-12 05:44] abitrolly opened #904 "Enable https"
## Description
As a new user, I need enter password into login form in secure manner, so that I can login safely.

## Acceptance Criteria
### Update [Required]
- [ ] add Let's Encrypt certificate to vms AWS instance

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
16 hours

[2019-09-16 18:40] #823 closed

[2019-09-16 18:40] #776 closed

[2019-09-16 18:41] #888 closed

[2019-09-16 18:43] #881 closed

[2020-01-22 02:46] marylicious commented on #900
I'm working on this

[2020-01-27 13:47] #897 closed

[2020-01-27 14:14] aayush-05 commented on #900
One more thing to be mentioned, that on mobile displays toggling the burger button opens the nav list on top of the Systers logo
![image](https://user-images.githubusercontent.com/47032027/73181483-4da9b700-413d-11ea-81d7-6e1d9a6c49ac.png)

[2020-01-27 14:51] aayush-05 opened #909 "Orientation problem with User Name"
## Description
The user name on the profile page is not visible properly.

## Mocks
![image](https://user-images.githubusercontent.com/47032027/73184347-4e911780-4142-11ea-9dcd-681eaed6c257.png)

## Acceptance Criteria
### Update [Required]
- [ ] The margin for the header element must be moved a little to the right

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approva

[2020-01-27 14:55] aayush-05 opened #910 "Signup email not being delivered"
## Description
The email for verification of the user( email id) isn't being sent on the current deployment. Further the system is allowing user to login in further without performing the verification on the email.

## Mocks

## Acceptance Criteria
### Update [Required]
- [ ] Work on the authorization to allow only verified users to log in

## Definition of Done
- [ ] All of the required items are

[2020-01-27 14:59] aayush-05 opened #911 "Forgot password email not being sent"
## Description
The email link to reset password isn't being sent to the email id on current deployment

## Mocks

## Acceptance Criteria
### Update [Required]
- [ ] Make sure the authorization service is working with reset password functionality

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
 hours

[2020-01-28 06:56] aayush-05 commented on #909
Duplicate of #886

[2020-01-28 06:56] #909 closed

[2020-01-28 07:05] aayush-05 commented on #874
This doesn't good enough to be worked on; admin panel would be used mainly by the maintainers. So adding specific header isn't required. Can we get it closed @Monal5031
Also https://github.com/systers/vms/pull/875 can be closed then.

[2020-01-29 16:32] marylicious opened #913 "Some model migrations are missing"
## Description
When the command `python manage.py migrate` is used, it only migrates  admin, auth, cities_light, contenttypes and sessions.

Use the command `python manage.py makemigrations <app>` to create the missing migrations.

## Acceptance Criteria
### Update
- [ ] Update migrations to handle properly all the models

## Definition of Done
- [ ]  Create migration of `administrator`
- [ ]  Cre

[2020-01-29 16:35] marylicious commented on #913
I'm not sure if this is a proper issue or I did something wrong and it's only happening on my machine, but I lost time thinking it was some other thing. So, having all the migrations can make everything more beginner-friendly.

[2020-01-29 18:08] aayush-05 commented on #913
`makemigrations` is basically used to generate out sql commands, while `migrate` command is used to apply those generated commands to the database.
So, running just the `migrate` command does the work of both of them. The installation guide mentions the migrations for some particular apps, may be because those are the only ones required (not sure).

[2020-01-29 21:24] MarkoShiva opened #915 "Improving docker image docker-compose and Dockerfile?"
## Description
As a user ,
I should be able to run docker-compose up,
so that I can I have up and running docker stack without the need to run additional commands.

## Mocks
[INSERT RELEVANT PNG FILE]

## Acceptance Criteria
### Update [Required]
- [ ] docker-compose.yml
- [ ] Dockerfile
- [ ] README.md

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mento

[2020-01-30 19:01] MarkoShiva opened #916 "Improving documentation database setup related"
## Description
As a new to the project developer,
I need to be able to setup development environment outside of vagrant and custom image,
so that I can develop efficiently.

## Mocks
[INSERT RELEVANT PNG FILE]

## Acceptance Criteria
### Update [Required]
- [ ] update documentation related to steps to setup postgresql database
### Enhancement to Update [Optional]
- [ ] [LIST ITEMS]

## Definition

[2020-01-30 19:12] MarkoShiva commented on #913
In case of this project look like they are a bit against adding migrations to the git. Not sure why as that is part that is needed when you want to setup project.
So however if you use `python manage.py migrate --noinput --traceback --settings=vms.settings` you stay without migrations. So I'm not sure that PR will be accepted.

[2020-01-30 19:15] MarkoShiva commented on #916
Well as I saw the documentation referenced in readme file is wrong. It reference to aut_docs instead of to main document about installation which already have settings although its a bit too verbose document.

[2020-01-31 14:48] marylicious commented on #913
ok thank you I will close it

[2020-01-31 14:48] #913 closed

[2020-02-06 15:45] theOpetunde commented on #916
Hello,

I'd love to contribute to this project in any way that I can. Has this issue been solved?

[2020-02-06 16:15] theOpetunde opened #919 "New user signup returns PermissionError"
## Description
As a new user signing up,
I need to submit the sign-up form
so that I can have a profile and sign-in.

New users trying to sign-up through this link http://ec2-52-53-177-18.us-west-1.compute.amazonaws.com/en-us/registration/signup_volunteer/ get permission error after filling out all the necessary required details and clicking on the "sign-up" button

## Mocks
![anita borg](https://

[2020-02-07 14:33] aayush-05 commented on #919
Hey !
Can you check up if this issue still exists for you ? I just signed up with a new account and it went on smoothly.
![image](https://user-images.githubusercontent.com/47032027/74037693-d13c9100-49e4-11ea-9bb5-fa02b03c8251.png)

[2020-02-07 16:10] theOpetunde commented on #919
Sure.

I tried it once more like you mentioned and here is a screenshot of the response I got:
![anita](https://user-images.githubusercontent.com/60391138/74045152-90388280-49cc-11ea-9826-12d8f413814b.PNG)

What I noticed though is that when I tried using the signup details I used yesterday, it said "user already exists". And then, when I try and use a new user, it returns this error above.

I use

[2020-02-07 16:17] aayush-05 commented on #879
@Monal5031 I was looking into this issue, and got this error. Do you know why even the current implementation is not working (even though it is throwing an error)
![image](https://user-images.githubusercontent.com/47032027/74045757-562ea700-49f3-11ea-8f9e-3b69193ca032.png)

[2020-02-09 12:07] aayush-05 commented on #879
@anjali-dhanuka I was looking into this issue, and got this error. Do you know why even the current implementation is not working (even though it is throwing an error)
![image](https://user-images.githubusercontent.com/47032027/74045757-562ea700-49f3-11ea-8f9e-3b69193ca032.png)

[2020-02-09 15:23] aayush-05 opened #920 "Redundant code and outdated database settings"
## Description
Their is redundant code in the settings.py file and also the database settings are a bit outdated with respect to the current Django version 1.11

## Mocks
![image](https://user-images.githubusercontent.com/47032027/74104758-f57fa580-4b7d-11ea-9918-ea9e0b833e37.png)
![image](https://user-images.githubusercontent.com/47032027/74104760-f9132c80-4b7d-11ea-8c8d-d621ec30a93d.png)

## Acc

[2020-02-09 19:22] aayush-05 commented on #920
Can I work on this issue ?

[2020-02-09 19:22] aayush-05 commented on #916
I would like to work on this issue.

[2020-02-23 15:18] jains8844 commented on #915
I would like to work on this issue

[2020-02-23 15:19] jains8844 commented on #915
I have some other issues too regarding the docker implementation which I wish to rectify too

[2020-02-27 12:28] kss682 commented on #655
Hi , I am new here I would like to work on this issue if its still open .

[2020-02-28 16:57] mrsaicharan1 commented on #910
I'll work on this. Would appreciate it if you could assign this to me @Monal5031

[2020-02-28 17:26] aayush-05 commented on #910
I am not sure but this could be due to the expiration of the email service we are using, but still it shouldn't allow login without getting the user verified via that link.

[2020-02-28 17:32] mrsaicharan1 commented on #910
@aayush-05 I believe you're right. In that case, it would be better if you could update the issue description. Thanks!

[2020-02-28 18:02] cristomathew commented on #879
is this still open?

[2020-02-28 18:10] cristomathew commented on #919
I tried it out too and found no issues.

[2020-02-28 18:12] cristomathew commented on #80
is it solved?. If not can i take it up

[2020-02-28 18:13] cristomathew commented on #889
is the issue solved? if not can i take it up

[2020-02-28 18:18] mrsaicharan1 opened #927 "Volunteer model requires an is_verified field"
## Description
The current authentication workflow does not support the validation of the verification email while logging in. The user should only be able to log in if their email was verified. Otherwise, there wouldn't be much of a practical point in sending a verification email!

## Acceptance Criteria
### Workflow intended
Users must be distinguishable with respect to email verification

## Ad

[2020-03-02 15:48] theOpetunde commented on #919
That could happen. It may be that the browser has some issues

[2020-03-02 15:49] #919 closed

[2020-03-03 08:23] viratvasu commented on #910
i can do it if you assign it to me

[2020-03-04 19:42] #927 closed

[2020-03-06 07:29] Kishan-Dhakan opened #929 "Outdated dependency in requirements.txt"
## Description
The requirements.txt file lists Django 1.11.0, however, this version causes a Syntax error while creating migrations for the database (as written in the 8th step in the installation guide [here]).(https://github.com/anitab-org/vms/blob/develop/aut_docs/Installation_Setup.md). This can be resolved by updating Django version to 1.11.17.

## Mocks
![Screenshot from 2020-03-06 12-54-05]

[2020-03-07 13:05] isabelcosta opened #930 "Update Communicate section on README"
## Description

As a contributor,
I need to know where I can reach out to the community,
so that I can discuss or see discussions of this project.

I would suggest updating "Communicate" section to have link to our Zulip and link to #vms stream.
An example of links that can be useful is on [mentorship-backend README](https://github.com/anitab-org/mentorship-backend/).

## Acceptance Criteria
### U

[2020-03-07 19:14] AnweshaSen commented on #930
I would like to work on this issue.

[2020-03-07 20:02] isabelcosta commented on #930
Go ahead @AnweshaSen :) I will assign this to you.

[2020-03-07 21:43] Monal5031 commented on #929
Sure go ahead @Kishan-Dhakan please send a PR :)

[2020-03-07 23:08] Monal5031 commented on #920
I don't understand what you mean by redundant code here? @aayush-05  Can you please explain a little bit more :)

[2020-03-07 23:12] Monal5031 commented on #889
There is an active PR for this issue if @khatryshikha isn't working on it then sure you can @cristomathew

[2020-03-08 16:58] sammy1997 opened #932 "A Concise Installation Guide and updated Readme.md link"
## Description
As a developer,
I need know how to set up the Postgres DB,
so that I can migrate the models and run VMS locally.

The DB setup part is missing from the currently linked [installation guide](https://github.com/anitab-org/vms/blob/develop/aut_docs/Installation_Setup.md) and the [other guide](https://github.com/anitab-org/vms/blob/develop/docs/Installation_Guide.md) has too much unnece

[2020-03-08 16:59] sammy1997 commented on #932
@isabelcosta @Monal5031 Can you label this with documentation and first-timer labels?

[2020-03-08 17:11] isabelcosta commented on #932
Great issue @sammy1997 I assigned the labels

[2020-03-08 18:04] Kishan-Dhakan commented on #932
Can I work on this issue?

[2020-03-08 18:08] sammy1997 commented on #932
Sure @Kishan-Dhakan go ahead!

[2020-03-08 18:45] AnweshaSen commented on #930
Please review my Pull Request.

[2020-03-08 21:37] Monal5031 opened #934 "Fix error on travis CI so the test suite can be executed"
## Description
As a contributor,
I need to have my changes tested on travis CI,
so that I can assure that my changes dont break anything in current version of code.

## Mocks
![image](https://user-images.githubusercontent.com/21009189/76171585-01797a00-61b3-11ea-95d4-2b1ce3f73494.png)

## Acceptance Criteria
### Update [Required]
- [ ] .travis.yml file to fix the build so the test suite can run pr

[2020-03-08 21:44] Monal5031 commented on #910
Currently the code isn't fully deployed on the link available, and if you try it locally you can see that the verification email is sent on the terminal coz it's still a dev version.

So this issue isn't valid for now

[2020-03-08 21:44] #910 closed

[2020-03-08 21:46] Monal5031 commented on #911
Same as https://github.com/anitab-org/vms/issues/910#issuecomment-596256385

[2020-03-08 21:46] #911 closed

[2020-03-08 21:47] Monal5031 commented on #915
@MarkoShiva A little more description would help here, exactly what you want to achieve with this issue
@jains8844 Yes please go ahead and post them here or on zulip channel

[2020-03-08 21:49] Monal5031 commented on #916
This is being done in https://github.com/anitab-org/vms/issues/932

[2020-03-08 21:49] #916 closed

[2020-03-08 22:18] #874 closed

[2020-03-08 22:27] Monal5031 commented on #660
No that's not what we need @muskan6769

[2020-03-08 22:37] Monal5031 commented on #655
ping @kss682

[2020-03-09 05:12] aayush-05 commented on #920
I was talking about the email configuration to console done for local server being copied twice.
![image](https://user-images.githubusercontent.com/47032027/76184632-a5cee100-61f2-11ea-915e-c3a09d126f34.png)

[2020-03-09 14:45] Monal5031 commented on #920
Ahh okay, you mentioned DB settings so I got confused with that.

Yeah sure please go ahead and send a PR for those 3 redundant lines

[2020-03-09 20:24] #669 closed

[2020-03-09 20:25] #929 closed

[2020-03-10 08:12] Kishan-Dhakan commented on #934
I would like to take this up :)

[2020-03-10 19:41] #930 closed

[2020-03-11 05:49] abha224 commented on #742
i would like to work on this issue, can i take this up if its still open? @Monal5031

[2020-03-11 20:51] abha224 opened #938 "Improving the form filling process for the admin"
## Description
When the admin searches for a volunteer , instead of filling out all the form fields
(some of which are optional) ,  can we add * for the relevant fields to be filled . This will make it easier for the admin to navigate and search.

## Mocks
NA

## Acceptance Criteria
### Update [Required]
- [ ] identify mandatory form field names
- [ ] update form field names

## Definition of Done

[2020-03-11 21:05] abha224 opened #939 "the admin should be able to select a date that lies within the job duration while creating shifts"
## Description
As an admin, I must be able to select only those dates while creating a new shift that fall during the corresponding job period so that there is no error encountered towards the end.

## Mocks
![Screenshot from 2020-03-12 02-23-58](https://user-images.githubusercontent.com/39526159/76463507-81008680-6409-11ea-8990-b918446f9642.png)

## Acceptance Criteria
### Update [Required]
- [ ]

[2020-03-12 11:05] anaghamittal commented on #873
@Monal5031 @sammy1997 , Can I work on this issue?

[2020-03-12 11:21] yashshah2820 commented on #879
@Monal5031 can I work on this issue

[2020-03-12 19:04] Kishan-Dhakan commented on #920
Since it has been 3 days without a PR or an comment, Is it okay if I ask to work on this? Hope I am not overstepping :)

[2020-03-12 22:22] Monal5031 commented on #920
ping @aayush-05

[2020-03-12 22:52] #932 closed

[2020-03-12 22:57] Monal5031 commented on #939
Valid issue 👍

[2020-03-12 22:58] Monal5031 commented on #938
Valid issue 👍

[2020-03-12 23:00] Monal5031 commented on #879
@yashshah2820 Assigned, GFI 👍

[2020-03-12 23:00] Monal5031 commented on #873
GFI @anaghamittal

[2020-03-13 07:14] abha224 commented on #938
I would like to work on this issue.

[2020-03-13 07:14] abha224 commented on #939
I would like to work on this issue.

[2020-03-13 12:14] yashshah2820 commented on #879
on it

[2020-03-14 11:54] Harirai commented on #920
HI, @aayush-05 may I work on this issue? I'm new to open source, this seems to be easy and good for a newcomer.

[2020-03-14 19:51] Niharika-Arora commented on #938
Hi! I'd like to work on this issue.

[2020-03-14 19:59] Niharika-Arora commented on #886
Hi! I'd like to work on this issue.

[2020-03-14 20:24] Niharika-Arora commented on #889
Hi! I'd like to work on this issue.

[2020-03-14 21:40] kjain0073 commented on #938
Hi, I'd love to work on this issue!

[2020-03-14 21:42] kjain0073 commented on #886
Hi! I'd love to work on this issue

[2020-03-14 21:44] kjain0073 commented on #889
Hi, I'd love to work on this issue!

[2020-03-15 09:15] Harirai commented on #920
@Monal5031 I think @aayush-05  is not active on this issue, can you please assign it to me, if possible?

[2020-03-15 10:49] Kishan-Dhakan commented on #750
@Monal5031 I would like to take this up next, shall give for it? :)

[2020-03-15 12:20] aayush-05 commented on #920
Sorry @Monal5031 for missing your messages, just gone through the mail box. You can assign it to @Harirai

[2020-03-15 12:25] isabelcosta opened #942 "Update references on CONTRIBUTING.md to slack"
## Description

As a contributor,
I need updated references to communication channels used by the community,
so that I can reach out to the community in the correct channels.

Contributing guidelines has still a reference to Slack channels. It should have a link to Zulip and the appropriate stream. This should minimize confusion from newcomers

## Acceptance Criteria
### Update [Required]
- [ ] Up

[2020-03-15 20:10] Monal5031 commented on #750
Please complete other issues first @Kishan-Dhakan :) It's better to have one issue assigned at a time.

[2020-03-15 20:11] Monal5031 commented on #889
@cristomathew do you still want to work on this issue or should I assign it to someone else?

[2020-03-15 20:13] Monal5031 commented on #920
I'm sorry @Harirai but @Kishan-Dhakan asked to be assigned first so I'll have to assign it to him.

[2020-03-15 20:17] Kishan-Dhakan commented on #920
Yes @Monal5031

[2020-03-15 20:18] Monal5031 commented on #920
@Harirai Please let me know if you find any other issue you want to work on

[2020-03-15 20:20] Monal5031 commented on #886
@kjain0073 ,  @Niharika-Arora Asked first so I'll have to assign it to her. Please let me know if wish to work on any other issue

[2020-03-15 20:21] Monal5031 commented on #938
@abha224 @Niharika-Arora Please complete other assigned issue first :) @kjain0073 assigning it to you.

[2020-03-15 20:33] #920 closed

[2020-03-15 23:02] BeKingsman commented on #889
@Monal5031  Hi, i would like work on this issue.

[2020-03-16 11:04] AnweshaSen commented on #750
Is this issue available to be taken? I would like to work on this then !!

[2020-03-16 11:07] Kishan-Dhakan commented on #750
I understand :)

[2020-03-16 18:05] Harirai commented on #942
@isabelcosta  I would like to work on this issue, this seems to be a nice one to get started :)

[2020-03-16 18:09] isabelcosta commented on #942
Sure @Harirai :)

[2020-03-16 18:34] Harirai commented on #942
@isabelcosta  Please review the PR, I hope it didn't mess up in my first PR to the org. XD

[2020-03-16 18:41] AnweshaSen commented on #745
I would like to work on this issue

[2020-03-17 04:36] cristomathew commented on #900
is it done or can i take this up

[2020-03-17 06:01] BeKingsman commented on #939
Hii @Monal5031 , i would like to work on this issue.

[2020-03-17 07:25] BeKingsman commented on #889
@Monal5031 Sorry i requested a PR without the issue being assigned to me. Can i fix this issue ?

[2020-03-17 13:44] yashshah2820 opened #948 "updating .gitignore and adding migrations folder to all the the apps"
## Description
As a developer,
I need to update the .gitignore file and add the migrations folder within the apps
so that I can apply migrations to the apps and add files .vscode in gitignore so that this folder can be ignored while staging changes.

## Mocks
![image](https://user-images.githubusercontent.com/42682370/76863070-03170200-6885-11ea-997a-e5f6831f15e6.png)

## Acceptance Criteria
### A

[2020-03-17 15:07] abha224 opened #950 "fix the volunteer sign up page"
## Description
When an user tries to sign up as a volunteer , there is an error generated and the form does not load.
## Mocks
![Screenshot from 2020-03-17 20-31-41](https://user-images.githubusercontent.com/39526159/76869546-7ffaa980-688e-11ea-8c37-c1bc38cbff4f.png)

## Acceptance Criteria

### Update [Required]
- [ ] code has to be updated

## Definition of Done
- [ ] All of the required items a

[2020-03-17 16:25] Aimaanhasan commented on #889
Hello, I'd like to work on this issue, Can I fix it?

[2020-03-17 16:32] Aimaanhasan commented on #781
I'd like to work on this issue, Is it still available?

[2020-03-17 16:34] Aimaanhasan commented on #745
I'd like to work on this issue, Can I fix it?

[2020-03-17 16:35] Aimaanhasan commented on #750
Hello, I'd like to work on this issue, Can I fix it?

[2020-03-17 16:37] Aimaanhasan commented on #742
Hello, I'd like to work on this issue, Can I fix it?

[2020-03-17 18:06] yashshah2820 opened #951 "fix serving uploaded docs through media"
## Description
As a Member,
I need to add static files path to URL patterns in the vms urls.py,
so that I can serve the uploaded documents.

## Mocks
![image](https://user-images.githubusercontent.com/42682370/76887015-9c571000-68a7-11ea-863b-bf03e6c6f980.png)

## Steps to reproduce
To serve the uploaded media files through URL like
srv/vms/resume/[pdf_name]
this URL should be able to view the med

[2020-03-18 02:06] kjain0073 commented on #938
@Monal5031  Please review the PR, I hope it didn't mess up in my first PR to this org.  xD #952

[2020-03-18 11:06] Harirai opened #953 "update the README.md to fix broken link"
## Description
As a contributor,
I need to use the live site,
so that I can suggest enhancements/bugs.

![Screenshot from 2020-03-18 23-06-51](https://user-images.githubusercontent.com/43855822/76989972-37fe8400-696d-11ea-9e63-af9eaaf5b795.png)

` VMS is live ` [here](http://52.8.110.63/)
is not working.

## Acceptance Criteria
### Update
- [ ] Fix the link to live website.

## Definition of Done

[2020-03-18 11:07] Harirai commented on #953
@Monal5031 Kindly assign me this issue.

[2020-03-18 11:40] Harirai commented on #942
@isabelcosta Ma'am I understand you are quite busy this time, please close this issue when you get time. :smile:

[2020-03-18 14:26] Monal5031 commented on #886
Fixed in #944

[2020-03-18 14:26] #886 closed

[2020-03-18 15:09] #879 closed

[2020-03-18 15:42] Monal5031 commented on #948
Yup makes sense to have at least __init__.py inside migrations folder

Valid issue :+1:

[2020-03-18 15:43] Monal5031 commented on #950
I know the issue is valid @abha224 But please add more description explaining the bug.

Approved :+1: but add more description

[2020-03-18 15:45] Monal5031 commented on #889
Sorry @Aimaanhasan @BeKingsman asked before you :(

[2020-03-18 15:47] Monal5031 commented on #781
@Aimaanhasan I'd suggest to start with a small issue for first contribution

[2020-03-18 15:49] Monal5031 commented on #873
ping @anaghamittal

[2020-03-18 15:50] Monal5031 commented on #745
Sorry @Aimaanhasan but @AnweshaSen asked to be assigned before

[2020-03-18 15:53] Monal5031 commented on #742
Complete other issues first @abha224 @Aimaanhasan

[2020-03-18 15:54] Monal5031 commented on #951
Valid issue :+1:

[2020-03-18 15:55] Monal5031 commented on #953
Add more description please

[2020-03-18 16:36] yashshah2820 commented on #951
can I work on this issue @Monal5031

[2020-03-18 16:37] yashshah2820 commented on #948
can I work on this issue @Monal5031

[2020-03-18 16:41] BeKingsman commented on #889
@Monal5031 I have linked a pull request which will fix this issue.

[2020-03-18 16:51] Niharika-Arora commented on #950
Hi! I'd like to work on this issue.

[2020-03-18 17:02] abha224 commented on #950
Okay! I have updated the description.

[2020-03-18 17:40] Harirai commented on #953
@Monal5031  Sir I have edited it, kindly have a look.

[2020-03-19 16:52] anaghamittal commented on #873
@Monal5031 I am working on this. Just need some more time.

[2020-03-21 21:43] raghavdhingra commented on #950
I have solved the issue and made a PR.
PR id: #957

[2020-03-23 07:26] BeKingsman commented on #950
@Monal5031 @sammy1997 Can I work on this issue if it's still available?

[2020-03-23 10:56] owais4321 commented on #953
Kindly assign me this issue

[2020-03-23 13:28] raghavdhingra commented on #950
@BeKingsman I have fixed the issue already. Thanks for your approach to this issue.

[2020-03-23 13:29] raghavdhingra commented on #950
@Monal5031 Could you please assign and review the PR #957

[2020-03-27 16:14] Monal5031 commented on #950
@raghavdhingra Sorry but 2 people have asked to be assigned before you, if they don't want to work on it then you can send a PR :) I'm sorry but every contributor has to follow the guidelines.

@Niharika-Arora You still wish to work on this issue?

[2020-03-27 16:18] raghavdhingra commented on #950
Sure Monal, I understand the Guidelines. If no one wants to work on it then I would send the PR again.

[2020-03-27 20:25] AnweshaSen commented on #745
@Monal5031 , in test_volunteerProfile.py, the resume samples are being downloaded from dropbox (https://github.com/anitab-org/vms/blob/develop/vms/volunteer/tests/test_volunteerProfile.py#L132). Where should I upload the corrupted pdf resume? Should I just make a folder in the project itself? Should I put the corrupted pdf resume in the test folder?

[2020-03-29 20:12] raghavdhingra commented on #950
Could you please assign me now @Monal5031 as no one has given the response yet?

[2020-03-30 18:24] krishna0303 commented on #951
I would like to work on this issue @Monal5031

[2020-04-03 17:10] yashshah2820 opened #958 "hide sensitive data and setup environment variables"
## Description
As a member,
I need to implement python-decouple for environment variables
so that I can hide sensitive data like SECRET_KEY, ALLOWED_HOSTS, database password.

## Mocks
![image](https://user-images.githubusercontent.com/42682370/78386768-ccb6e200-75fb-11ea-8555-4fbf48f20cb6.png)

## Acceptance Criteria
### Update [Required]
- [ ] settings.py
- [ ] add .env in root
- [ ] update .git

[2020-04-05 14:32] AnweshaSen commented on #745
@Monal5031 , since you did not reply, I created a dropbox account and uploaded a corrupted pdf there. But for some reason, dropbox keeps changing the share link. That's why I created a github repo and uploaded the corrupted pdf there. Please review the Pull Request.

[2020-04-07 14:41] Kishan-Dhakan opened #962 "Multiple Installation Guides"
## Description
As a Developer,
I need the correct installation guide in the "docs" folder,
so that I can set up the project correctly.

## Acceptance Criteria
- [ ] Update the Installation Guide in "docs" with the one linked in README.md
- [ ] Approval by 1 mentor

### Update [Required]
- [ ] Installation Guide

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by

[2020-04-07 14:43] Kishan-Dhakan commented on #962
@Monal5031 If you approve this issue, can I submit a PR on these? I know you said only one issue at a time but Travis suite issue will take some time and now we have many members working on it.

[2020-04-08 17:19] Kishan-Dhakan commented on #958
@Monal5031 @yashshah2820 this issue already exists at #873. Please confirm.

[2020-04-08 17:25] yashshah2820 commented on #958
okay, removing it.

[2020-04-08 17:25] #958 closed

[2020-04-08 18:34] anaghamittal commented on #950
I have fixed this issue locally on my machine and would now like to work on this if available.

[2020-04-09 19:47] #942 closed

[2020-04-17 10:28] Kishan-Dhakan commented on #951
@yashshah2820 you have not been assigned this issue.

[2020-04-17 10:29] Kishan-Dhakan commented on #948
@yashshah2820 you have not been assigned this issue.

[2020-04-17 10:56] yashshah2820 commented on #951
okay, I will do the needful.👍

[2020-04-17 10:57] yashshah2820 commented on #948
okay, I will do the needful👍

[2020-04-27 15:58] poorvakhandare3006 commented on #950
@Monal5031 I would like to work on this issue

[2020-05-03 15:53] AnweshaSen commented on #745
@Monal5031 please review my PR.

[2020-05-03 15:59] yashshah2820 commented on #950
@Niharika-Arora You still wish to work on this issue?

[2020-05-03 18:27] robotjellyzone commented on #934
Hi @Harirai were you assigned by the @Monal5031 or you are just assigning yourself to the issue. If so, then please don't do that as this is not a good way to use such access levels that you got recently. I hope other contributors will not do this for sure @isabelcosta @mayburgos !!

[2020-05-03 19:49] Harirai commented on #934
@robotjellyzone Yes, I was working on the issue, and my mentor knew that I was working on it.
I'm really sorry if I wasn't supposed to do that.
Kishan (who was already assigned) and I, both were working on the issue. I thought if this would enable both of us to add our commit to the same PR, It will be helpful.

Yes I understand your concern :sweat_smile: , I will first message here or wait for th

[2020-05-06 05:44] sankha555 commented on #951
Hello @yashshah2820 ,
I am interested in working on this issue. Can you please assign it to me if it's still open? Thanks :)

[2020-05-06 12:03] yashshah2820 commented on #950
@raghavdhingra you can work on this issue 👍

[2020-05-06 12:10] yashshah2820 commented on #951
Since @krishna0303 asked first so it would be fair to allow him to work on this issue 🙂

[2020-05-06 13:57] sankha555 commented on #951
Sure, @yashshah2820 . Meanwhile if there are some other issues that you think can be solved, I would be obliged if you can mention those to me. Thanks !

[2020-05-06 14:09] yashshah2820 commented on #951
@sankha555 you can view all the issues in the Issues section and decide which issue to work on according to you

[2020-05-06 14:12] raghavdhingra commented on #950
I've made a PR #966 for it

[2020-05-06 16:00] hardikkat24 commented on #948
Is anybody working on this issue? I would like to work on this.

[2020-05-06 16:25] yashshah2820 commented on #948
@hardikkat24 you can work on this issue👍

[2020-05-06 20:34] sankha555 commented on #660
Hello @Monal5031,
If there is no one assigned on this issue now, can I take a shot at it? I think I have a solution to the issue and want to work on it. Could you please assign it to me? Thanks :)

[2020-05-08 12:01] #950 closed

[2020-05-08 12:28] hardikkat24 commented on #948
@yashshah2820 should i add sublime text files to the gitignore too?

[2020-05-08 12:59] yashshah2820 commented on #948
@hardikkat24 yes you can 👍

[2020-05-08 14:51] hardikkat24 commented on #948
i have made the pull request, please review it and tell me if any changes are required.

[2020-05-08 17:35] LaibaBasit008 commented on #938
Hi Is this issue is still opened? I will like to work on it

[2020-05-09 09:56] yashshah2820 commented on #951
@sankha555 you can work on this issue 👍

[2020-05-10 13:35] sankha555 commented on #951
Hello @yashshah2820 ,
Sorry for the delayed response, I was a bit occupied with college assignments. I have made a pull request, can you please review it? Thanks!

[2020-05-10 19:06] Kishan-Dhakan opened #969 "Complete missing parts and update outdated sections in Readme.md"
## Description
As a Contributor,
I need an up-to-date README tells me everything about the project,
so that I can Contribute accordingly.

## To Do:
1) Update the Features section, it seems to be written during project inception (2014).
2) Update the GSOC development section, specifically, Developments done in 2018 are missing.
3) Update the support section, it mentions a mailing list from systers

[2020-05-11 09:37] gaurivn commented on #969
I would like to work on this issue.

[2020-05-12 14:54] sankha555 commented on #660
@Monal5031 @ayushgarg1804 can I work on this issue if it's still open?

[2020-05-15 15:12] abha224 commented on #655
@kss682 Are you still working on this issue? Pls let us know so that we can open it up for others, in case you aren't.

[2020-05-15 15:17] abha224 commented on #660
@sankha555  go ahead. :+1:  I don't think anyone else is working on it.

[2020-05-15 15:23] abha224 commented on #743
@muskanchugh5 Hi! Are you still interested in working on this issue?

[2020-05-15 15:34] abha224 commented on #744
Closing this issue, as the PR corresponding to this issue ( PR #885 )  is already merged.

[2020-05-15 15:34] #744 closed

[2020-05-15 15:38] abha224 commented on #750
@Aimaanhasan are you still working on this issue?

[2020-05-15 16:25] satya7289 commented on #457
I want to work on this issue.

[2020-05-15 16:28] abha224 commented on #532
@anjali-dhanuka are you still working on this issue?

[2020-05-15 16:29] kss682 commented on #655
@abha224 Sorry I couldn't respond earlier ,unassigning myself .

[2020-05-15 16:41] abha224 commented on #655
@kss682 okay :+1:

[2020-05-16 13:53] sankha555 commented on #660
Thanks @abha224 , I'll start working on it right away ! :)

[2020-05-16 15:48] Harirai commented on #953
As this issue is same as #969,  I'm closing this.

[2020-05-16 15:48] #953 closed

[2020-05-16 16:09] sankha555 commented on #660
@abha224, I have made a PR for the above issue and have explained whatever I have done in detail in the PR description. Could you kindly review my PR or request a review from any other reviewer in case you are busy? I await your feedback on the work done as the next steps of action that I have planned for the issue depends on how you like my current approach that I have committed in the PR.
Thanks

[2020-05-16 19:44] vanshikagoell commented on #134
Please assign me this issue, I wish to contribute this is my first time!

[2020-05-17 07:55] Harirai commented on #134
@vanshikagoell sure!

[2020-05-17 08:36] Harirai commented on #457
@satya7289  Sure!

[2020-05-17 11:28] gaurivn commented on #969
The mailing list from Systers.org, should it be replaced or can it/support section be removed completely. I'm unable to find a mailing list for AnitaB.org

[2020-05-17 11:35] Kishan-Dhakan commented on #969
If that's the case, you can link the AnitaB.org zulipchat, that should do it :)

[2020-05-17 12:06] gaurivn commented on #969
AnitaB.org zulipchat is already mentioned in Communicate. @Kishan-Dhakan, can I repeat the same under Support?

[2020-05-21 08:24] #111 closed

[2020-05-21 08:31] abha224 commented on #134
@vanshikagoell Hi! can you pls give an update about your progress on this issue?

[2020-05-21 08:36] abha224 commented on #105
Closing this issue because it has been inactive for a few years.

[2020-05-21 08:36] #105 closed

[2020-05-21 08:41] abha224 commented on #593
Closing this as the contributing guidelines have been added in the repo.

[2020-05-21 08:41] #593 closed

[2020-05-21 08:48] abha224 commented on #532
Closing due to inactivity. Aso, this is a duplicate of issue #457

[2020-05-21 08:48] #532 closed

[2020-05-21 15:24] vanshikagoell commented on #134
Sorry I am not able to do it!

[2020-05-28 14:13] satya7289 commented on #743
@abha224 are you still interested in this issue?

[2020-05-30 05:11] abha224 commented on #80
@01shobitha Hi! can you pls give us updates regarding the progress on this issue?

[2020-05-30 06:05] abha224 commented on #750
@Aimaanhasan Pls let us know if you are still working on the issue so that we can open it up for others, in case you aren't.

[2020-05-30 06:13] abha224 commented on #900
@cristomathew There is already a pr sent for this issue, could you pls take a look at the other issues to work on?

[2020-05-30 17:34] 01shobitha commented on #80
Hai @abha224, I am having some trouble in setting up the development environment, will update you as soon as I finish setting up.

[2020-05-31 15:26] NupurThakur27 commented on #962
Hey, I am new to this project and this issue seems like a one that a newcomer like me can take over.
So if any maintainer could assign me this issue and I can start working on it?

[2020-06-04 11:04] abha224 commented on #962
@NupurThakur27 Hi! sure, go ahead. You can ask your doubts here or on the [zulip](https://anitab-org.zulipchat.com/#narrow/stream/vms) channel if you have any problems while working on this :)

[2020-06-04 11:11] abha224 commented on #80
@01shobitha okay , thats alright! In case the issue is persistent, pls do put it up on the zulip channel or here, so that one of us can help you out for the same.

[2020-06-04 11:24] abha224 commented on #938
@LaibaBasit008  Hey! There is currently a pr sent for this issue. Can you look into the other issues and take up one of them for now?

[2020-06-04 18:18] #900 closed

[2020-06-04 18:24] #457 closed

[2020-06-04 18:27] #951 closed

[2020-06-04 18:31] #948 closed

[2020-06-14 12:50] satya7289 commented on #783
I want to work on this issue.

[2020-06-18 10:30] abha224 commented on #80
@01shobitha any updates?

[2020-06-18 10:39] abha224 commented on #873
@yashshah2820 Pls do ask to be assigned to work on the issue before sending a pr.

[2020-06-18 10:41] yashshah2820 commented on #873
@abha224 the issue was assigned to me in the vms session :)

[2020-06-18 10:41] abha224 commented on #962
@NupurThakur27 can you give updates on the progress on this issue?

[2020-06-18 10:52] abha224 commented on #873
@yashshah2820 Yes im aware. However, since the session was amongst us, we can't ignore the guidelines for making a pr and it requires you to comment on the issue first. I hope you can understand my intention for asking you to comment on it. :sweat_smile:

[2020-06-18 10:54] yashshah2820 commented on #873
@abha224 Yes I understand 👍

[2020-06-18 10:54] yashshah2820 commented on #873
Please review the PR as all the changes have been done

[2020-06-18 11:16] abha224 commented on #783
@satya7289 go ahead. I will assign this to you :)

[2020-06-19 16:11] yashshah2820 opened #977 "code: add srv/vms folder to the gitignore file"
## Description
As a member,
I need to add the srv/vms folder to the gitignore file,
so that when I upload a file or any media file it does not stage while committing.

## Acceptance Criteria
### Update [Required]
- [x] update gitignore

## Definition of Done
- [x] All of the required items are completed.
- [x] Approval by 1 mentor.

## Estimation
15 minutes

[2020-07-01 17:25] #969 closed

[2020-07-01 17:59] #873 closed

[2020-07-02 15:28] satya7289 opened #979 "Fix the failing testcases"
## Description
As a developer,
I need fix the failing test case after this [PR](https://github.com/anitab-org/vms/pull/976) get merge.

## Mocks
Detail of the failing test cases are as follow:
- 1+4 failing testcase issue in administrator.tests.test_settings(I commented these)
- 2+2 failing testcases registration.tests.test_functional_admin and registration.tests.test_functional_volunteer(I commen

[2020-07-03 07:57] yashshah2820 commented on #962
@NupurThakur27 ping

[2020-07-03 08:11] yashshah2820 commented on #783
ping @satya7289

[2020-07-03 08:13] yashshah2820 commented on #660
@sankha555 are you still working on this issue?

[2020-07-03 08:14] yashshah2820 commented on #80
ping @01shobitha

[2020-07-03 08:21] yashshah2820 opened #980 "add the installation steps for python-decouple environment variables"
## Description
As a member,
I need to add installation steps,
so that I can set up my vms project easily and handle the environment variables.

## Acceptance Criteria
### Update [Required]
- [ ] Installation Guide

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
0.5 hours

[2020-07-04 15:33] sankha555 commented on #660
@yashshah2820 no i am currently working on college projects. You may assign it to someone else who might be looking for it. Thanks!

[2020-07-08 20:37] #934 closed

[2020-07-09 07:50] satya7289 commented on #684
Closing this issue, as this issue is no longer exits. Fixed in [PR](https://github.com/anitab-org/vms/pull/972)

[2020-07-09 07:50] #684 closed

[2020-07-13 15:09] yashshah2820 commented on #80
@cristomathew are you interested to work on this issue

[2020-07-16 18:12] yashshah2820 commented on #980
I would like to work on this issue :)

[2020-07-16 18:13] yashshah2820 commented on #977
I would like to work on this issue :)

[2020-07-16 18:17] husainattar commented on #915
Hi can I work on this issue?

[2020-07-16 19:15] gaurivn opened #982 "Remove Systers Logo"
## Description
As a user,
I need to remove Systers logo,
so that I can see only AnitaB.org logo.

## Mocks
![systersanitabvms](https://user-images.githubusercontent.com/48416306/87712515-d71b7700-c7b9-11ea-931f-0cce59edffa2.png)

## Acceptance Criteria
### Update [Required]
- [ ] Removed Systers logo

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

[2020-07-17 06:33] satya7289 opened #984 "Integrate the codecov to the VMS"
## Description
As a Developer,
I need to check the how much code is covered under testing,
so I suggest to integrate codecov for this.

## Mocks
Able to see the codecov reports on the PR.

## Acceptance Criteria
### Update [Required]
- [x] requirements.txt
- [x] .travis.yml

## Definition of Done
- [x] All of the required items are completed.

## Estimation
2 hours

[2020-07-19 15:55] isabelcosta opened #990 "Add a badge to join Zulip chat on README"
## Description

As a new contributor,
I need know which chat can I join regarding this project,
so that I can discuss this project with the community.

I did something similar in here https://github.com/anitab-org/mentorship-backend/pull/683

## Mocks

![image](https://user-images.githubusercontent.com/11148726/87972855-89578500-cabf-11ea-964d-f2d35b295c84.png)

## Acceptance Criteria
### Update [

[2020-07-20 17:27] divyanshugit commented on #982
I will like to work on this issue. Can you suggest me the ways to get started ?

[2020-07-20 17:44] gaurivn commented on #982
@divyanshugit, if you haven't installed VMS already, kindly do install following [this doc](https://github.com/anitab-org/vms/blob/develop/aut_docs/Installation_Setup.md).

[2020-07-21 18:58] saideepesh000 commented on #990
Hi @isabelcosta, can I try this, please assign me.

[2020-07-21 20:17] isabelcosta commented on #990
@saideepesh000 its assigned to you ;) You can start working on it!

[2020-07-23 06:54] shraddhavp commented on #982
Would like to work on it

[2020-07-23 06:55] shraddhavp commented on #982
can you tell me  in which file do i need to go to remove the logo?

[2020-07-23 08:17] divyanshugit commented on #982
@shraddhavp I am working on it. Can you choose another issue ?

[2020-07-23 09:19] shraddhavp commented on #982
ok @divyanshugit

[2020-07-25 11:58] abha224 commented on #745
@AnweshaSen Unassigning you due to inactivity. Feel free to comment later in case you want to work on this issue.

[2020-07-27 17:24] #990 closed

[2020-07-30 19:29] abha224 opened #1002 "Bug: Registration from the admin side is not working"
## Description
As an admin I need to be able to register with the vms website, so that I can check on the volunteer's status. Currently, when an admin tries to register with vms, there is an error displayed.

## Mocks
![Screenshot from 2020-07-30 22-38-34](https://user-images.githubusercontent.com/39526159/88965344-b07e3580-d2bb-11ea-9ba3-eec44cd60766.png)

## Acceptance Criteria
The admin is succ

[2020-08-13 11:51] Frenzyritz13 opened #1006 "Create the config.yml file for the Welcome Bot"
## Description
 As a first time contributor,
 I need a bot to help guide my first contribution,
 so that I can follow this org's contribution guidelines.

 ## Mocks
 ![Screen Shot 2020-08-06 at 10 26 14 AM](https://user-images.githubusercontent.com/2440938/89543720-44299780-d7cf-11ea-82a0-bd81664f0d8e.png)

 ## Acceptance Criteria
 ### Update [Required]
 * [ ]  newIssueWelcomeComment is complete w

[2020-08-13 19:01] gaurivn commented on #783
Codacy is not needed as CodeCov has been implemented [here](https://github.com/anitab-org/vms/pull/983) and we don't need two quality assurance checks.

[2020-08-13 19:01] #783 closed

[2020-08-16 14:48] 19-pragya commented on #980
can i work on this

[2020-08-16 14:51] 19-pragya commented on #962
can i work on this

[2020-08-16 14:52] garimasingh128 commented on #980
I believe PR is already created for this issue. If it is reviewed unsuccessfully then we will let you know.

[2020-08-16 14:55] 19-pragya commented on #980
Okay...can u suggest me some other issues..

[2020-08-16 15:01] 19-pragya commented on #1006
can i work on this

[2020-08-16 15:11] garimasingh128 commented on #980
Go for the ones that don't have open or merged PRs and are unassigned. Even if they are assigned, some issues can be assigned to 2persons at the same time.

[2020-08-16 15:43] 19-pragya commented on #980
Ok thanks

[2020-08-16 16:43] 19-pragya commented on #1006
https://github.com/anitab-org/vms/pull/1016
@garimasingh128
please check my pull request file. and let me know if it is correct!
thankyou.

[2020-08-17 09:00] NupurThakur27 commented on #962
@yashshah2820 & @abha224 I am so sorry I didn't start working on this issue. 😞

[2020-08-17 12:30] yashshah2820 commented on #962
@19-pragya please don't create PR until the issue is assigned to you

[2020-08-17 12:31] yashshah2820 commented on #962
no problem there are plenty of issues to work on 😃

[2020-08-19 00:58] gaurivn opened #1019 "docs: create guide to test pull requests"
## Description
As a contributor for testing,
I need a guide to help me understand how to test pull requests on VMS,
so that I can properly test pull requests from contributors that solve issues for the same.

## Acceptance Criteria
### Update [Required]
- [ ] Create guide on docs folder, name it test-pr-guide.md

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval b

[2020-08-19 01:09] gaurivn opened #1020 "docs: Add PR test report template"
## Description
As a contributor for testing,
I need a template to test pull requests,
so that I can conveniently document the changes after testing a pull request.

## Acceptance Criteria
### Update [Required]
- [ ] Create TEST_PR_TEMPLATE.md on docs folder

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hour

[2020-08-19 04:45] 19-pragya commented on #1020
can i work on this issue

[2020-08-21 19:53] rkpattnaik780 opened #1023 "UI: the country field in signup page has label "city""
## Description
As a new volunteer,
I need provide my address,
so that I can register myself in the vms.

## Mocks
![Screenshot from 2020-08-22 01-20-03](https://user-images.githubusercontent.com/23582438/90929074-aa402c80-e415-11ea-939b-a488d5cc1a85.png)

## Acceptance Criteria
### Update [Required]
- [ ] Fixed sign up form

## Definition of Done
- [ ] All of the required items are completed.
- [

[2020-08-23 06:37] Kajol-Kumari opened #1024 "UI[Bug]: The home page UI distorted for small screens"
## Description
The menu option of `signup`, `login` etc gets distorted for smaller and xs-screens.

## Mocks
![imageedit_1_9024988642](https://user-images.githubusercontent.com/44888949/90972685-f20ba480-e538-11ea-95da-67d2261fd17d.png)

## Acceptance Criteria
### Update [Required]
- [ ] Fix UI of home page for small screen

## Definition of Done
- [ ] All of the required items are completed.
- [

[2020-08-23 07:28] Kajol-Kumari opened #1025 "Add Integration with dependent bot"
## Description
Updating dependencies is a repetitive need. However, it is not feasible for a person to keep an eye on all updates on dependencies. As a result, the outdated dependencies keep piling up.

According to the [requires.io](https://requires.io/github/Kajol-Kumari/vms/requirements/?branch=dependabot%2Fpip%2Fautopep8-1.5.4) report, most dependencies in vms are already outdated. I think the

[2020-08-23 20:34] Kajol-Kumari opened #1026 "[Documentation] Separate feature and bug template"
## Description
Currently we have a single issue template for both `feature` and `bug` issues

## Acceptance Criteria
### Update
- [ ] Create separate template for `feature` request and `bug` report.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
.5 hours

[2020-08-23 20:48] Kajol-Kumari opened #1027 "Allow user signup using GIthub"
## Description
Currently user can only create a new account using his/her emailID and have to fill all the details manually.

## Acceptance Criteria
### Update
- [ ] Allow users to signup using gitHub.

- [ ] Collect all the basic user details from github only.

- [ ] Show user a dialog box after signup through Github having a message telling them to complete their profile in order to proceed.

##

[2020-08-23 21:02] Kajol-Kumari opened #1028 "[Documentation] Create Contributors.md file"
## Description
Currently we don't any separate file in the repo showing the list of contributors.

## Acceptance Criteria
### Update
- [ ] Create `Contributors.md` file that will contain all the basic information of all the contributors of this repo. along with their images.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
0.5 hours

[2020-08-24 07:11] keshakaneria opened #1029 "Add task using Celery to send email verification for signing up"
## Description
In order to login into the system, I need to verify my email address to get logged in for the first time through the mailed link. Currently, the email is displayed in the console itself.

## Acceptance Criteria
### Update [Required]
- [ ] Add tasks using Celery
- [ ] Email should be sent to the email address instead of printing it in console.

Celery is an asynchronous task schedule

[2020-08-24 07:23] keshakaneria opened #1030 "Add task using Celery to send email verification for reset password"
## Description
In order to login into the system using forgot password, I need to verify my email address to get logged in to change the old password with the new one. Currently, the email is displayed in the console itself.

## Acceptance Criteria
### Update [Required]
- [ ] Add tasks using Celery
- [ ] Email should be sent to the email address instead of printing it in console.

Celery is an asy

[2020-08-24 07:40] keshakaneria opened #1031 "Change position of ‘Logout’ at the bottom after ‘Change Password’"
## Description
Position of `Logout` should be at the bottom after `Change password` button

## Mocks
![image](https://user-images.githubusercontent.com/46588494/91016847-0a4bf400-e60b-11ea-8957-06d2464b8a96.png)

## Acceptance Criteria
### Update [Required]
- [ ] Logout Position changed

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation

[2020-08-24 12:25] atharwa-24 commented on #1028
I would like to work on it

[2020-08-24 12:35] priyanshurohilla commented on #1026
Can i work on this?

[2020-08-24 12:35] priyanshurohilla commented on #1031
can i work on this?

[2020-08-24 12:39] priyanshurohilla commented on #1023
Can i work on this?

[2020-08-24 12:45] priyanshurohilla commented on #1025
Can i work on this?

[2020-08-24 13:46] keshakaneria commented on #1031
Yes you can but i request you to wait until 1st September as this issue is under `Open Source Hack` tag. PRs for this tag will be evaluated after the event gets started. Kindly wait until then and will assign you after it @priyanshurohilla

[2020-08-24 21:36] BALaka-18 commented on #1028
Hi @Kajol-Kumari, I am a participant of Open Source Hack (OSH). Can I work on this issue ?

[2020-08-24 21:37] Ajitesh13 opened #1032 "Add installation steps for Django"
## Description
As a new contributor, It would be good if We have a installation guide on Django. Currently we have docker setup instruction. But it would be good if readily instructions are available for downloading, this will make the process fast.

## Acceptance Criteria
### Update [Required]
- [ ] Add some instructions for django installation

## Definition of Done
- [ ] All of the required ite

[2020-08-24 21:52] Sommie09 commented on #1024
Could I work on this issue?
I'm participating in OSH

[2020-08-24 21:55] Ajitesh13 opened #1033 "Add installation steps for docker"
## Description
As a beginner I expect all the instructions are given to me are complete in all respect. Currently in the README.md or in installation setup there is no instructions in downloading docker.

## Acceptance Criteria
### Update [Required]
- [ ] [Add docker installation guide]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation

[2020-08-24 22:58] Sommie09 commented on #1028
I am participating in OSH, could I work on this?

[2020-08-24 23:39] adsv1623 commented on #1024
Could I work on this ? It will be great to get started with this.

[2020-08-25 02:32] Devanshi-123 commented on #1031
Can more than one contributor work on an issue i also wish to work on this..

[2020-08-25 02:33] Devanshi-123 commented on #1027
Can i work on this?

[2020-08-25 04:01] arjundubey-cr commented on #1031
@keshakaneria can anyone work on issues on only the assigned ones'?

[2020-08-25 04:02] satya7289 commented on #1031
Assigned ones'. Please wait until you get assigned by someone.

[2020-08-25 04:09] priyanshurohilla commented on #1031
No problem i am participating in `open source hack`😁

[2020-08-25 04:30] BALaka-18 commented on #1032
Hi @Ajitesh13, can I work on this issue ? I am participating in OSH.

[2020-08-25 05:20] keshakaneria commented on #1031
The assignee will be allowed to continue to work for three days. if he/she is not able to perform, then next interested assignee will be given this issue. At a time one assignee!

[2020-08-25 06:09] Kajol-Kumari opened #1034 "[UI] Wireframe Design for homepage"
## Description
Currently we have a simple home page with a logo, few options and a basic introduction.
## Mocks
![imageedit_2_7230070166](https://user-images.githubusercontent.com/44888949/91129368-8c015780-e6c7-11ea-8ddf-33c08a2ce892.png)

## Acceptance Criteria
### Update
- [ ] Create a proper Home page UI using wireframe containing proper header, footer and other functionalities in a well organ

[2020-08-25 06:20] Kajol-Kumari commented on #1028
@atharwa-24 @BALaka-18 @Sommie09 It's good to see you all interested in taking up this issue. But all the issues with the label of `open source hack` will be assigned to the OSH participants starting from 1st of september on the basis of `First come first serve` so please wait patiently till 1st of september and till then you can set up the repo. locally and get acquainted with the project functio

[2020-08-25 06:21] Kajol-Kumari commented on #1027
@Devanshi-123 It's good to see that you are interested in taking up this issue. But all the issues with the label of open source hack will be assigned to the OSH participants starting from 1st of september on the basis of First come first serve so please wait patiently till 1st of september.

[2020-08-25 06:22] Kajol-Kumari commented on #1026
@priyanshurohilla It's good to see you are interested in taking up this issue. But all the issues with the label of `open source hack` will be assigned to the `OSH` participants starting from 1st of september on the basis of `First come first serve` basis so please wait patiently till 1st of september.

[2020-08-25 06:24] Kajol-Kumari commented on #1025
@priyanshurohilla It's good to see you are interested in taking up this issue. But all the issues with the label of `open source hack` will be assigned to the `OSH` participants starting from 1st of september on the basis of `First come first serve` basis so please wait patiently till 1st of september and till then you can set up the repo. locally and get acquainted with the project functionalitie

[2020-08-25 06:25] Kajol-Kumari commented on #1024
@Sommie09  @adsv1623 It's good to see you guys are interested in taking up this issue. But all the issues with the label of `open source hack` will be assigned to the `OSH` participants starting from 1st of september on the basis of First come first serve so please wait patiently till 1st of september and till then you can set up the repo. locally and get acquainted with the project functionalitie

[2020-08-25 06:28] BALaka-18 commented on #1028
Okay @Kajol-Kumari

[2020-08-25 06:35] Kajol-Kumari opened #1035 "[Enhancement] Use 'black' and 'fake8' as pre-commit hook"
## Description
Currently we don't have any code formatting tool for ensuring that code is well formatted and organised.

## Acceptance Criteria
### Update [Required]
- [ ] Add `black` and `flake8` as pre-commit hook.

This will ensure that code is well formatted and organised.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
4 hours

[2020-08-25 06:52] keshakaneria opened #1036 "Add installation steps for Windows OS"
## Description
Currently, the installation steps are given for Linux OS. Add installation steps along with their codes in [Installation guide](https://github.com/anitab-org/vms/blob/develop/aut_docs/Installation_Setup.md) for Windows OS.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
2 hours

[2020-08-25 06:57] Devanshi-123 commented on #1027
Okk mam

On Mon, 24 Aug 2020 at 23:21, kajol <notifications@github.com> wrote:

[2020-08-25 07:24] keshakaneria opened #1037 "Edit Address Text field to also take special characters like (‘,’ ,’.’, ’/’, ’-’)"
## Description
In the address field, the text is not allowed to enter the symbolic values like `,`, `.`, `/`, `-`. Add appropriate changes to field along with consistency in database to allow user to insert address having these symbols.

## Acceptance Criteria
### Update [Required]
- [ ] User should be able to input address in any desired form
- [ ] Consistency with database should me maintained

[2020-08-25 07:30] keshakaneria opened #1038 "Add button in UI to link Zulip"
## Description
As a user, I need to add a button to link our Zulip communication platform, so that I can have smooth communication through project.

## Acceptance Criteria
### Update [Required]
- [ ] Screen shot in PR to show Button added
- [ ] Link to organisation group, Zulip

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
2 hours

[2020-08-25 09:20] Ajitesh13 commented on #1032
Hey! That's great, however, OSH starts on 1st September and I can't officially assign you just yet. Your PR will be considered for OSH only if you're assigned after 1st. Before that, if I assign you it'll be a regular contribution.

If you want to participate in OSH specifically, I'd suggest you set up all the projects that you're interested to work on first. And meanwhile, you can also work on ot

[2020-08-25 09:34] Ajitesh13 opened #1039 "Add the newcomers link of zulip chat for beginners"
## Description
For a beginner, along with the channel of #vms we should also add the channel link of #newcomers in README.md, this would make the process a little fast forward for the beginners to communicate with community members and solve their beginner-specific issues.

## Acceptance Criteria
### Update [Required]
- [ ] [Add the link of #newcomers from anitab-org.zulipchat.com]

## Definition

[2020-08-25 10:01] rkpattnaik780 commented on #1023
@priyanshurohilla since the issue is labelled Open Source Hack, it is not up for grab currently. Any PR for this tag should be raised after 1st september, i.e after commencement of OSH.

[2020-08-25 10:42] khushishikhu commented on #1038
may i work on this issue?

[2020-08-25 10:49] keshakaneria commented on #1038
@khushishikhu Glad that you are interested in this issue. This issue is for Open Source Hack which will start from 1st September. You are requested to wait until the event gets started to create PRs. Once it gets started, I will assign it to you :)

[2020-08-25 10:54] Aaishpra commented on #1039
@Ajitesh13 can i work on this

[2020-08-25 10:55] khushishikhu commented on #1038
@keshakaneria  thank you, i am also participating in Open Source Hack.

[2020-08-25 11:24] ashwinijha6 commented on #1036
Hey Hi @keshakaneria I would like to work on this issue

[2020-08-25 11:35] keshakaneria commented on #1036
@ashwinijha6 I am glad that you want to contribute! This issue is under Open source Hack event which will be started from 1st Sept., 2020. I request you to wait until then and will assign you once the event is started so that you can also contribute in the event as participant. :)

[2020-08-25 11:37] Ajitesh13 commented on #1039
Hey! That's great, however, OSH starts on 1st September and I can't officially assign you just yet. Your PR will be considered for OSH only if you're assigned after 1st. Before that, if I assign you it'll be a regular contribution.

If you want to participate in OSH specifically, I'd suggest you set up all the projects that you're interested to work on first. And meanwhile, you can also work on ot

[2020-08-25 11:47] Aaishpra commented on #1039
Yeah ! Sure

[2020-08-25 12:26] ankita1964 commented on #1036
Hey @keshakaneria I would like to work on this issue! It really seems interesting. Can you please guide me through?

[2020-08-25 12:28] ankita1964 commented on #1039
Hey @Ajitesh13 I would really like to work on this issue. Can you please help?

[2020-08-25 12:29] ankita1964 commented on #1037
Hey! I would like to work on this issue.

[2020-08-25 12:30] ankita1964 commented on #1033
Hey @Ajitesh13 I would like to work on this issue.

[2020-08-25 12:30] ankita1964 commented on #1033
Do we need to register also?

[2020-08-25 12:35] ashwinijha6 commented on #1036
Thanku @keshakaneria
I'll be participating in the OSH event.

[2020-08-25 12:36] ankita1964 commented on #1037
Hey @keshakaneria I would like to work on this issue.

[2020-08-25 12:38] keshakaneria commented on #1036
@ankita1964 You might also participate in OSH event from 1st Sept. Once it starts, I'll assign you guys first come first serve. Till then, you can go through the codebase and be ready with locally installing it in your workspace :)

[2020-08-25 12:40] keshakaneria commented on #1037
@ankita1964 Once the OSH event gets started, I'll assign you to work on. Till then go through the codebase and have installation ready locally :)

[2020-08-25 12:40] ankita1964 commented on #1036
Okay! Thanks. Can one task be assigned to one person only?

On Tue, Aug 25, 2020 at 6:09 PM Kesha K. Kaneria <notifications@github.com>
wrote:

[2020-08-25 12:41] ashwinijha6 commented on #1019
Hi @gaurivn I would like to work on this issue

[2020-08-25 12:43] keshakaneria commented on #1036
Yes, single issue will be assigned to a single person for the 3 days to work on.

[2020-08-25 12:49] Ajitesh13 commented on #1039
Thanks for your interest in working in this issue. But please go through the above conversation, as this is a OSH marked issue. We can assign you the issue once the OSH period starts(after 1 sept). And meanwhile, you can also work on other issues not labeled "Open Source Hack", because any contribution is good for us!

Do come back on 1st and I'll happily assign you to this issue and your contribu

[2020-08-25 13:02] ankita1964 commented on #1036
What will be the criteria for selection?

On Tue, 25 Aug 2020 at 6:13 PM, Kesha K. Kaneria <notifications@github.com>
wrote:

[2020-08-25 13:11] keshakaneria commented on #1036
There are no selection criteria. Anyone can apply. You can follow this site for more information about the event https://anitab-org.github.io/events/open-source-hack/

[2020-08-25 13:13] ankita1964 commented on #1036
Thanks for sharing the link. I meant who will get the chance to work on a
certain problem will be based upon what fact? First come first basis kinda?
Sorry for such queries😅...but I am really excited for it.

On Tue, 25 Aug 2020 at 6:41 PM, Kesha K. Kaneria <notifications@github.com>
wrote:

[2020-08-25 13:49] keshakaneria commented on #1036
First come first serve

[2020-08-25 14:59] BALaka-18 commented on #1035
Hi @Kajol-Kumari, I would like to work on this issue. I am participating in OSH, kindly assign it to me when contribution period starts.

[2020-08-25 18:08] gaurivn commented on #1019
Hi @ashwinijha6, glad to know you're interested in working on this issue. This issue is not made available yet, it will be made available once it's approved and Open Source Hack starts on September 1st, 2020. Till then you can set up the development environment for and familiarise yourself with VMS. If you've any doubts feel free to ask them on Zulip.

[2020-08-25 18:34] priyanshurohilla commented on #1023
@rkpattnaik780  yes i am participating in it. But can you tell me will it be starting from 1st september 00:00 IST?

[2020-08-25 19:05] Ajitesh13 opened #1040 "Add one more command to view list of tables for the vms database"
## Description
When viewing the list of tables in vms database. if `\dt` will give the ouput of `Did not find any relations.` then `\dt[S+]` will give the desired list of tables

## Acceptance Criteria
### Update [Required]
- [ ] [Add the `\dt[S+]` command in installation guide]

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
0.5 hou

[2020-08-25 19:09] Ajitesh13 commented on #1033
Hey! That's great, however, OSH starts on 1st September and I can't officially assign you just yet. Your PR will be considered for OSH only if you're assigned after 1st. Before that, if I assign you it'll be a regular contribution.

If you want to participate in OSH specifically, I'd suggest you set up all the projects that you're interested to work on first. And meanwhile, you can also work on ot

[2020-08-25 19:32] Kajol-Kumari opened #1041 "Live vms url functinalities not working"
## Description
The vms is live [here](http://ec2-52-53-177-18.us-west-1.compute.amazonaws.com/en-us/). But none of its functionalities are working except the home page UI.

## Acceptance Criteria
### Update [Required]
- [ ] Fix the live vms so that we can get all of it's functionlities working.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Es

[2020-08-26 05:57] vaibhavarora102 commented on #1019
Hi @gaurivn  can anyone participate in Open Source Hack
can you please regarding this as I am a bit new to Open Source
thanks

[2020-08-26 06:12] ashwinijha6 commented on #1019
Yes sure @gaurivn I will be participating in OSH. I didn't notice that the status was on hold. Eager to work on this issue when it will be made available & when OSH starts.

[2020-08-26 07:22] ashwinijha6 commented on #1041
Hey Hi @Kajol-Kumari I would like to work on this issue as an OSH participant

[2020-08-26 09:45] Kajol-Kumari commented on #1041
Hey @ashwinijha6 glad to see that you are interested in this issue. We will assign it to you, once the `OSH` event starts :)

[2020-08-26 10:02] ashwinijha6 commented on #1041
Thanku @Kajol-Kumari looking forward to working on it :)

[2020-08-26 10:44] khushishikhu commented on #982
can i work on this issue?

[2020-08-26 11:25] Aaishpra commented on #982
@gaurivn can i work on this

[2020-08-26 14:42] SanketDG commented on #1030
@keshakaneria That is intentional because that's how Django's ConsoleHandler works, if the right SMTP credentials are passed in, then it would use SMTP to send the email.

As for using celery, I don't find a strong reason as to why should we send one simple email using Celery. Feel free to prove me wrong.

[2020-08-26 14:44] SanketDG commented on #1019
@gaurivn Do you mean to say instructions for running the application?

[2020-08-26 14:47] SanketDG commented on #1025
These needs to broken down into several issues, the first issue being successfully upgrading Django, because that itself would involve several code changes.

Just adding dependabot wouldn't help because the tests would fail on most of them.

[2020-08-26 14:48] SanketDG commented on #1027
Do you mean to integrate oAuth here? @Kajol-Kumari

[2020-08-26 14:49] SanketDG commented on #1032
Is this not enough https://github.com/anitab-org/vms/blob/develop/aut_docs/Installation_Setup.md @Ajitesh13 ?

We can definitely want to move this to the README

[2020-08-26 14:50] SanketDG commented on #1035
Great idea, we can also add a black github action that checks this in CI, incase someone did not install the pre-commit hook.

[2020-08-26 14:51] vaibhavarora102 commented on #1039
hi @Ajitesh13 , will it start from midnight 1 sept or any other time
kindly guide
thanks

[2020-08-26 14:53] SanketDG commented on #1041
The deployment is from outdated code, so there's a chance it may not run at all. I think we need to move to a much more reliable and easy to go platform, but this is ultimately in the hands of maintainers and admins.

[2020-08-26 14:55] vaibhavarora102 commented on #1038
@keshakaneria  can anyone work on this or you are going to give this to above profile who asked first
thanks

[2020-08-26 14:59] SanketDG commented on #1033
There are a bunch of guides that explain how to install Docker, I don't see how ours could be different. Infact by doing something that's already been covered "officially", we risk assisting the contributor into doing something wrong because we forgot something.

[2020-08-26 15:04] vaibhavarora102 commented on #1028
@Kajol-Kumari can you pls explain that if we had to only made file or do something else also
can you please elaborate
thanks

[2020-08-26 15:08] swaraj961 commented on #1028
Hey Can you assign me this issue on 1st September when this hack began thanks looking forward to work on it.

[2020-08-26 15:25] keshakaneria commented on #1030
@SanketDG I wanted to use an 'Asynchronous task' where the mail will be sent in background and in the interface the according message will be displayed. Not using it will make the website keep loading until the mail through SMTP would send a mail and then return the next step.

[2020-08-26 15:28] keshakaneria commented on #1030
Sorry, by mistake I closed the issue. Its opened again.

[2020-08-26 15:32] keshakaneria commented on #1038
@vaibhavarora102 Yes it will be assigned to the person who comes first to work on the issue. If he/she is inactive for 3 days, the next interested person will be assigned for the same.

[2020-08-26 15:34] SanketDG commented on #1024
This is slightly related/almost a duplicate of #161

[2020-08-26 15:39] SanketDG commented on #1030
That's fair, although sending one email would be mostly trivial, I am just not sure whether a highly cohesive dependency like Celery is worth it or not, most of the applications I have seen are for a large number of asynchronous tasks, that's where it shines.

This is definitely a valid issue though, let's see what other mentors think about this!

[2020-08-26 15:42] vaibhavarora102 commented on #1038
okay thanks

[2020-08-26 15:46] keshakaneria commented on #1030
Sure, thank you so much for letting me brainstorm again on this issue.

[2020-08-26 15:49] vaibhavarora102 commented on #1037
@keshakaneria  i wiould also like to work

[2020-08-26 15:51] vaibhavarora102 commented on #1026
@Kajol-Kumari I am interested for working on this
thanks!

[2020-08-26 15:54] vaibhavarora102 commented on #1020
@gaurivn i would like to work on this in open source hack
can you please assign
thanks!

[2020-08-26 17:32] satya7289 commented on #1030
@keshakaneria We can use cronjob.

[2020-08-27 00:43] gaurivn commented on #1019
Hi @vaibhavarora102, yes anyone (students and working professionals) can participate in Open Source Hack). The aim is to help participants contribute to various open-source projects.

[2020-08-27 00:45] gaurivn commented on #1019
No, there are separate instructions for installation right.

[2020-08-27 01:04] gaurivn commented on #1020
@vaibhavarora102, open-source hack issues can only be assigned starting September 1st, 2020.

[2020-08-27 01:15] decon-harsh commented on #134
Hey, I installed this project locally and I faced some issue which i think needs to be mentioned for newcomers like me.

So where do I need to write about it?

[2020-08-27 02:13] decon-harsh commented on #962
Hey Can I take this up? Let me know if someone is working on this!

[2020-08-27 02:40] vaibhavarora102 commented on #1019
@gaurivn So can you pls assign me as I would like to work on this in Open source hack
thanks

[2020-08-27 05:39] SanketDG commented on #1019
Feel free to provide an example of what this should look like @gaurivn

[2020-08-27 12:04] ashwinijha6 commented on #1036
@keshakaneria can I use the lastest version of python (Python 3.8.5) for the installation?

[2020-08-27 13:18] keshakaneria commented on #1036
@ashwinijha6 The requirements.txt file will have a fixed version, so i suppose we are not supposed to alter the version, rather just add the steps which uses current installation process.

[2020-08-27 14:03] ashwinijha6 commented on #1036
ok

[2020-08-27 14:41] ashwinijha6 commented on #1036
I had a doubt related to creating migrations for the database. When I'm following the steps in the installation guide:
  **python manage.py makemigrations auth volunteer administrator organization event job shift registration**
I'm getting an error module decouple not found
I have installed the module but I get this error
![error](https://user-images.githubusercontent.com/45794450/91457004-86f8000

[2020-08-27 14:43] ashwinijha6 commented on #1036
export DJANGO_SECRET_KEY='foobarbaz'
What is this secret key do we have to make a .env file?

[2020-08-27 16:12] SanketDG commented on #1036
Yes, as instructed.

Put anything in the SECRET_KEY, does not matter for now.

[2020-08-27 17:12] Kajol-Kumari commented on #1041
Yes @SanketDG totally agree as the maintainers and admin needs to share the details of the Ec2 instance or the other platform where we decide to make this project live and this is the reason i have added it under `outreach`.

[2020-08-27 17:18] Kajol-Kumari commented on #1028
Hey @swaraj961 @vaibhavarora102  please understand that we are going to assign only one issue to a participant at a time and that only on the basis of `First come First Serve` so please do look for an issue with few or no claims. Also regarding the deliverable of this issue, assignee needs to create a file named `contributors.md` in the main directory and include all the basic details of the contr

[2020-08-27 17:23] nitish-awasthi commented on #1039
Hey @Ajitesh13 I would really like to work on this issue for OSH.

[2020-08-27 17:23] Kajol-Kumari commented on #1024
@SanketDG If we talk about #161 it's going to be a huge if we add responsiveness of the whole site in a single PR. So we can consider it's to be a subpart.

[2020-08-27 17:24] nitish-awasthi commented on #1036
Hi @keshakaneria  I would like to work on this issue

[2020-08-27 17:24] nitish-awasthi commented on #1033
Hey @Ajitesh13 I would like to work on this issue for OSH.

[2020-08-27 17:25] nitish-awasthi commented on #1032
Hi! @Ajitesh13  can I work on this issue for OSH?

[2020-08-27 17:25] nitish-awasthi commented on #1028
Hi! @Kajol-Kumari  can I work on this issue for OSH?

[2020-08-27 17:30] Kajol-Kumari commented on #1025
@SanketDG I agree but i had seen the `Django` upgrading issue mentioned in the doc so i didn't opened on my own. I will wait till 30th and if it's not get opened, i will open it up. Also  we need to test the issues opened by dependent bot before merging to make sure that it don't break anything.

[2020-08-27 17:37] Kajol-Kumari commented on #1027
@SanketDG yes, but i didn't mentioned it explicitly as i want assignee to do a bit of research on finding out the best way to implement it :)

[2020-08-27 18:06] ashwinijha6 commented on #1036
Ya got it @SanketDG & @keshakaneria  there was a .env.example file present just created a .env file with the SECRET_KEY value, now I can create migrations for the database. Thanku :)

[2020-08-27 18:39] keshakaneria commented on #1036
@nitish-awasthi It is issued for OSH event on the basis of first come first serve basis. If someone's not working on it, the next interested person will be assigned to work on :)

[2020-08-27 19:34] swaraj961 commented on #1028
Okay sure

[2020-08-27 19:59] Ajitesh13 commented on #1032
@SanketDG from a new comer perspective I think it would be better to move it to the README

[2020-08-27 20:02] Ajitesh13 commented on #1033
@SanketDG I think you are right. But what do you think, if we just add the official docker installation link before the instructions to setup the docker(in the README) ?

[2020-08-27 20:04] Ajitesh13 commented on #1039
@vaibhavarora102 OSH will start from 1 sept midnight. For more information about the program you can move into our zulip chat and feel free to ask more questions.

[2020-08-27 20:36] priyanshurohilla commented on #1040
Can i work on this? i am participating in osh

[2020-08-27 21:00] Ajitesh13 commented on #1033
@SanketDG I check thoroughly now, I think, all the requirements has already been fulfilled, which I was intending in the readme. I feel there is no need for the issue, we may close this.

[2020-08-27 21:08] yash2189 commented on #1031
can I work on this issue in OSH @keshakaneria

[2020-08-27 21:09] yash2189 commented on #1023
Can I work on this issue @rkpattnaik780 ?

[2020-08-28 05:22] keshakaneria commented on #1031
You can surely work @yash2189 , if assigned person is you according to the first come first serve basis.

[2020-08-28 05:33] SanketDG commented on #1032
Feel free to adjust the issue then.

[2020-08-28 05:39] gaurivn commented on #1019
@vaibhavarora102, the issues meant for open source hack will be assigned only when the program starts on September 1st, 2020 on a first come first serve basis.

[2020-08-28 05:40] #1033 closed

[2020-08-28 05:40] gaurivn commented on #1019
I've updated the issue description.

[2020-08-28 05:46] SanketDG commented on #1028
Since, we'd have to maintain this every time someone makes a code change, I'd prefer using something like https://allcontributors.org/ to automate this.

[2020-08-28 05:49] SanketDG commented on #1024
Makes sense, let's try to break #161 into several subparts.

CC @gaurivn who labelled the other issue

[2020-08-28 06:17] Ajitesh13 commented on #1032
@SanketDG Can you have a look at my issue in the brainstorming doc, under documentation section. I have raised a potential issue with the commands of "python3.6", in the installation guide. Can you give your views on that. This issue is dependent on that.

[2020-08-28 06:36] SanketDG commented on #1032
Makes sense to me, I'd ideally also label it as First Timers Only

[2020-08-28 07:00] ashwinijha6 commented on #1036
@keshakaneria do we need to use the specified version of geckodriver, selenium & firefox ?
Because the installation guide says to use geckodriver version 0.20.1 but the setup-geckodriver.sh has version v0.26.0

[2020-08-28 07:38] Kajol-Kumari opened #1042 "[Feature] View and Edit profile for users"
## Description
Currently, we have no option to view or edit the profile if we login as normal user.

## Mocks
![Screenshot (259)](https://user-images.githubusercontent.com/44888949/91534472-37601580-e92f-11ea-9b23-b3b8e4c0c812.png)

## Acceptance Criteria
### Update
- [ ] Add view profile feature

- [ ] Add edit profile feature

- [ ] Put all these in a select box just like we have for admin users

[2020-08-28 08:00] Kajol-Kumari commented on #1028
cool! sounds good to me. So, let's integrate this to avoid manual change. Thanks @SanketDG for suggestion.

[2020-08-28 08:12] vaibhavarora102 commented on #1028
so whether this issue will continue for Josh or will be closed due to this integration @Kajol-Kumari

[2020-08-28 08:12] ashwinijha6 commented on #1036
Actually I know we are not suppose to change the version but for **pip install -r requirements.txt**  I'm getting an error for psycopg2 & selenium (shown below) that's why I just install it separately that is psycopg2-binary
![error1](https://user-images.githubusercontent.com/45794450/91537680-5319ea80-e934-11ea-98aa-1dbefdbb2a0b.JPG)

[2020-08-28 08:17] Kajol-Kumari commented on #1028
@vaibhavarora102 I have modifed the issue description. so there is no reason to close this. Now instead of manually creating the `contributor.md` asignee will search and integrate the required bot to do this job.

[2020-08-28 09:24] decon-harsh commented on #655
@sanchibansal340 Can I work on this , I actually made the necessary changes I guess it's working on my local .

[2020-08-28 09:27] decon-harsh commented on #939
Similiar to Issue #655 . Can I work on this? As this doesn't fall under OSH.

@mayburgos

[2020-08-28 09:31] sanchibansal340 commented on #655
@decon-harsh Were you assigned the issue?

[2020-08-28 09:35] decon-harsh commented on #655
Nope Can you assign me now?

[2020-08-28 09:43] sanchibansal340 commented on #655
You will have to wait till Open Source Hack starts on 1st September.

[2020-08-28 11:00] ashwinijha6 commented on #1041
@Kajol-Kumari could you please elaborate about the issue

[2020-08-28 11:38] ashwinijha6 commented on #1036
Do all the automated tests need to pass?
I'm getting certain errors  this is one of them

![error2](https://user-images.githubusercontent.com/45794450/91556837-0395e780-e951-11ea-8660-40936cdf702c.JPG)

[2020-08-28 12:26] sanchibansal340 opened #1044 "Change the positioning of the admin name in the profile section"
## Description
As a user, I need change the positioning of the name in the admin profile, so that it is fully visible.

## Mocks

![Change positioning of name](https://user-images.githubusercontent.com/51092036/91559968-a2711280-e956-11ea-998e-36a54e288ba6.png)

## Acceptance Criteria
### Update [Required]
- [ ] Screenshot with the updated design

## Definition of Done
- [ ] All of the required it

[2020-08-28 13:02] sanchibansal340 opened #1045 "Dropdown not visible in admin profile"
## Description
As a user, I need to change the positioning of the dropdown in the admin profile, so that it is completely visible in small screen devices as well.

## Mocks

![Appearance in small screen devices](https://user-images.githubusercontent.com/51092036/91563631-d18a8280-e95c-11ea-8230-26ee98653782.png)

![Appearance in large-screen devices](https://user-images.githubusercontent.com/51092

[2020-08-28 13:56] SanketDG commented on #1036
@ashwinijha6 I am not sure which one of these comments is your exact problem, but feel free to post about your current problem on Zulip. Let's not pollute this space anymore, and keep it open for discussion regarding the issue.

[2020-08-28 13:56] sanchibansal340 opened #1046 "Logo distorted in small screen"
## Description
As a user, I need to change the size of the logo in all pages, so that it is completely visible in small screen devices as well.

## Mocks

![Logo gets distorted](https://user-images.githubusercontent.com/51092036/91572336-3695a680-e964-11ea-9162-8b988fa309dc.png)

## Acceptance Criteria
### Update [Required]
- [ ] Screenshot with the updated design

## Definition of Done
- [ ] All

[2020-08-28 14:13] ashwinijha6 commented on #1036
ok sure @SanketDG

[2020-08-28 14:57] harsh-9in commented on #1046
hey @sanchibansal340, Can I work on this issue?

[2020-08-28 14:58] harsh-9in commented on #1029
hey @keshakaneria, can I work on this issue?

[2020-08-28 15:05] sanchibansal340 opened #1047 "Create a code_of_conduct.md file"
## Description
As a contributor, I need to modify the Code of Conduct, so that I understand about the organisation better and don't do something that breaches that code of conduct accidently.
1. The content should be consistent with [Code of Conduct here](https://github.com/anitab-org/documentation/blob/master/Contributing/CODE_OF_CONDUCT.md)
2. And then update the code of conduct link in **Readme

[2020-08-28 15:21] sanchibansal340 opened #1048 "Create a reporting_guidelines.md"
## Description
As a user, I need to modify the reporting guidelines, so that I can seek for help when necessary.
1. The content should be consistent with [Reporting Guidelines](https://github.com/anitab-org/mentorship-flutter/blob/develop/.github/reporting_guidelines.md)
2. And then update the code of conduct link in **Readme.md**>>Contributing section.
3. Add the updated Reporting Guidelines file

[2020-08-28 15:45] atharwa-24 commented on #1047
I would like to work on this issue

[2020-08-28 16:16] keshakaneria commented on #1029
Sure you can, once the OSH event gets started.

[2020-08-28 17:26] Kajol-Kumari commented on #1041
Hey @ashwinijha6 So this issue is more of a discussion on deciding the platform to make the vms project live as the current [ulr](http://ec2-52-53-177-18.us-west-1.compute.amazonaws.com/en-us/) for the same have non of the functionlities working and it's in the hand of maintainers and administrators to decide where they want to host it. So, what asignee can do is make a blog post explaining his/he

[2020-08-28 18:04] vj-codes commented on #1048
@sanchibansal340 I would like to work on this for OSH:)

[2020-08-28 18:37] sanchibansal340 opened #1049 "Change the landing page text"
## Description
As a user, I need the Systers to be replaced by Anita Borg from the landing page, volunteer and admin page.

## Acceptance Criteria
- [ ] Screenshot of the updated web pages.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
1 hour

## Note
This issue will be assigned from September 1, 2020.

[2020-08-29 06:00] MayankVir commented on #1049
I would like to work upon this issue for Open Source Hack!!

[2020-08-29 06:18] khushishikhu commented on #1044
can i take this issue for OSH.

[2020-08-29 06:44] rutujadhanawade commented on #1047
I would like to work on this..

[2020-08-29 08:04] raniyer commented on #1045
Hey, I'd like to work on this issue

[2020-08-29 09:41] vaibhavarora102 commented on #1028
Okay thanks
Kindly assign me for this work
As I am participating in OSH and I will make pull request only after 1 Sept
Thanks@Kajol-Kumari

[2020-08-29 11:01] pallavithakare28 commented on #1034
I would like to work on this. Will me please guide me to proceed with this? As I am new to open source

[2020-08-29 12:04] khushishikhu commented on #1049
can i work on this issue for OSH

[2020-08-29 12:16] sanchibansal340 commented on #1049
Comment back on 1st September and I will assign you this issue.

[2020-08-29 12:17] sanchibansal340 commented on #1048
Comment back on 1st September and I will assign you this issue :)

[2020-08-29 12:35] sanchibansal340 commented on #1049
Comment on 1st September and I will assign it to you.

[2020-08-29 12:35] sanchibansal340 commented on #1048
Comment on 1st September and I will assign it to you :)

[2020-08-29 12:36] sanchibansal340 commented on #1047
Comment on 1st September and I will assign it to you.

[2020-08-29 12:36] sanchibansal340 commented on #1046
Comment on 1st September and I will assign it to you.

[2020-08-29 12:36] sanchibansal340 commented on #1045
Comment on 1st September and I will assign it to you.

[2020-08-29 12:37] sanchibansal340 commented on #1044
Comment on 1st September and I will assign it to you.

[2020-08-29 14:42] rkpattnaik780 commented on #1023
This issue is specific to OSH. If you are an OSH participant, feel free to claim this issue on September 1 and I will assign it to you. I can assign it to you now if you are not looking forward to participate in OSH.

[2020-08-29 15:07] rkpattnaik780 opened #1050 "UI: Change behavior of address fields in volunteer and admin sign-up"
## Description
As a volunteer/admin, while signing up, the form fields pertaining to address should be enabled only if the dependent fields are filled.
The "state/province" field should be enabled only after country is selected. City should be enabled only if both "country" and "state/province" are selected.

## Acceptance Criteria
### Update [Required]
- [ ] GIF of the behavior of form fields.
-

[2020-08-29 15:16] rkpattnaik780 opened #1051 "Add installation guide for RHEL/Fedora"
## Description

The installation guide currently has instructions for Ubuntu. Add the steps to be followed while setting up VMS in RHEL/Fedora to the [installation guide](https://github.com/anitab-org/vms/blob/develop/aut_docs/Installation_Setup.md).

## Acceptance Criteria
### Update [Required]
- [ ] A section in the installation guide to setup the project in RHEL/Fedora.

## Definition of Done
-

[2020-08-29 15:29] rkpattnaik780 opened #1052 "Add a badge for Python version in README.md"
## Description
README.md should have a badge for denoting the version of python needed.

## Mocks
README of [mentorship-backend](https://github.com/anitab-org/mentorship-backend/blob/develop/README.md).

![Screenshot from 2020-08-29 20-56-52](https://user-images.githubusercontent.com/23582438/91640313-41bb0600-ea3a-11ea-8ab6-470ba7b1c94e.png)

## Acceptance Criteria

## Definition of Done
- [ ] Ba

[2020-08-29 16:52] satya7289 opened #1053 "Add Github Actions for commits message checking"
## Description
As a developer,
I need to check every PR follow commit message guideline,
so that It is easy to manage and check which PR is responsible for what type of changes.

## Mocks
You have to add the Github Actions for commitlint. You can take the reference from the portal repository for commit message checking.

## Acceptance Criteria
- It should be checking to commit messages from this P

[2020-08-29 17:20] atharwa-24 commented on #1052
I would like to work on this one!!! ~OSH

[2020-08-29 17:22] khushishikhu commented on #1051
may i take this issue?

[2020-08-29 17:39] Kajol-Kumari commented on #1041
Hey Everybody, all who are interested in this issue. Please accept my apologies but according to the new guidelines we received, we will count `First come first serve` on the basis of comments/claims done 1st september onwards. So, everyone who are interested in this issue, do come again on 1st and comment first to get assigned.

[2020-08-29 17:40] Kajol-Kumari commented on #1035
Hey @BALaka-18. Please accept my apologies but according to the new guidelines we received, we will count `First come first serve` on the basis of comments/claims done 1st september onwards. So, everyone who are interested in this issue, do come again on 1st and comment first to get assigned.

[2020-08-29 17:41] Kajol-Kumari commented on #1034
Hey @pallavithakare28! Please accept my apologies but according to the new guidelines we received, we will count `First come first serve` on the basis of comments/claims done 1st september onwards. So, everyone who are interested in this issue, do come again on 1st and comment first to get assigned.

[2020-08-29 17:41] Kajol-Kumari commented on #1028
Hey Everybody, all who are interested in this issue. Please accept my apologies but according to the new guidelines we received, we will count `First come first serve` on the basis of comments/claims done 1st september onwards. So, everyone who are interested in this issue, do come again on 1st and comment first to get assigned.

[2020-08-29 17:42] Kajol-Kumari commented on #1027
Hey Everybody, all who are interested in this issue. Please accept my apologies but according to the new guidelines we received, we will count `First come first serve` on the basis of comments/claims done 1st september onwards. So, everyone who are interested in this issue, do come again on 1st and comment first to get assigned.

[2020-08-29 17:42] Kajol-Kumari commented on #1026
Hey Everybody, all who are interested in this issue. Please accept my apologies but according to the new guidelines we received, we will count `First come first serve` on the basis of comments/claims done 1st september onwards. So, everyone who are interested in this issue, do come again on 1st and comment first to get assigned.

[2020-08-29 17:43] Kajol-Kumari commented on #1025
Hey Everybody, all who are interested in this issue. Please accept my apologies but according to the new guidelines we received, we will count `First come first serve` on the basis of comments/claims done 1st september onwards. So, everyone who are interested in this issue, do come again on 1st and comment first to get assigned.

[2020-08-29 17:43] Kajol-Kumari commented on #1024
Hey Everybody, all who are interested in this issue. Please accept my apologies but according to the new guidelines we received, we will count `First come first serve` on the basis of comments/claims done 1st september onwards. So, everyone who are interested in this issue, do come again on 1st and comment first to get this issue assigned to you.

[2020-08-29 18:10] bhumikasharma29 commented on #1052
I want to work on this!

[2020-08-29 18:11] pallavithakare28 commented on #1034
Ok Sure, Thank you

[2020-08-29 18:12] bhumikasharma29 commented on #1049
I would like to work on this.

[2020-08-29 20:12] aniketrb-github commented on #1052
@rkpattnaik780, Can you please assign me this. Thanks.

[2020-08-30 12:52] rkpattnaik780 commented on #1052
Hello everyone! Thanks for showing interest in this issue. If you are looking forward to participate in OSH. Please feel free to claim this issue after 1st September (commencement of OSH program).

[2020-08-30 13:04] rkpattnaik780 commented on #1051
Hello @khushishikhu . Thanks for showing interest towards contributing this project. You can't be assigned this issue right now, please claim it earliest after 1st Sept(commencement of OSH).

[2020-08-31 14:30] chaudhariyash10 commented on #1038
Will the issue be assigned to many students or will be only one person working on one issue?

[2020-08-31 14:30] chaudhariyash10 commented on #1038
Will the issue be assigned to many students or will be only one person working on one issue?

[2020-08-31 16:47] harsh-9in commented on #1053
@satya7289  can I work on this issue?

[2020-08-31 17:43] saideepesh000 commented on #1046
#OSH, Can I work on it.

[2020-08-31 18:29] yash2189 commented on #1031
can I work on this issue @keshakaneria?

[2020-08-31 18:30] yash2189 commented on #1023
Can I work on this @rkpattnaik780 ?

[2020-08-31 18:30] aniketrb-github commented on #1048
@sanchibansal340, Can you please assign me this. Thanks. (I'm not an OSH participant but a first-time open source contributor)

[2020-08-31 18:30] saideepesh000 commented on #1030
#OSH, Can I work on it.

[2020-08-31 18:30] saideepesh000 commented on #1036
#OSH, can I work on this.

[2020-08-31 18:30] aniketrb-github commented on #1047
@sanchibansal340, Can you please assign me this. Thanks. (I'm not an OSH participant but a first-time open source contributor)

[2020-08-31 18:30] yash2189 commented on #1038
Can I work on this @keshakaneria?

[2020-08-31 18:30] aniketrb-github commented on #1052
@rkpattnaik780, Can you please assign me this. Thanks. (I'm not an OSH participant but a first-time open source contributor)

[2020-08-31 18:30] decon-harsh commented on #1042
Hey I am new in this community and I am participating in OSH can I take this up?

[2020-08-31 18:30] saideepesh000 commented on #1046
#OSH, Can I work on it.

[2020-08-31 18:30] decon-harsh commented on #655
Can I take this up now?

[2020-08-31 18:30] ashwinijha6 commented on #1036
@keshakaneria I would like to work on this issue as an OSH participant

[2020-08-31 18:30] Abhijit5463 commented on #1039
Hey I am new in this community and I am participating in OSH can I take this up?

[2020-08-31 18:30] yash2189 commented on #1052
Can I work on this @rkpattnaik780 ?

[2020-08-31 18:30] ooyeraju commented on #1045
Hey, I would like to work on this. Participating in OSH

[2020-08-31 18:30] saideepesh000 commented on #1030
OSH, Can I work on it.

[2020-08-31 18:30] yash2189 commented on #1047
Can I work on this @sanchibansal340 ?

[2020-08-31 18:30] Abhijit5463 commented on #1031
Hey I am new in this community and I am participating in OSH can I take this up?

[2020-08-31 18:31] ashwinijha6 commented on #1019
@gaurivn I would like to work on this issue as an OSH participant

[2020-08-31 18:31] Abhijit5463 commented on #1023
Hey I am new in this community and I am participating in OSH can I take this up?

[2020-08-31 18:31] ooyeraju commented on #1044
Hey, I'm participating in OSH. Can I take this?

[2020-08-31 18:31] khushishikhu commented on #1044
may i take this issue for OSH?

[2020-08-31 18:31] atharwa-24 commented on #1052
I had fixed this one

[2020-08-31 18:31] vaibhavarora102 commented on #1028
Hi @Kajol-Kumari , can you pls assign this issue to me as its already 1st of September and I guess OSH has started
Thanks

[2020-08-31 18:31] decon-harsh commented on #939
@Monal5031 Can you assign me on this I would like to work on this!

[2020-08-31 18:31] yash2189 commented on #1032
can I work on this issue in OSH @SanketDG ?

[2020-08-31 18:31] bhumikasharma29 commented on #1049
please assign it to me

[2020-08-31 18:32] BALaka-18 commented on #1035
Hi @Kajol-Kumari , I would like to work on this issue.

[2020-08-31 18:32] raksh543 commented on #1042
I am willing to work on this issue

[2020-08-31 18:32] vaibhavarora102 commented on #1019
Hi @gaurivn , can you pls assign this issue to me as its already 1st of September and I guess OSH has started
Thanks

[2020-08-31 18:32] vaibhavarora102 commented on #1026
Hi, can you pls assign this issue to me as its already 1st of September and I guess OSH has started
Thanks

[2020-08-31 18:32] BALaka-18 commented on #1032
Hi @Ajitesh13 , I would like to work on this issue

[2020-08-31 18:33] Abjcodes commented on #1053
I would like to work on this issue as a part of OSH. Can you assign me this issue? Thank You.

[2020-08-31 18:33] vaibhavarora102 commented on #1037
Hi, can you pls assign this issue to me as its already 1st of September and I guess OSH has started
Thanks

[2020-08-31 18:33] vaibhavarora102 commented on #1038
Hi, can you pls assign this issue to me as its already 1st of September and I guess OSH has started
Thanks

[2020-08-31 18:34] vaibhavarora102 commented on #1039
Hi, can you pls assign this issue to me as its already 1st of September and I guess OSH has started
Thanks

[2020-08-31 18:34] Abjcodes commented on #1052
I would like to work on this issue as a part of OSH. Can you assign me this issue? Thank You.

[2020-08-31 18:34] Abjcodes commented on #1049
I would like to work on this issue as a part of OSH. Can you assign me this issue? Thank You.

[2020-08-31 18:34] Abjcodes commented on #1032
I would like to work on this issue as a part of OSH. Can you assign me this issue? Thank You.

[2020-08-31 18:34] khushishikhu commented on #1051
can i take this issue

[2020-08-31 18:38] pallavithakare28 commented on #1034
@Kajol-Kumari I would like to work on this. Will you please guide me to proceed with this? As I am new to open source

[2020-08-31 18:39] Abjcodes commented on #1051
I would like to work on this issue as a part of OSH. Can you assign me this issue? Thank You.

[2020-08-31 18:40] Abjcodes commented on #1048
I would like to work on this issue as a part of OSH. Can you assign me this issue? Thank You.

[2020-08-31 18:40] Abjcodes commented on #1047
I would like to work on this issue as a part of OSH. Can you assign me this issue?

[2020-08-31 18:41] rkpattnaik780 commented on #1051
Go ahead @khushishikhu. Feel free to reach out if stuck anywhere.

[2020-08-31 18:42] decon-harsh commented on #1023
I am participating in OSH and I would like to work on this !

[2020-08-31 18:42] Abjcodes commented on #1036
I would like to work on this issue as a part of OSH. Can you assign me this issue? Thank You.

[2020-08-31 18:42] Abjcodes commented on #1033
I would like to work on this issue as a part of OSH. Can you assign me this issue? Thank You.

[2020-08-31 18:43] Kajol-Kumari commented on #1028
Hey @vaibhavarora102 please go ahead with this one :)

[2020-08-31 18:43] rkpattnaik780 commented on #1051
Hello! Thanks for showing interest towards this issue however the issue had to be assigned based on first come first serve basis. Feel free to browse through other issues.

[2020-08-31 18:44] Abjcodes commented on #1026
I would like to work on this issue as a part of OSH. Can you assign me this issue? Thank You.

[2020-08-31 18:44] Ajitesh13 commented on #1039
Thanks for taking interest in this issue. As we go in FCFS basis, I have to first assign this bug to @Abhijit5463. If at some point he failed to meet the requirements, I will assign you this bug.

[2020-08-31 18:44] Kajol-Kumari commented on #1035
Hey @BALaka-18 please go ahead with this issue.
Happy Learning :)

[2020-08-31 18:44] Abjcodes commented on #1020
I would like to work on this issue as a part of OSH. Can you assign me this issue? Thank You.

[2020-08-31 18:44] ashwinijha6 commented on #1041
@Kajol-Kumari  I would like to work on this as an OSH participant

[2020-08-31 18:45] bhumikasharma29 commented on #1047
Please assign this to me.

[2020-08-31 18:46] Kajol-Kumari commented on #1042
Hey @decon-harsh please go ahead with this issue :+1:
@raksh543 as we need to follow `FCFS` so can't assign this to you. Feel free to take up any other issue.

[2020-08-31 18:47] Kajol-Kumari commented on #1034
@pallavithakare28 please go ahead with this issue :+1:

[2020-08-31 18:48] atharwa-24 commented on #1052
@rkpattnaik780 I had fixed this one

[2020-08-31 18:49] Ajitesh13 commented on #1032
Hello Guys, thanks for your interest in this issue, As we have to planned to move in a FCFS basis, I have to assign this bug to @yash2189 . If at some point of time, he will fail to meet the requirements, then I will assign this issue to one among you.

[2020-08-31 18:49] Kajol-Kumari commented on #1026
Hey @vaibhavarora102 as I have assigned you one issue already so acn't assign you anymore till you open up a valid PR for the same.
@Abjcodes please go ahead with this issue :+1:

[2020-08-31 18:50] Abjcodes commented on #1025
I would like to work on this issue as a part of OSH. Can you assign me this issue? Thank You.

[2020-08-31 18:50] Abjcodes commented on #1019
I would like to work on this issue as a part of OSH. Can you assign me this issue? Thank You.

[2020-08-31 18:50] Abjcodes commented on #161
I would like to work on this issue as a part of OSH. Can you assign me this issue? Thank You.

[2020-08-31 18:51] Kajol-Kumari commented on #1041
Hey @ashwinijha6 please go ahead with this one :+1:
please make sure you have gone through [this comment](https://github.com/anitab-org/vms/issues/1041#issuecomment-682965032) and issue description properly before starting.
Happy Learning :)

[2020-08-31 18:53] Kajol-Kumari commented on #1025
Hey @Abjcodes as I have already assigned you one issue. we can't assign you any issues till you open up a valid PR for the assigned one.

[2020-08-31 18:54] ashwinijha6 commented on #1041
yes @Kajol-Kumari looking forward for ur help & guidance :)

[2020-08-31 19:02] priyanshurohilla commented on #1025
I would like to work on this i am participating in osh

[2020-08-31 19:02] ashwinijha6 commented on #1053
@satya I would like to work on this issue as an OSH participant

[2020-08-31 19:03] atharwa-24 commented on #1047
@sanchibansal340 I want to work on this!

[2020-08-31 19:03] Kajol-Kumari opened #1056 "Upgrade Django to 3.0.9(latest)"
## Description
Currently we are using [Django 2.0](https://github.com/anitab-org/vms/blob/develop/requirements.txt#L4) which is quite outdated

## Acceptance Criteria
### Update
- [ ] Upgrade the Django version to latest stable version i.e 3.0.9
- [ ] Make the required changes in the codebase to make sure it doesn't break anything.

## Definition of Done
- [ ] All of the required items are complet

[2020-08-31 19:05] Kajol-Kumari commented on #1025
Hey @priyanshurohilla please go ahead with this issue.
Happy Learning :)

[2020-08-31 19:09] vj-codes commented on #1048
@sanchibansal340 I would like to work on this after your reference in 1st comment here

[2020-08-31 19:33] vanditkhurana commented on #1047
I would like to work on this @sanchibansal340. Please assign me this issue.

[2020-08-31 19:40] vanditkhurana commented on #1036
I would like to work on this. Please assign me this issue.

[2020-08-31 20:14] keshakaneria commented on #1037
@vaibhavarora102 Will assign you once there is inactivity for 3 days to the assigned person who commented first.

[2020-08-31 20:20] keshakaneria commented on #1038
@vaibhavarora102 It seems you have been assigned one issue already to work on. So the other person will be assigned who came first.

[2020-08-31 20:25] keshakaneria commented on #1036
The assignment will be based on First Come First Serve. In case of any inactivity for 3 days, the next interested person will be assigned the issue.

[2020-08-31 20:29] titiksha01 commented on #1046
Hello, I would like to work on this issue as a part of OSH. Can you assign it to me?

[2020-08-31 20:57] titiksha01 commented on #1024
@Kajol-Kumari Hello, I would like to work on this issue as part of OSH. Can I be assigned this issue? Thank You

[2020-08-31 21:13] titiksha01 commented on #1049
Hello, I would like to work on this issue. Can this be assigned to me? Thank You

[2020-08-31 21:30] yash2189 commented on #1032
Hello @Ajitesh13  I have created a PR. Please review the same. Thanks.

[2020-08-31 22:19] gaurivn commented on #1019
Sure, I've assigned you, feel free to work on it and ask doubts if any here or on Zulip :)

[2020-08-31 22:21] gaurivn commented on #1019
Hi @vaibhavarora102, yes.. you've already been assigned issue #1028. Once you send a PR for that and if this issue is available to work on at that time, I'll assign you.

[2020-08-31 22:25] gaurivn commented on #1019
Hi @Abjcodes, you've already been assigned issue #1026, once you send a PR for that and if this issue is available at that time, will assign.

[2020-09-01 02:20] Aaishpra commented on #1049
Hey can u assign this to me

[2020-09-01 02:31] Aaishpra commented on #1040
@Ajitesh13 can i work on this

[2020-09-01 02:37] Aaishpra commented on #1024
@Kajol-Kumari can i work on this

[2020-09-01 03:38] ymaheshwari1 commented on #1046
I am interested

[2020-09-01 03:47] sanchibansal340 commented on #1049
@bhumikasharma29 I am assigning it to you.

[2020-09-01 03:49] ymaheshwari1 commented on #1050
I am interested in working on this.

[2020-09-01 03:54] sanchibansal340 commented on #1048
I am assigning this to you @aniketrb-github

[2020-09-01 03:56] sanchibansal340 commented on #1045
@ooyeraju I am assigning this to you

[2020-09-01 04:07] sanchibansal340 commented on #1047
I am assigning this to you @aniketrb-github

[2020-09-01 04:12] sanchibansal340 commented on #1048
@aniketrb-github I have assigned you another issue.
@Abjcodes This is a first-timer only and you have been assigned another issue

[2020-09-01 04:15] vaibhavarora102 commented on #1028
@Kajol-Kumari I had made initial commit can you pls check
till now contributing.md is made
and is bot is installed but is not triggered for this readme but well be done once this merge request is approved
thanks
as i am following docs for same
thanks

[2020-09-01 04:26] Abjcodes commented on #1026
@Kajol-Kumari I have send a pull request. Kindly review it.

[2020-09-01 04:35] vaibhavarora102 commented on #1026
I had also sent a pull request
can you pls assign me to know as I had come first (12:02 a.m)
thanks

[2020-09-01 04:45] bhumikasharma29 commented on #1049
Thank you @sanchibansal340

[2020-09-01 04:45] utkzas commented on #1052
please assign it to me

[2020-09-01 04:46] saideepesh000 commented on #1036
@keshakaneria, Actually I commented first, xD.

[2020-09-01 04:46] utkzas commented on #1047
hey can this issue be assigned to me?

[2020-09-01 04:46] satya7289 commented on #1053
@harsh-9in, I am assigning to you.
@Abjcodes, @ashwinijha6 please look another issue in the meanwhile.

[2020-09-01 04:47] sanchibansal340 commented on #1046
@ymaheshwari1 I am assigning this to you as this is a first-timers issue.

[2020-09-01 04:48] utkzas commented on #982
I want to work on this issue

[2020-09-01 04:48] keshakaneria commented on #1036
@saideepesh000 you have already been assigned one issue. So, no more than one issues are to be assigned for a single person :)

[2020-09-01 04:49] utkzas commented on #1023
hey can this issue be assigned to me?

[2020-09-01 04:58] sanchibansal340 commented on #1044
@ooyeraju and @khushishikhu You both have been assigned another issue.

[2020-09-01 05:02] sanchibansal340 commented on #655
@decon-harsh You have been assigned another issue and one person can be assigned only 1 issue. You can submit PR for the issue assigned to you then I will assign this to you :)

[2020-09-01 05:06] satya7289 opened #1061 "Fix binary string in the URL on the email verification"
## Description
As a developer,
I need to verify my email on the VMS web application.
Need to fix the test cases related to this.

## Mocks
Locally, If you register to the VMS then from the command line you get the email verification link. If you put the email verification link to the web application then you will get an error due to a binary string in the URL. You have to fix that error.

[error l

[2020-09-01 05:11] satya7289 opened #1062 "Add badges to the Readme File for codecov"
## Description
Add badges to the Readme File for codecov after this [PR.](https://github.com/anitab-org/vms/pull/983) & update the titile of the Readme file to `Volunteer Management System(VMS)`

## Definition of Done
- [x] Approval by 1 mentor.

## Estimation
1 hours

[2020-09-01 05:15] ashwinitanpure commented on #1037
@keshakaneria could you assign this issue to me? I would like to work on this.

[2020-09-01 05:17] gayathri-venu commented on #1062
I would like to work on this issue please assign it to me.

[2020-09-01 05:22] ymaheshwari1 commented on #1046
@sanchibansal340 The logo is looking fine on the mobile screens.

[2020-09-01 05:27] sanchibansal340 commented on #1046
It was not working for my mobile screen previously. Thank you for updating about this @ymaheshwari1. I will look into this

[2020-09-01 05:29] Aaishpra commented on #1062
can i work on this @satya7289

[2020-09-01 05:30] ashwinitanpure commented on #1032
@Ajitesh13 I would like to work on this

[2020-09-01 05:33] decon-harsh commented on #1042
Hey @Kajol-Kumari I think there are options for the above mentioned issue..

Sceenshots

![Screenshot from 2020-09-01 10-55-44](https://user-images.githubusercontent.com/58214248/91798416-7699a980-ec42-11ea-8713-3559bf76fb17.png)

![Screenshot from 2020-09-01 10-58-19](https://user-images.githubusercontent.com/58214248/91798453-8b763d00-ec42-11ea-8b65-694134ac59ad.png)

![Screenshot from 2020-09-0

[2020-09-01 05:34] aniketrb-github commented on #1062
@satya7289 Can you please assign me this. Thanks. (I'm not an OSH participant but a first-time open source contributor).

[2020-09-01 05:45] Aditiwebd commented on #1062
I want to work on this issue for OSH

[2020-09-01 05:55] Kajol-Kumari commented on #1042
Hey @decon-harsh let me check this on my local. 'coz last time I had ran this on my local, I was not able to view anything except `logout`.

[2020-09-01 05:58] Aaishpra commented on #1044
Can i work on this@sanchibansal

[2020-09-01 06:00] satya7289 commented on #1062
The aim of this program is to make a contributor more comfortable with the open-source contribution.
Therefore I am assigning this issue to @aniketrb-github. Hope this issue will kickstart your open source contribution, also I encourage you to take part in the Open Source Hack.
@gayathri-venu @Aaishpra @Aditiwebd please look another issue, there are many issues you all can take up.

[2020-09-01 06:12] keshakaneria commented on #1037
This issue is already assigned. If the person will not continue for 3 days the next interested person will be assigned.

[2020-09-01 06:21] aniketrb-github commented on #1062
@satya7289 Thank you for the assignment. I have forked `vms` & have created a new branch for the code fix of this issue.
I believe I have to wait until the mentioned [PR#983](https://github.com/anitab-org/vms/pull/983) is resolved, after which I would be able to raise a PR for #1062 right?

[2020-09-01 06:27] abhinav72610 commented on #1052
Hey I am new in this community and I am participating in OSH can I take this up?

[2020-09-01 06:28] decon-harsh commented on #1042
Just a request can you check it asap, cause I won't be assigned on multiple issues at once.

[2020-09-01 06:31] abhinav72610 commented on #1061
@satya7289 Hey I am new in this community and I am participating in OSH can I take this up?

[2020-09-01 06:33] khushishikhu commented on #1051
@rkpattnaik780  the installation guide is for RHEL 8 or any other version

[2020-09-01 06:33] priyanshurohilla commented on #1040
Hi can this be assigned to me, I have done the work ... waiting to open PR

[2020-09-01 06:40] satya7289 commented on #1061
Yes, please. I'm assigning you.

[2020-09-01 06:42] satya7289 commented on #1062
You can open a PR for this @aniketrb-github

[2020-09-01 06:46] Abhijit5463 commented on #1031
Isn't this violation of FCFS rule @keshakaneria ??

[2020-09-01 06:46] abhinav72610 commented on #1050
@rkpattnaik780 Hey I am new in this community and I am participating in OSH can I take this up?

[2020-09-01 06:51] yash2189 commented on #1031
@keshakaneria  as per FCFS rule  I had commented on the issue on 1st September. Isn't this a violation?
Please have a look on this.

[2020-09-01 06:51] gaurivn commented on #982
Hi @Aaishpra, @utkzas, this issue has already been assigned and a PR has been created for the same that needs testing. In case this issue becomes available later, will assign.

[2020-09-01 06:52] yash2189 commented on #1050
Can I work on this @rkpattnaik780 ?

[2020-09-01 06:54] Aaishpra commented on #1040
@priyanshurohilla i guess u have already been assigned to another issue 😅

[2020-09-01 06:55] yash2189 commented on #1044
Can I work on this as a part of OSH @sanchibansal340 ?

[2020-09-01 06:56] priyanshurohilla commented on #1040
But I have already opened the PR for the same, so now I am eligible for another issue 😬

[2020-09-01 06:58] keshakaneria commented on #1031
The person who is assigned was already working on this so I will have to fare with them too and have also raised an issue! Otherwise the FCFS rule will perfectly fine! Don't worry and keep working on other issues to work on :)

[2020-09-01 07:15] satya7289 opened #1065 "Fix the unable to locate element error"
## Description
As a developer,
I need to pass Travis ci all the time if everything went well.

## Mocks
Some time due to more traffic or some other reason, The Travis CI failed due to this error.
![Screenshot from 2020-09-01 12-43-06](https://user-images.githubusercontent.com/35588980/91813773-d008d500-ec50-11ea-9aad-f1663f80bf12.png)

## Acceptance Criteria
- Travis CI should pass all the time

#

[2020-09-01 07:55] Kajol-Kumari commented on #1026
Hey @vaibhavarora102 please don't continue working on any issue untill it gets assigned to you. Also as i had previously mentioned as well, you already have one issue assigned to you, so i request you to please close your PR For this issue and work on the assigned issue.

@Abjcodes thanks for opening the PR, i will review it ASAP.

[2020-09-01 07:57] Kajol-Kumari commented on #1024
Hey @titiksha01 please go ahead with this issue. @Aaishpra as we are following `FCFS` so can't assign this issue to you, feel free to take any other issue.

[2020-09-01 08:00] titiksha01 commented on #1024
@Kajol-Kumari Thank you for the opportunity

[2020-09-01 08:19] Kajol-Kumari commented on #1042
Wierd! I am still not able to see these options on my local  @gaurivn @keshakaneria can anyone of you please confirm you are able to access these features when logged in as normal user.

@decon-harsh I am Unassigning you for now so that you can take other issue. Please go ahead with another issue for now till I get it cleared.

[2020-09-01 08:28] vaibhavarora102 commented on #1026
I don't had opened any PR for this

Kindly check

[2020-09-01 08:31] BALaka-18 commented on #1035
@Kajol-Kumari I have made a PR (#1058). Kindly review it once.
Thanks.

[2020-09-01 08:36] Kajol-Kumari commented on #1026
Hey @vaibhavarora102, I apologize for misunderstanding what you said but please understand that if someone is already assigned an issue, we can't assign it to you unless the issue requires multiple assignees(which isn't the case here) so please feel free to claim some unassigned issue.

[2020-09-01 08:38] rkpattnaik780 commented on #1023
Assigning it to @decon-harsh . @yash2189 @Abhijit5463 you already have been assigned issues in vms. @utkzas since it is first come first serve, I can't assign it to you. Please browse through other unassigned issues :).

[2020-09-01 08:45] rkpattnaik780 commented on #1052
Assigning to @atharwa-24 as I can see most people already have an issue assigned to them. @utkzas since it was a first come first serve, I can't assign it to you. Please fell free to browse through other issues. :)

[2020-09-01 08:47] vaibhavarora102 commented on #1026
Okay thanks

[2020-09-01 09:03] vaibhavarora102 commented on #1028
@Kajol-Kumari  is it ready for merging or any other step also needed

can you pls tell as I also want to work on other their maintainers are saying to first complete your previous one
thanks

[2020-09-01 09:09] atharwa-24 commented on #1052
@rkpattnaik780 review it once

[2020-09-01 09:17] abhi5459 commented on #1062
Can you please assign this work to me

[2020-09-01 09:25] titiksha01 commented on #1019
@gaurivn  Hello, I would like to work on this issue as a part of OSH. Can this be assigned to me? Thank you

[2020-09-01 09:28] vaibhavarora102 commented on #1019
@gaurivn I am done with the previous issue
and hope i will now be assigned the issue

[2020-09-01 09:28] satya7289 commented on #1062
Sorry @abhi5459, please look other issues as this is being assigned.

[2020-09-01 09:54] sanchibansal340 commented on #1044
I am assigning it to you @Aaishpra

[2020-09-01 09:58] Aaishpra commented on #1044
Thanks , will start working on this pretty quick

[2020-09-01 10:03] shreyagupta30 commented on #1056
Hi @Kajol-Kumari, can I work on this as a part of OSH?

[2020-09-01 10:03] shubhank-saxena commented on #1029
@keshakaneria is this task up for grabs? I would like to work on this as I have experience with celery

[2020-09-01 10:32] aniketrb-github commented on #1048
Sure @sanchibansal340,
Then can you assign me #1047 at least? I have commented on #1047 as you've told us for the FCFS basis. :)

[2020-09-01 10:40] decon-harsh commented on #1045
Next in the queue!

[2020-09-01 10:47] sanchibansal340 commented on #1047
@aniketrb-github I have assigned this issue to you.

[2020-09-01 10:54] Kajol-Kumari commented on #1056
Hey @shreyagupta30 please go ahead with this issue.

[2020-09-01 10:54] priyanshuone6 commented on #1029
Hey can you assign this issue to me, I would like to work on it

[2020-09-01 10:55] priyanshuone6 commented on #1020
Hey can you assign this issue to me, I would like to work on it

[2020-09-01 10:57] priyanshuone6 commented on #889
Hey can you assign this issue to me, I would like to work on it

[2020-09-01 12:49] 96RadhikaJadhav commented on #1051
I would like to work on this issue as a part of OSH. Could you assign me this issue? I'm a first time contributor.

[2020-09-01 12:51] ashwinijha6 commented on #1019
@gaurivn I had a doubt related to this as I have started working on it should the test-pr-guide.md contain only the 10 steps as mentioned in the mock?

[2020-09-01 12:56] 96RadhikaJadhav commented on #1048
I would like to work on this issue as a part of OSH. Could you please assign me this issue? I'm a first time contributor.

[2020-09-01 13:00] 96RadhikaJadhav commented on #1032
I would like to work on this issue as a part of OSH. Could you please assign me this issue? I'm a first time contributor.

[2020-09-01 13:02] 96RadhikaJadhav commented on #1039
I would like to work on this issue as a part of OSH. Could you please assign me this issue? I'm a first time contributor.

[2020-09-01 13:24] yash2189 commented on #1032
@Ajitesh13  Please review my PR

[2020-09-01 13:32] Nibba2018 commented on #1027
Hello @Kajol-Kumari , Can I work on this issue?

[2020-09-01 13:40] Nibba2018 commented on #1065
Hello @satya7289 , may I work on this issue?

[2020-09-01 14:49] satya7289 commented on #1065
Yes, please. I am assigning to you.

[2020-09-01 14:51] rkpattnaik780 commented on #1051
RHEL 8. I would be reviewing your PR by EOD.

[2020-09-01 14:59] Aaishpra commented on #1044
![image](https://user-images.githubusercontent.com/66299533/91867724-973d2000-ec91-11ea-860b-c1cd8eac1cbb.png)
@sanchibansal340 i am getting this error while setting the project locally can u help me with this?

[2020-09-01 15:21] Kajol-Kumari commented on #1027
@Nibba2018 please go ahead with this issue.

[2020-09-01 16:16] sanchibansal340 commented on #1044
@Aaishpra you can ask environment setup related doubts on Zulip

[2020-09-01 16:47] utkzas commented on #982
will this issue reopen, if solved completely?

[2020-09-01 17:22] Nibba2018 commented on #1027
Thank you @Kajol-Kumari

[2020-09-01 18:37] Ajitesh13 commented on #1032
OK, @yash2189 sorry for the delay, I will review the PR now

[2020-09-01 18:48] Ajitesh13 commented on #1040
Thanks for taking interest in this issue. After the OSH starts, I guess @Aaishpra is the first one to comment, and as we move in a FCFS basis, I have to assign her this issue. So, please go ahead and submit a PR. If at any point, she fails to meet the requirement then I will assign the issue to @priyanshurohilla.

[2020-09-01 19:30] gaurivn commented on #1020
Sure assigning you @priyanshuone6

[2020-09-01 19:32] alivabasa commented on #1049
I want to work on this.

[2020-09-01 20:03] alivabasa commented on #80
I want to work on this.

[2020-09-01 20:10] alivabasa commented on #889
I want to work on this as part of OSH

[2020-09-01 20:18] HariniJeyaraman commented on #1049
@sanchibansal340 Would love to work on this issue

[2020-09-01 20:22] titiksha01 commented on #1024
@Kajol-Kumari I had a doubt regarding this. To check the changes i have made it on the the UI, do I need to run it on docker? because the html file won't open properly in my browser i.e the css and js characteristics are not visible as they are visible on the link provided in the repo for the volunteer management system home page.

I am new to this community and open source so please guide me with

[2020-09-01 20:33] titiksha01 commented on #161
@tapaswenipathak Hello. I would like to work on this issue as a part of OSH. Can this be assigned to me? Thank you...

[2020-09-01 20:47] HariniJeyaraman commented on #1037
@keshakaneria I don't have any issues assigned yet. Would love to work on this issue

[2020-09-01 21:27] decon-harsh commented on #1042
Hey @Kajol-Kumari , During signup if a person enters non-unique organisation or even leaves it then it shows us an error screen

![Screenshot from 2020-09-02 02-49-56](https://user-images.githubusercontent.com/58214248/91907531-a6d75b80-ecc7-11ea-82cc-20d842b4769e.png)

and then if we try to login with that user it takes us to the screen mentioned in the issue.

![Screenshot from 2020-09-02 02-50-

[2020-09-01 22:51] gaurivn commented on #1019
No, not just the 10 steps, I've edited the issue description to include the link of the corresponding file in mentorship-backend. Pls, add the debugging steps too, from the admin side like entering, viewing volunteer contact info, tracking volunteer hours, and assigning a volunteer to a job.

[2020-09-02 01:10] madhhuurrii commented on #134
Hii , i can u assign me this issue? For OSH
I can review for windows 10 operating system.

[2020-09-02 01:14] madhhuurrii commented on #1049
I want to work on this issue as a first timer for OSH

[2020-09-02 01:20] madhhuurrii commented on #161
@tapaswenipathak @abha224 @mayburgos @gaurivn Can u please assign me this to me as a part of OSH contribution ?

[2020-09-02 01:38] priyanshuone6 commented on #1020
Do I need to just create a blank file named TEST_PR_TEMPLATE.md on docs folder?

[2020-09-02 02:34] Aaishpra commented on #1040
Sure @Ajitesh13

[2020-09-02 03:17] vaibhavarora102 commented on #1019
hi @gaurivn  can you pls assign this issue to me as I had already completed all my previous issues assigned
thanks

[2020-09-02 03:23] HeroicHitesh commented on #1020
I would like to work on this issue. Please assign me this issue when it's free.

[2020-09-02 04:51] bhumikasharma29 commented on #1049
@sanchibansal340 I have cloned the project on my system. But since I am a new to this I was unable to find exactly where do I need to change the text. I cannot find Systers on the volunteer and admin page.

[2020-09-02 05:00] Nibba2018 commented on #1065
Hey @satya7289 , thank you for assigning this issue to me. Do you have any specific fix in mind or should a `try except` block be good enough?

[2020-09-02 05:03] madhhuurrii commented on #962
@yashshah2820 Hii , can i work on this issue?

[2020-09-02 05:07] Aaishpra commented on #1040
@Ajitesh13 I guess u haven't really assigned me this, I already have made a pr for this issue.

[2020-09-02 05:08] Aaishpra commented on #1044
@sanchibansal340 unassigning from this please make it available for others

[2020-09-02 06:21] gaurivn commented on #1020
Yes, they are different, I suggest you take a look at the other repositories' documentation and see how it's done. It's the same template across all repositories.

[2020-09-02 06:22] gaurivn commented on #1020
Hi @HeroicHitesh, since this issue is already assigned, I can't assign you for time being. In case this issue becomes available in the future, will assign you.

[2020-09-02 06:24] psingh587 commented on #1050
Hi, I am interested to work on this. Can I do it?

[2020-09-02 06:24] gaurivn commented on #1019
@vaibhavarora102, since this issue is already assigned, can't assign again for the time being. In case this issue becomes available in the future will assign you.

[2020-09-02 06:41] singhanurag05 commented on #1032
Is this available to work on? I am a first time contributor.

[2020-09-02 06:45] singhanurag05 commented on #889
Is this issue available to work on? I am a First Time Contributor.

[2020-09-02 07:01] rkpattnaik780 commented on #1050
@psingh587 go ahead!

[2020-09-02 07:15] psingh587 commented on #1050
Sure, Thanks!

[2020-09-02 07:34] priyanshuone6 commented on #1020
Something like this?
https://github.com/anitab-org/mentorship-backend/blob/develop/docs/test-pr-guide.md

[2020-09-02 07:51] Kajol-Kumari opened #1077 "[Feature] Add Hide/show toggle feature for all password fields"
## Description
As a user,
I don't have the feature to view the entered password,
so that I can verify if it's correct or not.

## Acceptance Criteria
### Update
- [ ] Add toggle button for each password field allowing users to view/hide their entered password.

## Definition of Done
- [ ] All of the required items are completed.
- [ ] Approval by 1 mentor.

## Estimation
4 hours

[2020-09-02 07:59] gunishmatta commented on #1077
I want to work on this issue. Please assign me.

[2020-09-02 08:01] rishika1802 commented on #1077
I want to work on this issue as a part of OSH

[2020-09-02 08:04] rishika1802 commented on #1044
I want to work on this issue as a part of OSH

[2020-09-02 08:06] Kajol-Kumari commented on #1077
Hey @gunishmatta please go ahead with this issue. @rishika1802 as we follow `FCFS` so can't assign this to you. Feel free to claim any other issue :)

[2020-09-02 08:07] decon-harsh commented on #655
Hey @sanchibansal340 Can I get this now?

[2020-09-02 08:16] keshakaneria commented on #1042
@Kajol-Kumari will once locally and let you know

[2020-09-02 08:48] trivediavinash commented on #1032
Can i work on it ,i am a first time contributor

[2020-09-02 09:06] Tushika25 commented on #1045
I would like to work on this issue. Thank You!!!

[2020-09-02 09:10] nzare commented on #1044
Can I work on this issue as part of OSH ?

[2020-09-02 09:15] Anmollenka commented on #1034
@pallavithakare28 Can I work on this issue?

[2020-09-02 09:19] Anmollenka commented on #1036
Can I work on this issue as a part of OSH??Thank You

[2020-09-02 09:32] Aaishpra commented on #1040
@Ajitesh13 please review the PR

[2020-09-02 09:38] anishghimire603 commented on #1039
@Ajitesh13  can you please assign this to me I will be marked as contributed to documentation after contributing to this because I have contributed to QR or code and UI in mentorship-backend project.

[2020-09-02 09:50] gunishmatta commented on #1077
@Kajol-Kumari I am having trouble setting up the environment. Can you help me out?

[2020-09-02 09:51] Anmollenka commented on #1019
Can I work on this issue as a part of OSH??Thank you

[2020-09-02 09:53] Anmollenka commented on #1065
Can I work on this issue as a part of OSH??Thank You.

[2020-09-02 10:02] Anmollenka commented on #1032
I will like to work on this issue.Can you please assign it to me when it is free??

[2020-09-02 10:16] sanchibansal340 commented on #1044
No problem @Aaishpra Please let me know if I can help you in any way
@rishika1802 I am assigning this to you.

[2020-09-02 10:47] Kajol-Kumari commented on #1034
Hey @Anmollenka, @pallavithakare28 is already assigned this issue.so please feel free to claim any other issue.

[2020-09-02 10:49] Kajol-Kumari commented on #1077
@gunishmatta  sure! let's discuss this on [Zulip](https://anitab-org.zulipchat.com/#narrow/stream/222539-vms/topic/Dev.20Env.20Setup) as this is not the correct place for it. Please post the issue you are facing during the installation along with the OS on which you are trying to setup the dev-env.

[2020-09-02 10:55] Kajol-Kumari commented on #1042
Hey @decon-harsh Thanks for pointing this. This is a bug and this was the same thing I was encountering. I am modifying the issue description accordingly to make the goal of this issue more clear.

[2020-09-02 11:08] decon-harsh commented on #1042
I would love to work on this..

I solved this issue locally .. Actually the unlisted_organization does create instead of get_or_create.

I think this will solve.

Can you assign me this again?

[2020-09-02 11:18] saideepesh000 commented on #1030
@keshakaneria, can I use this [Password Reset View](https://docs.djangoproject.com/en/3.1/topics/auth/default/#django.contrib.auth.views.PasswordResetView), to reset the password without celery, as I don't have any experience using celery.

[2020-09-02 11:22] Anmollenka commented on #655
Can I work on this issue as a part of OSH??Thank You.

[2020-09-02 11:36] Kajol-Kumari commented on #1042
Hey @decon-harsh as you have opened the PR for the previous assigned issue, you can go ahead with this one :)

[2020-09-02 11:42] keshakaneria commented on #1030
@saideepesh000 Yes you can, unless and until it covers the main goal of the issue to send a mail and also displaying it in console to verify and reset the password successfully.

[2020-09-02 11:48] sanchibansal340 commented on #655
@decon-harsh You have been assigned another issue. Since you said that this is working locally for you, would you like me to assign this to you and maybe you can unassign yourself from the other issue for the time being and create a PR real quick?

[2020-09-02 11:50] sanchibansal340 commented on #889
@alivabasa assigning this to you.

[2020-09-02 12:41] kritikaparmar-programmer commented on #742
I want to work on this issue as a part of OSH.. Please assign me

[2020-09-02 12:51] Anmollenka commented on #1034
@Kajol-Kumari  Can you assign it to me when it's free??

[2020-09-02 13:28] alivabasa commented on #889
@sanchibansal340  Thanks a lot ! Since I am a beginner , I m having a doubt whether the file is this or not. Plz guide me
vms/registration/templates/registration/signup_administrator.html

[2020-09-02 13:47] ruchijain4 commented on #1044
@sanchibansal340 I want to work on this issue as a part of OSH.

[2020-09-02 13:59] decon-harsh commented on #1042
Kindly review this.

[2020-09-02 14:03] decon-harsh commented on #655
Created a PR on the last assigned issue and it is in review. So, I can work on this!

[2020-09-02 14:11] decon-harsh opened #1080 "Country, State & City field must be a dropdown in Volunteer Signup"
Country, State &City field must be a dropdown in Volunteer Signup .

## Mocks
![Screenshot from 2020-09-02 19-36-19](https://user-images.githubusercontent.com/58214248/91994038-be5c2600-ed53-11ea-9855-3231155dce66.png)

## Type
- User Interface

## Acceptance Criteria
- [X] Form gets modified

## Definition of Done
- [X] Approval by 1 mentor.

## Estimation
1 hour

[2020-09-02 14:12] yash2189 commented on #1023
Can I work on this now please since I have no other issues assigned to me.

[2020-09-02 14:12] decon-harsh commented on #1080
Kindly review this issue and Let me know if i can work on this?

[2020-09-02 14:12] yash2189 commented on #1038
Is this issue available to work on @keshakaneria?

[2020-09-02 14:18] keshakaneria commented on #1038
@yash2189 If there is three days of inactivity by the assigned person, I will assign it to you

[2020-09-02 14:24] yash2189 commented on #1032
Any updates @Ajitesh13? should I make any changes to the existing PR that I made yesterday?

[2020-09-02 15:15] yxlin118 commented on #655
Can I work on this issue for OSH? Thanks!

[2020-09-02 15:41] ashwinijha6 commented on #1036
@keshakaneria pls review my pull request #1081 & let me know the changes.

[2020-09-02 15:52] rkpattnaik780 commented on #1023
This issue already has a PR open for it, please browse through other issues.

[2020-09-02 16:00] satya7289 commented on #1065
Can you do it with the implicit or explicit wait?

[2020-09-02 16:06] satya7289 commented on #1080
Already there is a dropdown for country, city, and state. @decon-harsh

[2020-09-02 16:10] decon-harsh commented on #1080
There is but only in admin signup i guess!

[2020-09-02 16:32] SanketDG commented on #1032
@Ajitesh13 I am not sure if this is an helpful issue at all, feel free to close this.

[2020-09-02 16:40] SanketDG commented on #1024
@titiksha01 You will have to run the application as mentioned in the [setup](https://github.com/anitab-org/vms/blob/develop/aut_docs/Installation_Setup.md) docs, did you manage to follow them through?

[2020-09-02 17:55] codermind-divya commented on #1052
Can I work on this issue?

[2020-09-02 17:58] satya7289 commented on #1027
@Kajol-Kumari, It'll be great if you update the issue with allowing a user to sign in/signup using google, and Facebook as well.

[2020-09-02 18:05] Kajol-Kumari commented on #1027
@satya7289 I will be opening single issue for each of them as keeping everything in single issue will led to the huge PR.

[2020-09-02 18:35] Ajitesh13 commented on #1032
Ok, @SanketDG Thanks for your insights, I am closing this issue.

[2020-09-02 18:35] #1032 closed

[2020-09-02 18:39] Ajitesh13 commented on #1040
Sorry for the late response. I have adde my comments, you can have a look there

[2020-09-02 18:45] Ajitesh13 commented on #1039
As we have not heard from @Abhijit5463 for 2 days, I am unassigning this bug and opening it for other contributors.

[2020-09-02 18:47] Ajitesh13 commented on #1039
I have assigned this issue to @vaibhavarora102 please go ahead and submit a PR and if you need any help, feel free to ask.

[2020-09-02 19:01] decon-harsh commented on #1061
ping @abhinav72610 , Are you still working on this ?

[2020-09-02 19:06] vaibhavarora102 commented on #1039
thanks, I will do it at the earliest

[2020-09-02 19:15] vaibhavarora102 commented on #1039
@Ajitesh13 kindly check I had made pr

[2020-09-02 19:18] decon-harsh commented on #1061
@satya7289 Can I take this up?

[2020-09-02 19:23] satya7289 commented on #1061
Yes please, @decon-harsh

[2020-09-02 19:26] vaibhavarora102 commented on #1039
@Ajitesh13 there were certain commits in my main branch so I created new branch and then commit to del all those changes and after that did required changes and opened a pull request

[2020-09-02 19:45] codesankalp commented on #655
I want to work on this issue. @anjali-dhanuka

[2020-09-02 19:45] codesankalp commented on #161
I want to work on this issue @anjali-dhanuka

[2020-09-02 20:01] arjungarg07 commented on #1045
@sanchibansal340 Hey I am new in this community and I am participating in OSH can I take this up? ThankYou

[2020-09-02 21:35] sanchibansal340 commented on #655
@Anmollenka and @decon-harsh You have been assigned another issue.
@yxlin118 I am assigning it to you.

[2020-09-02 22:25] yxlin118 commented on #655
![image](https://user-images.githubusercontent.com/54916304/92043224-8394c680-ed30-11ea-99fb-e685d2424b28.png)
@sanchibansal340 I am getting this error when trying to set up, do you happen to know how to fix this?

[2020-09-02 22:36] yxlin118 commented on #655
![image](https://user-images.githubusercontent.com/54916304/92043951-00747000-ed32-11ea-8320-9b774aea1238.png)
I got this error even after I followed the readme to set the secret key

[2020-09-03 04:28] codesankalp commented on #742
I want to work on this issue. And I think I can solve this problem.

[2020-09-03 05:38] sanchibansal340 commented on #1046
@khushishikhu I faced some problems with the logo on my screen but it looks fine now. I will be closing the issue.

[2020-09-03 05:38] #1046 closed

[2020-09-03 05:42] khushishikhu commented on #1044
can i work on this issue or when can you assign this to me

[2020-09-03 08:25] Aaishpra commented on #962
@yashshah2820 i would like to work on this if no one is working.

[2020-09-03 10:30] yash2189 commented on #1038
Can I work on this @keshakaneria ?

[2020-09-03 10:38] pallavithakare28 commented on #1034
@Anmollenka Yes, I am working on the issue and hoping to get a resolution soon.
Thank you:)

[2020-09-03 10:54] saideepesh000 commented on #1030
@keshakaneria, Actually reset password section is already present on the website. and it's working.

![Screenshot (269)](https://user-images.githubusercontent.com/43727167/92106299-d12d3400-ee01-11ea-8784-10dee1c84ced.png)

[2020-09-03 11:00] sreelekha901 commented on #1080
Can I work on this issue?

[2020-09-03 11:10] keshakaneria commented on #1030
@saideepesh000 you dont have to include the code of its working. As you said the flow is absolutely perfect. What the aim of this issue to get the verification email on the mail id which is entered. Currently it is displayed in console, so in addition we need to get the mail in the id itself.

[2020-09-03 11:17] keshakaneria commented on #1038
@yash2189 Go for it :)

[2020-09-03 11:26] vaibhavarora102 commented on #1038
next time pls assign to me

[2020-09-03 11:30] keshakaneria commented on #1038
I saw you were assigned some issue. If you won't be assigned with any next time, will surely assign you your interested issue to work on 👍

[2020-09-03 11:31] vaibhavarora102 commented on #1038
I had done all my work just merging is left

[2020-09-03 12:19] khushishikhu commented on #1045
may i work on this issue?

[2020-09-03 12:21] khushishikhu commented on #1038
when there is no activity going on. please assign this to me

[2020-09-03 12:55] khushishikhu commented on #1034
Actually i was claiming it because i thought that there isn't any activity going on from 3 days . So may be you could assign it to someone else who is interested to work on it.

[2020-09-03 13:19] yashshah2820 commented on #962
Since @decon-harsh asked first, I think it is fair enough to assign this issue to him.

[2020-09-03 13:34] pallavithakare28 commented on #1034
@Kajol Kumari Just now I have opened a PR mam. I am trying to work on it and looking forward to making attractive changes.

[2020-09-03 14:30] pallavithakare28 commented on #1034
@Kajol-Kumari Hello Mam,  Please help to proceed further. Am I doing it in the correct way.? As I am new to Open-source but willing to contribute. Please guide me.

[2020-09-03 14:53] Kajol-Kumari commented on #1034
Hey @pallavithakare28 the issue is for just making the UI/UX design not for coding it down. So you just need to create the UI/UX design using any tool and put the final image under `wireframes` folder(create this folder as we don't have it currently) and make the PR.

[2020-09-03 14:54] pallavithakare28 commented on #1034
@Kajol-Kumari Mam I have made the changes using HTML and CSS also. And created a new template. May I post it here.

[2020-09-03 14:57] Kajol-Kumari commented on #1034
@pallavithakare28 please put those templates under the [#1085](https://github.com/anitab-org/vms/pull/1085) PR description.

[2020-09-03 14:57] saideepesh000 commented on #1030
@keshakaneria, Please once take a look at [this](https://drive.google.com/file/d/1b84v12d5ujF3NJoIH-LH8npKP2PyLmwm/view?usp=sharing),

[2020-09-03 14:59] pallavithakare28 commented on #1034
@Kajol-Kumari Yes mam, I will share a screenshot here first and please suggest me the change that I have to make. Then I will post the template.

[2020-09-03 17:09] keshakaneria commented on #1030
You edited and added your code to send the verification mail right? Seems perfect to me. Great job 👍

[2020-09-03 17:18] pallavisavant commented on #1052
is this available ,can i take this up

[2020-09-03 17:23] pallavisavant commented on #1049
i would like to work on this ,can this be assigned to me

[2020-09-03 18:45] yash2189 commented on #1038
@keshakaneria I have setup the project completely on my system. I wanted to ask whether the button has to be added on homepage i.e home.html?

[2020-09-03 19:17] keshakaneria commented on #1038
Yes, once the user is logged in, there should be a button which links to the Zulip channels

[2020-09-03 19:35] sanchibansal340 commented on #1049
@bhumikasharma29 Were you able to find where the changes have to be made?

[2020-09-03 19:36] sanchibansal340 commented on #655
@yxlin118 You can ask setup related doubts on Zulip chat

[2020-09-03 19:38] alivabasa commented on #889
yes

[2020-09-03 19:49] yash2189 commented on #1038
You mean this link correct http://anitab-org.zulipchat.com?

[2020-09-03 19:53] decon-harsh commented on #1080
Is this already fixed and not yet merged, cause I can still see this issue on my local @satya7289 ? Let me know , in that case i have to close this issue!

[2020-09-03 20:07] alivabasa commented on #889
@sanchibansal340  plz review and tell me if any changes is required.

[2020-09-03 20:42] titiksha01 commented on #1024
@SanketDG  I was following it... i am facing an error when i used
`python manage.py makemigrations auth volunteer administrator organization event job shift registration `
in Linux WSL.
`python: can't open file 'manage.py': [Errno 2] No such file or directory`

[2020-09-04 04:36] bhumikasharma29 commented on #1049
@sanchibansal340 I did find the text to be changed on the landing page but someday else (muskanvk) added a commit for changing that although I was assigned the issue. And I could not find the places to make the change on admin or volunteer page.

[2020-09-04 05:05] keshakaneria commented on #1038
@yash2189 Yes

[2020-09-04 05:29] sanchibansal340 commented on #1049
@bhumikasharma29 The commit from the person who has been assigned the issue would be considered so don't worry about that.
About the admin/volunteer page, you can ask about it on [Zulip](https://anitab-org.zulipchat.com/)

[2020-09-04 05:32] bhumikasharma29 commented on #1049
Okay thanks!!

[2020-09-04 06:20] yash2189 commented on #1038
@keshakaneria  Please review my PR . Why is it showing 1 check failed?

[2020-09-04 10:23] vaibhavarora102 commented on #1028
hope now it will be merged soon

[2020-09-04 10:29] saideepesh000 commented on #1030
@keshakaneria, I just actually added only a few lines i.e to configure SMTP mail. Should I send a PR, so that you could understand it more?

[2020-09-04 11:18] Kajol-Kumari commented on #1056
Hey @shreyagupta30 can you please provide the update on your work progress for this issue.

[2020-09-04 11:19] Kajol-Kumari commented on #1041
@ashwinijha6 can you please provide the update on you work progress for this issue.

[2020-09-04 11:21] yash2189 commented on #1045
May I work on this issue? As of now I have completed my previous issue assigned to me.

[2020-09-04 11:22] Kajol-Kumari commented on #1024
@titiksha01 this error is because you are runing the command in the wrong directory. You must be in `/vms/vms` (the directory that contains the `manage.py`) and then run this command.

[2020-09-04 11:23] Kajol-Kumari commented on #1025
@priyanshurohilla can you please provide an update on the work you have done for this issue.

[2020-09-04 11:30] yash2189 commented on #1038
@keshakaneria  Please review my new PR for this issue. #1089

[2020-09-04 11:46] keshakaneria commented on #1030
Yes @saideepesh000 you can.

[2020-09-04 12:10] priyanshurohilla commented on #1025
@Kajol-Kumari I have installed dependabot and it opened PR's on forked repository. So now, do i need to merge those PR's and then send a pull request here or anything else I need to do?

[2020-09-04 12:10] ashwinijha6 commented on #1041
@Kajol-Kumari  I need some time as I was working on another issue

[2020-09-04 12:37] Kajol-Kumari commented on #1025
Okay so installed the dependent bot in your forked repo. I think you can't integrate it in the main repo as it will cause the permission issue. So please write a blog on the how you integrated it and paste the blog url under `outreach-work.md/docs` file( (If you can't find outreach-work.md/docs folder, create one) and open the PR for the same.

[2020-09-04 12:51] SanketDG commented on #1041
@ashwinijha6 Please open this issue to others if you are busy working on something else. The general rule in OSH is to work one issue at a time.

[2020-09-04 13:00] aastha985 commented on #134
I would like to work on this for Ubuntu 18.04.4 LTS as  I too faced some issues during the setup.  Can you please assign it to me for Linux(Ubuntu) ? @satya7289

[2020-09-04 13:06] ashwinijha6 commented on #1041
ok @SanketDG  you can make it available for others

[2020-09-04 13:39] yash2189 commented on #1038
@keshakaneria  I have made the required changes for PR #1089

[2020-09-04 14:21] satya7289 commented on #134
Yes, sure. @aastha985

[2020-09-04 14:54] aastha985 commented on #134
@satya7289 Can I update Installation_Setup.md? Or do I need to write about it separately(if yes, then where can I write)?

[2020-09-04 15:03] satya7289 commented on #134
Yes, you can update.

[2020-09-04 16:08] yash2189 commented on #1038
@keshakaneria please check the PR again.

[2020-09-04 17:25] vaibhavarora102 commented on #1028
@Kajol-Kumari  kindly check
I had squashed all the commits  and had updated everything instructed by you
thanks

[2020-09-04 17:53] sanchibansal340 commented on #889
Will check @alivabasa

[2020-09-04 17:56] sanchibansal340 commented on #655
@yxlin118 Were you able to setup the project successfully?

[2020-09-04 17:57] sanchibansal340 commented on #1045
@ooyeraju What's the update on this issue?

[2020-09-04 18:06] yxlin118 commented on #655
@sanchibansal340 No I am still trying to figure out. How do I join Zulip? Thank you for your help!

[2020-09-04 18:09] sanchibansal340 commented on #655
You can join [Zulip](https://anitab-org.zulipchat.com/login/) from here. Hope this helps 💯

[2020-09-05 02:13] ooyeraju commented on #1045
I'm working on it.

[2020-09-05 02:39] desainidhi99 commented on #1077
Is these still open ? Then will like to take it up.

[2020-09-05 06:35] Kajol-Kumari commented on #1077
Hey @desainidhi99 yes, it's open. You can go ahead with this one.

[2020-09-05 06:42] rkpattnaik780 commented on #1050
@psingh587 are you still working on this issue?

[2020-09-05 06:44] psingh587 commented on #1050
Sir, I am having problems in installation of VMS in my machine. I had asked for help yesterday but no response yet. Could you please help me? I have checked the files on the repo, i can fix this, only problem is the installation.

[2020-09-05 06:49] rkpattnaik780 commented on #1050
Let me try to run vms using docker compose, I will reach back after that.

[2020-09-05 07:31] titiksha01 commented on #1024
@Kajol-Kumari Yes, Thank You... I was able to set up and run the server

[2020-09-05 08:41] sanchibansal340 commented on #1044
@rishika1802 Hey, what is the update?

[2020-09-05 08:43] rishika1802 commented on #1044
I am facing some setup issues@sanchibansal340

[2020-09-05 08:53] sanchibansal340 commented on #1044
How about you join [Zulip](https://anitab-org.zulipchat.com/login/) and discuss the vms environment setup there?
You can also check [dev env setup docs](https://docs.google.com/document/d/1eJRmsf5lznb6Klym23P05qEb7vVLB9PWOlMm2ErRmXg/edit?usp=sharing)

[2020-09-05 08:57] rishika1802 commented on #1044
@sanchibansal340 I asked it there but no one responded
Thankyou I will go through the doc

[2020-09-05 09:27] vaibhavarora102 commented on #1028
I am facing some problems in squashing and pushing back
but hopefully will solve issues by today's day end
thanks

[2020-09-05 09:29] vaibhavarora102 commented on #1039
I am facing some problems in squashing and pushing back
but hopefully will solve issues by today's day end
thanks

[2020-09-05 09:38] vaibhavarora102 commented on #1028
@Kajol-Kumari  I am done with squashing
kindly check
and hope everything is correct know

[2020-09-05 11:22] keshakaneria commented on #1037
@vaibhavarora102 are you assigned any issues? or should I proceed to give others this chance?

[2020-09-05 11:25] keshakaneria commented on #1029
@shubhank-saxena are you working on this issue?

[2020-09-05 11:34] vaibhavarora102 commented on #1037
No I am free all work is done kindly assign me

[2020-09-05 12:42] psingh587 commented on #1050
My Installation is done. I am working on this. Thanks so much for your help

[2020-09-05 12:50] psingh587 commented on #1080
Yes, in my local theres no drop down for country, city and state. I was wondering about it till I saw you raised the issue. The dropdown is just there in admin signup. But in live vms, it is there in both.

[2020-09-05 12:56] psingh587 commented on #1050
Sir, I have a question.
![Screenshot from 2020-09-05 18-21-53](https://user-images.githubusercontent.com/51945896/92305423-dbd3fe80-efa4-11ea-92c9-ddc557e62573.png)

This is what I see in volunteer sign up page. In this, City is there first, then state, then country. But in live vms, its different.
![Screenshot from 2020-09-05 18-24-36](https://user-images.githubusercontent.com/51945896/92305442-1

[2020-09-05 13:25] titiksha01 commented on #1024
![home](https://user-images.githubusercontent.com/57208352/92305922-4a1ac000-efa9-11ea-93f9-0503140f8d4d.JPG)
  @Kajol-Kumari Its displaying correctly when i run the server.

[2020-09-05 13:38] satya7289 commented on #1080
Have you migrate cities light??

[2020-09-05 14:43] adwait2001 commented on #1056
can you assign me this task

[2020-09-05 14:48] shreyagupta30 commented on #1056
I am working on it, will be able to land a PR in a day or two.

[2020-09-05 14:59] aastha985 commented on #134
@satya7289 Hi! I have updated the installation. Can you add OSH label on this issue before I send a PR? Thank you!

[2020-09-05 15:33] aastha985 commented on #750
@satya7289 I would like to work on this issue as a part of OSH. Can you assign it to me? thanks!

[2020-09-05 16:08] vaibhavarora102 commented on #1039
@Ajitesh13  sry for all that mess  in PR's
kindly accept the final one

[2020-09-05 20:39] Mahnoor123-Fatima commented on #1065
can you assign this issue to me?

[2020-09-06 10:50] psingh587 commented on #1050
@rkpattnaik780 Anything on it?

[2020-09-06 11:17] rkpattnaik780 commented on #1050
@psingh587 sorry for the delayed response. I can see the change can be done only to admin signup page, you just need to disable the respective dropdowns with something like `<select disabled>`. You have to conditionally put the disabled attribute.

[2020-09-06 12:11] psingh587 commented on #1050
Okay so that means I only have to do it in the admin sign up page right?
I have written a JS function and its working as well. I will attach it.
I have written that function in another JS file which was already there containing other function. Should I make a new file? or Will it be okay if I write it in this one? Also , when I am trying to make another file , I cant see the change I made.
How sha

[2020-09-06 12:32] rkpattnaik780 commented on #1050
Hello @psingh587 . Yup just the admin signup.
I was thinking this wouldn't be needing a JS file. You can conditionally add an attribute to the template. I googled it right now, you can do something like [this](https://stackoverflow.com/questions/28644951/how-to-apply-conditional-attribute-to-html-element-in-template).
And this is bit out of context, to easily record screen, use [peek](https://gith

[2020-09-06 13:59] ankit-saraf commented on #1077
Can I work on this issue? I am new at open source and searching for my first contribution. @Kajol-Kumari

[2020-09-06 14:15] ankit-saraf commented on #1049
@sanchibansal340 Can I work on this issue?

[2020-09-06 16:37] decon-harsh commented on #655
ping @yxlin118 Are you still working on this?

[2020-09-06 16:38] yxlin118 commented on #655
@decon-harsh Yes but I am currently still stuck on the set up:(

[2020-09-06 17:01] Kajol-Kumari commented on #1077
Hey @ankit-saraf I am sorry but this issue is already assigned to someone, please look for some other issue.

[2020-09-06 17:02] satya7289 commented on #1065
Yes, sure. @Mahnoor123-Fatima

[2020-09-06 17:03] satya7289 commented on #1065
@Nibba2018 @Anmollenka are you guys still working on it?

[2020-09-06 17:10] Kajol-Kumari commented on #1024
@titiksha01 can you please check for the other pages? If the UI is fine for mobile view?

[2020-09-06 17:11] keshakaneria commented on #1029
@harsh-9in Do you want to work on this issue?

[2020-09-06 17:12] keshakaneria commented on #1030
Any updates on PR?

[2020-09-06 17:28] shubhank-saxena commented on #1029
@keshakaneria I did try it out. But there are some issues on booting up of the docker image (port engagement of postgres). If not in urgent mode, I would be able to do this in 2-3 days

[2020-09-06 17:53] Anmollenka commented on #1065
@satya7289 I am not able to solve and cannot proceed.

[2020-09-06 17:56] titiksha01 commented on #1024
@Kajol-Kumari It is correct in the sign-in, sign up and signup admin pages as well.
Do i need to sign up and check the the UI?

[2020-09-06 18:13] Kajol-Kumari commented on #1024
@titiksha01 yes, as we want to make the whole site small device compatible in this issue.

[2020-09-06 18:13] Nibba2018 commented on #1065
Sorry for my misunderstanding, I thought the issue was reassigned to @Anmollenka so I did not proceed further. Also I am assigned to the GitHub Auth issue so it's okay if it's assigned to someone else.

[2020-09-06 18:23] desainidhi99 commented on #1077
Yes - i am working on it

[2020-09-07 03:32] sanchibansal340 commented on #1049
@bhumikasharma29 Any updates?

[2020-09-07 03:32] sanchibansal340 commented on #1045
@ooyeraju Any updates?

[2020-09-07 03:33] sanchibansal340 commented on #1044
@rishika1802 Were you able to setup the project?

[2020-09-07 06:05] yash2189 commented on #1044
@sanchibansal340 I have made the setup on my System and it's running properly. May I try working on this issue?

[2020-09-07 06:43] saideepesh000 commented on #1030
Actually I am busy with the placements going on, it'll be done in a day or two.

[2020-09-07 06:55] keshakaneria commented on #1030
You shouldn't have taken up the issue i suppose! Let someone else work on this till that time so that our OSH issue doesnt get affected! You can prepare for the interviews until then. All the best!

[2020-09-07 07:06] bhumikasharma29 commented on #1049
Yes I just want to confirm that the change has to be made under the Organization drop down list in the Sign up page?

[2020-09-07 08:12] #1080 closed

[2020-09-07 08:27] decon-harsh commented on #962
Sorry for being inactive , So i have to replace Installation Guide in docs with Installation Setup of auth_docs and modify some things in that?

@yashshah2820

[2020-09-07 11:12] psingh587 commented on #1050
Hi,
Actually I had thought about it earlier- to do it inside the HTML only. But I am not able to figure out how to write the condition to disable=" " . How to get the value of country dynamically? Please help me here.
<a href="https://stackoverflow.com/questions/32875751/display-form-field-based-on-other-fields-within-the-django-form">I checked it here as well</a>

[2020-09-07 12:13] decon-harsh commented on #1065
Steps to reproduce this error ?

Running test cases passed without an error! @satya7289

![Screenshot from 2020-09-07 17-40-00](https://user-images.githubusercontent.com/58214248/92386396-59c51080-f131-11ea-910b-ae5ef6e4d81e.png)

[2020-09-07 14:06] rkpattnaik780 commented on #1050
It seems bit tricky to do it in htmll. You can handle it through javascript, won't be an issue. Just  handle all the scenarios.

[2020-09-07 14:08] satya7289 commented on #1065
Sometimes it passes and sometimes not, this behaviour need to be fixed..!

[2020-09-07 14:48] rkpattnaik780 commented on #1050
There is no necessity to create a new js file, `load_city.js` and `load_state.js` should do the work.

[2020-09-07 15:29] psingh587 commented on #1050
Okay, So I am supposed to make the changes in these files only right?

[2020-09-07 17:40] psingh587 commented on #1050
Working on it!

[2020-09-07 19:02] psingh587 opened #1096 "Resize-able Text area in Sign-Up Volunteer"
## Description
The text-area in SIGN-UP Volunteer is currently resize-able. But after an extent, one corner gets hidden and we won't be able to resize it.
## Mocks
![Issue-textarea](https://user-images.githubusercontent.com/51945896/92412604-133fd800-f16a-11ea-8528-98ccbf993d36.gif)

## Estimation
10 minutes

[2020-09-07 19:03] psingh587 commented on #1096
I have added this issue as a participant. If it is valid, I would like to work on it. Thanks.

[2020-09-08 03:43] psingh587 commented on #1045
Can I work on this? @sanchibansal340

[2020-09-08 03:47] sanchibansal340 commented on #1049
I don't understand your question @bhumikasharma29 ?

[2020-09-08 03:49] sanchibansal340 commented on #1045
@decon-harsh Are you willing to working on this issue?

[2020-09-08 03:50] sanchibansal340 commented on #1044
@rishika1802 I will be assigning this issue to someone else.

[2020-09-08 03:51] sanchibansal340 commented on #1044
@yash2189 Assigning it to you

[2020-09-08 03:53] sanchibansal340 commented on #655
@yxlin118 Stuck with the setup?

[2020-09-08 04:10] yxlin118 commented on #655
@sanchibansal340 yes, I tried asking on Zulip and googling and still couldn't figure out:( maybe it's best to reassign this to someone else and I can take another issue after I resolve it

[2020-09-08 04:29] decon-harsh commented on #1045
Sure

[2020-09-08 04:39] sanchibansal340 commented on #655
@yxlin118 Did you try asking it in the vms stream?

[2020-09-08 04:59] yxlin118 commented on #655
@sanchibansal340 Oh yes I forgot, I just did! If I am still not able to figure it out after someone responded, I 'll let you know. Thanks!

[2020-09-08 05:44] khushishikhu commented on #1029
@keshakaneria  may i take this issue

[2020-09-08 06:37] keshakaneria commented on #1029
You can ask your queries on Zulip channel if you are stuck anywhere. Feel free to ask there. It's already late so we have to move on with the next participant. :)

[2020-09-08 09:32] psingh587 commented on #1041
Is this issue up for grabs? @SanketDG

[2020-09-08 10:52] satya7289 commented on #1096
I am assigning you this issue. @psingh587

[2020-09-08 10:56] satya7289 commented on #1065
@Mahnoor123-Fatima , are you still working on it?

[2020-09-08 10:58] psingh587 commented on #1096
@satya7289
So I just have to disable the resizing , right?

[2020-09-08 10:59] satya7289 commented on #1096
Yes

[2020-09-08 11:09] psingh587 commented on #1096
That means resizing should be there but only to some extent?

[2020-09-08 11:15] psingh587 commented on #1037
@vaibhavarora102 are you working on this issue?

[2020-09-08 11:17] vaibhavarora102 commented on #1037
Yes give some time pls

[2020-09-08 11:33] satya7289 commented on #1096
Yes

[2020-09-08 11:58] keshakaneria commented on #1037
It's already assigned to since 3 days. You have to keep us updated with the work you are doing. Being inactive for 3 days will make someone else assign this issue.

[2020-09-08 12:40] sujal111 commented on #1065
I am willing to work and solve this issue. Please assign me the same

[2020-09-08 12:41] sujal111 commented on #1056
I am willing to work and solve this issue. Please assign me the same