[2014-12-15 10:31] jayesh92 opened #4 "Add Widget for Date-Time Field"
Currently, the validation process is implemented but instead of widget a placeholder text is provided.

[2014-12-15 10:31] jayesh92 opened #5 "Job corresponding to Event"
In creation of shift, currently we provide to add Event & Job through forms, and if the corresponding event of job selected is not equal to event selected, an error is raised. However, it should be like the user should be given to select event and then on the basis of event selected job fields should be displayed using AJAX

[2014-12-15 10:32] jayesh92 opened #6 "Reporting"
I have created reporting based on several parameters, however we need to integrate all reporting functionality into one tab i.e., display a form with date, event etc and then generate report based on the intersection of all fields selected.

[2014-12-15 10:32] jayesh92 opened #7 "Search features in volunteer’s part"
Search features have a volunteer link but it currently does not give flexibility to enter hours, i.e., it creates a SAT entry with 1 hr as default.

[2014-12-15 10:33] jayesh92 opened #8 "Merge volunteer’s WLT entry with assigned SAT entry"
On volunteer’s page, All Assigned SAT’s tab does not contain the feature to log WLT, User has to go to Log WLT entry to select a SAT from dropdown and then log hours. This can be enhance to same page.

[2015-01-23 02:17] rosariorobinson opened #9 "Sample Committee Volunteer Application"
Here is sample of the GHC committee volunteer application from last year. The GHC Committee would be a volunteer job.

![image](https://cloud.githubusercontent.com/assets/63290/5868721/7e2d6040-a262-11e4-81db-fe7a57c9a343.png)

![image](https://cloud.githubusercontent.com/assets/63290/5868725/96703182-a262-11e4-9f07-b1c0f24dd8b0.png)

![image](https://cloud.githubusercontent.com/assets/63290/58687

[2015-01-30 08:01] GeetikaBatra commented on #5
Greetings!
I am willing to contribute to this issue.Could you please make me aware how can I help.
Regards
Geetika Batra

[2015-02-08 15:50] jayesh92 commented on #5
Hi,
 You can probably have a look at Coding Task, Point 2 at https://docs.google.com/document/d/11HCkajUrd3hHgZmWJ9ehNeca7pR8njSNuocOks097l8/edit to get more idea on this issue.

[2015-05-20 04:15] #4 closed

[2015-05-20 04:15] #5 closed

[2015-05-20 04:15] #6 closed

[2015-05-20 04:15] #7 closed

[2015-05-20 04:15] #8 closed

[2015-05-28 13:38] willingc opened #10 "Enhancement: Consider using Sphinx and Read the Docs for documentation"
It would be helpful to have the ability to locally render documentation. There's a lot of great content in the documentation that has already been done. Python and Django projects often use Sphinx to build documentation and Read The Docs to render the documentation.

[2015-05-28 13:46] willingc opened #11 "Enhancement: Consider using coverage and Travis for monitoring testing and code health"
Many Django projects use the coverage project to measure test coverage and display the resulting percentage in the GitHub repo. Projects also frequently use Travis for continuous integration to build, test, and report on the project. Travis integration with GitHub provides a nice widget to display current build status.

[2015-05-30 00:42] willingc opened #12 "Coordinate with Portal group re: moving to Django 1.8 LTS"
Django 1.8 is a long term supported release (LTS). It would be useful to upgrade the code bases to Django 1.8 since it will have longer term support than the current version used. https://www.djangoproject.com/download/  for details.

[2015-05-30 08:40] jayesh92 commented on #11
@willingc I'm working to enable CI for this repo. Currenlty, I've integrated with travis on my fork. Will merge with this soon.

[2015-05-30 10:00] vubo commented on #10
Thank you, Carol. I created the project at Read The Docs: http://vms.readthedocs.org/

[2015-05-30 12:26] willingc commented on #10
@vubo Nice! Good job taking the initiative to dig into Sphinx, restructuredText (rst), and Read The Docs.

Docs are really important for a healthy, productive project. It's one of the ways that developers share project knowledge and onboard new developers to a project.

Why don't you make a pull request to submit your work to this repo? I think it's great to build one's skills with git and GitHub

[2015-05-30 12:56] willingc commented on #11
@jayesh92 That's great. Thanks for the update :smile:

[2015-05-30 14:38] vubo commented on #10
@willingc, thank you very much for the detailed instructions. I will follow them!
I have already fulfilled many of them, but a few are still waiting their turn ("rebase" for example).

Read The Docs also supports Markdown docs written with Mkdocs. And the documentation for VMS is written in Git Flavored Markdown. And now I'm just published our documentation on the Read The Docs. Nothing had to be

[2015-05-30 15:02] willingc commented on #10
@vubo Cool! I didn't realize that Mkdocs was supported in Read The Docs now. You've taught me something new :sun:

I'm going to leave the call on whether Markdown or restructuredText as well as the corresponding Mkdocs and Sphinx to @rosariorobinson and others. It would be nice to be consistent across projects, and she, along with others, have a better view of all the projects. Currently, Portal u

[2015-05-30 16:24] vubo commented on #10
@willingc, thank you! I did pull request with two commits: https://github.com/systers/vms/pull/14

Can I choose commits for the pull request? For example, only commit 87c15cb

[2015-05-30 16:47] willingc commented on #10
@vubo Great! I left you a couple of comments on the PR.

A couple of tips...
1. If you mention the issue number in a comment or title of the pull request, GitHub will put a note in the issue that there is an outstanding pull request addressing the issue. See my comment in the PR and the note above.

2. It's good practice when making a Pull Request to have an issue opened for the change as well. If

[2015-05-31 10:13] vubo opened #16 "Simple notification to the user that they have registered"
Display a simple notification to the user that they have registered successfully. Use Bootstrap Lumen Indicators: http://bootswatch.com/lumen/

[2015-06-01 05:48] willingc opened #17 "Update the project README.md file"
The README.md file of a project's repository is the world's outside view to the project. Examples of well done and not so well done examples can be found be looking at other projects.

Since the vms project will be actively worked on this summer and there are docs now at read the docs and a number of other places, let's make it easier for new contributors, current contributors, mentors, and future

[2015-06-01 05:58] willingc commented on #17
@vubo This would be a good issue to practice your markdown skills and git/github skills for branches and pull requests.

Helpful reminders:
1. Update your master branch.
    * git checkout master
    * git remote -v (make sure you have an upstream remote)
    * git fetch upstream
    * git rebase upstream/master
    * git status
    * git log
2. Create a new branch for your README edits
    * git

[2015-06-01 12:37] vubo commented on #17
@willingc, thank you very much for your help and reminders!

I have a small question. When I do the first part:

1. Update your master branch.
* git checkout master
* git remote -v (make sure you have an upstream remote)
* git fetch upstream
* git rebase upstream/master
* git status
* git log

![gitvaleria](https://cloud.githubusercontent.com/assets/7673323/7912718/3cd39c5e-086a-11e5-9da5-b8ba0d49

[2015-06-01 13:00] jayesh92 commented on #17
@vubo you'll need to create a new branch, cherry-pick the desired commits and then submit a PR.
(I do it this way)

[2015-06-01 13:51] willingc commented on #17
@jayesh92 Nice teamwork commenting on this issue and sharing `git cherry-pick`. You are correct that cherry-pick would be one way to do this.

@vubo and @jayesh92: While one could certainly use `git cherry-pick` to create a PR, it would be better, in the long run, to get the local `master` branch history to be the same as 'upstream', 'origin', and locally.

Valeria, good job noticing that the 'git

[2015-06-01 17:45] vubo commented on #17
@willingc and @jayesh92 thank you, I did it: https://github.com/systers/vms/pull/18

I used reset --hard and then cherry-pick.

I'm turning to the README file now.

[2015-06-01 23:21] willingc opened #19 "Link in documentation redirects to wrong place"
A install psycopg link in the installation.md file redirects to an empty page instead of the documenation.
![screen shot 2015-06-01 at 4 18 53 pm](https://cloud.githubusercontent.com/assets/2680980/7925489/071c9c86-087a-11e5-8787-52fe0d7af4c9.png)

[2015-06-01 23:30] willingc opened #20 "pyc files should not be saved in the repo"
pyc files are unneeded. The .gitignore file should be set to ignore pyc files.

[2015-06-04 05:54] #17 closed

[2015-06-04 11:46] vubo opened #29 "Add missing unit tests"
- [x] Add missing unit tests in organization/tests.py
- [x] Add missing unit tests in event/tests.py
- [x] Add missing unit tests in job/tests.py
- [x] Add missing unit tests in shift/tests.py
- [x] Add missing unit tests in volunteer/tests.py

[2015-06-04 11:46] vubo commented on #29
Add missing unit tests in organization/tests.py https://github.com/systers/vms/pull/28

[2015-06-04 20:10] #19 closed

[2015-06-04 22:19] willingc commented on #29
I like this!

GitHub tip: You can make checkboxes using GitHub markdown. Check out https://guides.github.com/features/mastering-markdown/ in the Task Lists section.

[2015-06-04 22:39] vubo commented on #29
It looks very cool, thank you!
![tasks](https://cloud.githubusercontent.com/assets/7673323/7995930/555c7256-0b1b-11e5-95c6-1845fe8cbfdd.png)

[2015-06-04 23:00] willingc commented on #29
Nice. It is pretty cool :)

[2015-06-05 06:35] willingc commented on #12
@rosariorobinson @tapasweni-pathak @ana-balica @vubo @jayesh92 Rose, I'm wondering if it would make sense to use Python 3 which the Systers Portal project uses? Thoughts anyone?

[2015-06-05 10:49] jayesh92 commented on #29
@willingc @vubo Would It be a good idea to include the functional tests in this repo or should I include it in AUT repo. Benefit in first case is that I can integrate it with CI so all new code pushed passes throught these tests also.
I'm currently doing this on my local instance. For this we'll need to change the directory structure a bit. Instead of `tests.py` each app will contain a `tests` fol

[2015-06-05 13:51] willingc commented on #20
Looks like .gitignore file is doing this. Closing this issue.

[2015-06-05 13:51] #20 closed

[2015-06-05 15:48] willingc opened #32 "Clarify installation instructions for psycopg2"
It's possible that it could confuse newcomers whether the commands should be entered in the VM window or the local machine's terminal. Provide an example to help clarify for the user.

[2015-06-05 17:10] #16 closed

[2015-06-05 17:17] willingc commented on #29
Hmm...good questions. Nice job asking for thoughts and feedback.
I'm not yet sure what would be best. I would like to clarify with the other team members what their vision is longer term related to:
* Python version support 2.7.10 or 3.4+
* Django version support - recommend 1.8LTS

Would you both raise these questions on your weekly reports for discussion? It looks like Systers/portal is already

[2015-06-05 18:25] vubo opened #34 "Refactor the delete_organization function"
Refactor the delete_organization function so that a function that checks if the organization is empty (organization_empty) could be called within the delete function.

https://github.com/systers/vms/pull/28#issuecomment-109354934

[2015-06-05 18:47] #32 closed

[2015-06-06 14:13] jayesh92 opened #35 "Test for view `/shift/view_volunteer_shifts/` failing"
I'm writing test to check if admin can access a volunteer view or not, but the build fails. The test can be viewed at https://github.com/jayesh92/vms/commit/45a3993248dd92c8d2e343d599d5300d9f3c80e5#diff-0df96ededa86aa47a9dbdb5655a6908aR177 . I've created an admin account and tried to browse url `/shift/view_volunteer_shifts/1` which is meant to be a volunteer view. I get a  `500` error instead of

[2015-06-06 14:37] willingc commented on #35
@jayesh92 Thanks for opening an issue. Nice sharing of knowledge and teamwork.

Some quick tips for all on issue communications:
* Think about the reader's perspective. Can I, as the reader, quickly and easily understand the issue? Where to look for details? Remember many developers are actively working on multiple projects. This requires a developer to do a mental context switch each time they sw

[2015-06-06 14:49] willingc commented on #35
The functional test "check if admin can access a volunteer view" is failing. The test can be viewed at jayesh92@45a3993#diff-0df96ededa86aa47a9dbdb5655a6908aR177 .

I've created an admin account and tried to browse url /shift/view_volunteer_shifts/1 which is meant to be a volunteer view. I get a 500 error instead of 403.

The code for view being tested is https://github.com/systers/vms/blob/develo

[2015-06-06 15:02] willingc commented on #35
Questions on the vms project functionality:
* What is the purpose of view_volunteer_shifts?
* How does an admin view volunteer shifts of another volunteer?
* What happens if an admin is also a volunteer?

My recommendation, before addressing the testing issue, would be to address these  questions and create a docstring for the function (view_volunteer_shifts) to clarify expected behavior of the fu

[2015-06-06 17:20] jayesh92 commented on #35
- view_volunteer_shifts shows the shifts which the volunteer has either registered for or have been assigned by an admin. He can cancel or log hours from this view.
- Admin can generate report to see logged in hours of a shift.
- Not sure on this
@Nerdylicious  can tell more about the desired functionality.

[2015-06-07 05:52] Nerdylicious commented on #35
Hi everyone,

- Jayesh is on the right track with how to fix this issue (as he described above). I didn't have time to fix this part before GSOC. There may be other views with a similar issue as this that must be fixed.
- The admin can view the shifts of a volunteer when they manage the shifts of the volunteer (this functionality is in `manage_volunteer_shifts` in `/shift/views.py`
- For now, only

[2015-06-07 05:57] Nerdylicious commented on #12
Hi Carol,

Rose wanted VMS to be integrated with Portal eventually, so I think it would make sense to port to Python 3. It would be better to port earlier than later so there's less code to port over.

[2015-06-07 10:01] vubo commented on #29
Add missing unit tests in event/tests.py: https://github.com/systers/vms/pull/36

[2015-06-07 10:08] vubo commented on #34
@willingc in the commit https://github.com/vubo/vms/commit/b43dec1fac1962104f56928609ce264f41f69c16 I created in the the event/services.py event_not_empty function. The structure is similar to the organization/services.py. And I tried to implement your idea of the function that checks if the event/organization is empty.

If it is ok, I will also implement organization_not_empty function this way.

[2015-06-07 10:23] vubo opened #37 "Autopep8 problem"
Related to this comment https://github.com/systers/vms/pull/28#issuecomment-109070906 I tried to run the code through a pep8 locally. I have used [autopep8](https://pypi.python.org/pypi/autopep8/1.1.1) and got an error:

[code]

[2015-06-07 11:22] vubo commented on #37
https://github.com/myint/autoflake/issues/4
https://github.com/hhatto/autopep8/issues/139

[2015-06-07 15:08] vubo commented on #35
Thank you @jayesh92 for opening an issue. I will get around to it. This part is also in my [timeline](https://docs.google.com/document/d/1bzKjyxWIXeqW45UjhsbM4wtlyNagiyueZTqxhtmD_A0/edit) (22 June-19 July).

@rosariorobinson could you tell please, can admins also be volunteers? And if yes, what should happen if an admin is also a volunteer?

[2015-06-08 03:07] willingc commented on #37
@vubo I haven't used autopep8. My recommendation would be to use flake8 https://flake8.readthedocs.org/en/2.3.0/

FYI - flake8 is used by systers/portal project too.

[2015-06-09 09:17] vubo commented on #37
@willingc thank you, I got it :+1:

[2015-06-09 09:17] #37 closed

[2015-06-09 15:45] vubo commented on #29
Add missing unit tests in job/tests.py: https://github.com/systers/vms/pull/38

[2015-06-09 23:36] willingc commented on #12
@Nerdylicious Thanks for the input. I agree that sooner is better than later.

[2015-06-10 14:25] willingc commented on #29
@vubo You are making good progress on this issue. Let's try to get the remaining two done this week. I'll do a detailed review this weekend.

You may wish to do a quick skim of coverage.py docs, tox, and some of Harry Percival's Test Driven Development book (http://obeythetestinggoat.com). We'll likely use all of these when adding new features.

[2015-06-11 09:22] vubo commented on #29
@willingc yes, I will finish the tests before Sunday then.

[2015-06-11 19:44] jayesh92 opened #39 "Test for view `/registration/signup_volunteer/` failing"
- This view is to register a new volunteer into the system
- When I was testing this view, It gives `500 Server Error`. After struggling a lot to find if the reason is due to wait for page load or any other selenium issue, I found that the problem is in the view itself
- Problem is at https://github.com/systers/vms/blob/develop/vms/registration/views.py#L67 . `organization_list` is output of list

[2015-06-12 14:21] jayesh92 opened #40 "volunteer model regex does not match with volunteer form regex"
- Volunteer model view allows `-` as a valid character. https://github.com/systers/vms/blob/develop/vms/volunteer/models.py#L11
- Volunteer form does NOT allow `-` as a valid character. https://github.com/systers/vms/blob/develop/vms/volunteer/forms.py#L12
- As a result, during a test I can register a volunteer with a `-` but cannot enter a `-` in the form for `Volunteer Search` functionality
- Te

[2015-06-12 14:23] willingc commented on #40
@jayesh92 good catch :) Thanks for filing the issue

[2015-06-12 17:02] willingc opened #41 "Refactor Job unit tests"
Let's refactor the following:

- [ ] Import statements - I would like to be conservative on importing the libraries needed for testing. Avoid * imports. Do not import libraries that are not used (I don't think the auth import is needed currently; let's not add until needed). General style: python standard library imports - blank line - django imports - blank line - application specific imports.
-

[2015-06-12 17:15] willingc opened #42 "Refactor event unit tests"
Similar to issue #41, let's refactor the event unit tests:

- [ ] Import statements
- [ ] Docstring
- [ ] File - spaces vs. tabs
- [ ] DRY - don't repeat yourself - a reasonable goal which may or may not apply to these tests but important to recognize when developing

[2015-06-13 12:18] vubo commented on #29
Add missing unit tests in shift/tests.py: https://github.com/systers/vms/pull/43

[2015-06-13 13:13] vubo commented on #41
https://github.com/systers/vms/pull/44

[2015-06-13 18:05] willingc opened #45 "Add a project style guide to documentation"
It would be helpful to have a short style guide for the vms project.

I am assigning this to myself to pair with Vanda on creating this document.

[2015-06-13 18:09] willingc commented on #45
One resource to reference: https://docs.djangoproject.com/en/1.8/internals/contributing/writing-code/coding-style/#

[2015-06-13 19:31] vubo commented on #45
It's a great idea, I like it :+1:

[2015-06-13 23:25] vubo commented on #29
Add missing unit tests in volunteer/tests.py: https://github.com/systers/vms/pull/47

[2015-06-13 23:51] willingc commented on #45
@vubo Thanks. I will keep you posted when I have Vanda start on this later in the week.

[2015-06-14 20:01] jayesh92 opened #48 "username unique field, not email"
- while writing tests, I've found that unique parameter used is `username` and not email
- I'm able to register more than one volunteers with same email but different usernames.

Should it be like this ?
@willingc @vubo

[2015-06-14 21:42] willingc commented on #41
@vubo Please double check the import *.

[2015-06-15 00:58] willingc commented on #48
@Nerdylicious @rosariorobinson @tapasweni-pathak Please add any history on what is the unique user identification parameter or the desired unique identifier.

@jayesh92, @vubo My understanding is the project uses `django.contrib.auth.models` User objects.

`django.contrib.auth.models` uses username as a required identifier unless overridden as a custom user model.
https://docs.djangoproject.com/en

[2015-06-15 03:36] willingc opened #49 "Update link and revise installation Vagrantfile section of docs"
http://vms.readthedocs.org/en/latest/Installation%20Guide/#download-systers-ubuntu-virtual-machine

This section of the doc should be updated to reflect current status. Also, all links should direct to a Systers/repo and should not direct to an individual's repo.

This issue is assigned to Vanda @veniemi1

[2015-06-15 05:23] willingc opened #50 "Fix print statement in requirements/views.py to be Python 3 compliant"
Add parens to existing print statement to make Python 3 compliant.

[2015-06-15 05:24] willingc commented on #50
PR #51 addresses this issue.

[2015-06-15 12:23] #50 closed

[2015-06-15 13:03] willingc opened #54 "Refactor vms app for code style and maintainability"
Progressively, go through `vms` app folder and refactor files. Things to look at comments, import statements, spacing after a keyword (there are several instances for an extra space in the code.

Files:

- [x] settings.py
- [x] urls.py
- [x] wsgi.py

[2015-06-15 13:07] willingc commented on #54
PR #55 addresses `settings.py`

[2015-06-15 13:42] willingc commented on #35
@jayesh92 I'm reviewing open issues. I noticed that your travis.yml file is using Python 2.7. We are currently using Python 3.4 for development. You may wish to add that to your travis file.

[2015-06-15 13:46] willingc commented on #54
`wsgi.py` ok as is for now

[2015-06-15 19:26] willingc commented on #49
@veniemi1 Here's the basic plan:

1. Follow the installation instructions to install vms and run tests as described in the Installation Guide.
2. Recommend edits and clarification to the installation guide.md file in the docs directory
3. Click Fork on the VMS repo to create a fork of the repo in your github account.
3. Create a new branch on your local system and edit the installation guide.md fi

[2015-06-15 19:32] #54 closed

[2015-06-15 19:33] jayesh92 commented on #35
@willingc I'll add that

[2015-06-15 19:37] willingc commented on #35
Thanks @jayesh92. It may help catch some issues sooner versus later. Also Travis can test both Python versions if desired.

[2015-06-15 20:04] jayesh92 commented on #35
@willingc We can configure travis to run for PY2 and PY3. I guess it would be good to do so once we have a good compatibility file to take care of differences in coding practices of PY2 and PY3

[2015-06-16 01:25] tapasweni-pathak commented on #12
Hi Carol,

I too believe, we should port to Python 3 early, as later more code fixing and porting will be required.

[2015-06-16 01:47] tapasweni-pathak commented on #48
@willingc Yes, as the project uses django.contrib.auth.models, the unique identifier is username.

I don't feel it should be like this, every user of vms (volunteers) should have a unique username and email id. Later, if we added some features which uses the uniqueness, it may create a problem.
Once someone registered with a email id and a username, the email id should not be allowed to used again

[2015-06-16 01:57] tapasweni-pathak commented on #42
Shouldn't this be closed?

[2015-06-16 02:12] willingc commented on #12
@tapasweni-pathak :+1:

[2015-06-16 02:24] willingc commented on #48
@tapasweni-pathak While the email can be checked and set as unique, I don't believe that it should be the primary ID of uniqueness for a volunteer. Many people have multiple email addresses and down the road the volunteer management system may have to support a user's multiple contact preferences.

I think it is best to use the django default of username as the unique identifier since core Django

[2015-06-16 02:26] veniemi1 commented on #49
Thank you! This helps a lot.

[2015-06-16 02:26] willingc commented on #42
Yes, good catch. PR #46 closes this issue.

[2015-06-16 02:26] #42 closed

[2015-06-16 02:35] tapasweni-pathak commented on #48
@willingc I think I was not able to explain myself properly.

While the uniqueness check should be on the username but the email id should not be allowed to be reused again for some other username. The same thing that you are saying. :+1:

What I meant with adding some features using this is, if someday we wanted to support search for a volunteer using her/his mail id. One mail id should reference

[2015-06-16 02:38] willingc commented on #48
@tapasweni-pathak :+1: Yes, we are in agreement. Sorry I didn't understand this from the earlier comment :cake:

[2015-06-16 02:41] tapasweni-pathak commented on #48
@willingc :star2:

[2015-06-16 15:30] vubo opened #59 "Add a datepicker to the templates where they are missing"
Issue 11 from the [task list](https://docs.google.com/document/d/13GVI5yGsx4Aj1L0UYawPRo5ViyB7o-0v_UyMWyrOZMY/edit):

[code]

For administrator:
- [x] Create event
- [x] Create job
- [x] Create shift

[2015-06-16 15:42] vubo opened #60 "Make it easier to add times by using a timepicker tool"
Issue 12 from the [task list](https://docs.google.com/document/d/13GVI5yGsx4Aj1L0UYawPRo5ViyB7o-0v_UyMWyrOZMY/edit):

[2015-06-17 00:45] willingc commented on #49
@veniemi1 reports:
![screen shot 2015-06-16 at 5 35 17 pm](https://cloud.githubusercontent.com/assets/2680980/8197598/e5d3170e-144e-11e5-9e44-eeb84d37d441.png)
![screen shot 2015-06-16 at 5 34 56 pm](https://cloud.githubusercontent.com/assets/2680980/8197597/e5cf54e8-144e-11e5-81b2-7c4af6428541.png)

[2015-06-17 00:49] willingc commented on #49
@veniemi1 Let's move the discussion from email to the issue here :)

Looking at the error message, it seems that vagrant does not believe that VirtualBox is installed or installed and configured correctly.

My recommendation would be to start at the beginning  of the installation guide http://vms.readthedocs.org/en/latest/Installation%20Guide/#installation-guide

Make sure that you have gone throu

[2015-06-17 21:24] vubo commented on #49
@veniemi1 nice to meet you and work together on the VMS project :four_leaf_clover:
Could you send me your readthedocs.org-username so I added you to the project.

[2015-06-17 21:35] veniemi1 commented on #49
I just created my account. My username is veniemi1, same as here.

[2015-06-18 08:20] vubo commented on #49
@veniemi1 done!

Now the Repository URL for the ReadTheDocs project is https://github.com/vubo/vms. This is my forked repository. To work with the docs, you should fork the develop branch from https://github.com/systers/vms and change the link in the project settings on the readthedocs.org. Your link will most likely look like this: https://github.com/veniemi1/vms

Good luck!

[2015-06-18 13:24] willingc commented on #49
@vubo Thanks a bunch for helping out :cake: :smile:

@veniemi1 Go Vanda go! I'm around today if you have any questions or wish to chat via Google Hangout.

[2015-06-19 14:17] veniemi1 commented on #49
The vagrant up command seems to be working through the Vagrantfile just fine until it gets to the config.vm.box = "systers-vms-dev" line. The exact error message is below.
![vagrant_up_error](https://cloud.githubusercontent.com/assets/12129851/8255214/5822bd22-166c-11e5-8921-586d2491b90f.JPG)

[2015-06-19 14:37] willingc commented on #49
@veniemi1 Let's check your network first...
Go to this link in the browser: http://54.183.32.240/vagrant/box/
You should see this output:
![screen shot 2015-06-19 at 7 33 20 am](https://cloud.githubusercontent.com/assets/2680980/8255585/c8539cfe-1655-11e5-8acc-04cd763de5be.png)

[2015-06-19 14:45] willingc commented on #49
@veniemi1 If the prior step worked...

Go to the command line: enter ``vagrant destroy`` which will remove all cruft from the prior run of vagrant
After that completes: enter ``vagrant up``
Let me know the output.

[2015-06-19 15:13] veniemi1 commented on #49
When I went to the link you provided, everything was the same. However, the vagrant destroy and vagrant up yielded the same error message as earlier.

[2015-06-19 15:21] willingc opened #62 "Edit installation doc for git clone step"
Edit the installation doc so that the git clone section asks the user to ``git clone https://github.com/systers/vms``
This should improve clarity.

[2015-06-19 15:25] willingc commented on #49
OK the good news it's not a networking issue.
I'm going to think about what would make sense to try next.

In the meantime, I want you to submit a pull request today to get used to the git workflow. Since the docs are not dependent on resolving the vagrant environment, please work on Issue #62. Please leave questions as they come up on Issue #62

[2015-06-19 17:43] willingc commented on #49
@veniemi1 Another thing to try with Vagrant. Vagrant keeps all of its user data in a ``.vagrant.d`` directory http://docs.vagrantup.com/v2/installation/uninstallation.html. Please delete the ``.vagrant.d`` directory completely.

Then try ``vagrant up``.

Just out of curiosity, what are you using for your terminal/command line? Powershell?

[2015-06-19 23:40] willingc commented on #49
@veniemi1  I wrote a new Vagrantfile for you to try:
[code]

[2015-06-21 10:30] vubo commented on #59
https://github.com/systers/vms/pull/63

[2015-06-22 03:58] veniemi1 commented on #49
@willingc I'm having another issue with my vagrant. I got the vagrant up command to work and the VM is started... but it's asking me for a login and password even though I never created one when I installed either VirtualBox or Vagrant. This is preventing me from changing the directory. I've also tried moving on to the next step of installing the python-psycopg2 module. Is this another thing I nee

[2015-06-22 05:57] willingc commented on #49
@veniemi1 A few comments/questions...
1. Would you mind posting a screen shot of the errors or what is happening since that will help me :)
2. Which Vagrantfile are you using the one in the repo or the one above in the comments?
3. When you did ``vagrant up``, did you select option 1 for the networking question?
![screen shot 2015-06-21 at 10 46 31 pm](https://cloud.githubusercontent.com/assets/26

[2015-06-22 15:41] veniemi1 commented on #49
I'm using the Vagrantfile that you posted. I got it to work up to the point of changing the directories but can't get that to work. I've searched on google for an equivalent windows command, but  haven't found anything useful.
![directorychange](https://cloud.githubusercontent.com/assets/12129851/8285736/46690eec-18d3-11e5-8d30-42063032f15c.JPG)

[2015-06-22 15:52] willingc commented on #49
@veniemi1 Well the good news is that you were successful loading the Vagrantfile and having it spin up a virtual machine. When working in the virtual machine, you should be able to just use Linux commands so it is the correct command ``cd /vagrant/vms``.

If you do an ``ls -al`` do you get the same printout that I got above.

Also, how are you getting a terminal window? Powershell? cmd?

[2015-06-22 15:55] veniemi1 commented on #49
I just did an ls -al and I got what you had above. I'm getting a terminal window through the command prompt. Also, quick side note, when I'm typing here on github how do I get the little boxes that specify that something is code rather than normal text?

[2015-06-22 16:06] willingc commented on #49
@veniemi1 Now I am completely perplexed...
Can you type the following commands and there output (or screenshot):
1. ``pwd``
2. ``echo $PATH``
3. ``cd /``
4. ``ls``

To get something to come up as a code box you type `` at the start and `` at the end of the phrase. If you search GitHub Markdown, it will give you all the options :)

[2015-06-22 20:07] veniemi1 commented on #49
Alright, thank you! Here's what happened when I typed those commands in. I assumed you wanted them with vagrant still running.
![test out commands](https://cloud.githubusercontent.com/assets/12129851/8291571/6afc2c2e-18f8-11e5-848e-1270d33d95bc.JPG)

[2015-06-23 23:08] veniemi1 commented on #49
@willingc I'm working on setting up PostgreSQL and I'm stuck on how to change the lines of code in the pg_hba.conf file. The code I am entering is `sudo nano /etc/postgresql/9.4.3/main/pg_hba.conf`. The numbers are the version of PostgreSQL that I have. When the file opens there is no text for me to change. Is this normal? Or, have I messed up somewhere?
![postgresql_screen](https://cloud.githubus

[2015-06-24 10:13] vubo commented on #49
@veniemi1 No, it should not be empty. This means that you enter the wrong path. Go to the /etc/postgresql:
[code]

and see the contents of this folder

```ls```

most likely, you have another version of the PostgreSQL and another folder.

[2015-06-24 15:15] willingc commented on #49
@vubo Thanks for jumping in here. Much appreciated :)

@veniemi1 I'm at a conference this week so I only have wifi for a limited time in the evenings at my hotel. I will do my best to get back once a day.

I believe that @vubo is working on Windows so please follow her suggestions. Thanks :)

[2015-06-24 15:21] veniemi1 commented on #49
Okay, thank you. I'll take that into account as I'm working these next couple days. When I did the `ls` command  I got this below, but the file is still empty when I open it using 9.3 as the version number in the command. Do you have any suggestions?

![postgres](https://cloud.githubusercontent.com/assets/12129851/8333885/fc989b5c-1a62-11e5-8daa-ba7d533bf864.JPG)

[2015-06-24 15:28] vubo commented on #49
@willingc yes, you're right, I am working on Windows and happy to help :) Nice conference :cherry_blossom:

@veniemi1 ok, this means that you need to enter
[code]
Does It work?

[2015-06-24 16:28] veniemi1 commented on #49
It worked!

[2015-06-24 20:47] vubo opened #65 "Functionality so that a shift cannot be deleted"
Task 13 from the [task list](https://docs.google.com/document/d/13GVI5yGsx4Aj1L0UYawPRo5ViyB7o-0v_UyMWyrOZMY):

[2015-06-24 22:02] veniemi1 commented on #49
@willingc I've gotten through the rest of the postgresql setup. However, I'm having problems with the `cd /vagrant/vms` command again, which is annoying because I've gotten it to work before. I can get into the vagrant directory but not the vms directory. It says `No such file or directory`. For reference, I'm working on the Generate Database Tables section. Thank you for all your help.
![capture]

[2015-06-24 22:12] vubo commented on #49
@veniemi1 after:
[code]
just do:
[code]

[2015-06-25 01:56] veniemi1 commented on #49
My computer isn't finding the vms directory when I enter `cd vms`, and it doesn't appear to exist when I do the `ls -al` command. I also cannot find the manage.py file that is needed for the next line of code to work.
![capture1](https://cloud.githubusercontent.com/assets/12129851/8345362/d07c792c-1abb-11e5-852d-d98137fc47d2.JPG)

[2015-06-25 15:00] willingc commented on #49
@veniemi1 Just a thought...
Let's define for the moment 'Windows box' as your Windows computer and 'New box' for the virtual machine (where you see vagrant-ubuntu-trusty-32).

I am guessing that we have a very important step missing in the existing documentation (@vubo please confirm from your windows experience).

When the ``vagrant up`` command is given on the 'Windows box', it should be given f

[2015-06-25 16:48] vubo commented on #49
@willingc @veniemi1 yes, I start vagrant from the "vms" and "vagrantfile" directory. Here ist it (V:\DJANGO\vms):
![vagrant](https://cloud.githubusercontent.com/assets/7673323/8359947/de280808-1b69-11e5-9b36-1e8bffa0aff6.png)

And I do:
![vag2](https://cloud.githubusercontent.com/assets/7673323/8360064/9ea3e62e-1b6a-11e5-98f8-bd15b1a7f7ac.png)
![vag3](https://cloud.githubusercontent.com/assets/767

[2015-06-25 18:26] vubo opened #67 "One Day Events"
Task 14 from the [task list](https://docs.google.com/document/d/13GVI5yGsx4Aj1L0UYawPRo5ViyB7o-0v_UyMWyrOZMY):

[2015-06-25 18:26] vubo commented on #67
It works with the new datepicker https://github.com/systers/vms/issues/59.

![event](https://cloud.githubusercontent.com/assets/7673323/8362280/2ed24b16-1b78-11e5-9135-34a2a4264bec.png)

[2015-06-25 18:26] #67 closed

[2015-06-26 00:20] veniemi1 commented on #49
@willingc I fixed the issue with cloning the repository, but now can't get the line `python manage.py syncdb` to work because it's saying that password authentication failed. I also can't get my computer to recognize the `\dt` command inside the postgres or `python manage.py sqlall app_name_here` command. On the last command, what app name should I use?
![capture3](https://cloud.githubusercontent.

[2015-06-26 08:15] vubo commented on #49
@veniemi1 in the file /vms/vms/settings.py:
´´´
# Database
# Change these database settings if your database engine, database name,
# username or password changes
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'vms',
        'USER': 'myuser',
        'PASSWORD': 'mypassword',
        'HOST': 'localhost',
    }
}
´´´
you need to change "my

[2015-06-26 14:15] vubo opened #68 "Location specification for the event/job/shift"
Task 15 from the [task list](https://docs.google.com/document/d/13GVI5yGsx4Aj1L0UYawPRo5ViyB7o-0v_UyMWyrOZMY/edit):

@rosariorobinson would you answer these questions please? Should I program the location specification at the Event, Job, or Shift? Thank you!

![createevent](https://cloud.githubusercontent.com/assets/7673323/8393686/85370524-1d1b-11e5-91c7-d6e6d27cb61b.png)

[2015-06-26 16:32] veniemi1 commented on #49
I'm done! I got everything in the instructions to work.

[2015-06-27 20:51] vubo opened #69 "Manage the shift hours"
Task 17 from the [task list](https://docs.google.com/document/d/13GVI5yGsx4Aj1L0UYawPRo5ViyB7o-0v_UyMWyrOZMY/edit):

@rosariorobinson should be able administrators to manage (add/edit/delete) the shift hours for volunteers?

![shift](https://cloud.githubusercontent.com/assets/7673323/8393749/3d4bf1ea-1d1e-11e5-91cf-6e52a169e871.png)

[2015-06-27 21:01] vubo opened #70 "Email notifications"
Task 20 from the [task list](https://docs.google.com/document/d/13GVI5yGsx4Aj1L0UYawPRo5ViyB7o-0v_UyMWyrOZMY/edit):

@rosariorobinson would you like email notifications to be sent to volunteers when a shift they have signed up for is coming up?

[2015-06-27 21:23] vubo opened #71 "Upcoming Shifts - Shift Hours"
@Nerdylicious when you have time, could you explain please the difference between "Upcoming Shifts" and "Shift Hours".

- Why after a volunteer makes "log hours" for a shift, she/he does not see this shift in the "Upcoming Shifts" list?
- If a volunteer does not make "log hours" for a shift, what does that mean?

@jayesh92 perhaps you could also help with this issue?

Thank you!

![upcomingshifts]

[2015-06-27 21:46] vubo commented on #9
@rosariorobinson it's still relevant? In wich form it should be realized? Perhaps as a volunteer job with a form to fill? Thank you!

[2015-06-28 01:31] veniemi1 opened #72 "VMS Installation Guide fixes"
Here are the improvements I would add to the VMS installation guide. I can put these in when I get back from training at the end of July if need be.

Vms/Installation Guide.md:

Clone Project:
        *`git clone https://github.com/systers/vms.git`
        *Make sure you are in the top level directory of where you want the cloned files to end up.
        *Check the contents of the destination dire

[2015-06-28 01:48] willingc commented on #72
@veniemi1 Thank you! These are great suggestions.

I will update the docs with your suggestions. When you return, please do test them out. It's been my pleasure to mentor you :smiley: :cake: :bouquet:

[2015-06-28 10:36] jayesh92 opened #73 "job inside an event not unique"
While testing I found admin user can create a job with same details twice inside one event. Also, the same applies for shift inside job.  Shouldn't it be unique ?

[2015-06-28 10:57] #29 closed

[2015-06-28 10:57] #34 closed

[2015-06-28 11:06] vubo commented on #41
@willingc I think that this issue can be closed: https://github.com/systers/vms/blob/develop/vms/job/tests.py What do you think?

[2015-06-28 12:25] vubo commented on #40
@jayesh92 thank you! I fixed it.

[2015-06-28 14:54] rosariorobinson commented on #68
Jobs are associated to an event, but not necessarily to a location. For instance, we have GSoC mentors which is a volunteer job/position. Mentors are located where ever they are located.

Events are always associated to a specific location. If we host a meetup, that is always at a particular location/city.

Shifts are usually associated to an event and a location. For GHC, we have specific volunte

[2015-06-28 14:55] rosariorobinson commented on #69
Yes, the level should be...

Volunteer managers (VM) should be able to add/edit/delete shift hours and administrators too. This is for backup purposes in the even VMs are are unable to do so. This can happen.

[2015-06-28 14:57] rosariorobinson commented on #70
Yes, that is good practice. Default should be 1 week notice, but also allow users to configure this themselves, perhaps maybe add a 1 day notification. Similar to like when you set up a meeting in Google calendar. You can set reminders.

[2015-06-28 14:58] rosariorobinson commented on #9
Good point. Not relevant now because we have so many job opportunities. Your suggestion to volunteer job with a form to fill is good.

[2015-06-28 15:01] rosariorobinson commented on #35
@vubo ... Yes, admins can be volunteers. Because they are admins, they should still be able to visit a volunteer job/position and sign up as they were just a volunteer. I think I see admins as just a different view than others with additional functionality. They should be able to view VMS as a volunteer as well.

Let me know if you need more clarity.

[2015-06-28 17:11] tapasweni-pathak commented on #59
I think now this can be closed?

[2015-06-28 17:13] tapasweni-pathak commented on #40
This can be closed now, I think.

[2015-06-28 23:34] Nerdylicious commented on #71
Hi @vubo thanks for the questions!

- A shift moves from the Upcoming Shifts page to the Shift Hours page when they have logged hours for that shift (since the shift is no longer "upcoming" and it has been completed). Maybe Shift Hours should be renamed to something more clear, like "Completed Shifts". Maybe there should be a notification that the shift was moved to "Completed Shifts"? What do you

[2015-06-29 10:21] vubo commented on #71
Thank you for the answers @Nerdylicious

"Completed Shifts" sounds great and there is no confusion! :+1:

I would suggest:

1. If a Volunteer did not log her / his hours and a shift was over (we always have a date of the shift), then the button "Log hours" should disappear and another label should appear. For example "Missed" or something else.
2. The second possibility: just do not show in this l

[2015-06-29 10:30] vubo commented on #59
@tapasweni-pathak yes, thank you!

[2015-06-29 10:30] #59 closed

[2015-06-30 01:35] Nerdylicious commented on #71
Hi @vubo

For (1) you have to remember that a volunteer needs to be able to enter in their hours a day, 2 days or even a week after the shift is over (there are some volunteers that may take a few days to enter in their hours, they don't do it right away).

I would ask @rosariorobinson what she wants, since she's the client.

[2015-07-01 14:17] willingc commented on #10
I'm closing this issue since the current use of Read The Docs is serving the project well.

[2015-07-01 14:17] #10 closed

[2015-07-01 18:27] galarnyk commented on #48
Definitely a data model error to allow the same email address for multiple usernames.

[2015-07-02 07:36] tapasweni-pathak opened #75 "Validate City and Country"
@vubo  I just saw yesterday's recording. I have one question, are we validating city and countries, when the user is entering the data in create event e.t.c?

If not, I feel its good to do that. There are packages that can achieve that for us.

[2015-07-02 07:38] tapasweni-pathak opened #76 "Add timepicker everywhere"
@vubo I don't see a time picker in create shift? There are start and end time fields there.

Can we add the timepicker wherever we are using the time related fields?

[2015-07-02 07:40] tapasweni-pathak opened #77 "Adding a map"
@willingc How about showing a small map to the user, in features like create event, where we have something as 'location'?

@vubo  What do you think about it? There are packages that we can easily use to implement this feature.

[2015-07-02 07:42] tapasweni-pathak opened #78 "Not allowing use to create a post dated event"
@vubo Do we have one check which restricts the user to not create an event which is ended already, post dated event?

[2015-07-02 07:43] tapasweni-pathak opened #79 "Unique ids for event"
@vubo Do we have unique ids associated with every new event. If not, I feel its good to add it.

If there are two events having same details, name and same start and end time, are we able to distinguish between the two in our code?

[2015-07-02 12:41] vubo commented on #75
@tapasweni-pathak thank you for watching and for your time :)
No, we don't do it, but it's a great idea! Do you have any advice? Any tools for implementing this?

[2015-07-02 12:45] vubo commented on #76
@tapasweni-pathak Yes, I plan to do it. I wanted to test it first on a single object (edit shift) and then just extend to others. Rose is also proposed to add to the profile setting-time-feature: p.m/a.m. or 24 hours.

[2015-07-02 12:52] vubo commented on #77
@tapasweni-pathak great, I was also planning to do this in the future. What packages can you advise?

[2015-07-02 12:58] vubo commented on #78
@tapasweni-pathak unfortunately, no. But I will do it. Thank you for the tip!

[2015-07-02 13:11] vubo commented on #79
@tapasweni-pathak it's a good point. Event model has only name, start_date and end_date: https://github.com/systers/vms/blob/develop/vms/event/models.py#L4
Should I create a new hidden ID-field which will be filled in automatically?

[2015-07-02 22:47] vubo opened #80 "12 hour or 24 hour format"
Allow volunteer or administrator to choose how to display the time: 12 hour or 24 hour format.

[2015-07-02 22:55] vubo opened #81 "Date range for the event search"
Add a calender / date range opportunity for the event search.

Volunteer must be able to find all the events for specific dates.

![shift](https://cloud.githubusercontent.com/assets/7673323/8489620/d6166c40-211d-11e5-9c14-d6fef06f8027.png)

[2015-07-02 23:24] vubo opened #82 "Feedbacks from VMS users"
@rosariorobinson offered to run the test VMS project and to collect the feedbacks and reviews of those users who will test the project.

@willingc @tapasweni-pathak maybe you know a suitable platform for the collection of the users feedbacks? Thank you!

[2015-07-02 23:30] vubo commented on #76
https://github.com/systers/vms/issues/80

[2015-07-05 16:07] vubo commented on #68
@rosariorobinson I created for Event new location fields: country, state, city, address, venue
Should I create the same fields for Shift?

![eventloc](https://cloud.githubusercontent.com/assets/7673323/8509692/63f38c28-22b3-11e5-80a7-eb77b7c3b35e.png)

[2015-07-05 17:55] vubo commented on #48
@jayesh92 thanks for opening an issue.

@willingc @tapasweni-pathak @galarnyk thank you for the discussion and help. I added unique=True to the email field in the PR https://github.com/systers/vms/pull/84

[2015-07-05 18:16] tapasweni-pathak commented on #48
I think, now this issue can we closed.

[2015-07-05 18:16] #48 closed

[2015-07-06 11:34] tapasweni-pathak commented on #79
@vubo Yes, that's seems the best we can do. Something which is not visible but it is there inside the database.

[2015-07-06 11:35] tapasweni-pathak commented on #78
Great. :ok_hand:

[2015-07-06 11:43] tapasweni-pathak commented on #77
I have used [Django Easy Maps](https://pypi.python.org/pypi/django-easy-maps) in past. It's good. I think it fits are current needs. Just check it, if it is fine.

[2015-07-06 11:51] tapasweni-pathak commented on #75
@vubo,  @exploreshaifali recently implemented the check for cities and countries, in Systers Portal.

@exploreshaifali Can you tell us which package you used?

[2015-07-06 12:20] exploreshaifali commented on #75
Sure.

@vubo I used a django package, [django-cities-light][https://pypi.python.org/pypi/django-cities-light] to validate cities and countries.  They provide good doc, let me know if you need some help in it.

[2015-07-06 18:49] rosariorobinson commented on #82
When you are ready, please let me know. I will have someone upload new code to our test server so that we can start testing.

cc @jproft

[2015-07-06 18:51] rosariorobinson commented on #68
Yes. Shifts for an event can be at a different venue (including city and state) and/or date/time as well.

[2015-07-06 19:20] vubo commented on #82
@rosariorobinson perhaps we can use a google plus group for this?
https://plus.google.com/b/114580226929432094000/114580226929432094000/posts

[2015-07-07 01:36] tapasweni-pathak commented on #82
@vubo I would suggest Google Forms. It easy to share the forms everywhere, get input from user, does not require any sign up.

We can have some feature specific questions in the form and some suggestions, what they liked most, something in this line, so that we will touch almost all parts of our application. It should not be too long also.

[2015-07-07 02:11] tapasweni-pathak commented on #75
Thanks @exploreshaifali. :+1: :bouquet:

[2015-07-07 10:50] vubo commented on #82
@tapasweni-pathak thank you for the idea! It looks very good and does not require any sign up - perfekt. I created a test form: http://goo.gl/forms/Ojr8pf7LSj

[2015-07-07 11:55] vubo commented on #69
I created the level.

Now we have Upcoming Shifts list and Shifts with Logged Hours list.

In the Upcoming Shifts list administrators/managers can Cancel Shift Registration and Log Hours for a volounteer.

In the Shifts with Logged Hours list administrators/managers can find logged hours, edit this hours and cancel them.

![manage](https://cloud.githubusercontent.com/assets/7673323/8545501/a6ae0ed

[2015-07-07 14:48] tapasweni-pathak commented on #82
@vubo :+1:

[2015-07-07 15:13] rosariorobinson commented on #69
@vubo what is the difference between shift registration and shift? Is it cancelling a shift registration so that no one can register for that shift, or is it cancelling an entire shift? I think I'd like to have both.

[2015-07-07 18:11] vubo commented on #69
@rosariorobinson "Cancel Shift Registration" is cancelling a shift registration **for the volounteer**, who signed up for this shift. And this whole page "Manage Shifts" is for a selected volounteer (first you need to select a specific volunteer).

Administrators can **delete an entire shift** in the Settings -> Shifts (after deleting nobody can see this shift).

![delete](https://cloud.githubuser

[2015-07-07 19:00] rosariorobinson commented on #69
Oh okay, understood. No this fine. Thanks for explaining.

[2015-07-09 19:49] vubo commented on #12
@willingc thank you! I ported all code to Python 3 and I'm using Python 3.4 and Django 1.8.3 now.

[2015-07-10 18:10] vubo opened #87 "Configure access for administrators and volunteers"
**For administrators only**

- [x] Manage Volunteer Shifts: /shift/volunteer_search/
- [x] Manage Volunteer Shifts: /shift/manage_volunteer_shifts/
- [x] Manage Volunteer Shifts: /shift/add_hours_manager/
- [x] Manage Volunteer Shifts: /shift/edit_hours_manager/
- [x] Manage Volunteer Shifts: /shift/clear_hours_manager/
- [x] Manage Volunteer Shifts: /shift/cancel/
- [x] Manage Volunteer Shifts: /

[2015-07-12 15:39] jayesh92 opened #88 "inconsistency between shift time and volunteer shift time"
If an admin has assigned a shift from `0900hrs to 1500hrs`, volunteer is able to log hours in a shift from `1800hrs to 1830hrs` also. Should this be allowed ?
Tests pass with this use case

[2015-07-14 10:18] tapasweni-pathak commented on #88
I do not see a point why it should be allowed. What do you think @vubo ?

[2015-07-14 10:23] tapasweni-pathak commented on #12
Awesome @vubo. :smile:
Closing this then.

[2015-07-14 10:23] #12 closed

[2015-07-14 10:24] #40 closed

[2015-07-14 10:30] #60 closed

[2015-07-14 10:31] tapasweni-pathak commented on #68
@vubo Is this done for shifts also?

[2015-07-14 15:51] vubo commented on #88
I'm not sure. I think we should ask @rosariorobinson

[2015-07-14 15:53] rosariorobinson commented on #88
To @jayesh92 question, no this should not be allowed. Volunteers should only be able to log hours that admin/manager has assigned for availability. We have to manage what volunteers can sign up for. Good catch.

[2015-07-14 17:42] vubo commented on #68
@tapasweni-pathak yes, here is the PR: https://github.com/systers/vms/pull/89

[2015-07-15 00:24] tapasweni-pathak commented on #68
Closing this then. :smile:

[2015-07-15 00:24] #68 closed

[2015-07-16 21:34] #65 closed

[2015-07-16 21:34] #69 closed

[2015-07-16 21:35] #71 closed

[2015-07-18 14:24] jayesh92 opened #91 "end time should be less than start time"
While testing the shift hours view, I can enter end time less than start time. This should not be allowed and a corresponding check should be added. Also, I think same is the case with all time fields.

[2015-07-18 16:12] vubo commented on #91
@jayesh92 here is a comment from @Nerdylicious: https://github.com/systers/vms/blob/develop/vms/shift/forms.py#L27

[2015-07-19 07:57] jayesh92 commented on #91
@vubo then shouldn't a date-time field make more sense than only time field ?

[2015-07-19 12:41] vubo commented on #91
@jayesh92 I'm not sure. A date-field can also be confusing. We need feedback from users to understand.

[2015-07-19 12:45] jayesh92 commented on #91
@vubo not date field, I'm suggesting a date-time field which contains both date and time and also since shift model contains a date, start_time and end_time so I don't think a shift extending beyond a day makes sense.

[2015-07-21 10:24] vubo opened #92 "A problem after updating Django"
After updating Django I can run
[code]
but not
[code]
I get an error:
[code]

@tapasweni-pathak @jayesh92 do you have this problem with Django 1.8? Can you run tests?

[2015-07-21 13:03] willingc commented on #92
@vubo You may need to run `python manage.py makemigrations` before running `python manage.py test`

[2015-07-21 13:43] tapasweni-pathak commented on #92
@vubo Try [this](http://stackoverflow.com/questions/29689365/auth-user-error-with-django-1-8-and-syncdb-migrate).

[2015-07-21 17:16] vubo commented on #92
@willingc @tapasweni-pathak thank you! I did it, but it did not help.

I installed again Django 1.7, made all migrations and updated to Django 1.8. After that it finally works. Maybe it can be useful to someone.

[2015-07-21 17:16] #92 closed

[2015-07-23 00:08] #70 closed

[2015-07-25 10:01] #87 closed

[2015-07-26 01:02] willingc commented on #9
@rosariorobinson @vubo From the earlier comments, I think that we can close out this issue.

[2015-07-26 01:02] #9 closed

[2015-07-26 01:05] willingc commented on #35
@jayesh92 @vubo Can this issue be closed out or are the tests still failing?

[2015-07-26 01:07] willingc commented on #39
@jayesh92 @vubo Is this resolved or are tests still failing?

[2015-07-26 01:08] willingc commented on #41
@vubo Thank you! Yes, this can be closed :+1:

[2015-07-26 01:08] #41 closed

[2015-07-26 01:12] willingc commented on #45
@vubo I have set milestone for 'GHC' Grace Hopper Celebration. The issues that I am putting in this are ones that may be suitable for attendees of Open Source Day. You are free to work on them but I don't expect that they will be completed for GSoC :smile:

[2015-07-26 01:29] willingc commented on #91
@vubo Please check with @rosariorobinson about her preference. Dates and times can be a pain on many projects. It would be good to go through the use cases with her.

1. Separate date fields (start and end) with separate time fields (start and end) - I could see some volunteers that are organizing multiday events have shifts that span multiple days.

2. Whichever implementation makes sense there s

[2015-07-26 01:31] willingc commented on #79
This issue is related to Issue #73.

[2015-07-26 01:38] willingc commented on #82
My apologies for the late response. Google Forms is a great solution.

[2015-07-26 01:41] willingc commented on #88
@rosariorobinson Is there ever a case where there are multiple admins for a shift? For example, you are admin for 0900 to 1500 and I am admin for 1200 to 2000 giving a total time needing staffing. Is this a possible use case?

[2015-07-26 18:45] vubo commented on #39
@jayesh92 could you please show your unit test?

[2015-07-26 18:54] vubo commented on #91
@rosariorobinson now we can create and edit only a one-day shift. Should it be so?

![image](https://cloud.githubusercontent.com/assets/7673323/8895313/00f63bbe-33d6-11e5-8ebc-7402a67ce8bb.png)

@willingc 3. We don't handle time zones.

[2015-07-26 19:30] jayesh92 commented on #39
@vubo https://github.com/jayesh92/vms/blob/master/vms/registration/tests/test_functional_volunteer.py tests corresponding to this issue.
You can see the hack in setUp method.
@willingc I haven't tested it again after fetching vubo's changes. I'll let you know after doing this

[2015-07-26 23:43] willingc opened #94 "Add better error message for admin signup fields"
When running the VMS http://localhost:8001/registration/signup_administrator/ ,
I had difficulty adding a phone number since I was not sure what format the phone number should be in.

<img width="357" alt="screen shot 2015-07-26 at 4 37 59 pm" src="https://cloud.githubusercontent.com/assets/2680980/8896562/52428f7a-33b5-11e5-9764-045a1a5b5902.png">

A more helpful error message would be a nice add

[2015-07-26 23:46] willingc opened #95 "Check error handling when a volunteer tries to sign up before an admin"
If a volunteer user tries to create an account before an admin creates an account, the vms displays an error message. The message does not explain why the system is not creating the account. An edge case but likely one we should cover.

[2015-07-27 00:34] willingc opened #97 "Make menu items more user friendly (Settings, Create Admin Account)"
After logging in as an admin, I see these menu choices:
<img width="1244" alt="screen shot 2015-07-26 at 4 48 10 pm" src="https://cloud.githubusercontent.com/assets/2680980/8896607/4fc42c08-33b6-11e5-82c5-b085767955f3.png">

I would expect that I could edit my settings password, email, name, etc. from a menu item where "Create Admin Account" is.

"Settings" is a little vague since it implies that

[2015-07-27 00:44] willingc opened #98 "Entering a venue with an apostrophe throws an invalid error"
When creating an event and entering a venue, a place containing an apostrophe, such as L'Arc De Triomphe (my apologies for spelling), throws an error. This seems to be a common use case that we should address.

<img width="552" alt="screen shot 2015-07-26 at 5 41 06 pm" src="https://cloud.githubusercontent.com/assets/2680980/8896862/e37ee58a-33bd-11e5-8e4a-d4830af65372.png">

[2015-07-27 00:49] vubo commented on #35
@willingc yes, I fixed it: https://github.com/systers/vms/pull/99

[2015-07-27 00:52] willingc opened #100 "Enhance UI for creating shifts as an admin"
When creating a shift (http://localhost:8001/shift/create/1), the system should pre-populate the fields with database information already know about the event like venue, location, date, etc. to minimize typing by admin. The admin should be able to override the pre-populated information.

<img width="578" alt="screen shot 2015-07-26 at 5 47 25 pm" src="https://cloud.githubusercontent.com/assets/26

[2015-07-27 01:27] willingc commented on #35
Thanks @vubo. I am closing this issue based on latest merged PR #99.

@jayesh92 Feel free to reopen if needed.

[2015-07-27 01:27] #35 closed

[2015-07-27 15:23] jayesh92 commented on #35
fine by my side

[2015-07-28 16:09] vubo commented on #39
@jayesh92 you can find in the installation guide http://vms.readthedocs.org/en/latest/Installation%20Guide/:

So, if you follow the instructions, the error should not occur.

[2015-07-28 16:12] jayesh92 commented on #39
@vubo I have read this instruction earlier but my point is since we are already having an unlisted org field, why do we force to add one org earlier ?

[2015-07-28 16:18] vubo commented on #39
@jayesh92 I think it does not matter how we add the first organization. If we set up the database, why not just add the first organization, as described in the installation guide?

[2015-07-28 16:20] jayesh92 commented on #39
as everyone suggests, I just pointed out the case. We can consult @willingc for more clarity on this issue

[2015-07-28 16:30] vubo commented on #79
@tapasweni-pathak I'm working on this issue right now and I noticed that Django itself automatically creates the required id field. Here is the table for events:

![image](https://cloud.githubusercontent.com/assets/7673323/8937075/7ce9400a-3556-11e5-9587-95110a97fcc6.png)

[2015-07-28 17:14] #81 closed

[2015-07-28 22:38] willingc commented on #35
Thanks @jayesh92 :)

[2015-07-28 22:50] willingc commented on #39
@vubo and @jayesh92: I can think of another edge case where the database may contain no organizations. The case where an admin deletes all the organizations in the database. I wonder what happens if we try that since I honestly don't know if a) we could do it as an admin; b) if the results would be the same as starting with an empty organization table.

I'm going to let you both think about what w

[2015-07-29 23:53] vubo commented on #39
@willingc congratulations, have a great week :bouquet:

a) - no, an admin can not delete all the organizations in the database. The error will be displayed:

![image](https://cloud.githubusercontent.com/assets/7673323/8972775/5db8f632-365d-11e5-8d6b-9d8948f9fe14.png)

[2015-07-30 00:33] vubo opened #102 "Volunteer report enhancement"
Improve report for volunteers:

- [x] Add a data range instead of the date

![image](https://cloud.githubusercontent.com/assets/7673323/8973231/e868d4c8-3662-11e5-8ab6-77917c3542e3.png)

cc @rosariorobinson

[2015-07-30 00:47] vubo opened #103 "Admin report enhancement"
Improve report for admins:

- [x]  Add a drop down for Organization
- [x]  Add a date range instead of the date
- [x]  Organization - Dates Reports

![image](https://cloud.githubusercontent.com/assets/7673323/8973422/d2061e82-3664-11e5-90d2-f60d0ecbaf1a.png)

cc @rosariorobinson

[2015-07-31 09:59] tapasweni-pathak commented on #79
Yes, right, Django does it. :) Cool. Then we don't need to do it.

Will we be able to free them if someone deletes the event associated with them?

[2015-07-31 10:01] tapasweni-pathak commented on #102
Data range as in the options for the user to generate report right?

[2015-07-31 10:02] vubo commented on #79
What do you mean? That this id (from the deleted event) will be assign to a new event?

[2015-07-31 10:05] vubo commented on #102
Yes. A volunteer can see her/his completed shifts (for this dates).

[2015-07-31 10:06] tapasweni-pathak commented on #79
Yes. If a event gets deleted, it has a associated unique id as 123. Then we will be able to reuse that id? or will it keep incrementing, no matter if some previous ones get freed?

[2015-07-31 10:08] tapasweni-pathak commented on #102
Okay. Cool. :+1:

[2015-07-31 10:14] vubo commented on #79
Honestly, I do not know how Django assigns IDs. Have you worked with this issue?

[2015-07-31 10:15] vubo commented on #102
O, yes, this is a mistake. Thank you!

[2015-07-31 10:16] tapasweni-pathak commented on #79
I know how Django assigns it, but not sure if it reuses/frees the previously generated one. I'll try it and then we will look into this.

[2015-07-31 10:17] vubo commented on #79
Thank you :)

[2015-07-31 10:17] tapasweni-pathak commented on #102
Cool. Merged it, so closing this issue.

[2015-07-31 10:17] #102 closed

[2015-08-02 18:24] jayesh92 opened #105 "Review data models and the use of email field"
Volunteer model has a one-to-one relationship with User model, which already has an email field. We also have an email field explicitly in Volunteer model.
~~As per my previous tests, we are using email field of User model to check replication and login/logout. However, in profile tab of Volunteer views we have a field to display email, which is fetching from email field of Volunteer model. Why ar

[2015-08-03 16:20] jayesh92 opened #106 "Setting organization and use of unlisted field in user interface"
While registering a new user, one can select an organization from list also and also enter an org in unlisted org field.
Shouldn't there be a client side Javascript method which hides the unlisted org field if selected from given list or atleast raise an error if both are selected

[2015-08-03 17:05] willingc commented on #105
@jayesh92 Would it be possible to point out specific files and lines of code to clarify your comments? Thanks!

[2015-08-03 18:18] willingc commented on #105
@vubo @jayesh92 @tapasweni-pathak @Nerdylicious @rosariorobinson Since we are getting pretty far along in the GSOC timeline, I wanted to take a moment to share a few open source references and an article on github issues. As we work toward our individual milestones and goals, detailed, effective communication becomes super important. It's important for getting our work done, but it's even more imp

[2015-08-03 18:29] jayesh92 opened #107 "cannot upload resume"
Given `755` permission to `/srv/vms/resume` directory, but not able to upload a file satisfying the constraints in `volunteer/validation.py` file.
Also doing a chmod should be inlcuded in installation

[2015-08-03 19:08] jayesh92 commented on #107
Firefox issue, nothing application specific. Closing this.
Refer: https://bugzilla.mozilla.org/show_bug.cgi?id=373621

[2015-08-03 19:08] #107 closed

[2015-08-03 19:25] jayesh92 commented on #105
@willingc Thanks for your suggestions !
https://github.com/systers/vms/blob/develop/vms/volunteer/models.py#L81 and https://github.com/systers/vms/blob/develop/vms/volunteer/models.py#L118
- As you can see in the links stated above, volunteer model contains an email field and a one-to-one relationship with user.
- Why do we explicitly need an email field, when we can already get it using `voluntee

[2015-08-03 21:39] willingc commented on #105
@jayesh92 Thank you!!! This helps a bunch. Is there a repo link to the automated tests that you have been working on? It would be helpful for me to do a quick scan of the tests.

@vubo, @tapasweni-pathak, @Nerdylicious - Please share your thoughts. I will need to take some time to look at the data model definition doc as well as Django 1.8 docs and the current code base to form an opinion on the a

[2015-08-04 21:35] vubo commented on #105
@willingc thank you very much for the useful links!

Since the code is programmed by @Nerdylicious, Irish can explain, why she created email field explicitly. Perhaps it was necessary.

But in general I agree with @jayesh92, we should use ```user.email``` since Django provides this field.

[2015-08-04 22:41] Nerdylicious commented on #105
@willingc @vubo

I included the email field (and also the first_name and last_name fields) in the Volunteer model because there might be a chance that we would use a different module for authentication that may not include first_name, last_name and email fields, so I included them in the Volunteer table (and also the Admin table). If we were to replace the django auth tables with something else th

[2015-08-05 14:30] willingc commented on #105
@Nerdylicious Thank you for the detailed message. I appreciate it and it adds context for me :sunflower:

@vubo I'm going to do a little thinking on this.

[2015-08-05 14:37] tapasweni-pathak commented on #105
@willingc  I need some time, before giving my suggestion on this.

[2015-08-05 17:32] jayesh92 commented on #105
+1 on Irish's views. We should probably go by fields in volunteer fields itself

[2015-08-05 23:20] willingc opened #109 "Update README to reflect recent work"
Lots of work has happened on this project over the past several months. I wanted to streamline the README and add a Contributors section. Initially, the Contributors section is fine in the README. Once there are 20 or so contributors, we should split out to a separate CONTRIBUTORS.md file.

[2015-08-06 02:46] willingc opened #111 "Create checklist for project handoff for GSoC conclusion"
This issue is a checklist of items that I wish to review as we wrap up GSoC 2015 and prepare for Google Code In. @vubo: This is not a task list for you. It's a mental checklist for me, loosely influenced by 2 scoops of Django.

@vubo, @tapasweni-pathak, @rosariorobinson: feel free to add comments if you wish.
## Code Style
-  [ ] flake8 tool applied to files (used to check pep8)
-  [ ] check and d

[2015-08-06 03:32] willingc commented on #109
Closed PR #110

[2015-08-06 03:32] #109 closed

[2015-08-06 16:02] rosariorobinson commented on #82
Could we perhaps have a template?

[2015-08-06 18:36] vubo commented on #82
@rosariorobinson here is it: https://docs.google.com/forms/d/1IkUzcqL6OB1PsrT0bCdDKTnPH_F3EBwnuCMcu-LNv3g/edit

Is it ok? Can you edit it?

[2015-08-07 10:03] vubo opened #112 "Do not show all shifts in /shift/list_shifts_sign_up"
Now volunteers can see the button "Sign Up" for all shifts:

![image](https://cloud.githubusercontent.com/assets/7673323/9133407/a782cf5a-3cfb-11e5-9a8e-96696d098fe0.png)

If a volunteer clicks "Sign Up" for the shift she/he has already signed up, she/he sees the error message:
![image](https://cloud.githubusercontent.com/assets/7673323/9133414/b714a042-3cfb-11e5-9d65-bda8ac6e0ec3.png)

My suggest

[2015-08-07 10:33] vubo commented on #78
@tapasweni-pathak could you close this issue please? PR https://github.com/systers/vms/pull/101

[2015-08-07 12:58] tapasweni-pathak commented on #78
Done.

[2015-08-07 12:58] #78 closed

[2015-08-07 13:41] willingc commented on #76
Closed #113

Thanks @vubo and @tapasweni-pathak.

A tip for both of you...when merging a pull request if you put `Closes #xx` in the merge message the issue gets closed by GitHub (https://help.github.com/articles/closing-issues-via-commit-messages/). :smile:

[2015-08-07 13:41] #76 closed

[2015-08-07 13:53] tapasweni-pathak commented on #76
This is awesome @willingc. :+1: Thanks for the link. :smile:

[2015-08-07 17:03] Nerdylicious commented on #111
@willingc @rosariorobinson

Is Systers applying/taking part in Google Code-In this year? If so I would really like to be a mentor this year (for whatever project).

[2015-08-07 17:45] willingc commented on #111
@Nerdylicious I believe so. You would be a great mentor. I'm not involved in the details but I know @rosariorobinson will bring you up to speed.

On another note, @Nerdylicious, I would like to tag the VMS repo in github with a few releases:
- v0.1.0 initial proof of concept
- v0.2.0 start of GSoC 2015
- v0.3.0 demo of GSoC 2015

I could use your help deciding what commit would be best to tag for

[2015-08-07 21:25] vubo commented on #97
@willingc I totally agree. Maybe we should call this menu item simply "Events"?

[2015-08-07 23:42] #98 closed

[2015-08-08 03:04] Nerdylicious commented on #111
@willingc the commit for v0.2.0 looks good. Maybe we could go a little further along for v0.1.0 such as f6532b1cf58845369b2bd79af9517f6fce5fef57 (this one is a month later at July 2014 and includes a few more core features).

[2015-08-08 04:00] willingc opened #115 "Add EditorConfig support"
EditorConfig enables contributors using a variety of editors to have their editor automatically configure the style of a project. This helps new contributors have proper spacing, line length, etc. if they are using an editor that supports EditorConfig. http://editorconfig.org/

[2015-08-08 04:03] willingc commented on #111
@Nerdylicious Absolutely. I will tag the commit that you suggested :)

[2015-08-08 06:56] #115 closed

[2015-08-08 10:05] willingc opened #117 "Update Vagrantfile"
When looking at the comments, there is an outstanding item in #49 and #72 to update the Vagrantfile to the one contained in #49. This should improve the installation experience for Windows users.

[2015-08-09 05:19] jayesh92 opened #119 "403 error in access denied views"
I was writing tests as I found that for many views like `shift/view_volunteer_shifts` in cases where one volunteer tries to access another volunteer's shifts, It raises a 403 error due the code on https://github.com/systers/vms/blob/develop/vms/shift/views.py#L598 . What this does this is that it just sets-up a 403 status code in response header and the user gets a blank page and status code can b

[2015-08-09 07:55] jayesh92 commented on #119
I've been able to test it manually, I can't get the response status code in selenium, same has also been a concern of few others at this stackoverflow [answer](http://stackoverflow.com/questions/6509628/how-to-get-http-response-code-using-selenium-webdriver-with-java)

[2015-08-09 19:09] vubo commented on #100
@willingc I really like your idea: https://github.com/systers/vms/pull/120 :sparkles:

[2015-08-09 20:51] willingc opened #121 "Document gitignore file for new contributors"
Document the gitignore file so that new developers understand it and existing developers don't have to look up the file suffixes.

Also related to #111

[2015-08-10 02:14] #121 closed

[2015-08-10 02:37] #117 closed

[2015-08-10 20:24] willingc commented on #119
@jayesh92 Is there a link to the tests that you are running?

[2015-08-11 13:53] willingc commented on #97
Let's change it to Events for now.

It probably makes sense to do a user interface planning meeting after the GSoC demo to look at with the users (Rose and others) at the overall labeling of menus.

[2015-08-11 15:47] jayesh92 commented on #119
@willingc , https://github.com/jayesh92/vms/blob/master/vms/shift/tests/test_viewVolunteerShift.py#L57
As I've stated above, I can't get the return status code using selenium, so it's not a complete test. However, If you can repro this use-case, you'll get a blank page instead of a page showing 403. Something like this is done in the test just below the one which I've linked

[2015-08-12 00:25] #100 closed

[2015-08-12 21:06] #103 closed

[2015-08-12 21:17] willingc opened #123 "Plan and release v0.3.0"
@vubo Well, the time has come to set up the release of v0.3.0. :tada: This should be released before the presentation to @rosariorobinson @tapasweni-pathak.

Here's a general plan on setting up a release:
1. Create a milestone for `Release v0.3.0` and set a date for the milestone.
2. Tag any issues that should be completed with prior to `Release v0.3.0`.
3. Work on any open issues for the release.

[2015-08-16 02:33] willingc opened #124 "Cleanup items"
@vubo, I'm doing a review of some of the code base this weekend. I will leave small items here and larger ones (if any) in separate issues
-  [ ] [~~missing closing tag~~](https://github.com/systers/vms/blob/develop/vms/home/templates/home/home.html#L11)
-  [ ] [unneeded import](https://github.com/systers/vms/blob/develop/vms/home/views.py#L2)
-  [ ] Consider refactor imports in `administrator/for

[2015-08-16 12:29] vubo commented on #123
@willingc I created the milestone https://github.com/systers/vms/milestones/Release%20v0.3.0

[2015-08-16 20:59] vubo opened #126 "Android 5.0 test - menu is not displayed"
I tested the VMS on my Android phone. It looks awesome, but I don't see the menu. We use a CSS framework Bootstrap Lumen, so it can be a Bootstrap issue.

![image](https://cloud.githubusercontent.com/assets/7673323/9294991/cdc2c7f0-445e-11e5-9207-9ab88786bfbc.png)

![image](https://cloud.githubusercontent.com/assets/7673323/9294993/de1ce126-445e-11e5-9742-bbfc365a0480.png)

![image](https://cloud.

[2015-08-16 21:47] willingc commented on #126
@vubo This is so awesome!!! I didn't even think of loading up on Android, but I'm so pleased that you did. Make sure that you demo this.

Check out these two projects (cookiecutter and cookiecutter-django) from the authors of Two Scoops of Django https://github.com/pydanny/cookiecutter-django Danny's template likely shows how to do the menu since it's pretty much a batteries included template.

[2015-08-16 21:55] #94 closed

[2015-08-16 22:58] vubo commented on #126
@willingc thank you! :panda_face:

I found instructions on the [Bootstrap Lumen website] (https://bootswatch.com/lumen/) and fixed the code https://github.com/systers/vms/pull/127

[2015-08-16 23:31] Nerdylicious commented on #126
@vubo great job on testing it out on a mobile device! Have you also tried it out on smaller and larger tablets?

[2015-08-17 02:41] tapasweni-pathak commented on #126
@vubo This is awesome. Its great that you thought of testing it on Android. :+1: :dancer:

[2015-08-17 02:42] #126 closed

[2015-08-17 03:52] willingc commented on #97
Closing this issue since #125 addresses the menu. We can always reopen if additional feedback from the demo warrants it.

[2015-08-17 03:52] #97 closed

[2015-08-17 04:00] willingc commented on #126
@vubo Super! Wonderful job. :sunrise:

Great teamwork and support @Nerdylicious and @tapasweni-pathak. :smile:  I also wanted to share that I heard @tapasweni-pathak did a fine job teaching web scraping on PyLadies remote today. I hope you enjoyed it :tada:

[2015-08-17 04:53] tapasweni-pathak commented on #126
I enjoyed doing it. I hope it made people to love Python, more. :smile: :high_brightness:

@willingc I would love to have suggestions on what all I can improve. :)

[2015-08-17 08:36] vubo commented on #126
@Nerdylicious @tapasweni-pathak thank you! :octocat:

@Nerdylicious no, I have not tried. But this can be easily done with the Chrome. Stretching his window, you can simulate the screen of the tablet or phone. It is not quite correct, but possible. That's how I tested the menu.

![image](https://cloud.githubusercontent.com/assets/7673323/9301010/941ee7aa-44cb-11e5-8fe6-82eef532c175.png)

[2015-08-17 20:16] vubo commented on #124
@willingc thank you!

- [missing closing tag](https://github.com/systers/vms/blob/develop/vms/home/templates/home/home.html#L11) - what tag do you mean? I have not found...

- `administrator/forms.py` produces an error without `from django.forms import ModelForm`

![image](https://cloud.githubusercontent.com/assets/7673323/9314976/966a1a78-452c-11e5-9e72-4d146d73b21e.png)

[2015-08-17 23:10] #112 closed

[2015-08-21 01:41] willingc commented on #124
@vubo Missing closing tag was my error :) I didn't see the closing tag before the double braces. Sorry!

[2015-08-21 01:43] willingc commented on #124
@vubo Clearing the release milestone on these.

[2015-08-21 02:10] willingc commented on #123
@vubo, @tapasweni-pathak, @rosariorobinson It is with great pleasure that I am officially releasing version 0.3.0 of the VMS project. :tada: :star2: :balloon: :joy: :smile: :trophy: :tada:

Today, @vubo presented this release to GSoC mentors. Thank you @vubo for your contributions, work ethic, and excellent teamwork.

I'm closing this issue!!! Thanks everyone for support of this project.

@vubo An

[2015-08-21 02:10] #123 closed

[2015-08-21 02:21] Nerdylicious commented on #123
@vubo Congratulations on your contributions! You did a great job taking over the project from our contributions last year and early this year. I hope you'll stick around!

A big thank you to @willingc and @tapasweni-pathak as well. I'm going to GHC this year so maybe I'll see some of you there!

[2015-08-21 02:37] willingc commented on #123
@Nerdylicious If you have time at GHC, and this offer goes for any VMS contributor at GHC, I would love to share a meal with you and hear about what you have been working on. :) And thank you for all of your continued help on VMS and proving last summer that it was worth continuing the project :dancer: :bouquet:

[2015-08-21 02:38] tapasweni-pathak commented on #123
Wohoo. :boom: :smile: :sparkling_heart:

Thanks @vubo for making it that awesome.

@willingc It was great being a co-mentor with you. I learnt many things. :smile: :bouquet:

Thanks @Nerdylicious @rosariorobinson for the issues, help and everything. :+1: :smile:

I'm gonna stick around for sure. :dancer:

[2015-08-21 02:47] Nerdylicious commented on #123
@willingc @tapasweni-pathak @vubo That sounds great Carol! @rosariorobinson mentioned during my demo that there will be a Systers lunch during the conference so I'll see you there! I'm also attending PyCon next year in Portland (I got to go to PyCon this year in Montreal and I saw your talk but I didn't get a chance to talk to you) and possibly attending Django: Under The Hood in Amsterdam later t

[2015-08-21 08:16] vubo commented on #123
I'm so happy to see this issue :relaxed:

Thank you @tapasweni-pathak and @willingc! I really appreciate all the help and advice you’ve given me, it’s been a lot of help. @willingc thank you for coming yesterday, I hope your father is doing well.

@Nerdylicious thank you for answering all my questions :smile: I'm gonna stick around too.

[2015-08-31 00:46] tapasweni-pathak opened #129 "Check for phone number depending upon country name"
Currently it is hardcoded, [here](https://github.com/vubo/vms/blob/5c8f918a4fb9eefcaec156b122807c329ecb614b/vms/administrator/models.py#L62).

It will be easy and better to do this after issue #75.

[2015-09-04 16:52] vubo opened #130 "SHIFT SIGN UP list enchancement"
In the "SHIFT SIGN UP" list show only relevant shifts: the shifts that start today or later.

![image](https://cloud.githubusercontent.com/assets/7673323/9688102/7efdcb28-532d-11e5-96b2-af3d1c8c8f8c.png)

[2015-09-04 18:46] vubo opened #131 "Simplify the creating of the job"
When we create a job for the event, we don't see the event dates. But it can be helpful.

![image](https://cloud.githubusercontent.com/assets/7673323/9689895/58a696e2-5339-11e5-97fd-6edc2bc1824d.png)

My suggestion: show the dates of the event under the Event field.

![image](https://cloud.githubusercontent.com/assets/7673323/9691919/e19750ac-5345-11e5-9d63-9ac49be263e5.png)

[2015-09-04 22:13] vubo opened #132 "Simplify the creating of the shift"
When we create a shift for the job, we don't see the job name and dates. My suggestion: show the job name and dates above the form.

![image](https://cloud.githubusercontent.com/assets/7673323/9695366/3530377c-5361-11e5-9533-c3de1fa0cb6e.png)

[2015-09-04 22:33] vubo opened #133 "Dates check"
By creating event -> job -> shift check, that we can not create shift outside job dates and job outside event dates.

![image](https://cloud.githubusercontent.com/assets/7673323/9695761/8970d7de-5365-11e5-9e91-607e033854d9.png)

[2015-09-05 09:42] tapasweni-pathak opened #134 "Review installing VMS work environment on different operating system and write a blog"
Try installing VMS on MAC OS X, Linux (Ubuntu, Debian, Fedora e.t.c), Windows and write a blog about your experience. Update wiki with any new instruction that is missing, if needed.

[2015-09-05 09:42] tapasweni-pathak opened #135 "Add a progress bar at the end of page having form"
Some pages on vms have large number of fields. Google form has a progress bar in the end of the form. It is nice for the user to know how much is done. Show a progress bar at the end of such pages.

[2015-09-05 09:43] tapasweni-pathak opened #136 "Show Country/City suggestions"
VMS has forms that requires user to input city, country e.t.c. There are a lot of Django packages which are easy and support suggesting country names e.t.c. Use them and suggest Country/City as the user enters values in the fields.

[2015-09-06 23:34] tapasweni-pathak opened #137 "Use i18n"
In going ahead with vms being supported in different languages. Adding i18n will be the first and easiest thing to do.

[2015-09-07 01:29] willingc commented on #137
Rock on! @tapasweni-pathak great idea :)

[2015-09-08 02:39] tapasweni-pathak opened #138 "Find 5 new bugs"
VMS is a big application now, that can have bugs. Try to find 5 new bugs.

[2015-09-08 02:41] tapasweni-pathak opened #139 "Reproduce 5 bugs"
VMS is a big application now, that has bugs. Try to reproduce them and suggest a fix for them.

[2015-10-06 17:33] tapasweni-pathak opened #140 "Add integration to Travis CI"

[2015-10-08 16:12] tapasweni-pathak opened #141 "Update Readme"
* Link to contributors website
* Include GCI information, tasks

[2015-10-14 18:19] Dr-G commented on #62
Made change, submitted pull request.

[2015-10-14 18:47] yousra-javed opened #143 "Clone Repository Instruction Incorrect"
The clone repository link mentioned under the "Clone Project" section is incorrect. It should be changed from git@github.com:Nerdylicious/vms-integrated.git to https://github.com/Nerdylicious/vms-integrated.git

[2015-10-14 19:14] aarongable opened #145 "docs page link to requirements document is broken"
The docs page (https://github.com/systers/vms/tree/develop/docs) has a link to the Requirements Document (https://github.com/systers/vms/blob/develop/docs/docs/Systers_GSoC14_VMS_Requirements.pdf) which 404s.

[2015-10-14 19:22] yousra-javed opened #146 "Typo in the installation guide"
In Section "Using Vagrant" Line 3, wil should be changed to will.

[2015-10-14 19:35] rebeccag7 commented on #145
This file doesn't exist and so we require somebody to change the reference on the page.

[2015-10-14 19:46] open-source-day-olga opened #148 "Rephrase the sentence at README.md"
Rephrase the sentence "User and developer documentation for Systers Portal VMS project is generated using Markdown and available online for convenient reading at Read The Docs." at README.md

[2015-10-14 19:54] Dr-G commented on #134
I am using OS X 10.10.5

It would be helpful for the installation instructions to explain how to install Python and which version to install. I also ran into the issue of "-bash: pip: command not found" which pretty much stymied all my efforts to keep working on anything. Not sure how to address that in the installation instructions (trying to Google my way to a solution so far has not proved frui

[2015-10-14 20:03] Dr-G opened #151 "Add links to Django Girls tutorial: how to install Python"
http://tutorial.djangogirls.org/en/python_installation/index.html

[2015-10-15 12:22] tapasweni-pathak commented on #134
@Dr-G  Thanks for the findings and suggestions.

[2015-10-19 08:40] willingc commented on #148
Closing. Thanks @rebeccag7 :cat:

[2015-10-19 08:40] #148 closed

[2015-10-19 08:41] willingc commented on #148
Thanks @open-source-day-olga too! :cat:

[2015-10-19 08:41] willingc commented on #146
Closing. Thanks @yousra-javed :cat:

[2015-10-19 08:41] #146 closed

[2015-10-19 08:42] willingc commented on #143
Closing. Thank you @yousra-javed :sunrise:

[2015-10-19 08:42] #143 closed

[2015-10-21 17:41] KokareIITP commented on #145
The docs page has the following link. It is working well.
https://github.com/systers/vms/blob/develop/docs/Systers_GSoC14_VMS_Requirements.pdf

[2015-10-22 04:37] KokareIITP commented on #151
Done. Please check.

[2015-10-22 06:09] KokareIITP commented on #141
Done . Is it fine ?

[2015-10-23 01:22] tapasweni-pathak commented on #151
Thanks for the issue @Dr-G. Please always try to describe the issue, you open. It will become easier for the reviewers why we need it actually? Should it be closed or it is relevant.

For ex : Here, how adding this will improve the VMS readme? Why should be include this? e.t.c.

[2015-10-23 01:25] tapasweni-pathak commented on #141
Thanks for trying fixing it @KokareIITP. But if you see on the right side of this issue, there is something as Assignee. I have assigned this to myself. As I know what is to be added where. I'll fix this.

But we have a lot of newbie friendly issues. You can also try fixing issues tagged with GCI15.

[2015-10-23 01:33] tapasweni-pathak commented on #145
Thanks for the issue @aarongable. #3dc5571 fixes this, so closing it.

[2015-10-23 01:33] #145 closed

[2015-10-23 06:15] KokareIITP commented on #141
Sure Mam. Will look into other issues.

[2015-10-23 08:35] tapasweni-pathak commented on #141
Great.

[2015-10-28 09:32] KokareIITP opened #159 "Unable to run the development server on local machine"
![screenshot 9](https://cloud.githubusercontent.com/assets/9394028/10784543/c225398c-7d84-11e5-8b34-00cfbb1277cb.png)
After entering the python manage.py [::]:8000 the git bash window displays
Validating models...

0 errors found
October 28, 2015 - 09:23:58
Django version 1.6.1, using settings 'vms.settings'
Starting development server at http://[::]:8000/
Quit the server with CONTROL-C.
But when

[2015-10-28 11:24] KokareIITP commented on #159
The link needed to be changed to http://localhost:8001/home/#
Please review.

[2015-10-28 11:24] #159 closed

[2015-10-28 12:29] KokareIITP commented on #131
According to the link given in the installation guide, for the project to be run on local machine
http://localhost:8001/home/#
But as the pictures above, the webpage doesn't look like that.
Is it the case that the link needs to be updated in the installation guide @tapasweni-pathak di.

[2015-10-28 12:44] vubo commented on #131
@KokareIITP and how it looks? For this page you should be an Administrator and click "Events".

[2015-10-28 12:48] KokareIITP commented on #131
![screenshot 10](https://cloud.githubusercontent.com/assets/9394028/10788826/00c4901e-7da0-11e5-86c4-34663fc578a0.png)
The page looks like this to me.
Moreover, when I select the signup option I get an error saying
"You're seeing this error because you have DEBUG = True in your Django settings file. Change that to False, and Django will display a standard 500 page."

[2015-10-28 12:52] vubo commented on #131
@KokareIITP first you need to register as admin:
1. SIGN UP ADMIN and create an admin account
2. Now you can sign up as admin

[2015-10-28 13:15] KokareIITP commented on #131
@vubo  As I mentioned earlier it gives an error saying
"You're seeing this error because you have DEBUG = True in your Django settings file. Change that to False, and Django will display a standard 500 page."
![screenshot 12](https://cloud.githubusercontent.com/assets/9394028/10789539/0a9aca5a-7da4-11e5-961f-98b15e1891cd.png)

[2015-10-28 13:24] vubo commented on #131
@KokareIITP ok, I see now. Did you change vms/settings.py file here: https://github.com/systers/vms/blob/develop/vms/vms/settings.py#L64 ? You should write here your databse admin login and password.

[2015-10-28 14:44] KokareIITP commented on #131
Thanks @vubo I got the page successfully.

[2015-10-28 14:45] vubo commented on #131
@KokareIITP cool! Good job  :tulip: :sparkles: :+1:

[2015-10-29 03:18] varunnaganathan commented on #79
Reusing/freeing the ID is the responsibility of the database used and not that of django.Generally ,for most databases the auto increment field does not reset when few entries are deleted.
If we desire the field values to be reused on deletion of entries we need to implement a custom ID field.

[2015-11-01 13:08] varunnaganathan opened #160 "Vagrant VM login"
The vagrant Virtual Machine that boots up after running "vagrant up" asks for a login and password details of which are not present in the Installation Guide http://vms.readthedocs.org/en/latest/Installation%20Guide/

[2015-11-01 18:05] KokareIITP commented on #131
Is there a way that we can access the start date and end date of event using the event id ?

[2015-11-01 23:45] vubo commented on #131
@KokareIITP this file https://github.com/systers/vms/blob/develop/vms/event/services.py can be useful for you. Here you can find many examples how to access an event and perhaps you need to program your function, that will return the start and end date for an event.

[2015-11-02 02:34] varunnaganathan commented on #131
I want to work on this issue!

[2015-11-02 10:28] KokareIITP commented on #131
I have made some changes in services.py and job\create. Please review.

[2015-11-02 13:27] vubo commented on #131
@KokareIITP did you test the code? I don't see the dates... Could you also always provide the link to your code please?

[2015-11-03 00:12] varunnaganathan commented on #135
I want to work on this !

[2015-11-03 00:16] vubo commented on #160
@varunnaganathan did you download Systers Ubuntu Virtual Machine? Did you save the vagrant file as "Vagrantfile" in the top level directory for the project?

[2015-11-03 02:24] KokareIITP commented on #131
@Vubo . Here is the link to my edits.
https://github.com/KokareIITP/vms/commit/9fdfce2e2a046bf2d9560d7f64ad32073066d57f
Actually I did try the test cases and I know it isn't working. But I am unable to track the loop hole in the code. I am stuck now. It would be really kind of you if you could help me out.

[2015-11-03 02:55] varunnaganathan commented on #160
Yes I did exactly all the steps the installation mentioned..I personally
didn't need to use the virtual machine.but for those who wish to ,as soon
as the VM boots it asks for a login and password.
On Nov 3, 2015 5:46 AM, "Valeria Bogdanova" <notifications@github.com>
wrote:

[2015-11-03 17:35] vubo commented on #131
@KokareIITP looks good :+1: And can you show your unit tests? What error they output?

[2015-11-03 18:21] KokareIITP commented on #131
I also made edits in job/views.py
https://github.com/KokareIITP/vms/commit/6e1ad2e6550ca8fb6ad85edaf9a6aa0fe38a2789
and job/create.html
https://github.com/KokareIITP/vms/commit/8bb5cf624c73b6c85ff30d2b6f990e8313ddde4f

And the error which I am getting is
![screenshot 16](https://cloud.githubusercontent.com/assets/9394028/10917255/d4287a44-8285-11e5-80df-071b50b15b22.png)
How do I resolve this ?

[2015-11-03 18:35] vubo commented on #131
@KokareIITP you have an error in the line 58 in the view.py (see exception value string). After ```else``` you forgot a colon (```:```).

[2015-11-03 19:14] KokareIITP commented on #131
Sorry for the last one. Made the edit.
https://github.com/KokareIITP/vms/commit/30fa01d602c05ae231b77f15d3cd3615ce051eec
Now isn't showing an error, but neither is it displaying the dates. :(

[2015-11-03 19:31] vubo commented on #131
@KokareIITP did you program the unit tests for your functions? You can program it here: https://github.com/systers/vms/blob/develop/vms/event/tests.py and then test your functions: ```python manage.py test event``` It is simple, but then you can understand, whether these functions work.

[2015-11-04 04:07] KokareIITP commented on #131
I added the test cases.
Here is the link
https://github.com/KokareIITP/vms/commit/3b43b2472816b4322354a38da5c84041faa3056e
And after running python manage.py test event I get
Creating database for alias 'default' ...
..........
--------------------
Ran 6 tests in 0.685s

OK
Destroying test database for alias 'default' ...

I think maybe the issue is in the job/create.html file I sent you
KokareIIT

[2015-11-04 12:37] vubo commented on #131
@KokareIITP looks good! But in your tests here:

[code]

You need to compare ```get_start_date_by_event_id(e1.id)``` - date with the date. And ```e1``` is not a date. Instead of the e1 shall be the date of the e1.

[2015-11-04 13:20] KokareIITP commented on #131
https://github.com/KokareIITP/vms/commit/f31181126269c89c8aa3a46e9528e2e675aa6536
@vubo  Made the edits. python manage.py test event gives OK.

[2015-11-04 13:25] vubo commented on #131
@KokareIITP

But you have 8 test functions in your tests.py file.

[2015-11-04 18:00] KokareIITP commented on #131
@vubo
Made necessary changes in the tests.py file
https://github.com/KokareIITP/vms/commit/6e767d705d6a7d5f654b15f2a37aa8b2dbbb1997
and made changes in functions at services.py
https://github.com/KokareIITP/vms/commit/94e42a06707fc225daef6d275991e6e717e311f4

All the 8 test functions successfully run. :)

[2015-11-05 17:37] KokareIITP commented on #131
@vubo
Edited the create.html and views.py file for ajax javascript to update the dates. But I am unable to track down the fault. Please help.
https://github.com/KokareIITP/vms/commit/2fb4cfc1ec3612ce8f6b6ee98e54bcd930c5ba46
https://github.com/KokareIITP/vms/commit/638c99ba0ebefd54108931a4e7e14f1152905a7f

[2015-11-10 18:14] vubo commented on #131
@KokareIITP I was at a conference and could not answer. I will view the code and answer you in the next days!

[2015-11-11 06:02] KokareIITP commented on #131
Sure @vubo !!!

[2015-11-11 19:28] vubo commented on #131
@KokareIITP I reviewed your code. I think, the problem is in your ajax-code. Could you try another option? For example, javascript?

[2015-11-12 04:20] tapasweni-pathak opened #161 "Test VMS on different screen sizes"
Propose improvements that can be done to make it look better on mobile devices. How can you make it look better? Test and suggest.

[2015-11-13 11:57] KokareIITP commented on #131
@vubo  Since we want to flash the values of start date and end date as soon as the user selects the event, without submitting the form, I feel Ajax will help.

[2015-11-13 15:57] varunnaganathan commented on #135
Please review pull request:
https://github.com/systers/vms/pull/162

[2015-11-14 15:13] varunnaganathan commented on #136
i want to work on this.
Have given it a try please review pull request:
https://github.com/systers/vms/pull/162

[2015-11-14 17:59] varunnaganathan commented on #136
i want to work on this !!
Please review pull request:
https://github.com/systers/vms/pull/164

[2015-11-29 14:00] KokareIITP opened #166 "Unable to boot the Systers Virtual Machine"
I had run the vms successfully some days ago with the vagrant and virtual box running properly. But now I am unable to boot it. Git bash shows the following error:
![screenshot 5](https://cloud.githubusercontent.com/assets/9394028/11457444/9bd688da-96cf-11e5-9362-37a8a631b503.png)
Please help.

[2015-12-02 06:58] KokareIITP commented on #131
@vubo  I am unable to run vagrant up. Please help with the following error.
![screenshot 17](https://cloud.githubusercontent.com/assets/9394028/11524350/1fd58d76-98f0-11e5-8a13-ada297ebd375.png)

P.S. I have Vagrant 1.7.4 and Virtual Box 5.0.10

[2015-12-02 08:59] vubo commented on #131
@KokareIITP as I see, there is a VirtualBox problem. You can try to reinstall it and do all installation steps again: http://vms.readthedocs.org/en/latest/Installation%20Guide/

[2015-12-02 09:17] KokareIITP commented on #131
Yes. I read about it and it shows to be a virtual box problem. I did reinstall vagrant as well as virtual box, but it didn't work. So I further moved to Virtual Box 4.3.12 version after reading some more articles over the internet.
After following the installation steps, I get the error
![screenshot 18](https://cloud.githubusercontent.com/assets/9394028/11526878/87a0356a-9903-11e5-92a2-69bce993925

[2015-12-02 09:23] vubo commented on #131
@KokareIITP did you try this: http://stackoverflow.com/questions/23633276/vagrant-is-attempting-to-interface-with-the-ui-in-a-way-that-requires-a-tty ?

[2015-12-02 11:25] KokareIITP commented on #131
I again tried to use the same setup as I was using earlier i.e. Vagrant 1.7.4 and Virtual Box 5.0.6. Earlier it was working perfectly, now it isn't. I found out this.
https://www.virtualbox.org/ticket/14040#comment:54
But I was wondering , since I had Windows 10 earlier as well, how come it worked earlier ?

[2015-12-02 15:09] KokareIITP commented on #131
I have tried Vagrant 1.7.4, Vagrant 1.7.2, Virtual Box 4.3.12, Virtual Box 5.0.6, Virtual Box 5.0.10 with the 14040 fix wherever necessary. Also, I have tried many ways to debug the issue, but none of them seem to work. The conclusive things I discovered were that not all vagrant and virtual boxes are compatible, and thus the issue was occurring. I guess something with the operating system also ma

[2015-12-02 18:46] vubo commented on #131
@KokareIITP I just checked my versions.

Vagrant: 1.7.2
VirtualBox: 4.3.26 r98988

And it works:
![image](https://cloud.githubusercontent.com/assets/7673323/11540408/ec9d81ba-992c-11e5-80ec-af8a22ab56b7.png)

I hope, it can help you.

[2015-12-02 18:49] KokareIITP commented on #131
Is it Windows 10 ?

[2015-12-02 18:50] vubo commented on #131
No, it is 8.1. What have you used before?

[2015-12-02 18:51] KokareIITP commented on #131
Earlier too it was Windows 10. Vagrant 1.7.4 and Virtual Box 5.0.6

[2015-12-02 18:53] vubo commented on #131
And after what it stopped working?

[2015-12-02 18:56] KokareIITP commented on #131
I guess approximately 15 days ago:
I had Windows 10, Vagrant 1.7.4 and Virtual Box 5.0.6

I didn't make any changes, except the update by Windows 10 released recently. 2 days back when I started to begin my work, it didn't work.

[2015-12-02 19:23] KokareIITP commented on #131
Maybe the below link
http://www.gospelherald.com/articles/60197/20151129/windows-10-update-fixes-bug-patches-and-news-microsoft-pulled-november-update-admits-presence-of-privacy-glitch.htm
might help.

[2015-12-02 19:28] vubo commented on #131
@KokareIITP you can just delete your last windows updates and test.

[2015-12-03 07:44] KokareIITP commented on #131
@vubo  I deleted all the last updates and made changes in the Windows Network Connection, and after uninstalling and reinstalling here is what I get.
![screenshot 22](https://cloud.githubusercontent.com/assets/9394028/11554623/bb88ffee-99bf-11e5-89cd-eaa00f0cfaeb.png)
There is a warning but atleast the virtual machine has started.

[2015-12-03 13:40] KokareIITP commented on #131
@vubo
Could do it for Windows 10. Everything is running successfully.
Thanks a lot ! :)

[2015-12-03 13:42] vubo commented on #131
@KokareIITP glad to hear it! :thumbsup:

[2015-12-04 04:30] #166 closed

[2015-12-04 19:28] KokareIITP commented on #132
I made changes in
views.py for shift https://github.com/KokareIITP/vms/commit/7b4336c11d9bdfc415e161d9ca209218e13460e2
and create.html for shift https://github.com/KokareIITP/vms/commit/4202d1de6a63749641aced7c90d5512fe3cec413

Please review.

[2015-12-04 19:58] vubo commented on #132
@KokareIITP did you test it? Does it work by you?

[2015-12-04 20:01] KokareIITP commented on #132
Yes.

[2015-12-05 06:19] KokareIITP commented on #132
@vubo
While I was testing it I discovered the shifts were not being saved. For that I made the edits, hope it will work now.
So here is the final views.py https://github.com/KokareIITP/vms/commit/e6f3fe9ed075e6fef7f60b1b47e5fe270fb011ee
and create.html for shifts
https://github.com/KokareIITP/vms/commit/4202d1de6a63749641aced7c90d5512fe3cec413

[2015-12-07 19:10] vubo commented on #132
@KokareIITP I tested it, it doesn't work by me. Do I need to change only 2 files?

[2015-12-08 07:23] KokareIITP commented on #132
Yes @vubo
Here is the link to my shifts/views.py
https://github.com/KokareIITP/vms/blob/develop/vms/shift/views.py
Here is the link to shifts/create.html
https://github.com/KokareIITP/vms/blob/develop/vms/shift/templates/shift/create.html

I have sent the pull requests for the same:
First views.py :  https://github.com/KokareIITP/vms/commit/7b4336c11d9bdfc415e161d9ca209218e13460e2
Final views.py(S

[2015-12-08 10:58] KokareIITP opened #167 "Addition of organization"
When we create a new administrator account, and suppose we don't choose any organization from the drop-down menu and write a new one. So, for the next time we create an administrator account it would be helpful if all previously registered organizations appear in the drop-down menu. But this doesn't happen.

Do we want this feature to be added ?

[2015-12-08 13:43] vubo commented on #132
@KokareIITP I tested it, it looks good :+1: :cherries:

Could you do some styling please, that Job Name, Start and End Dates are in the "table" like Date, Start Time, End Time? So it looks the same. And then you can do a Pull Request.

You don't need to do pdf-instructions, it takes a lot of time. One or two printscreens would be enough to understand, how it looks.

[2015-12-08 13:48] KokareIITP commented on #132
Sure @vubo .
I am glad that it works. I will do that now.

[2015-12-08 17:26] KokareIITP commented on #132
Here are the pull requests:
https://github.com/systers/vms/pull/169
https://github.com/systers/vms/pull/168

And here is how it looks:
![screenshot 28](https://cloud.githubusercontent.com/assets/9394028/11662843/ee4b5ce0-9dfe-11e5-991f-5316d52bd735.png)

[2015-12-09 10:01] vubo commented on #132
@KokareIITP thank you, looks much better :smiley: Why did you send 2 PRs? Could you do only one? One PR for one feature. And put this printscreen also in the PR please, so anyone can see what you did.

[2015-12-09 12:03] varunnaganathan commented on #135
@tapasweni-pathak ,I have a doubt.I have created a branch with the ProgressBar implemented.However whenever I try to create a Pull Request,commits by other users are also included as a part of it.How do i deal with that??Any help would be appreciated.

[2015-12-09 13:18] KokareIITP commented on #132
Done @vubo
Here is the pull request https://github.com/systers/vms/pull/168

[2015-12-09 13:53] vubo commented on #132
@KokareIITP thank you. I will test it one more time and then merge it. In this time you can try to merge your two commits from this PR in a one commit (hint: you can use ```rebase```).

[2015-12-09 15:36] tapasweni-pathak commented on #135
@varunnaganathan You have to create a PR on develop branch, from your fork to vms repo. Ideally, the things that you have changed will come in diff when you will create one.

I didn't exactly get it.  :( What do you mean by commits by other users are also included as a part of it?

[2015-12-09 15:44] tapasweni-pathak commented on #151
We have the necessary links to install things in our installation guides, so closing this without including this link. Repoen if needed. :)

[2015-12-09 15:44] #151 closed

[2015-12-09 15:45] tapasweni-pathak commented on #160
@varunnaganathan Were you able to fix this or is this still irritating you?

[2015-12-09 15:49] varunnaganathan commented on #135
@tapasweni-pathak I know about the basic working of pull requests.My doubt was regarding the inclusion of commits by other users which is present in my remote repository which is being included along with my changes
![pullrequest](https://cloud.githubusercontent.com/assets/9789511/11689980/63f702b2-9eba-11e5-818e-8edc8771b69b.png)
as the following screenshot shows,The diff shows not only the chang

[2015-12-09 15:54] varunnaganathan commented on #160
@tapasweni-pathak  Not yet.I tried fixing it but couldnt get through.I however did not need to use the virtual machine.I could directly test the django App.

[2015-12-11 06:34] KokareIITP commented on #132
@vubo
![screenshot 32](https://cloud.githubusercontent.com/assets/9394028/11737408/07f87ea0-9fff-11e5-9236-a1df28c33c3f.png)
I don't find my commits listed in this.

[2015-12-11 16:53] KokareIITP commented on #133
Changed shift/views.py to avoid creating shift outside job.
https://github.com/KokareIITP/vms/commit/0fde4c1ff22324d7eeb6d6bd04b756324e9e6c19

Changed job/views.py to avoid creating job outside event.
https://github.com/KokareIITP/vms/commit/96907ddb226d6fe28a125c06e82dc8a1c78075f7

Please review.

[2015-12-11 21:00] KokareIITP commented on #160
@tapasweni-pathak
The login: vagrant
       password:vagrant
And we can start working with the virtual machine.

[2015-12-11 21:43] KokareIITP commented on #130
@vubo
https://github.com/KokareIITP/vms/commit/83bc609c8dcab7541c463217b949468f67ecbbd5
Please review.

I made the change in service.py for shifts taking care that the particular function was used only in the required view, thus not affecting any other view.
![screenshot 35](https://cloud.githubusercontent.com/assets/9394028/11756194/4757ad8a-a07e-11e5-9164-53b3312e2427.png)
![screenshot 34](https

[2015-12-12 20:19] willingc opened #172 "Suggestions to improve installation instructions"
GCI student Ahmeds shared the following good suggestions for improving the installation instructions:

[2015-12-13 02:52] tapasweni-pathak commented on #135
@varunnaganathan I have never faced this. :(

Are you using GitHub UI to create a pull request or command line?

[2015-12-13 02:55] tapasweni-pathak commented on #160
@varunnaganathan Does what @KokareIITP is suggesting fixes the issue for you?

[2015-12-13 03:17] tapasweni-pathak commented on #133
This looks great @KokareIITP. :+1:  :smile:

But let's wait for @vubo's comments.

I have one question, why did you not submit a PR for this? Instead of giving a link to your code changes, you can send a pull request and then maintainers will review your pull request.

While submitting a PR for a issue you can reference it. That links the issue with your PR.

[2015-12-13 03:24] tapasweni-pathak commented on #172
@willingc Need to reproduce to understand them better. But they indeed seems good. Many face problem in python manage.py syncdb.

We already have a issue for this #134. Can we club everything there, together and then we can close this issue?

[2015-12-13 04:41] varunnaganathan commented on #135
@tapasweni-pathak   I have been using the github UI for the PR.I will try to find a solution and create the PR.

[2015-12-13 04:44] varunnaganathan commented on #160
@KokareIITP Ya,that does it.@tapasweni-pathak I think we should add that to the installation guide ?

[2015-12-13 05:54] KokareIITP commented on #133
@tapasweni-pathak Actually I was waiting for the approval. So that if I needed to make changes,I would rather make it my code, and send a clean pull request, to make it easy for you to merge and analyze. :)

[2015-12-13 09:48] vubo commented on #133
@KokareIITP thank you for your work! I updated this 2 files, but it doesn't work completely by me. I can't create a job or a shift, but I don't see any message. The user need to understand, why she/he can not create a shift.

[2015-12-13 09:53] vubo commented on #132
@KokareIITP you should rebase a pull request which has multiple commits and squash them into one commit. This gives a cleaner project history over time. You do not need to close this PR and create a new PR. Simply push to your same branch (you may need to force push) and the PR should auto-magically update.

Here you can find some help:
https://github.com/ginatrapani/todo.txt-android/wiki/Squash-A

[2015-12-13 10:55] KokareIITP commented on #133
Yes @vubo
I added the messages, but they are being displayed on the events page instead. I am working on it.

[2015-12-13 11:05] vubo commented on #133
@KokareIITP and an advice from me: we use bootstrap lumen, so you can simply design your alerts http://getbootstrap.com/components/#alerts

[2015-12-13 11:12] KokareIITP commented on #133
Thanks @vubo

[2015-12-13 11:57] willingc commented on #172
@tapasweni-pathak Absolutely :smile: Good suggestion.

Closing and link to #134.

[2015-12-13 11:57] #172 closed

[2015-12-13 12:54] tapasweni-pathak commented on #135
Cool. :+1:  Let me know if you are not able to for long, I'll look for something.

Meanwhile we can review your code on your forked repo. Link when done. :)

[2015-12-13 12:59] tapasweni-pathak commented on #160
@vubo I searched and did not find this information in the installation guide. Is this already present?

If not @varunnaganathan please go ahead and add this. :+1:

Thanks @KokareIITP for resolving the issue. I'm closing this. :)

[2015-12-13 12:59] #160 closed

[2015-12-13 13:12] tapasweni-pathak commented on #133
@KokareIITP Please submit PR's from now on. Ideally, the comments on issues should be to discuss the issue, not to do code reviews. For ex if someone want to work on this issue, thinking that all the comments are a discussion over this issue they will read it, which is not at all required.

Every time you want your code to get reviewed, submit a PR. If you are changing something in the same PR, re

[2015-12-13 13:14] tapasweni-pathak commented on #172
@willingc :+1:

[2015-12-13 13:21] KokareIITP commented on #133
Sure @tapasweni-pathak .
I agree with you and will definitely submit PR's from now onwards.

[2015-12-13 13:24] tapasweni-pathak commented on #133
@KokareIITP Cool. :+1: :smile:

[2015-12-13 13:37] vubo commented on #160
@tapasweni-pathak no, this is not represented. Also I did not have this problem. It would be very helpful for other, if we add this. Thank you @varunnaganathan and @KokareIITP :tada:

[2015-12-13 14:32] varunnaganathan commented on #135
@tapasweni-pathak here's the link to my repo.
https://github.com/varunnaganathan/vms/tree/progress1

[2015-12-13 14:35] varunnaganathan commented on #135
@tapasweni-pathak
Here's the link to the diff between my repo and the man development branch
https://github.com/systers/vms/compare/develop...varunnaganathan:progress1?expand=1
The main differences are in the /event/templates/event/create.html file.
If everything seems ok,ill add a new file for the javascript/jquery.

[2015-12-13 14:37] varunnaganathan commented on #160
@tapasweni-pathak  and @vubo
will update the Installation guide as soon as possible.
Thanks @KokareIITP .

[2015-12-13 16:41] KokareIITP commented on #130
Here is the pull request for the issue stated @tapasweni-pathak  @vubo
https://github.com/systers/vms/pull/173
Please review.

[2015-12-14 16:05] KokareIITP commented on #133
@tapasweni-pathak @vubo
Made necessary changes. Now it displays the error to user whenever needed.
Here is the pull request.
https://github.com/systers/vms/pull/174
Please review.

[2015-12-16 08:58] vubo opened #175 "SHIFT SIGN UP list enchancement: show only not empty events and jobs"
In the "SHIFT SIGN UP" list we can see all jobs and events. Even events and jobs without shifts. Show only not empty events and jobs.

![image](https://cloud.githubusercontent.com/assets/7673323/11836436/02fa2586-a3db-11e5-9cd3-8bf51549da21.png)

[2015-12-17 00:23] ahmedsabie commented on #175
Hey Valeria! Here is the pull request for this issue: https://github.com/systers/vms/pull/176

[2015-12-17 02:36] tapasweni-pathak commented on #175
@ahmedsabie You can reference the issue in the pull request with something like "closes #number_of_the_issue.".  This will automatically link your PR to the issue.

[2015-12-17 02:44] ahmedsabie commented on #175
@tapasweni-pathak thanks a lot for the tip! Added to the PR.

[2015-12-17 04:35] maydhak opened #178 "VMS does not work with Django 1.9 or 1.8"
While installing VMS on Windows, I installed Django 1.9 since the Guide said the version should be >= 1.6.5. But I ran into problems as syncdb is no longer available in Django 1.9 and its alternate command (migrate) gives an error:
File "C:\Users\mk\vms\vms\volunteer\views.py", line 6, in <module> from django.core.servers.basehttp
import FileWrapper ImportError: cannot import name FileWrapper.

Dj

[2015-12-17 21:41] KokareIITP commented on #175
@vubo @tapasweni-pathak
Please review the pull request.
https://github.com/systers/vms/pull/180

[2015-12-17 21:59] vubo commented on #133
Closed via https://github.com/systers/vms/pull/174

[2015-12-17 21:59] #133 closed

[2015-12-18 14:25] tapasweni-pathak commented on #134
[Here](http://gci-maydha.blogspot.in/2015/12/installing-vms-on-multiple-platforms.html) are some great suggestions by one of the GCI participant.

[2015-12-18 14:37] tapasweni-pathak commented on #175
@KokareIITP Thank for your work but this issue is for GCI participants. We would be constraining our contributors to not contribute to GCI issues for a while, as we are getting duplicate work for many.

As I suggested previously, avoid commenting on issues about things which are not relevant to know more about a issue. For every new PR we get a notification and the best way to reference a issue is

[2015-12-19 06:15] varunnaganathan commented on #160
@tapasweni-pathak
I added the login and password details in the installation Docs as discussed above.
https://github.com/systers/vms/pull/182

[2015-12-19 06:23] varunnaganathan commented on #135
@tapasweni-pathak
Here is the new pull request.I was able to solve the multiple commits problem mentioned by me above.
Please Review
https://github.com/systers/vms/pull/183

[2015-12-20 00:49] maydhak opened #186 "No way to find which features are implemented to date"
VMS has a requirements document and multiple to-do lists for features (such as GSoC 2014/2015) but it is unclear which features are implemented to date without installing and trying out various use-cases in the product itself (tedious). Maybe the issue tracker on GitHub can be used to track features by tagging them as 'feature'. If there is already a trackable feature list somewhere, please update

[2015-12-20 16:09] tapasweni-pathak commented on #186
@maydhak We use the issue tracker on GitHub to track the issues. Whatever you see as open issues are the only things to-dos, unless you find something new. The to-do list you have seen were for that specific GSOC's.

You can check the releases [here](https://github.com/systers/vms/releases).

Does this answer what you were looking for?

[2015-12-21 20:26] vubo opened #187 "Write unit tests for remove_empty_events_for_volunteer and remove_empty_jobs_for_volunteer"
Write unit tests for two new functions:

remove_empty_events_for_volunteer: https://github.com/systers/vms/blob/develop/vms/event/tests.py
remove_empty_jobs_for_volunteer: https://github.com/systers/vms/blob/develop/vms/job/tests.py

PR with new functions: https://github.com/systers/vms/pull/185

[2015-12-22 01:24] #175 closed

[2015-12-24 20:57] #187 closed

[2015-12-26 10:05] saganshul commented on #75
I will do this work !

[2015-12-26 20:39] maydhak commented on #186
The release page is not exactly what I was looking for. I was looking for something that specifies what has already been completed, rather than what is left to do. Without installing the system, a user doesn't know the current capabilities of the program compared to the requirements document/initial vision.

[2015-12-26 21:50] saganshul commented on #75
@tapasweni-pathak  @vubo  #190 PR submitted please review.

[2015-12-28 11:17] tapasweni-pathak commented on #186
@maydhak It is better to install it and then find out what is the current stage. It is not something which is tedious but a necessary thing to do. ☺

For improvement, enhancements e.t.c we use GitHub issue tracker. What all is closed, is done. Whatever is still open, that is a todo.

If this answers your question, I'll close this issue.

[2016-01-03 19:41] maydhak opened #192 "Job dates can be edited after the job is created to be made incorrect"
I created a job with correct dates, and then went back and edited the dates so that they were outside the event start and end. The system raised no error and allowed me to save the now-incorrect job.

[2016-01-03 19:42] maydhak opened #193 "Shift dates can be edited after the shift is created to be made incorrect"
I created a shift with correct dates, and then went back and edited the dates so that they were outside the job start and end. The system raised no error and allowed me to save the now-incorrect shift.

[2016-01-03 20:03] maydhak opened #194 "Shift can start and end at the same time"
I created a shift that started and ended at the same time. No errors were reported and the creation was successful which is incorrect.

[2016-01-03 20:05] maydhak opened #195 "Volunteer can log wrong hours"
In Manage Volunteer Hours, I logged hours for a volunteer that were incorrect: the end time was before the start time. No errors were raised and the hours were logged successfully.

[2016-01-03 20:11] maydhak opened #196 "Event and job can easily be mixed up when generating a report"
When a report is generated for a volunteer, it is easy to get an event and a job mixed up since they are not selectable options. So if a field is typed in incorrectly, it could mess the whole report up.

[2016-01-04 16:05] tapasweni-pathak commented on #186
Closing this. Feel free to reopen if needed.

[2016-01-04 16:05] #186 closed

[2016-01-25 19:13] sarayd opened #201 "Installation Problems"
When completing Step 7 of the Installation Guide, you may face trouble when you enter the command "python manage.py syncdb". The error is: "FATAL: password authentication failed for user 'myuser'". Here is a way to resolve that.
[alternatesetup.pdf](https://github.com/systers/vms/files/103742/alternatesetup.pdf)

[2016-01-25 20:47] AaskaShah commented on #201
I just made following changes in my settings.py

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'vms',
      **'USER': 'vmsadmin',**
   **'PASSWORD': '0xdeadbeef',**
        'HOST': 'localhost',
    }
}

And it worked !

[2016-01-26 17:21] AaskaShah commented on #195
I am working on this.

[2016-01-26 17:51] mildused opened #208 "Internet Connection"
I can't get the internet to work on my virtualbox with this vagrant.

[2016-01-26 18:49] smarshy commented on #77
@tapasweni-pathak @vubo Do you still need this feature? I have worked with Easy Maps in the past. I could try implementing this.

[2016-01-26 18:57] smarshy commented on #178
Hi, ran into the exact same problems with 1.9. With 1.8, I could skip over this by running python manage.py migrate auth and then migrate command. However later, it gave the following error while running tests:

django.db.utils.ProgrammingError: relation "auth_user" does not exist

[2016-01-26 21:19] smarshy opened #210 "Ability to edit events and jobs leads to discrepancy in dates"
The dates of an event can be changed anytime after its creation. However, there is no check for its jobs to see if it still falls within the new date range. There is a similar situation for jobs and shifts.

I am working on this but there seem to be various possible ways:

1. Not allowing editing of an event if it has jobs and similarly not allowing editing of jobs if it has shifts (similar to the

[2016-01-26 23:48] sarayd commented on #201
Interesting! I'm surprised the resources I viewed online didn't suggest that @AaskaShah Thanks for the tip though!

[2016-01-27 21:30] vubo commented on #210
@smarshy good catch :+1:

I would say don't delete something automatically, it is not so good for the system.

Your first option is fine. We schould check dates and if this dates are incorrect for shifts or jobs, then we should show a detailed info message and prevent incorrect changes.

[2016-01-27 21:35] vubo commented on #77
@smarshy sounds great :star: What do you think @tapasweni-pathak ?

[2016-01-28 03:18] tapasweni-pathak commented on #77
Sure @smarshy, please go ahead.

[2016-01-28 18:48] KokareIITP commented on #134
@tapasweni-pathak Do we plan to create different installation guides for different operating systems as suggested by Maydha ?

[2016-01-29 03:46] smarshy commented on #210
@vubo done :+1:

[2016-01-29 03:49] smarshy commented on #77
Great! I will try to put this up soon :smiley:

[2016-02-06 13:23] smarshy commented on #77
@tapasweni-pathak @vubo  Do you need this for jobs too? I could not find a location field for it.
I have done this for events and shifts.

![www gifcreator me_iqhvo1](https://cloud.githubusercontent.com/assets/13931206/12866818/cffdc124-cd01-11e5-9919-7b3596f1c3cb.gif)

Please let me know what you think.

[2016-02-07 18:21] iCHAIT commented on #106
Hello, I want to fix this, should I open a PR?

[2016-02-08 09:49] tapasweni-pathak commented on #77
@smarshy If there is no location related field, then there is no need to add this. It looks great btw. But this is one feature which needs a lot of testing. :smile:

[2016-02-14 18:45] smarshy commented on #77
@tapasweni-pathak I agree. I ran into plenty of errors during the process itself :worried:
I have tried to resolve them and made the pull request. Please have a look whenever free. Thanks!

[2016-02-16 00:59] #129 closed

[2016-02-16 01:14] #192 closed

[2016-02-16 01:19] #193 closed

[2016-02-16 01:49] #195 closed

[2016-02-16 02:12] #130 closed

[2016-02-17 21:46] smarshy opened #225 "Test failure"
I just ran into this after rebasing - two of the tests seem too be failing :
test_remove_empty_jobs_for_volunteer() and test_remove_empty_events_for_volunteer()

![test](https://cloud.githubusercontent.com/assets/13931206/13125798/74d5fba0-d5ed-11e5-8bd9-28b7c929e2b4.png)

[2016-02-18 06:28] AaskaShah opened #226 "Log hours needs to be between scheduled shift hours"
If a one is assigned a shift from 14:00 to 18:00 , one is able to log hours in that shift from 19:00 to 20:00.
Also if the scheduled hours of shifts were shown during log hours,it would be helpful.
Currently it is like this:
![screenshot from 2016-02-18 11 52 28](https://cloud.githubusercontent.com/assets/11875217/13135406/4b35b940-d636-11e5-891c-f37f390433fd.png)

If this needs to be done , can I

[2016-02-19 04:26] musicakc opened #227 "Mistakes in the Installation Guide"
In the vms installation guide here, when I was Setting up Postgresql, the command given in the docs is:
`psql -U vmsadmin -d vms -h localhost -W`

This should list the tables but actually this is giving me a `No relations found` response.

I changed `psql -U` to `psql -E` and it listed the tables then.

Maybe the doc should be changed?

Also the command right above this one is:
`createdb -U vmsadm

[2016-02-19 09:10] smarshy opened #228 "404 error when editing shifts"
Hi! Ran into this after a fresh pull. After editing a shift, when we click on the save button, an error page pops up

![k2](https://cloud.githubusercontent.com/assets/13931206/13171030/73a6fade-d716-11e5-91a9-3b4c281b287e.png)

[2016-02-19 09:20] smarshy opened #229 "Job dates saved during editing even if they are incorrect"
Again ran into this after a fresh pull.  The replication process:

1. Edit job dates - Select invalid dates which lie outside event date range (in the attachment, I have selected 9 and 22 which is outside the event date range). Earlier job dates were 21 to 24.
2. An appropriate error message is displayed
3. Now check the job list again without updating the job with valid dates. Even though the err

[2016-02-20 17:51] KokareIITP commented on #227
@musicakc  I agree that after < createdb -U vmsadmin vms; > , we need to mention about the password.
But even though I tried psql -E , the tables didn't list in my case. Here is a screenshot.
 https://gyazo.com/98fa11ffc5fc37ce517bd91cec4b2b53
Whereas after following the installation guide, I could list the tables.
https://gyazo.com/be906c312a44d19127b68fcfd5082cec

[2016-02-20 18:09] KokareIITP opened #233 "Event can be edited to start before today."
During the creation of event, we check that event starts today or later. But no such check is there for edit event. Thus, by creating and editing, the event can be made to start before today's date.

[2016-02-20 19:30] KokareIITP commented on #228
@smarshy It works fine in my case. Please can you recheck.

[2016-02-20 20:09] smarshy commented on #228
@KokareIITP If that is the case, I might have messed up something on my end which triggered this error. I will check it soon.

[2016-02-20 20:47] KokareIITP opened #236 "Shifts saved even though incorrect"
Even if the shift dates are incorrect during editing, a message is flashed but shifts are saved.

[2016-02-21 01:40] tapasweni-pathak opened #238 "Re review recent merges"
I merged some pull request and forgot to run the test cases on some. I'll be reverting, re testing and then re merging which are correct and pass all the test cases.

Sorry for the mess.

*This is to keep everyone informed.*

[2016-02-21 13:29] smarshy commented on #228
@KokareIITP Hi! So i tried replicating this and ran into a 404 error again.  :see_no_evil:
Whenever you click on the save button, there are two possible responses - one that gives you an error message for invalid dates but saves anyways and another when your dates are valid. The 404 page crops up in the latter situation. [This](https://github.com/smarshy/vms/commit/852117f9afb294deeb86f075e417e324

[2016-02-21 13:44] KokareIITP commented on #228
@smarshy Here in my case, it is working perfectly fine.
Please see https://gyazo.com/cd67e3d9e2b4efd2ffb8276731b8956b

[2016-02-21 14:04] smarshy commented on #228
@KokareIITP Umm.... It still doesn't work actually. You have uploaded a snapshot of a case when the job id and shift id are same ( both 1) . I understand why you might not be getting the error then. Try creating a job (eg. with id 1) , two shifts within it (eg. id 1 and id 2) and then a second job (id 2). Now, create a shift within this job ( id 3). Basically just check for a test case when shift

[2016-02-21 14:09] KokareIITP commented on #228
Yes @smarshy . The error occurred for the case you mentioned. (Y)

[2016-02-21 16:00] smarshy commented on #228
@KokareIITP  Thanks for confirming :+1:

[2016-02-24 19:30] KokareIITP opened #240 "Enhancement: Dropdown menu for events"
In the report for administrator, a dropdown menu has been created for events.

[2016-02-24 20:06] KokareIITP opened #241 "About link"
The About link beside the Systers link ( homepage) does not seem to provide any utility. Is there any change to be made to redirect it to some wiki page ?

https://gyazo.com/631fb378a0df4a2607e0c2dcb1a75a2e

[2016-03-01 12:45] tapasweni-pathak commented on #238
Done. #173 broke the test cases. Reverted it.

[2016-03-01 12:45] #238 closed

[2016-03-04 08:08] djff opened #247 "x"

[2016-03-04 08:18] #247 closed

[2016-03-04 10:57] smarshy commented on #225
Tests are passing after a recent revert.

[2016-03-04 10:57] #225 closed

[2016-03-05 12:28] medhach commented on #136
@tapasweni-pathak :
Is this issue closed, or can I work on it?

[2016-03-05 13:29] smarshy commented on #134
@tapasweni-pathak I have done a local installation for linux. I could put up an article regarding that. Should I go ahead?

[2016-03-05 13:49] smarshy commented on #140
@tapasweni-pathak If no one else has taken this up, could I work on this?

[2016-03-05 20:46] KokareIITP commented on #80
I would like to work on this @vubo . Shall I go ahead ?

[2016-03-05 21:04] vubo commented on #80
@KokareIITP it would be great!

[2016-03-06 06:49] willingc commented on #178
Closed by #248

@tapasweni-pathak @vubo We can open a separate issue for upgrading the Django release.

[2016-03-06 06:49] #178 closed

[2016-03-06 07:03] willingc commented on #228
Marking this as a bug since reported and verified.

@vubo Thoughts?

[2016-03-06 07:05] #227 closed

[2016-03-06 07:07] willingc commented on #201
Thanks @sarayd and @AaskaShah. I'm closing this now that #232 has been merged.

[2016-03-06 07:07] #201 closed

[2016-03-06 07:08] willingc commented on #208
@mildused If you still need help with your internet please ask on the Systers-opensource slack channel. Thanks.

Closing as not an issue.

[2016-03-06 07:08] #208 closed

[2016-03-06 07:14] willingc commented on #194
There is an open PR #246 pending on this issue.

[2016-03-06 09:38] softcoder32 commented on #228
hello @willingc , i have solve this already, Please review this pull request
https://github.com/systers/vms/pull/249

[2016-03-06 09:52] tapasweni-pathak commented on #134
@smarshy Sure. :)

[2016-03-06 09:53] tapasweni-pathak commented on #140
@smarshy Sure. Please go ahead.

[2016-03-06 15:52] smarshy opened #251 "Marking Compulsory fields in the form"
This could make it easier for the admin to know what all is needed while creating or editing an event/job/shift and she/he might face fewer validation errors

[2016-03-07 00:07] tapasweni-pathak opened #252 "Be on the same page after deleting a shift. Change to list_jobs only if list_shift is empty."
When shift is deleted, the page is changed to list_jobs instead of being at the same page.

Switch to list_jobs from list_shift only if list_shift is empty.

[2016-03-07 00:16] tapasweni-pathak opened #253 "No error if end time before starttime in editing shift"

[2016-03-07 00:17] #253 closed

[2016-03-07 00:34] #210 closed

[2016-03-07 00:34] #229 closed

[2016-03-07 01:01] #251 closed

[2016-03-07 01:13] tapasweni-pathak opened #254 "pep8 files"

[2016-03-07 09:41] smarshy commented on #140
I might get to this tomorrow, slightly busy updating PRs now. If anyone else could tackle it sooner, please drop in a message and feel free to go ahead :)

[2016-03-07 11:16] tonythomas01 opened #257 "Show an error message, when no organization is added and sign-up is clicked"
Currently, Django checks if an organization exists, and try rendering a faulty ('organization/add_organizations.html') which do not exist. A possible better approach would be to either:

1. Show up an error message, or badrequest message saying "You need to have atleast one organization"
2. Do not show the 'Signup Volunteer' button at all, when no organization are available
3. Show up a neat messa

[2016-03-07 11:26] tonythomas01 opened #258 "Models are not connected with admin.py"
Only the User model seems to be connected with admin.py, while we have volunteer, organization, job etc still not connected to admin.py.

https://docs.djangoproject.com/en/1.9/ref/contrib/admin/

[2016-03-07 11:36] softcoder32 commented on #257
hey @tonythomas01 , will take on this issue! working on it now.

[2016-03-07 11:39] smarshy commented on #257
@tonythomas01 I would like to give this a go. However, instead of this, would it be okay if I go ahead and try to remove the need for an organization to be in the table?

[2016-03-07 11:42] softcoder32 commented on #258
@tonythomas01, working on this already.

[2016-03-07 11:44] smarshy commented on #257
@softcoder32 Sorry, just refreshed and saw your message. You can go ahead :)

[2016-03-07 11:59] softcoder32 commented on #258
hello, @tonythomas01 , there are many files to change should i do one single pull request??

[2016-03-07 13:25] softcoder32 commented on #258
hello @tonythomas01 , added models to admin panel and function to return appropriate infos in each Model please review #262

[2016-03-07 20:01] smarshy commented on #140
Started working on this

[2016-03-07 20:06] smarshy commented on #254
@tapasweni-pathak Could I go ahead with this? There might be too many changes. Do you want the setup plus all the files rechecked?

[2016-03-08 04:07] KokareIITP commented on #194
@willingc . It was actually mentioned in the code that end time was not made greater than start time intentionally. What is the reason we are changing it now ?

[2016-03-08 09:42] amruthasangeeth opened #265 "No Logout option for admin"
Logout option is not provided for the admin.

[2016-03-08 09:50] amruthasangeeth commented on #265
Looks like it is an issue with local. Sorry

[2016-03-08 09:50] #265 closed

[2016-03-08 14:18] tonythomas01 opened #266 "Navigation bar should show dropdown with user actions instead of separate links"
The current design has the navigation bar, after sign-in as:
![image](https://cloud.githubusercontent.com/assets/4214481/13603883/553372ea-e566-11e5-85e1-82b678a69c24.png)

This should look better if we can have something like
![selection_056](https://cloud.githubusercontent.com/assets/4214481/13603979/a59b4c4e-e566-11e5-92fa-4874ad44ee9b.png)

with the logged in user name  + a drop down.

[2016-03-08 18:59] medhach opened #268 "Volunteer Profile - proper alignment"
The profile page in the volunteer login could show the details of the volunteer, in a better aligned fashion, having proper spacing.

[2016-03-09 18:55] Raxerz commented on #257
#269

[2016-03-09 18:56] Raxerz commented on #257
#269

[2016-03-09 19:04] Raxerz commented on #257
@tonythomas01 Please review  #269

[2016-03-10 17:12] Raxerz opened #270 "Issue with address field in sign up form"
Address field in sign-up form does not accept characters like # (prefix for house number or street number) and other necessary characters.

[2016-03-11 16:55] medhach opened #272 "Signing up successful without selecting any Organization"
In registration for admin or volunteer, signing up is successful without mentioning any Organisation.

[2016-03-11 16:55] #272 closed

[2016-03-11 17:52] smarshy opened #273 "Discrepancy in same model fields between volunteer and other models"
The following fields seem to have a different length for volunteers file
1. City - (75 for volunteers, otherwise 30)
2. Country - (75 for volunteers, otherwise 30)
3. Address - (75 for volunteers, otherwise 30)
4. First name - (30 for volunteers, otherwise 20)
5. Last name- (30 for volunteers, otherwise 20)
6. State - (75 for volunteers, otherwise 30)

For example, for address the differences can

[2016-03-11 19:33] KokareIITP commented on #273
@smarshy  I guess it includes the issues with models :+1:
@tapasweni-pathak Is there any particular reason for this ?

[2016-03-13 11:20] #270 closed

[2016-03-13 11:47] Raxerz opened #275 "Redirect Authentication page to either the login page or the index page."
Currently, the page with URL
http://127.0.0.1:8000/authentication/
displays "Hello World", I suggest we redirect the page to login or the index page.

[2016-03-15 00:45] #228 closed

[2016-03-15 00:53] tapasweni-pathak opened #276 "Drop down menu for jobs in report"
In the report for administrator, create a dropdown menu for jobs.

[2016-03-15 00:54] #240 closed

[2016-03-15 01:07] tapasweni-pathak opened #278 "Add Datepicker in shift/edit for date"

[2016-03-15 01:10] #252 closed

[2016-03-16 01:33] tapasweni-pathak commented on #257
@tonythomas01 For some reason I'm not able to reproduce this issue. Do you want me to leave the organization field blank on *registration/signup_volunteer/*  page or enter an invalid value like something which has digits?

[2016-03-16 04:32] tonythomas01 commented on #257
@tapasweni-pathak It happens during the initial setup time, with 0 organizations in the organization_organization table. Accordingly, you can either truncate organization_organization and check, or go for a fresh clone + db. This doesn't happen when we leave something blank in some forms.

[2016-03-16 07:03] softcoder32 commented on #276
@tapasweni-pathak , please review #281
![screenshot from 2016-03-16 08 00 36](https://cloud.githubusercontent.com/assets/17668677/13804477/94eb274c-eb4d-11e5-8ef1-f3b90aaabcaa.png)

[2016-03-16 07:05] softcoder32 commented on #276
@tapasweni-pathak , i also want to do same for report in the volunteer section, should i believe the jobs displayed there should be jobs which linked with the volunteer, please for you opinion, thanks.

[2016-03-16 11:58] tapasweni-pathak commented on #257
@tonythomas01 Thanks!

[2016-03-16 11:58] #257 closed

[2016-03-16 12:32] #266 closed

[2016-03-16 12:32] tapasweni-pathak commented on #266
@tonythomas01 This indeed looks better. Thanks for the issue. :+1:

[2016-03-16 12:34] #278 closed

[2016-03-16 12:42] KokareIITP opened #282 "Dropdown menu for events for report generation"
In report.html  when the user generates report , to avoid confusion for events, it is better to create a dropdown option list rather than currently used text input.

[2016-03-16 13:49] softcoder32 opened #283 "Display Message above page in case of no result in Admin Report"
when admin makes a search to view report, if no results is found, message is displayed below the page and user needs to scroll down to see the the error message, displaying this message above the page will be more user friendly.

[2016-03-16 14:41] KokareIITP opened #285 "Update the project settings docs"
There have been recent developments in the project, and changes in project settings file. These haven't been included in the documentation. The documents need to be updated.

[2016-03-20 04:25] medhach commented on #268
@tapasweni-pathak Can I submit a PR regarding this?

[2016-03-21 00:32] #106 closed

[2016-03-21 00:35] #285 closed

[2016-03-21 00:37] tapasweni-pathak commented on #268
@medhach Sure. Please go ahead.

[2016-03-22 16:49] amruthasangeeth opened #288 "Migrating Volunteer Management System to Class based Views"
Systers’ Volunteer Management System  currently uses function based views. It repeats certain patterns again and again, and is mostly redundant. Function based views are deprecated after python version 1.3.  Class Based generic views helps to streamline common use cases, saving development time and effort.
One of the advantages of CBV is Inheritance. For instance, large projects like VMS has a lot

[2016-04-03 11:43] #226 closed

[2016-04-03 12:01] #268 closed

[2016-04-03 13:48] KokareIITP commented on #282
Closed by #280 .

[2016-04-03 13:48] #282 closed

[2016-04-03 17:52] smarshy opened #290 "Dropdown menu in volunteer report"
Currently, there are no dropdowns for jobs/events in a volunteer report. Adding a dropdown might make the report form more user friendly for a volunteer

[2016-04-03 18:33] smarshy opened #292 "Chosen event value in admin report is reset on form submission"
Event value chosen from dropdown is lost, unlike other fields when the form is submitted

Steps to replicate:
1. Choose event from dropdown and click on generate report
2. Value is reset to 'Select Event' when page reloads with report

![data_lost](https://cloud.githubusercontent.com/assets/13931206/14234115/7a282fea-f9f8-11e5-9294-962e1c88fe3a.png)

[2016-04-05 21:47] #290 closed

[2016-04-05 22:22] #292 closed

[2016-04-06 13:22] shoaib1987 opened #294 "sqlall and syncdb command fails"
**python manage.py syncdb**
Traceback (most recent call last):
  File "manage.py", line 10, in <module>
    execute_from_command_line(sys.argv)
  File "/usr/local/lib/python2.7/dist-packages/django/core/management/__init__.py", line 353, in execute_from_command_line
    utility.execute()
  File "/usr/local/lib/python2.7/dist-packages/django/core/management/__init__.py", line 327, in execute
    dj

[2016-04-06 13:25] shoaib1987 opened #295 "Command "createdb -U vmsadmin vms;" prompts for a password"
Command "createdb -U vmsadmin vms;" prompts for a password, not mentioned in the installation guide.

[2016-04-06 13:36] smarshy commented on #295
@shoaib1987 - Hi, [This](http://vms.readthedocs.org/en/latest/Installation%20Guide/) one still isn't reflecting the recent changes. I am not sure why :( but there is an installation guide [here](https://github.com/systers/vms/blob/develop/docs/Installation%20Guide.md) which has the latest changes.

[2016-04-06 13:42] smarshy commented on #294
@shoaib1987 Seeing the commands, it looks as if you are trying to set it up locally. Which django version are you using? syncdb is deprecated after 1.7, if I am not wrong.

[2016-04-06 13:44] shoaib1987 commented on #295
As per the new installation guide Django (version >= 1.7 and version < 1.8) is required, my current version is :

(1, 9, 5, 'final', 0)

[2016-04-06 13:51] shoaib1987 commented on #294
Yes. As per the new installation guide Django (version >= 1.7 and version < 1.8) is required, my current version is :(1, 9, 5, 'final', 0).

[2016-04-06 13:57] shoaib1987 commented on #294
**$ python manage.py syncdb**
Traceback (most recent call last):
  File "manage.py", line 10, in <module>
    execute_from_command_line(sys.argv)
  File "/usr/local/lib/python2.7/dist-packages/django/core/management/__init__.py", line 385, in execute_from_command_line
    utility.execute()
  File "/usr/local/lib/python2.7/dist-packages/django/core/management/__init__.py", line 377, in execute

[2016-04-06 14:46] KokareIITP commented on #295
@shoaib1987 . As @smarshy mentioned it is available on the installation file on github. Moreover whenever you may login into postgres, the password will be what you set in the command
_create role vmsadmin with createrole createdb login password '0xdeadbeef';
_ which seems to be 0xdeadbeef here. I hope that helps.

[2016-04-06 14:49] KokareIITP commented on #294
Are you sure you ran the command
sudo apt-get install python-psycopg2
Try doing it if you haven't @shoaib1987 .

[2016-04-06 15:03] smarshy commented on #294
@shoaib1987 Yes, try the above and if that still doesn't work, have a look at [this](http://stackoverflow.com/questions/26432242/django-1-7-migrations)
Try moving to version 1.7.1 from 1.7

[2016-04-06 23:32] shoaib1987 commented on #295
@smarshy and @KokareIITP thanks for prompt reply .  May be we should close this issue when installation guide on github starts reflecting the recent changes.

[2016-04-08 04:59] smarshy opened #296 "Inability to easily view Shift volunteers and details"
Currently, the admin can assign but not view the list and progress of volunteers assigned to a shift directly. The only way to view these details is to manage each volunteer personally, which is cumbersome, especially since volunteers cannot be searched by shift.

[2016-04-08 14:30] shoaib1987 commented on #294
@KokareIITP  python-psycopg2 was already installed.
sudo apt-get install python-psycopg2
[sudo] password for shoaib:
Reading package lists... Done
Building dependency tree
Reading state information... Done
**python-psycopg2 is already the newest version.**
The following packages were automatically installed and are no longer required:
  libgraphicsmagick3 libmng2 libxine1 libxine1-bin libxine1-ffm

[2016-04-08 16:34] tapasweni-pathak commented on #294
@shoaib1987 Is the issue resolved now? Should I close the issue?

Thanks @KokareIITP, @smarshy for all the help.

[2016-04-08 16:41] tapasweni-pathak opened #298 "Update Installation Guide on Read The Docs"
- Add information about recent changes.
- [This](https://github.com/systers/vms/blob/develop/docs/Installation%20Guide.md) can help.

[2016-04-08 16:43] tapasweni-pathak commented on #295
@shoaib1987 I'm closing this. I have opened a more specific issue #298.

@KokareIITP, @smarshy Thanks for the help.

[2016-04-08 16:43] #295 closed

[2016-04-09 01:28] shoaib1987 commented on #294
@tapasweni-pathak yes, please. Please note that I was able to run on Django 1.7.1, if same is the case with everyone else then we should document it. New installation guide has Django (version >= 1.7 and version < 1.8).
Thanks @smarshy , @KokareIITP for prompt replies.

[2016-04-09 07:10] shoaib-s opened #299 "Create event, start date should be later than today."
I can create an event with yesterday's date. This issue is similar to #263 , #263 has same problem when user tries to edit the date of event. Created new issue to keep create event problem separate. I am working on this issue.

[2016-04-09 12:16] tapasweni-pathak commented on #294
@shoaib1987 Feel free to submit a PR to fix the version in installation guide. Thanks for pointing it out.

[2016-04-09 12:16] #294 closed

[2016-04-09 13:25] shoaib1987 commented on #95
@willingc Will you please give steps to generate an error message you mentioned in the description? I was able to sign up as a user without creating an administrator account(administrator table is empty).

[2016-04-09 15:51] willingc commented on #95
@shoaib1987 Likely this was fixed between when the issue was filed and now. You followed the steps that I had when the error occurred. Thanks for checking into this issue :cake: I'm going to close it at this time.

[2016-04-09 15:51] #95 closed

[2016-04-22 15:26] #258 closed

[2016-04-22 15:55] #233 closed

[2016-04-22 16:06] #296 closed

[2016-04-23 00:53] tapasweni-pathak opened #301 "In edit event retain the end date of even if user enters wrong start date"
If user enters wrong start date (before today or something similar), error message comes and even the end date field goes blank. Retain all the information other than start date on the page.

[2016-04-24 19:05] malabikas opened #302 "Command "python manage.py syncdb" requires a change in 'settings.py' before execution"
When running `python manage.py syncdb` as per the installation guide, the following error comes up in the prompt:
[code]
The settings.py file need to be manually changed to:
[code]

This isn't mentioned in the installation guide.

[2016-04-24 19:43] malabikas opened #303 "Enter cities_light in INSTALLED_APPS, in the guide."
The installation guide doesn't specify modifying the `settings.py` file for the project.

Before proceeding with `python manage.py cities_light` , `cities_light` should be added as an entry in `INSTALLED_APPS` in the `settings.py` file. This is missing in the documentation.

[2016-04-25 00:40] tapasweni-pathak commented on #303
Can you submit a pull request for this?

[2016-04-25 00:40] tapasweni-pathak commented on #302
Can you submit a pull request for this change as well?

[2016-04-25 05:40] malabikas commented on #303
I just happened to know that the issue has been already resolved [here](https://github.com/systers/vms/blob/develop/vms/vms/settings.py) . The installation guide [here](https://github.com/systers/vms/blob/develop/docs/Installation%20Guide.md#ppm) says that we need to clone this repo  `https://github.com/Nerdylicious/vms-integrated.git` which has not been updated since a long time and that's why I

[2016-04-25 14:38] KokareIITP commented on #302
@malabikas Please refer to project settings file [here](https://github.com/systers/vms/blob/develop/vms/vms/settings.py) these changes are already made in the setting file. Are you using an old version of vms?

[2016-04-25 14:51] malabikas commented on #302
@KokareIITP Since I was referring [this](https://github.com/systers/vms/blob/develop/docs/Installation%20Guide.md#ppm) Installation Guide, they asked to clone `https://github.com/Nerdylicious/vms-integrated.git` . Should I submit a Pull Request to change it to `git clone https://github.com/systers/vms.git` and accordingly modify the steps?

[2016-04-25 14:54] KokareIITP commented on #302
@malabikas .That would be great ! 🌻

[2016-04-25 14:58] malabikas commented on #302
@KokareIITP Thanks for the prompt reply. On it! :+1:

[2016-04-25 16:30] tapasweni-pathak commented on #302
@KokareIITP @malabikas To both of you. :+1:  :)

@malabikas May I close this now?

[2016-04-26 05:00] malabikas commented on #302
Yes, please! And Issue [#303](https://github.com/systers/vms/issues/303) as well. :)

[2016-04-26 05:32] #302 closed

[2016-04-26 05:32] #303 closed

[2016-04-27 04:35] malabikas opened #305 "Unable to upload resume; 'Permission denied' error"
While signing up as a volunteer, after submitting I get this error:
![django_perm](https://cloud.githubusercontent.com/assets/16019535/14841851/7ce0da2e-0c5f-11e6-9c7d-51f4b674f34a.png)

The permissions for the folder have been set as 777 using
`sudo chmod 777 /srv`

[code]

I just can't figure out what's the problem. Any help will be appreciated. Thanks!

[2016-04-28 02:27] tapasweni-pathak commented on #305
I was able to reproduce. Thanks for the issue.

[2016-04-28 02:37] tapasweni-pathak opened #307 "Retain end date in erroneous event editing"
Steps to reproduce:

1. Create an event.
2. Try editing an event with start date a day before.
3. Click on save.
4. Click on save again. The end date field will become blank.

The task is to retain the end date.

[2016-04-28 05:32] malabikas commented on #301
@tapasweni-pathak The issue can be closed now.

[2016-04-28 05:50] tapasweni-pathak commented on #301
@malabikas You can refer the issue in your Pull Request using closes #issue_number or fixes #issue_number. That will close the issue when the PR gets merged. That will be helpful.

[2016-04-28 05:50] #301 closed

[2016-04-29 00:55] #307 closed

[2016-04-30 01:47] tapasweni-pathak commented on #11
@jayesh92 Do you have any updates for this?

[2016-04-30 01:49] tapasweni-pathak commented on #45
@willingc Are we in a position to close this?

[2016-04-30 01:57] willingc commented on #45
@tapasweni I think we should close it. Since it fell more under nice to have vs. critical path. I will close it now. We can always reopen in the future.

[2016-04-30 01:57] #45 closed

[2016-05-02 10:10] amruthasangeeth opened #309 "Unable to migrate to About page from other pages"
It is not possible to migrate to About page from other pages like search, report etc.

[2016-05-03 02:14] #309 closed

[2016-05-03 14:51] amruthasangeeth opened #311 "Repeated display of Volunteer Search page"
Volunteer Search page is getting displayed clicking on both 'Volunteer Search' and 'Manage Volunteer Shifts' which looks ambiguous.

[2016-05-08 13:28] #311 closed

[2016-05-09 07:00] KokareIITP opened #313 "Dependent dropdown menu for jobs for report generation"
In report.html when the user generates report , to avoid confusion for which event belongs to which job, it is better to create a dropdown option list rather than currently used text input. The options in the job list will be updated based on the event selected in the dropdown menu for events.

[2016-05-27 17:38] smarshy commented on #194
@tapasweni-pathak Unable to replicate this issue, seems to be resolved

[2016-05-27 17:39] smarshy commented on #91
@tapasweni-pathak This seems to be changed and resolved. Now there are checks to ensure end time is greater than start time

[2016-05-27 17:43] smarshy commented on #236
@tapasweni-pathak Unable to replicate this issue, seems to be resolved.

[2016-05-27 18:00] smarshy commented on #299
@tapasweni-pathak This issue still exists and I am able to replicate it. But before this is changed, can it be clarified as to why the buffer of 1 day was taken initially? Was this done to handle timezones and because people might be moving one day ahead from those in other regions?

[2016-05-27 18:11] smarshy commented on #88
@tapasweni-pathak _Status update :_ This behaviour has been changed and as of now, a volunteer is not allowed to log hours which fall outside the assigned working hours.

[2016-05-28 09:00] #194 closed

[2016-05-28 09:00] #91 closed

[2016-05-28 09:01] #236 closed

[2016-05-28 09:07] #88 closed

[2016-05-28 13:39] shoaib1987 commented on #299
@smarshy yes, it still exists. Buffer of 1 day was taken initially to handle timezone issue but I don't think that's the right way to handle it. In this case user can be anywhere in the world and can create an event for any other location. I believe user should be able to select a valid date as per the venue(country, city) selected by user. I know 2 ways to implement this, 1.find the timezone base

[2016-05-31 13:06] tapasweni-pathak opened #318 "Run pycodestyle on vms"
Check if there are any significant changes or is it just a new name, when it comes to VMS.

[PyCodeStyle](https://pypi.python.org/pypi/pycodestyle/1.8.0.dev0).

[2016-06-01 05:24] #254 closed

[2016-06-01 18:22] smarshy commented on #131
@tapasweni-pathak This seems to be completed. I can see event dates now while creating job.

[2016-06-01 18:23] smarshy commented on #132
@tapasweni-pathak This too is completed. Job dates are shown while creating shift.

[2016-06-01 19:23] smarshy commented on #299
@shoaib-s So effectively, I think the suggestion here is that instead of the date being compared to date as per the user's computer, it would be compared to the date in the location that is being selected. Have I understood that properly?
It seems to be a sensible thing to do, especially if this was the only reason why the buffer was set. However there are challenges here as to doing that -
1. The

[2016-06-01 20:04] smarshy commented on #141
@tapasweni-pathak Is something still to be added or can this be closed?

[2016-06-01 20:13] smarshy commented on #196
@tapasweni-pathak Dropdowns for volunteer report have been implemented. For admin, jobs are missing - This is relating to issue  #276. Once that is done, there wouldn't be any mix up, I guess and then this can be closed.

[2016-06-01 20:21] smarshy commented on #275
@tapasweni-pathak I can replicate this, issue still exists

[2016-06-01 20:24] smarshy commented on #273
@tapasweni-pathak The discrepancies are still there, I don't know if it is an issue though and if the lengths need to be updated

[2016-06-01 20:26] smarshy commented on #241
@tapasweni-pathak This is valid. The link is not leading to anywhere as of yet.

[2016-06-01 20:56] smarshy commented on #136
@tapasweni-pathak Is issue #75 same as this? One of them can be closed then.

[2016-06-01 21:00] smarshy commented on #79
@tapasweni-pathak Since unique ids are being used by default, can this issue be closed now? Perhaps another one could be opened for re-use of deleted ids, if needed.

[2016-06-01 21:07] smarshy commented on #39
@tapasweni-pathak The hack has been included and the test is passing. The issue does not seem to exist now.

[2016-06-01 21:12] smarshy commented on #62
@tapasweni-pathak The link seems to be updated in the installation guide now. I am unable to replicate this issue

[2016-06-01 21:18] smarshy commented on #73
@tapasweni-pathak This issue still exists. It is possible to create a  job with the exact same details. This can lead to lots of confusion when there are many events and jobs and a volunteer is trying to sign up. Shouldn't some parameter such as  job name be made unique?

[2016-06-01 21:25] smarshy commented on #119
@tapasweni-pathak I agree with Jayesh on this. It may be better to display a no rights page similar to the way no admin rights is displayed now in case of unauthorized access to admin views. A couple of test situations (A volunteer accessing another volunteer's view and an admin accessing a volunteer view) are failing due to this.

[2016-06-02 01:46] #131 closed

[2016-06-02 01:46] #132 closed

[2016-06-02 01:47] #141 closed

[2016-06-02 01:50] tapasweni-pathak commented on #136
I will close this one.

[2016-06-02 01:50] #136 closed

[2016-06-02 01:51] tapasweni-pathak commented on #79
@smarshy Yes, closing this. Please raise an issue for the other one.

[2016-06-02 01:51] #79 closed

[2016-06-02 01:52] #39 closed

[2016-06-02 01:52] #62 closed

[2016-06-02 08:09] tapasweni-pathak opened #319 "Email confirmation for account"
Send an email confirmation when a user registers.

Suggested by @smarshy.

[2016-06-02 08:09] tapasweni-pathak opened #320 "Implement forgot password functionality"
Django’s inbuilt PasswordResetForm can be used.

Suggested by @smarshy.

[2016-06-02 08:11] tapasweni-pathak opened #321 "Don’t allow shift cancellation once a shift has started"
Suggested by @smarshy.

[2016-06-02 08:13] tapasweni-pathak opened #322 "Support for timezones"
Django internally provides timezone support - turning timezone usage on (done in VMS already, but perhaps not used fully) and [pytz package](https://docs.djangoproject.com/en/1.7/topics/i18n/timezones/) While referring instead of datetime, timezone objects would have to be used.

Suggested by @smarshy.

[2016-06-02 08:14] tapasweni-pathak opened #323 "On event/shift/job/volunteer deletion reuse ids"

[2016-06-02 08:20] tapasweni-pathak opened #324 "Enhancement in organizations drop down"
Have more organizations in the drop down menu.

[2016-06-02 09:49] tapasweni-pathak commented on #119
@smarshy Sure. Please go ahead and raise an issue. I'll tag it as enhancement. After this I'll close this.

One more thing, it is fine if admin accesses a volunteer view. Volunteer accessing other volunteer's view is not correct.

[2016-06-02 09:54] tapasweni-pathak commented on #241
@rosariorobinson What should we connect with the about page, in VMS?

[2016-06-02 10:01] tapasweni-pathak commented on #273
Length of the entities should be changed to :

1. City - 75
2. Country - 75
3. Address - 75
4. First name - 30
5. Last name- 30
6. State - 50

everywhere.

[2016-06-02 10:06] tapasweni-pathak commented on #196
As we have another issue #276 for a specific case of this issue, it is better if I close this. Great work. :+1:

[2016-06-02 10:06] #196 closed

[2016-06-02 12:31] smarshy commented on #119
@tapasweni-pathak Is it okay then for the admin to access all volunteer pages - list sign up, volunteer profile, report? Because right now, the  following events happen when the admin tries to access volunteer pages-
_/shift/view_volunteer_shifts/1_  -  Blank page displayed
_/shift/view_hours/1_                  -  Error page shows up
_/event/list_sign_up/1_               -  Sign up page shows pro

[2016-06-02 12:45] smarshy opened #325 "Volunteer should not be able to access admin urls"
Currently, no admin rights page is shown only for a few cases.

_/volunteer/search/_ - Volunteer is able to access whereas they shouldn't be allowed to
_/administrator/settings/_ - Blank page, a proper no admin rights page is expected
_/registration/signup_administrator/_ - Volunteer is able to access whereas they shouldn't be allowed to

In all the above cases, a no admin rights page should be di

[2016-06-02 12:54] smarshy opened #326 "Volunteer should not be able to access another volunteer's url"
The following events happen when a volunteer tries to access another volunteer's url using their id -

_/shift/view_volunteer_shifts/id_  -  Blank page shows up
_/shift/view_hours/id_  -  Blank page shows up
_/event/list_sign_up/id_ - volunteer is able to access
_/volunteer/report/id_  - Blank page shows up
_/volunteer/profile/id_  - Blank page shows up

To avoid blank/error pages and since error

[2016-06-02 13:14] smarshy opened #327 "Wrong hours displayed in report"
When a volunteer/admin logs in hours and views a report -
1. The logged start and end time show the shift start and end hours. This shift is the one for which the hours have been logged
2. The calculation of total hours is also based on this and total logged hours for 2 shifts are same as the sum of the two shift hours. So irrespective of the fact that two volunteers have logged different hours, t

[2016-06-03 00:10] tapasweni-pathak commented on #288
@amruthasangeeth Please write the advantages of shifting to CBV.
Reference this issue every time you open a pull request related to this change. Don't use 'close' or 'fixes'.
Have a checkbox option in the description of the issue here, for the apps. Check the app when it is done.

Let me know if you need any help in doing this.

[2016-06-03 09:56] tapasweni-pathak commented on #167
Adding every new organization to do the drop down menu doesn't seems to be good choice. We can even have people who can register to VMS without any actual need. We can have more organizations for sure. Right now we only have Google. Adding a total of 10 or something will make it useful. Then we have other option, where the user writes the organization, which they belong to.

I have opened #324 clo

[2016-06-03 09:56] #167 closed

[2016-06-03 09:57] tapasweni-pathak commented on #313
@KokareIITP Did you fix this with pull request #316?

[2016-06-03 09:59] tapasweni-pathak commented on #276
@KokareIITP or did you fix this with pull request #316?

[2016-06-03 10:03] tapasweni-pathak commented on #73
@smarshy Can you also test if event creation is unique or not? Is it possible to create two events with all the details same?

[2016-06-03 13:56] KokareIITP commented on #276
Yes @tapasweni-pathak . This issue is solved by #316 .

[2016-06-03 14:00] KokareIITP commented on #313
No @tapasweni-pathak . Though #316 creates a dropdown for jobs, but it doesn't depend on the event selected.

[2016-06-03 14:03] KokareIITP commented on #167
@tapasweni-pathak . May be we could add a flag that checks if the organization ( not in dropdown list) has been registered more than a certain number of times, we could add it to the list. This would save our effort of updating the list.

[2016-06-03 19:01] smarshy commented on #73
@tapasweni-pathak It is not unique. Two events can have exact same details too.

[2016-06-04 01:54] #276 closed

[2016-06-04 11:48] tapasweni-pathak opened #329 "Events name has to be unique"
One can have two events at the same location and at the same time. They can have similar details.

The entity name should be unique for such events. Show an error if same name events are being created.

[2016-06-04 11:49] tapasweni-pathak opened #330 "Job name inside an event should be unique"
Issue explained more in #73.

[2016-06-04 11:50] tapasweni-pathak commented on #73
I opened two issue for this problem, #329 and #330. Thanks for the work. :+1:

[2016-06-04 11:50] #73 closed

[2016-06-04 11:55] tapasweni-pathak commented on #167
Let's say someone tries to play with VMS with bogus registration and add non existent organizations and used them a lot of times by registering a lot of times. Our query will hit the database and will find it exceeded our set limit and then add it to the drop down list. It can be any name.

It does reduces are work. But we need to think about the negative impact as well. If this part is in our con

[2016-06-04 12:55] KokareIITP commented on #167
I agree with you. (Y)

[2016-06-05 03:30] shoaib-s commented on #299
@smarshy  Yes, you got it.
I do not see any other reason for which buffer was set.
WRT to challenges you discussed:
1. I think these fields should be mandatory. I do not see a reason for which they should not be mandatory. An event without venue details doesn't seems to be very realistic in this scenario, please let me know if I am missing anything.
2. Yes, and it's challenging to find timezones o

[2016-06-05 08:58] tapasweni-pathak commented on #167
Yes, captcha we will need, to avoid the cases when such a thing is automated. But still the above problem will be there.

[2016-06-05 09:24] tapasweni-pathak commented on #299
@shoaib-s Feel free to submit a pull request for the same.

[2016-06-05 20:40] smarshy commented on #49
@tapasweni-pathak I think the suggested changes in docs here and in #72 are related and have been merged.

[2016-06-06 03:55] #49 closed

[2016-06-06 03:56] #72 closed

[2016-06-06 03:57] #138 closed

[2016-06-06 03:57] #139 closed

[2016-06-06 04:01] tapasweni-pathak commented on #82
We can repoen it, if needed.

[2016-06-06 04:01] #82 closed

[2016-06-06 04:02] tapasweni-pathak commented on #124
@willingc Are we done with this, or they are still left?

[2016-06-06 04:02] tapasweni-pathak commented on #134
@smarshy Did you wrote any article for this, that you would like to share?

[2016-06-06 04:04] tapasweni-pathak commented on #11
We have #140 for this. So closing this. It will soon be fixed by pull request #332. :smile:

[2016-06-06 04:04] #11 closed

[2016-06-06 04:05] tapasweni-pathak commented on #119
@willingc @vubo @Nerdylicious @rosariorobinson What should be the ideal behavior here?

[2016-06-06 04:06] tapasweni-pathak commented on #111
@willingc How much of this is done?

[2016-06-06 08:23] amruthasangeeth commented on #288
@tapasweni-pathak I have updated the issue. Is this enough?

[2016-06-06 08:28] tapasweni-pathak commented on #288
Thanks. We needed this. :+1:

[2016-06-06 10:45] willingc commented on #241
@tapasweni-pathak My recommendation would be to remove "About" or to use "About" to discuss the history of the VMS project and its roots in GSoC projects.

[2016-06-11 22:40] smarshy opened #336 "Misplaced if-else clause in volunteer sign up template"
The error message should be displayed if there are errors. The if else statements seem to be switched in this [line](https://github.com/systers/vms/blob/develop/vms/registration/templates/registration/signup_volunteer.html#L381) onwards for resume field on volunteer registration form

[2016-06-12 12:44] tapasweni-pathak commented on #336
@smarshy You mean the error messages are not coming up during volunteer sign up due to the misplaced if else clause, is it?

Do you think #305 is because of this?

[2016-06-12 12:57] smarshy commented on #336
@Yes, and they are coming up for resume even if they are no errors for resume field. I was using selenium to count the number of error boxes on the page to verify when I entered wrong inputs for some of the fields and I kept getting an extra box count returned for volunteer. That is when I found this incorrect clause.

Regarding the error, I don't feel that is a direct consequence of this. In the

[2016-06-12 13:59] smarshy opened #337 "Event not searched properly if only one field entered"
If only the from or to date is entered, the event in search events page is not filtered properly. Even if the correct starting date is entered the event does not show up. Wouldn't it be better if filtering is done even if one of the dates is entered?

[2016-06-13 11:03] tapasweni-pathak commented on #337
Yes. This is the correct behavior. Thanks for the issue.

[2016-06-14 09:29] #140 closed

[2016-06-15 14:50] smarshy opened #340 "Edit event forces you to reset start date again"
## Description
As a USER when I edit the event, even if I don't edit anything, it forces me to reset the dates if they are later than today's.

## Mocks
![image](https://user-images.githubusercontent.com/22369767/41815054-263157ae-777d-11e8-8ffa-134da2acea5e.png)

## Acceptance Criteria
### Update [Required]
- Make changes in EventUpdateView

## Definition of Done
- [ ] All of the required items a

[2016-06-19 12:26] tapasweni-pathak commented on #340
@smarshy As discussed I am marking this as a question. For your test cases take it as a right behavior and reference this when you submit a pull request for the tests.

[2016-06-19 18:04] smarshy opened #344 "Restructure unit test Code"
Currently, there is a lot of duplication in unit tests. Many data objects can be reused by multiple tests. The tests are also lacking fixtures. The code needs to be restructured to decrease the number of lines and make the tests more modular and maintainable.

[2016-06-20 18:19] smarshy opened #345 "Server Error triggered on adding null values to edit event"
Instead of showing a proper helper message when null value is entered while editing an event, an error page shows up

[2016-06-21 05:19] tapasweni-pathak commented on #345
Did you save it keeping some fields as blank?

[2016-06-21 13:15] smarshy commented on #345
@tapasweni-pathak I blanked out all the values in the edit event form and tried saving it. I created a test for this expecting messages asking to enter valid value for the compulsory fields. But instead, I got the following error:

![eeror](https://cloud.githubusercontent.com/assets/13931206/16230622/16370efe-37e0-11e6-908e-7ea9e155c758.png)

[2016-06-21 13:21] smarshy opened #346 "Addition of missing tests"
Many features of vms are untested by the current tests scripts. New scripts/tests need to be added for the functional testing for these features

[2016-06-22 01:35] tapasweni-pathak commented on #345
@smarshy I was able to reproduce it. Thanks for the issue.

[2016-06-25 18:09] smarshy opened #350 "Non-uniform behaviour in forms when they are reloaded"
When incorrect values are entered in the fields, in some situations the form values are erased while in other cases they are still visible.

For eg. while creating event if start date is incorrect, error message is shown but the date is not erased. However, if the same values are put in edit event form, the error message is shown and the start date vanishes

[2016-06-30 18:21] smarshy opened #354 "Using selectors in template for easy access of elements"
This is a suggestion to use ids uniformly in templates. This makes accessing these elements much easier by the selenium webdriver and will remove dependency on xpath (and hence UI structure).
For some files in vms, these selectors are already available.(See[registration template](https://github.com/systers/vms/blob/develop/vms/registration/templates/registration/signup_administrator.html#L283))
wh

[2016-06-30 21:22] bryongloden commented on #354
Greetings @smarshy. I'm trying to help here. Maybe I don't understand too well. Is the selenium webdriver similiar to the [dejaclick by alertsite](http://dejaclick.alertsite.com/) web driver? I did not know of  the selenium before reading it here first a moment ago. Dejaclick works great for me. How are selenium and dejaclick similiar and different I guess I what I'm just asking here

[2016-07-01 03:33] tapasweni-pathak commented on #354
@bryongloden I am not sure if you are a bot or a human, be it anyone, what you are doing is irritating. Can you please stop spamming our conversations? Let me know if you are not able to I will report and block you.

If you want to contribute to VMS please see the list of [open issues](https://github.com/systers/vms/issues) and read the [documentation](https://github.com/systers/vms/tree/develop/d

[2016-07-01 13:37] bryongloden commented on #354
Greetings @tapasweni-pathak. I'm not a bot. What on earth gave you that idea? And it wasn't spamming it was helping. Spamming is much different. At the very least thanks for giving me a chance to explain myself in here. I was only trying to help by using words and emoji of encouragement. From our perspective it takes time to read the open issues and even more time to volunteer to fix something. Fo

[2016-07-01 14:14] tapasweni-pathak commented on #354
A human cannot be this intrusive. Please see your past 15 days activities on VMS GitHub repository.

It didn't help or encourage us. We are irritated.

One more irrelevant/unnecessary comment or piece of encouragement from you and we will block and report you.

[2016-07-02 08:08] tapasweni-pathak opened #355 "Coveralls badge not showing updated information"
The badge in the [Readme file](https://github.com/systers/vms/blob/develop/README.md) and on the [coveralls page](https://coveralls.io/github/systers/vms?branch=develop) have different information.

The badge should show the coverage coming up on coveralls page.

[2016-07-15 11:47] tapasweni-pathak commented on #355
The badge in the Readme file is showing correct information.

[2016-07-15 11:47] #355 closed

[2016-07-28 04:45] #345 closed

[2016-07-30 16:01] tapasweni-pathak opened #368 "Improving the coverage"
The coverage is low. @smarshy can you please document how we can improve it? What are the issues you are facing in doing the required changes?

cc @nidhimj22 @amruthasangeeth  @nida.

[2016-08-01 09:45] rach-01 commented on #318
I would like to help.

[2016-08-01 09:49] kits-ragh commented on #318
I would like to help on this

[2016-08-02 02:25] smarshy commented on #368
Coverage is providing the number of missed lines, but not listing them. So, it is getting challenging to figure out which those lines are.

To increase coverage, tests for views and models need to be added

[2016-08-02 10:35] tapasweni-pathak commented on #318
@rach-01 Sure. Let us know if you get stuck somewhere.

[2016-08-02 16:34] smarshy commented on #344
This task has been completed

[2016-08-03 05:49] #344 closed

[2016-08-07 15:37] smarshy opened #369 "Reduce duplication and time for tests"
Both unit tests and selenium tests have plenty of duplication in terms of code as well as data.

[2016-08-14 22:54] rituranjna opened #372 "Throttle login api"
Login api( /login) can be exploited during DoS attack. The use of rate-limiting technologies can reduce the effects of a denial-of-service (DoS) attacks.

[2016-08-14 22:55] rituranjna commented on #372
Pull request:
https://github.com/systers/vms/pull/371

[2016-08-18 09:04] tapasweni-pathak commented on #369
@smarshy Close this when done.

[2016-08-20 18:47] smarshy opened #376 "Migrate test pattern"
The design pattern in tests need to be changed so that tests can easily adopt to UI changes. Currently, there are around 110 selenium tests, out of which several need to be modified for every change in UI locator element, page design etc.

[2016-08-20 18:49] smarshy commented on #346
Closed as changes merged and related issue #368 exists

[2016-08-20 18:49] #346 closed

[2016-08-21 08:11] tapasweni-pathak opened #377 "Update VMS Wiki"
Currently [VMS wiki](https://github.com/systers/vms/wiki) is blank. It will be useful to have information about VMS in the wiki.

[2016-08-21 20:33] shubham2892 commented on #336
Is this bug still open, would love to take a hit if it's okay.

[2016-08-21 22:03] rituranjna commented on #350
@smarshy  Are you working on this ? If not, i am willing to take this task.

[2016-08-21 22:11] rituranjna commented on #321
@tapasweni-pathak @smarshy @amruthasangeeth
Is this bug still opened ?

[2016-08-22 11:14] smarshy commented on #321
@rituranjna Sure, go ahead :)

[2016-08-22 11:15] smarshy commented on #350
@rituranjna No, I haven't taken this up. Feel free to go ahead

[2016-08-23 05:09] tapasweni-pathak commented on #336
@shubham2892 Sure. Please go ahead.

[2016-08-23 05:52] tapasweni-pathak commented on #372
@rituranjna The best way to reference an issue is in the description of a pull request as
"closes #issue_id" or "fixes #issue_id". This will connect the issue and pull request. When the pull request will get merged the issue will be closed.

I did it for you this time. Observe what all got changed. :)

[2016-08-23 07:36] rituranjna commented on #372
@tapasweni-pathak  Thanks a lot :+1: :pray: :clap:

[2016-08-23 07:40] tapasweni-pathak commented on #372
:)

[2016-08-23 07:48] rituranjna opened #379 "Remove all 'import *' from code"
In  my opinion using `from module import *` is not good.

Source: http://stackoverflow.com/questions/2386714/why-is-import-bad
https://pythonconquerstheuniverse.wordpress.com/2011/03/28/why-import-star-is-a-bad-idea/

Few examples in vms code:
https://github.com/systers/vms/blob/aa75b55bca85196a270e5f697d10b26b85defdf5/vms/shift/views.py#L7

aa75b55bca85196a270e5f697d10b26b85defdf5

[2016-08-23 07:49] rituranjna commented on #379
cc @tapasweni-pathak @smarshy

[2016-08-23 07:55] tapasweni-pathak commented on #379
@rituranjna Thanks for the issue. :star:

[2016-08-24 05:47] #376 closed

[2016-08-25 17:31] tapasweni-pathak opened #381 "Add full stop at the end of statements"
[Where?](https://github.com/systers/vms/blob/develop/vms/registration/views.py#L22)

[2016-08-25 17:43] tapasweni-pathak opened #382 "Show event suggestion as dropdown"
volunteer/report/

[2016-08-25 17:44] tapasweni-pathak opened #383 "Show job name suggestion as dropdown"
/volunteer/report/

Let the user first select and event
|__ show related jobs
|__ Otherwise keep it blank

[2016-08-25 18:08] tapasweni-pathak opened #385 "New release after GSOC 2016"

[2016-08-25 19:17] anweshknayak commented on #318
Hey exactly on which files ?

[2016-08-26 09:57] tapasweni-pathak commented on #318
@anweshknayak On all *.py files.

This is also labelled as first-timers-only. On the top right side you can see all the labels.
I have opened these issue for people who want to get started with contributing to open sources and this can be their first pull request ever on GitHub. Please don't pick this up.

You can help us by fixing any other issue which is **not** labelled as first-timers-only. Le

[2016-08-26 10:01] tapasweni-pathak commented on #381
[Are there any more lines?](https://github.com/systers/vms/blob/develop/vms/registration/views.py#L27)

[2016-08-29 04:27] tapasweni-pathak commented on #385
@smarshy Are you planning to submit that BrowserStack related work now? If it will take time, I will release a semantic version of VMS. I have no issues in you submitting it later.

[2016-08-29 05:23] smarshy commented on #385
@tapasweni-pathak It would take some time. Travis integration is still pending and  the setup has to be done for more files now. I will open a related issue for that

[2016-08-29 06:00] tapasweni-pathak commented on #385
[Done](https://github.com/systers/vms/releases/tag/v0.3.2). Closing this.

[2016-08-29 06:00] #385 closed

[2016-08-29 16:20] smarshy opened #386 "Test for simplify job failing"
In this [test](https://github.com/systers/vms/blob/develop/vms/administrator/tests/test_formFields.py#L422), the event dates are not displayed as expected even after selecting an event which results in a test failure. The reason behind this is still unclear.

[2016-08-29 16:28] smarshy opened #387 "Add comments for failing tests"
Few of the tests/parts of tests are commented out in the test scripts. However, the reason or related issue/bug is not mentioned clearly for some of these tests. For eg. [Test 1](https://github.com/systers/vms/blob/develop/vms/administrator/tests/test_formFields.py#L422), [Test 2](https://github.com/systers/vms/blob/develop/vms/administrator/tests/test_formFields.py#L341) etc.

Add appropriate com

[2016-08-31 11:04] anweshknayak opened #388 "Installation using virtual environment"
As I went through the installation guide there was no mention of virtual environments like virtualenv being used. I think it should be mentioned in the guide as the installation process is quite simple. Without the virtual environment which I tried it created many package conflicts.
So you may consider virtualenv or some other alternative.

[2016-09-01 04:15] tapasweni-pathak commented on #388
We use one vagrant VM per project, so there is no direct reason that we should use virtualenv.

Did you follow all the instructions in the installation guide? Did you setup the VM?

[2016-09-01 07:56] amruthasangeeth opened #389 "Unwanted lines of code"
There are [unwanted lines](https://github.com/systers/vms/blob/bfdb72bd6a9ffa07fa8209498fea4f227e392823/vms/job/views.py#L35-L99) of code in job/views.py. There is still a function based  view for creating a job remaining in the code. It needs a code clean up. Removal of extra spaces between functions are also needed.
Reference #365

[2016-09-03 04:34] smarshy commented on #388
@anweshknayak virtual environment is optional, you could use it or install everything on the VM itself. Were there issues with installation without virtual environments?

[2016-09-03 13:16] anweshknayak commented on #388
Yes I did follow the instructions as provided in the installation guide but the process took quite a long time and over that faced some issues too even that took some time. Alternatively I used virtualenv which took like less than 10 minutes to setup the whole thing.

[2016-09-03 15:00] tapasweni-pathak commented on #388
There are lot of other advantages of using vagrant per VM over virtualenv.

Thanks for the finding. I will try it myself, discuss and open an issue if that makes it easier for contributors to get started with the project.

Closing this one.

[2016-09-03 15:00] #388 closed

[2016-09-06 15:47] kaleoh commented on #389
I've forked and removed some spaces... but what do you mean "there is still a function based view for creating a job remaining in the code?"
I am new to contributing to projects in general (this is my first), and obviously new to VMS, sorry if this is a stupid question.

[2016-09-06 16:20] amruthasangeeth commented on #389
@kaleoh There was a migration for VMS from **function based views** to **class based views.** The lines I have linked is a function based view to create a Job which is not needed for the present code. The same function has been migrated to class based view **CreateJobView**.

[2016-09-06 16:23] kaleoh commented on #389
I see, so clean entire file, remove what was linked. Thanks.

[2016-09-06 16:25] amruthasangeeth commented on #389
@kaleoh Yes, we need to remove those linked lines.

[2016-09-07 05:59] #389 closed

[2016-09-07 09:18] RP99 commented on #381
Hi, I would like to resolve this issue if nobody is working on it. Since, I am a newbie would like to know the process of resolving the issue that you guys follow for this project.

[2016-09-07 10:45] tapasweni-pathak commented on #381
@RP99  Steps you need to follow :

1. Fork VMS.
2. Add a full stop at the linked lines.
3. Submit a pull request.

If you get stuck while doing any of the above, let us know.

[2016-09-08 05:12] #381 closed

[2016-09-08 05:36] tapasweni-pathak commented on #288
As we have marked the end of GSoC'16, I am closing this issue.

Thanks for the work. :sparkles:

[2016-09-08 05:36] #288 closed

[2016-09-10 17:17] smarshy commented on #382
@tapasweni-pathak are the event and jobs not being showed in the dropdown?

[2016-09-11 02:48] tapasweni-pathak commented on #382
Yes, I checked in volunteer/report/, events were not coming in a dropdown. I'll see it again and attach a screenshot.

[2016-09-22 08:21] Ads7 commented on #379
@tapasweni-pathak  what are your views regarding be the best way to remove such imports

- option1: import individual functions and classes
`from module import a,b,c`
this would create long import statements and won't help in readability much.

- option 2: import the whole module and use classes
[code]
 this one would have shorter import statements along with more readability but the whole module

[2016-10-08 05:12] Xavier-J-Ortiz commented on #318
is this still open?

I'd like to take a swing at this. Would also be my very first PR as well! :)

[2016-10-15 14:42] smarshy opened #392 "Max volunteers field can be edited with invalid number"
After a shift is assigned to multiple volunteers, it is possible to update the max volunteers field for that shift with a number lesser than that of the assigned volunteers. While editing the field, there should be a check to ensure that number of assigned volunteers is not out of range

[2016-10-16 01:32] tapasweni-pathak commented on #392
It is good to even label the issue at the of opening it. It helps contributors. You already know this, I guess. :)

Let me know if you don't have the authorization for this.

[2016-10-16 06:15] smarshy commented on #392
I don't seem to have the permission for this, unable to select issues from the list

[2016-10-24 09:30] cherya commented on #318
@tapasweni-pathak does it mean only check? Or check and fix errors?

[2016-10-24 09:44] tapasweni-pathak commented on #318
@cherya Check and fix will be great.

[2016-10-24 10:01] cherya commented on #318
[vms.log](https://github.com/systers/vms/files/547416/vms_log.txt)
it is too much errors
maybe ignore warnings?

[2016-10-24 10:33] tapasweni-pathak commented on #318
@cherya Run it on all the *.py files i.e., all python files.

[2016-10-24 11:10] cherya commented on #318
@tapasweni-pathak it's only *.py files in log. Am I doing something wrong?

[2016-10-25 00:03] tapasweni-pathak commented on #318
@cherya, oh sorry, I understood something else before. You can ignore warnings plus all files which are present in test directory, for the time being.

[2016-10-31 22:17] #369 closed

[2016-11-01 16:30] smarshy opened #393 "Django version compatibility"
VMS currently works with django 1.7. Its compatibility with django 1.8 and higher needs to be checked.

[2016-11-01 16:53] smarshy opened #394 "Test for phone validation"
Test for phone validation is missing, the functionality was added - [here](https://github.com/systers/vms/blob/develop/vms/registration/phone_validate.py)

[2016-11-01 16:59] smarshy opened #395 "Badge doesn't show exact coverage"
The coverage does not show exact coverage; While running tests, files which don't need tests need to be removed from the configuration

[2016-11-02 14:55] tapasweni-pathak commented on #395
Did you get the chance to submit these issues on the spreadsheet which May and Kesha shared?

[2016-11-02 20:00] smarshy opened #396 "Simplify editing of job"
While editing a job, there is a check to ensure that the included shifts are not falling outside the new date range. It may be helpful to show the range of dates while allowing the user to edit the form.

[2016-11-02 20:01] smarshy opened #397 "Simplify editing of event"
While editing an event, there is a check to ensure that the included jobs are not falling outside the new date range. It may be helpful to show the range of dates in edit event form.

[2016-11-21 18:11] smarshy opened #398 "No specific pep8 configuration"
VMS does not have any configuration file defining pep8 behaviour such as which warnings/files to ignore , maximum line length etc.

[2016-11-23 08:25] smarshy opened #399 "Notifications for volunteers"
Whenever an admin enters or edits hours for the volunteer, an alert can be sent (via text/sms) to the volunteer

[2016-11-27 08:44] anweshknayak commented on #383
I have created a pull request. #400
Please check

[2016-11-27 08:44] anweshknayak commented on #382
I have created a pull request. #400
Please check

[2016-11-27 08:46] anweshknayak commented on #399
Can you specify a bit more ? How actually to proceed ? which library to use

[2016-11-28 02:29] smarshy commented on #399
@anweshknayak There are many possible ways of doing this - Twilio/django.core.mail etc. However, please don't restrict yourself to these. You can research libraries/APIs used by existing projects and software. If you feel they are suitable and well-maintained, do post your suggestions here first.
@tapasweni-pathak Do you have any suggestions?

[2016-11-28 02:45] smarshy commented on #382
@tapasweni-pathak Currently the event and jobs dopdown only shows events/jobs the volunteer has signed up for. Does this need to be extended to include all events/jobs?

[2016-11-28 04:36] tapasweni-pathak commented on #382
@smarshy No.

[2016-11-28 04:53] tapasweni-pathak commented on #399
@smarshy Twilio API is the only one which came into my mind. I have tried it. It makes it very easy to send messages or calls on phones. They have a free trial period but then it is charged, for more also users it is charged. We need to find some open source alternative with good documentation and support. How we will be using that in our code for our conditions also needs to be analyzed.

Feel fr

[2016-11-30 05:50] smarshy opened #403 "Implement the about page"
Currently , the about tab link does not lead anywhere. Direct it to a new page where you can describe the project features and also include details about the development history of VMS through GSOC, GCI and other contributors.

Related to [#241](https://github.com/systers/vms/issues/241)

[2016-11-30 08:29] tapasweni-pathak commented on #403
Whoever picks this please use closes for #241 and this, both.

[2016-11-30 08:35] tapasweni-pathak commented on #368
Coverage right now looks fine, so I am closing this. Still we need to add tests for views and models @smarshy?

[2016-11-30 08:35] #368 closed

[2016-11-30 09:28] smarshy commented on #368
yes the tests still have to be added @tapasweni-pathak

[2016-11-30 09:38] tapasweni-pathak commented on #368
Can you please open separate issues for these then? Do you know for which the tests have to added?

[2016-12-01 17:43] Kashyap12 commented on #403
Hi @tapasweni-pathak , can I take this up, and I am quite new to opensource.. and also I read ur answers on quora :)

[2016-12-02 01:02] tapasweni-pathak commented on #403
Thanks for showing interest @Kashyap12. Issues tagged as first-timers-only are for people who haven't submitted any pull request till now.

You can pick other easy issues. Let us if you get stuck or need help in resolving any.

[2016-12-05 15:34] Anh3h commented on #403
OK.. Am new to systers .. Haven't been well went i joined about some weeks ago but am fine now and i will take up the task please

[2016-12-06 12:04] josejibin commented on #379
if nobody started on this, I would like to work on it

[2016-12-06 12:21] smarshy commented on #379
@josejibin Sure, please go ahead

[2016-12-06 13:30] Anh3h commented on #399
Can i take up the task??? i want to use django-simple-sms to implement it. Twilio would have been better or easier but it comes at a cost ...

[2016-12-07 10:51] josejibin commented on #379
@smarshy  Can I remove unused imports in this PR?

[2016-12-07 21:51] Anh3h commented on #399
So django-simple-sms still want me to implement the sms gateway with twilio so i decided to implement the entire sms notification with twilio. All you need is a twilio account so u can by a valid number (sender's number), well am using a trial account for the main time. Hope its ok!!!

[2016-12-08 18:46] smarshy commented on #325
/event/list/ also to be included

[2016-12-10 03:03] smarshy commented on #326
@tapasweni-pathak Should the administrator be able to view these pages? If they are able to view it, it means that they can modify any volunteer's profile, hours, sign up for events etc without their consent.

[2016-12-10 04:49] smarshy opened #409 "Simplify logging of hours"
While entering/editing hours in the log hours form, there is no helper information provided about the start and end time of the shift.

[2016-12-15 14:31] febinmoideen commented on #403
I've created a pull request for this issue. Please review.

[2016-12-29 02:05] italo-batista commented on #398
can i try? :)

[2016-12-29 05:56] italo-batista commented on #395
Hi, I would like to help. :)
I see */tests/* are already out from coverage run. I added few lines at .coveragerc. Please check my pull request! {:

[2016-12-29 06:14] smarshy commented on #409
+probable gci

[2016-12-29 06:14] smarshy commented on #397
+ gci

[2016-12-29 06:15] smarshy commented on #396
++gci

[2016-12-29 06:15] smarshy commented on #392
+ probable gci

[2016-12-29 06:18] smarshy commented on #329
++gci

[2016-12-29 16:55] PhoeniXkrypT commented on #396
I hadn't realised that this was a task for GCI. It did not have the "GCI" tag in the issues page, so I went ahead with writing a patch for it.

[2016-12-29 16:56] PhoeniXkrypT commented on #397
I hadn't realised that this was a task for GCI. It did not have the "GCI" tag in the issues page, so I went ahead with writing a patch for it.

[2016-12-29 16:56] PhoeniXkrypT commented on #409
I hadn't realised that this was a task for GCI. It did not have the "GCI" tag in the issues page, so I went ahead with writing a patch for it.

[2017-01-01 00:53] tapasweni-pathak commented on #409
No issues, @PhoeniXkrypT. We will review them in a while. Thank you!

[2017-01-01 00:56] #336 closed

[2017-01-01 08:21] smarshy commented on #321
++gci

[2017-01-01 08:32] smarshy opened #419 "Update Vagrant"
VMS now runs on 1.7.1. Update vagrant to use django 1.7.1 instead of 1.6

[2017-01-03 06:46] bob-the-buildr commented on #386
If nobody is working on this, I would like to work on this issue.

[2017-01-05 09:30] Himanshi-Khandelwal commented on #354
I have seen the templates and wish to know at what all places I should use the selector?

[2017-01-06 17:32] Himanshi-Khandelwal commented on #383
I wish to solve this issue . Can anyone help where can I find reports option for creating the report so that I can make dropdown box.

[2017-01-06 17:45] Himanshi-Khandelwal commented on #383
I wish to know whether the drop down box contains events for the volunteer who has signed up or all the events listed till now?

[2017-01-06 18:05] anweshknayak commented on #383
I actually tried solving this. Job name and event name (#382)  are not showing up in the drop down menu.

[2017-01-06 18:07] anweshknayak commented on #419
I can work on this

[2017-01-07 03:51] Himanshi-Khandelwal commented on #383
I tried and it is showing names in the drop down box after some changes for the event name.

[2017-01-07 03:51] Himanshi-Khandelwal commented on #383
I tried and it is showing names in the drop down box after some changes for the event name.

[2017-01-07 06:23] anweshknayak commented on #383
events for which the volunteer has signed up for. if it is the case create a PR.

[2017-01-09 18:06] Himanshi-Khandelwal commented on #382
solved this issue and has created pull request.

[2017-01-10 02:49] Himanshi-Khandelwal commented on #383
@smarshy I have solved this issue and have submitted pull request #429 , please review.

[2017-01-10 02:57] Himanshi-Khandelwal commented on #324
@tapasweni-pathak can you please elaborate on this issue like which organisations to add on.

[2017-01-10 08:54] mish24 commented on #419
Hi @smarshy! I just had a doubt. The project currently uses django 1.7.1. Would it be wise to update it to use >1.8? I had to remove all the initial migrations as they were causing build failure.

[2017-01-10 12:48] mish24 commented on #399
In case of sending the notification via email, the Sparkpost API is quite good. You'll just need to alter some setiings by adding a SPARKPOST_API_KEY. I will try to resolve the issue using Sparkpost! Hope it's okay @tapasweni-pathak

[2017-01-13 16:39] InfernoCoder commented on #326
While doing this task - Volunteer should not be able to access another volunteer's url, I have noticed that there are some more urls like `/volunteer/edit/`, ` volunteer/add_hours/`, `volunteer/edit_hours/` etc can also be accessed by others, but are not mentioned in the issue list. And for the `shift/cancel/` one, when it is accessed by non-authorized people, it shows an Http 403 page, instead of

[2017-01-17 15:29] Raxerz opened #436 "No module named "cities_light"."
Error while installing and setting up the vms project.
cities_lights app has been added to the list of apps in settings.py but has not been created in the project.

[2017-01-17 16:16] #436 closed

[2017-01-17 16:31] Raxerz opened #437 "Steps to install cities_lights and phonenumbers modules needs to be added to the installation guide."

[2017-01-17 16:37] #437 closed

[2017-01-18 17:16] anweshknayak commented on #319
@tapasweni-pathak anyone working on this ?

[2017-01-19 17:46] #275 closed

[2017-01-19 17:48] #327 closed

[2017-01-19 17:55] anweshknayak commented on #419
@smarshy can you tell me where to make the changes ? I couldn't find the respective file

[2017-01-20 18:00] mish24 opened #439 "Shift duration shows error"
When we are trying to create shifts, if shows an error when I put the start_time at 23:00 and end_time at 00:00. But a shift can run that time too I suppose? How do we compare times exactly in this case?

[2017-01-20 18:05] #325 closed

[2017-01-21 08:13] #337 closed

[2017-01-23 05:47] bob-the-buildr commented on #439
This is because 00:00 represents the start of the date, so it is a time before 23:00. We would probably need to have a provision for an end-date of the shift, for shifts spanning the night. Or it could simply be logged in two different shifts from 23:00 to 23:59, and the 00:00 on the next date to whatever is the end-time.

[2017-01-23 06:48] mehak6669 commented on #377
Hey! Mehak this side. I see the VMS Wiki page leading to some description. I fail to understand what more needs to be added. If I could now the requirement, I am willing to take this up.

[2017-01-23 08:03] mehak6669 commented on #80
@vubo, the issue still remains to be unsolved. I am taking it up, if you may permit.

[2017-01-23 10:20] mehak6669 commented on #439
In this case. we can still help by using start_time as 23:00 and end_time as 24:00. However, let it start at 23:00 and end midnight, then date of the shift shall play important role. I will add the date option for shift end, if you allow.

[2017-01-23 10:53] mehak6669 commented on #134
@tapasweni-pathak : Shall I go ahead writing one, if we still need one? I have done a system-wide installation of vms in Ubuntu 16.04 Xenial recently. Shall put up all the problems faced and how I resolved them. Do let me know.

[2017-01-23 11:01] mehak6669 commented on #394
@smarshy : Hey! I fail to understand what is meant by the issue. Can you please elaborate a bit?

[2017-01-23 12:49] mish24 commented on #439
@mehak6669 Umm, I'm no one to allow or disallow. I'm not a member! However, I think the best way to approach this is to convert timings to 12 hour format. In what you're saying, what would we do if the shift is to take place from 11 pm to 1 am? Or maybe adding the date along with the time may seem more logical, right?

[2017-01-23 13:24] mehak6669 commented on #439
Hey! That's what I meant to mention date. But as i ponder on your thought
of having a 12 hrs. clock, it seems simpler and a better approach. Thanks
for the idea.

On 23 Jan 2017 6:19 p.m., "Poonam Mishra" <notifications@github.com> wrote:

[2017-01-23 13:33] necessary129 commented on #439
@mish24 If the shift was from 11 pm to 1 am, in the 24-hour format it would be from 11:00 to 13:00. It is also good.